.icon {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--logo {
    background-image: url(../images/Logo.svg);
    width: 128px;
    height: 25px;

    &--desktop {
      margin-right: 505px;
    }
  }

  &--menu {
    background-image: url(../images/Vector.svg);
    width: 20px;
    height: 8px;

  }

  &--cross {
    background-image: url(../images/VectorCross.svg);
    height: 13px;
    width: 13px;
  }
}
