.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0;

  &__info {
    position: relative;
    background-color: #e39a3b;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &__map {
    width: 100%;
    height: 500px;
    border: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;

    &__info {
      height: 400px;
      margin-bottom: 0;
    }
  }
}
