.contacts {

  &__heading {
    @extend %titleMiddle;
    text-align: center;
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    &__heading {
      background-color: $c-croissant;
      color: $c-milk;
    }
  }
}
