.contacts {

  &__heading {
    @extend %titleMiddle;
    text-align: center;
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 900px) {
  .contacts {
    &__heading {
      padding-top: 40px;
      padding-bottom: 0;

      font-size: 60px;
      background-color: $c-croissant;
      color: $c-milk;
    }
  }
}
