.contact-us {

  &__image {
    margin: 0 auto;
    width: 100%;
  }

  &__form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    
    @media (min-width: 1024px) {
      max-width: 378px;
    }
  }
}
