.contacts {
  background-color: #e39a3b;
  padding-top: 40px;

  @media (min-width: 1024px) {
    background-color: white;
  }

  &__container {
    @media (min-width: 1024px) {
      display: flex;
      margin-bottom: 135px;
    }
  }

  &__title {
    color: white;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      color: #e39a3b;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    flex-grow: 1;

    @media (min-width: 1024px) {
      background-color: #e39a3b;
      margin: 0;
      padding-top: 40px;
      max-height: 430px;
    }
  }

  &__get-in-touch {
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__adress,
  &__phone,
  &__email {
    position: relative;
  }

  &__adress::before,
  &__phone::before,
  &__email::before {
    position: absolute;
    left: -40px;

    @media (min-width: 1024px) {
      left: -60px;
    }
  }

  &__adress::before {
    content: url(../images/contacts/pin.svg);
  }

  &__phone::before {
    content: url(../images/contacts/phone.svg);
  }

  &__email::before {
    content: url(../images/contacts/email.svg);
  }

  &__full-info p {
    margin-bottom: 9px;
  }

  &__full-info h4 {
    font-weight: 700;
  }

  &__map {
    flex-grow: 2;
    height: 600px;

    @media (min-width: 1024px) {
      max-height: 430px;
    }
  }

  &__contact-us {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: white;
    justify-content: space-around;
    padding-bottom: 50px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    color: white;
  }
}
