.feedback {
  display: flex;
  justify-content: center;

  &__photo {
    margin-bottom: 135px;
  }

  &__img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: $notebook-width) {
  .feedback {
    display: flex;
    flex-direction: column;

    &__photo {
      display: flex;
      order: 2;
    }
  }
}
