.info {

  &__section {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 70px;
  }

  &__name {
    @extend %titleXSmall;
    margin: 40px 0 0 70px;
  }

  &__head {
    @extend %textSmallBold;
    position: relative;
    margin-bottom: 10px;
  }

  &__head-1 {
    @extend %textSmallBold;
    position: relative;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      content: url("../images/loc.svg");
      top: 0;
      left: -35px;
    }
  }

  &__head-2 {
    @extend %textSmallBold;
    position: relative;
    margin-bottom: -5px;

    &:before {
      position: absolute;
      content: url("../images/tel.svg");
      top: 0;
      left: -35px;
    }
  }

  &__head-3 {
    @extend %textSmallBold;
    position: relative;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      content: url("../images/mail.svg");
      top: -7px;
      left: -40px;
    }
  }

  &__street {
    @extend %textSmall;
    margin-bottom: 10px;
  }

  &__phone {
    @extend %textSmall;
    margin-bottom: 10px;
  }

  &__mail {
    @extend %textSmall;
  }
}

@media screen and (max-width: 1024px) {
  .info {
    &__name {
      margin-top: 0;
    }
  }
}
