@media (min-width: 320px) {
  .footer {
    padding: 56px 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer_contact_call {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 768px) {

  .footer {
    padding: 88px 44px;

    @include column-tablet;

    grid-template-rows: repeat(2,auto);
    gap: 48px 24px;
  }

  .footer__menu {
    grid-row: 1;
    grid-column: 1/4;
    gap: 61px;
  }

  .footer__contact {
    grid-row: 1;
    grid-column: 4/-1;
    gap: 40px;
  }

  .footer_social {
    grid-row: 2;
    grid-column: 1/4;
  }

  .footer__bottom {
    grid-row: 2;
    grid-column: 4/-1;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 88px 124px;
  }

  .footer_contact_call {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__menu {
    grid-row: 1;
    grid-column: 1/4;
    gap: 61px;
  }

  .footer__contact {
    grid-row: 1;
    grid-column: 5/-1;
    gap: 40px;
  }

  .footer_social {
    grid-row: 2;
    grid-column: 1/4;
  }

  .footer__bottom {
    grid-row: 2;
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .footer_contact_call {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
