@media (min-width:768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 56px;
  }
}

@media (min-width:1024px) {
  h1 {
    font-size: 100px;
    letter-spacing: -6.8px;
  }

  h2 {
    font-size: 72px;
  }
}

@media (min-width:1201px) {
  h1 {
    font-size: 120px;
    letter-spacing: -7.2px;
  }

  h2 {
    font-size: 72px;
  }
}
