.products {
  padding-top: 39px;

  @include onTablet {
    padding-top: 75px;
  }

  @include onDesktop {
    padding-top: 142px;
  }

  @include onScreen {
    padding-top: 96px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 56px;
    @extend %body-text;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__cards {
    @extend %grid-system;
    row-gap: 88px;
  }

  &__card {
    margin: 0 auto 64px;

    @include onTablet {
      margin: 0 auto;
    }

    &:nth-child(1) {
      @include onTablet {
        grid-column: 1/5;
      }

      @include onDesktop {
        grid-column: 1/4;
      }
    }

    &:nth-child(2) {
      @include onTablet {
        grid-column: 5/9;
      }

      @include onDesktop {
        grid-column: 4/7;
      }
    }

    &:nth-child(3) {
      @include onTablet {
        grid-column: 1/5;
      }

      @include onDesktop {
        grid-column: 3/6;
      }
    }

    &:nth-child(4) {
      @include onTablet {
        grid-column: 5/9;
      }

      @include onDesktop {
        grid-column: 6/9;
      }
    }

    &:nth-child(5) {
      @include onTablet {
        grid-column: 1/5;
      }

      @include onDesktop {
        grid-column: 1/4;
      }
    }

    &:nth-child(6) {
      @include onTablet {
        grid-column: 5/9;
      }

      @include onDesktop {
        grid-column: 4/7;
      }
    }
  }
}
