.main {

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 80px 0;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: 80px 0 27px;

    @extend %titleM;
  }

  &__button {
    align-self: center;
    margin: 168px 0 80px;

    @include primaryButtons;
  }
}

@media (max-width: $notebook-width) {
  .main {

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;
    }

    &__title {
      margin: 38px 0 0;

      font-size: 60px;
    }

    &__button {
      margin: 48px 0 40px;
    }
  }
}
