.products {
  padding-top: 38px;

  &__title {
    margin-bottom: 27px;
  }

  &__product {
    margin-bottom: 57px;
    @media (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__product:nth-of-type(2n) {
    @media (min-width: 600px) {
      flex-direction: row-reverse;
    }
  }

  &__all-bakeries {
    margin: 168px auto 87px;
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    background: $base-color-button;
    border-radius: 40px;
    transition: background-color 0.2s linear;
  }

  &__all-bakeries:hover {
    background-color: $hover-color-button;
  }
}
