$sm-col-count: 2;
$sm-col-size: 1fr;
$sm-gap: 16px;
$sm-margin: 16px;

$md-col-count: 8;
$md-col-size: 1fr;
$md-gap: 24px;
$md-margin: 44px;

$lg-col-count: 8;
$lg-col-size: 1fr;
$lg-gap: 24px;
$lg-margin: 44px;

$xl-col-count: 8;
$xl-col-size: 128px;
$xl-gap: 24px;
