.description {
  display: flex;
  flex-direction: column;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: $orange-color;
    margin-bottom: 43px;

    @media (max-width: 1150px) {
      font-size: 35px;
      line-height: 41px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 150%;
    color: $brown-color;
    margin-bottom: 12px;
    
    @media (max-width: 1150px) {
      font-size: 26px;
    }
  }

  &__text {
    max-width: 302px;
    line-height: 150%;
    color: $brown-color;
    margin-bottom: 32px;

    @media (max-width: 1150px) {
      font-size: 16px;
      margin-bottom: 19px;
    }
  }

  &__price {
    height: 110px;
    width: 110px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $sand-color;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: $brown-color;
    animation: price-shadows 0.7s linear infinite alternate;
    
    @media (max-width: 1150px) {
      height: 65px;
      width: 65px;
    }
  }
}
