.product {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  width: 97vw;
  padding-bottom: 135px;

  @media (max-width: $width-for-tablet) {
    padding: 0 16px;
  }

  @media (max-width: $width-for-ipad) {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
