.container {
  padding-inline: $inline-main-padding-mobile;

  @include on-tablet-size {
    padding-inline: $inline-main-padding-tablet;
  }

  @include on-desktop-md-size {
    padding-inline: $inline-main-padding-desktop-md;
  }
  
  @include on-desktop-xl-size {
    padding-inline: $inline-main-padding-desktop;
  }

  &-header {
    padding-inline: $inline-header-padding-mobile;

    @include on-desktop-md-size {
      padding-inline: $inline-header-padding-desktop;
    }
  }
}
