@mixin contentPaddingInline() {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 44px;
  }

  @include onDesktop {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 44px;
  }

  @include onMonitor {
    padding-inline: 124px;
  }
}

.container {
  @include contentPaddingInline;
}
