.about {
  padding-top: 36px;
  padding-bottom: 72px;

  &__container {
    display: grid;

    background-image: url(../images/backgrounds/crumbs.png);
    background-repeat: no-repeat;
    background-position: right 350px;
    background-size: contain;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 75px 24px;
      background-position: center;
    }

    @media (min-width: 1200px) {
      grid-template-rows: max-content;
      row-gap: 144px;
      height: 673px;
    }
  }

  &__title {
    width: 100%;
    max-width: 544px;
    height: fit-content;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    width: 100%;
    max-width: 584px;
    height: fit-content;

    @media (max-width: 767px) {
      margin-bottom: 64px;
    }
  }

  &__list {
    display: grid;
    grid-column: 1 / -1;
    row-gap: 48px;
    height: fit-content;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 80px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__count {
    margin-bottom: 8px;

    font-size: 96px;
    line-height: 85%;
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }

  &__decs {
    color: $second-color;
  }

  @media (min-width: 768px) {
    padding-top: 76px;
    padding-bottom: 152px;
  }

  @media (min-width: 1200px) {
    padding-top: 89px;
    padding-bottom: 56px;
  }
}
