.btn {
  height: 56px;
  width: 100%;
  max-width: 326px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;

  white-space: nowrap;

  text-transform: uppercase;
  font-weight: 500;
  color: $c-accent-orange;
  font-size: $font-size-base;
  line-height: 1;

  border: 2px solid $c-accent-orange;
  border-radius: 28px;

  transition: all $anim-time ease;

  img {
    filter: brightness(1);
    transition: filter $anim-time ease;
  }
  svg path {
    transition: all $anim-time ease;
  }

  &:hover {
    background-color: $c-accent-orange;
    color: $c-white;
  }

  &:hover img {
    filter: brightness(10);
  }
}
