.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @include header-top;

  padding: 16px;

  &__logo {
    @include icon-hover;
  }

  &__list {
    display: none;

    @media (min-width: 1200px) {
      display: flex;
      gap: 64px;
      align-items: center;
    }
  }

  &__link {
    @include link-hover;
  }

  &__button {
    display: block;
    border: none;
    background-color: transparent;

    @include icon-hover;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}
