.icon {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: all $transition;

  &:hover {
    opacity: 0.6;
    transform: scale(1.05);
  }

  &--phone {
    background-image: url(../images/icons/phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    width: 20px;
    height: 8px;
  }

  &--cross {
    background-image: url(../images/icons/cross.svg);
    width: 13px;
    height: 13px;
  }

  &--cookies {
    background-image: url(../images/icons/cookie.svg);
    height: 20px;
    width: 20px;
  }

  &--arrow {
    background-image: url(../images/icons/arrow.svg);
    height: 16px;
    width: 16px;
  }

  &--facebook {
    height: 20px;
    background-image: url(../images/icons/facebook.svg);
  }

  &--instagram {
    background-image: url(../images/icons/instagram.svg);
  }

  &--twitter {
    background-image: url(../images/icons/twitter.svg);
  }
}
