main {
  padding: 0 124px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  main {
    padding: 0 44px;
  }
}
