.menu {
  display: none;

  @include onDesktop {
    display: flex;
    align-items: center;
  }

  &__list {
    margin: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__link {
    @extend %body-text;
    color: inherit;
    transition: all $transition;
    text-decoration: none;

    &:hover {
      color: $color-accent-orange;
      text-decoration: underline $color-accent-orange;
      text-underline-offset: 5px;
    }
  }
}
