.title {
  margin: 0;

  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $c-accent;

  @include onTablet {
    font-size: 56px;
  }

  @include onDesktop {
    font-size: 72px;
  }
}
