.title {
  font-size: $font-size-base;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  line-height: 0.85;
  color: $c-accent-orange;

  &--center {
    text-align: center;
  }

  &--1 {
    font-size: $font-size-6;

    @include medium-up {
      font-size: $font-size-4;
    }

    @include large-up {
      font-size: $font-size-2;
    }

    @include x-large-up {
      font-size: $font-size-1;
    }
  }

  &--2 {
    font-size: $font-size-8;

    @include medium-up {
      font-size: $font-size-7;
    }

    @include large-up {
      font-size: $font-size-5;
    }
  }

  &--3 {
    font-weight: 500;
    color: $c-grey;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.big-text {
  font-size: $font-size-3;
  line-height: 0.85;
}
