.what_we_bake {
  margin-bottom: 178px;

  &__title {
    font-size: 72px;
    line-height: 85%;
    font-weight: 400;
    color: $black;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    margin-bottom: 80px;
  }

  &__cakes,
  &__donuts,
  &__cookies {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;

    .order_link {
      &__text {
        text-transform: uppercase;
        color: $orange;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__good_name {
    margin-bottom: 8px;
    color: $gray;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__good_text {
    margin-bottom: 16px;
    color: $black;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__cakes,
  &__donuts {
    margin-bottom: 84px;
  }

  &__donuts {
    justify-content: end;
  }

  &__cakes_1,
  &__cakes_2,
  &__donuts_1,
  &__donuts_2,
  &__cookies_1,
  &__cookies_2 {
    width: 432px;

    & > .order_image {
      margin-bottom: 16px;
    }

    .order_link {
      display: flex;
      align-items: center;
      gap: 4px;

      &__img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .what_we_bake {
    margin-bottom: 16px;

    & > p {
      margin-bottom: 56px;
    }

    &__cakes,
    &__donuts,
    &__cookies {
      margin: 0;
      flex-direction: column;
      justify-content: center;
    }

    &__cakes_1,
    &__cakes_2,
    &__donuts_1,
    &__donuts_2,
    &__cookies_1,
    &__cookies_2 {
      width: 100%;
      margin-bottom: 56px;

      & > .order_image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what_we_bake {
    margin-bottom: 152px;

    &__cakes,
    &__donuts,
    &__cookies {
      justify-content: center;
    }

    &__cakes_1,
    &__cakes_2,
    &__donuts_1,
    &__donuts_2,
    &__cookies_1,
    &__cookies_2 {
      width: 328px;

      & > .order_image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .what_we_bake {
    padding: 0 44px;
  }
}
