.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;

  &__title {
    margin-bottom: 20px;
  }

  &__info {
    text-align: center;
    margin-bottom: 20px;
    @include font (normal, 16px, 150%, $color-chocolate);
  }

  &__facts {
    position: relative;
    display: flex;
    align-self: center;
    gap: 30px;
  }

  &__fact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    & img {
      margin-bottom: 20px;
      transition: 400ms;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__fact-title {
    margin-bottom: 7px;
    @include font (normal, 60px, 71px, $color-chocolate);
  }

  &__fact-description {
    @include font (normal, 16px, 150%, $color-chocolate);
  }
}
