.bakershops {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
  background-color: $color-cream;

  &__title {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop {
      flex-direction: row;
      justify-content: center;
      gap: 32px;
    }
  }

  &__cities {
    margin-bottom: 5px;
    
    @include desktop {
      width: 173px;
    }
  }

  &__adress {
    margin-bottom: 35px;

    @include desktop {
      width: 323px;
    }
  }

  &__search {
    align-self: center;
    margin-bottom: 25px;
    & a {
      color: $color-chocolate;
    }
  }

  &__map {
    margin-bottom: 20px;
    & img {
      width: 100%;
    }
  }

  &__map-zoom-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__zoom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;

    @include desktop {
      display: none;
    }
  }

}
