.bakershops {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
  background-color: $color-cream;

  &__form {
  }

  &__cities {
  }

  &__adress {
  }

  &__button {
  }

  &__map {
  }

  &__map-zoom-buttons {
  }

  &__zoom-out {
  }

  &__zoom-in {
  }
}
.backershops {

  &__title {
  }
}
.button {
}
