.btn {
  background-color: transparent;
  border: 2px solid $c-accent;
  border-radius: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $c-accent;
  padding: 20px 0;
}
