.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;

  @include desktop {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 167px;
    padding: 135px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    @include font (normal, 20px, 150%, $color-chocolate);
    text-align: center;
  }

  &__input {
    align-self: stretch;
    margin-bottom: 5px;
    background-color: $color-milk;
  }

  &__message {
    height: 150px;
    margin-bottom: 30px;
  }

  /*   &__send-button {
    } */

  & img {
    max-width: 400px;
  }
}
