.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 16px;
  background-color: $color-chocolate;
  color: $color-milk;

  & .logo {
    margin-bottom: 40px;
  }

  & .logo__text {
    color: $color-milk;
  }

  &__menu {
    margin-bottom: 60px;
  }

  &__menu-item {
    margin-bottom: 40px;
    @include font(normal, 16px, 24px, $color-milk);
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__socials-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    justify-content: space-evenly;
  }
}
