.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 15px 25px;

  background-image: url(../images/header_bg_mobile.png);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 97px;
  }

  &__menu-line {
    width: 25px;
    height: 2px;
    margin-bottom: 9px;
    background-color: $color-chocolate;
    transition: 400ms;
  }

  &__menu {
    &--active .header__menu-line:nth-child(1) {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    &--active .header__menu-line:nth-child(2) {
      opacity: 0;
    }

    &--active .header__menu-line:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }

  &__title {
    margin-bottom: 30px;
    font-family: $font-cookie;
    @include font(normal, 100px, 80%, $color-chocolate);
  }

  &__desription {
    margin-bottom: 20px;
    @include font(normal, 16px, 24px, $color-chocolate);
  }

  &__link-more {
    margin-bottom: 40px;
    
    & a {
      color: $color-chocolate;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    &:before {
      content: "<";
      margin-right: 20px;
      font-size: 30px;
      animation: moveleft 1s infinite alternate;
    }

    &:after {
      content: ">";
      font-size: 30px;
      animation: moveright 1s infinite alternate;
    }

    @keyframes moveleft {
      100% {
        transform: translateX(5px);
      }
    }

    @keyframes moveright {
      100% {
        transform: translateX(-5px);
      }
    }

    @for $index from 1 through 3 {
      &--number:nth-child(#{$index}):after {
        content: "0#{$index}";
      }
    }

    &--number {
      margin-right: 20px;
      transition: 400ms;

      &:nth-child(1) {
        @include font(normal, 40px, 47px, $color-chocolate);

      }

      &:nth-child(n+2) {
        @include font(normal, 16px, 19px, $color-croissant);
      }

      &:nth-child(1):hover {
        transform: scale(1.1);
      }
      &:nth-child(n+2):hover {
        transform: scale(1.4);
      }
    }
  }
}
