.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--menu--open {
    background-image: url(../images/MenuOpen.svg);
    background-size: cover;

    @include on-desktop {
      display: none;
    }
  }

  &--menu--close {
    background-image: url(../images/MenuClose.svg);
    background-size: cover;
  }
}
