.logo {
  display: flex;
  width: 84px;
  height: 42px;

  &__img {
    width: 29px;
    height: 30px;
    background-image: url(../images/logo_background.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__text {
    transform: translate(-8px, 15px);
    font-family: $font-cookie;
    font-weight: normal;
    font-size: 23px;
    line-height: 25px;
    color: $color-chocolate;
  }
  @media (min-width: 1024px) {
    width: 112px;
    height: 57px;
  }
}
