.menu {
  z-index: 1000;
  height: 100vh;
  background-color: $c-bg;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav__list {
    align-items: center;
  }
}
