.products {
  @include page-grid;

  margin-top: 56px;
  gap: 80px 24px;
  width: 100%;
  justify-items: center;

  @include on-tablet {
    margin-top: 80px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__product-1 {
    @include on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__product-2 {
    @include on-desktop {
      grid-column: 4 / 7;
    }
  }

  &__product-3 {
    @include on-desktop {
      grid-column: 3 / 6;
    }
  }

  &__product-4 {
    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__product-5 {
    @include on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__product-6 {
    @include on-desktop {
      grid-column: 4 / 7;
    }
  }
}
