.icon {
  background-image: url(../images/icons/Icon-menu.png);
  background-size: cover;
  background-position: center;
  display: block;

  @include sizing(24px, 24px);
  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/icons/Icon-menu.png);
  }

  &--close {
    background-image: url(../images/icons/Icon-close.png);
  }
  &--twitter {
    background-image: url(../images/icons/Icon-twitter.png);
    &:hover,
    &:active {
      background-image: url(../images/icons/Icon-twitter--hover.png);
    }
  }
  &--instagram {
    background-image: url(../images/icons/Icon-instagram.png);
    &:hover,
    &:active {
      background-image: url(../images/icons/Icon-instagram--hover.png);
    }
  }
  &--facebook {
    background-image: url(../images/icons/Icon-facebook.png);
    &:hover,
    &:active {
      background-image: url(../images/icons/Icon-facebook--hover.png);
    }
  }
}
