.menu {
  &__content {
    height: 100vh;
    padding-inline: 16px;
    min-width: $mobile-min-width;
    box-sizing: border-box;
    background-color: $light-pink;
    z-index: 2;
    max-width: 100%;
  }

  &-bottom {
    margin-top: 132px;
  }
}
