.bakershops {

  &__title {
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 32px;
    }
  }

  &__map {
    margin-bottom: 20px;
  }

  &__map-image {
    display: block;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 1024px) {
      width: 75%;
    }
    transition: transform 0.2s linear;
  }

  &__map-image:hover {
    transform: scale(1.1);
  }

}
