.form {

  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: 1024px) {
    margin-bottom: 55px;
    max-width: 750px;
  }

  &__select {
    background-color: #f1cc9d;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #412d22;
    padding: 10px;
    margin-bottom: 15px;
    font: inherit;
    opacity: 0.5;
    flex-grow: 1;

    @media (min-width: 1024px) {
      margin: 0;
    }
  }

  &__select--adress {
    margin-bottom: 44px;
    flex-grow: 2;

    @media (min-width: 1024px) {
      margin: 0;
    }
  }

  &__search-button {
    margin: 0 auto;
    width: 148px;
    height: 40px;
    background: $base-color-button;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font: inherit;
    transition: background-color 0.2s linear;

    @media (min-width: 600px) {
      width: 160px;
      height: 40px;
    }
  }

  &__search-button:hover {
    background-color: $hover-color-button;
  }
}
