.titles {
  grid-column: span 2;

  &--margin-top-80 {
    margin-top: 80px;
  }

  &--margin-top-64 {
    margin-top: 64px;
  }

  &--tablet {
    @include onTablet {
      grid-column: 5 / -1;
      grid-row: 1 / 2;
      margin-top: 0;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-color-text;
    grid-column: span 2;

    &--color-white {
      color: #fff;
    }

    @include onTablet {
      grid-column: span 4;
    }

    @include onLaptop {
      font-size: 72px;
    }

    &--full-grid {
      @include onTablet {
        grid-column: 1 / -1;
      }
    }
  }

  &__subtitle {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $main-color-text;
    grid-column: span 2;

    &--margin-top-32 {
      margin-top: 32px;
    }

    @include onTablet {
      grid-column: span 4;
      margin-top: 0;
    }

    &--margin-top-24 {
      @include onTablet {
        margin-top: 24px;
      }
    }
  }
}
