.about-us {
  &__title {
    margin-bottom: 32px;
  }

  &__description {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 72px;
    }

    @include onDesktop {
      margin-bottom: 146px;
    }
  }

  &__counter-section {
    margin-bottom: 48px;

    &:last-of-type {
      margin: 0;
    }

    @include onTablet {
      margin-bottom: 80px;
      &:nth-last-of-type(-n+2) {
        margin: 0;
      }
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__counter-section-number {
    margin-bottom: 8px;

    @extend %big-text;
    color: $color-accent-orange;
  }
}
