.contact-us {
  margin-bottom: 42px;

  @include onTablet {
    margin: 0;
  }

  &__title {
    color: $color-white;

    margin-bottom: 40px;
  }

  &__call-us {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
