.products {
  &__head {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__product {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 88px;
    }

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  &__photo-container {
    margin-bottom: 16px;
  }

  &__product-photo {
    width: 100%;
  }

  &__product-name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__product-description {
    margin-bottom: 24px;
  }
}
