.products {
  &__head {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__product {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 88px;
    }

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  &__photo-container {
    margin-bottom: 16px;

    border-radius: 8px;

    @include hover (transform, scale(1.05));
  }

  &__product-photo {
    width: 100%;
  }

  &__product-name {
    margin-bottom: 8px;

    color: $color-name-text-color;
    @extend %uppercase-text;
  }

  &__product-description {
    margin-bottom: 24px;
  }
}
