.products {
  padding: 0;
  margin: 0;
  padding-top: 80px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  column-gap: 16px;
  row-gap: 80px;

  @include onTablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  &__product {
    @include onMobile {
      grid-column: 1/-1;
    }
  }

  &__product:nth-child(2n) {
    @include onTablet {
      grid-column: 5/-1;
    }
  }

  &__product:nth-child(2n+1) {
    @include onTablet {
      grid-column: 1/5;
    }
  }

  &__product:nth-child(1) {
    @include onDesktop {
      grid-column: 1/4;
    }
  }
  &__product:nth-child(2) {
    @include onDesktop {
      grid-column: 4/7;
    }
  }
  &__product:nth-child(3) {
    @include onDesktop {
      grid-column: 3/6;
    }
  }
  &__product:nth-child(4) {
    @include onDesktop {
      grid-column: 6/-1;
    }
  }
  &__product:nth-child(5) {
    @include onDesktop {
      grid-column: 1/4;
    }
  }
  &__product:nth-child(6) {
    @include onDesktop {
      grid-column: 4/7;
    }
  }
}

.product {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;

  &__text-container {
    padding-top: 16px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  &__title {
    padding: 0;
    margin: 0;
    color: $grey;
  }

  &__image-container {
    width: 100%;
    // stylelint-disable-next-line
    aspect-ratio: 402 / 512;
    position: relative;
  }

  &__image {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
