.about-us {
  margin-top: 64px;
  margin-bottom: 72px;

  &__label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $c-grey;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;

    margin-top: 8px;
  }

  &__number {
    font-family: Inter, sans-serif;
    font-size: 96px;
    font-weight: 400;
    color: $c-dark-font;
    line-height: 81.6px;
    letter-spacing: -0.05em;
    text-align: left;

    margin-top: 48px;
  }
}
