.about {
  position: relative;
  letter-spacing: -0.01em;
  &__title {
    margin-top: 58px;
    @include onTablet {
      margin-top: 136px;
    }
    @include onDesktop {
      margin-top: 160px;
    }
    @include onScreen {
      margin-top: 160px;
    }
  }
  &__info {
    margin-top: 30px;
    line-height: 24px;
    @include onTablet {
      margin-top: 136px;
    }
    @include onDesktop {
      margin-top: 164px;
      width: 540px;
    }
    @include onScreen {
      margin-top: 162px;
    }
  }
  &__achievements {
    margin-top: 16px;
    @include onTablet {
      margin-top: -6px;
    }
    @include onDesktop {
      margin-top: 92px;
    }
    @include onScreen {
      margin-top: 96px;
    }
    &-value {
      margin: 0;
      letter-spacing: -0.05em;
      font-size: 96px;
      line-height: 82px;
      margin-top: 34px;
      &-plus {
        &::after {
          display: inline-flex;
          content: "+";
          transform: translate(-16%, -10%);
        }
      }
      @include onTablet {
        margin-top: 66px;
      }
    }
    &-description {
      color: $grey;
      margin-top: 9px;
      @include onDesktop {
        margin-top: 14px;
      }
    }
  }
  &__image {
    z-index: -1;
    position: absolute;
    height: 300px;
    width: 320px;
    left: -16px;
    bottom: 190px;
    @include onTablet {
      height: 493px;
      width: 526px;
      left: 75px;
      bottom: 64px;
    }
    @include onDesktop {
      height: 673px;
      width: 718px;
      left: 25%;
      bottom: -50%;
    }
    @include onScreen {
      height: 673px;
      width: 718px;
      left: 20%;
      bottom: -50%;
    }
  }
}
