.about {
  display: flex;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 59px;
    padding-top: 141px;

    background: url(../images/decoration.jpg) no-repeat;
    background-size: cover;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 25px;
    @include primary-button;
  }

  &__rectangle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 425px;
    height: 840px;
    z-index: -1;

    background-color: $c-croissant;
  }
}
