.about {
  padding: 180px $desktop-paddingX 0;

  background-image: url(/images/photos/Crumbs.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom 10% right 10%;

  @include for-tablet {
    background-position: center;
  }

  @include for-mobile {
    background-position: center;
  }

  &__content {
    @include limit-content-width;
  }

  &__wrapper {
    @include for-tablet {
      margin-bottom: 80px;
    }

    @include for-mobile {
      margin-bottom: 48px;
      // grid-column: unset;
    }
  }

  &__title {
    @include text-h2;
    color: $accent-orange;
    margin-bottom: 140px;

    @include for-mobile {
      margin-bottom: 72px;
    }
  }

  &__description {
    @include body-text;
  }

  &__amount {
    @include big-text;
    color: $accent-orange;
    margin-bottom: 8px;
  }

  &__rank-name {
    @include body-text;
    margin-bottom: 350px;

    @include for-tablet {
      margin-bottom: 80px;
    }

    &:last-child {
      @include for-tablet {
        margin-bottom: 150px;
      }

      @include for-mobile {
        margin-bottom: 48px;
        grid-column: unset;
      }
    }
  }
}
