.about-section {
  padding-bottom: $grid-base * 9;
  background: url(../images/photos/Crumbs.png) no-repeat center;
  background-size: contain;

  @include medium-up {
    margin-bottom: 152px;
  }

  @include large-up {
    margin-bottom: 349px;
  }

  &__grid {
    @include grid-system;
    row-gap: $grid-base * 6;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: $grid-base * -2;

    @include medium-up {
      grid-column: span 4;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin-bottom: $grid-base * 2;

    @include medium-up {
      grid-column: span 4;
      margin-bottom: $grid-base * 9;
    }

    @include large-up {
      margin-bottom: 146px;
    }
  }

  &__stat-box {
    grid-column: 1 / -1;

    @include medium-up {
      grid-column: span 4;
    }

    @include large-up {
      grid-column: span 2;
    }
  }

  &__stat-nr {
    display: inline-block;
    margin-bottom: $grid-base;
  }
}
