.bakershops {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;

  background-color: $c-cream;

  &__search-menu {
    margin-top: 87px;
  }

  &__map {
    margin: 67px 0 57px;
  }
}
