.section-bakershops {
  background-color: $cream;
  padding: 80px 57px;

  @media (max-width: 1599px) {
    padding: 40px 57px 57px;
  }

  @media (max-width: 600px) {
    margin-top: 30px;
    padding: 40px 10px 20px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 870px;
    margin: 87px auto 0;

    @media (max-width: 1599px) {
      width: 720px;
    }

    @media (max-width: 800px) {
      margin-top: 30px;
      height: 148px;
      width: 80%;
      flex-direction: column;
    }

    @media (max-width: 600px) {
      height: 148px;
      width: 100%;
    }
  }

  &__select {
    opacity: 0.5;
    border: none;
    background-color: $cream;
    border-bottom: 1px solid $dark-brown;
  }

  &__select-city {
    width: 173px;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__select-address {
    width: 323px;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__form-button {
    @media (max-width: 800px) {
      margin: 0 auto;
    }
  }

  &__map {
    display: block;
    margin: 67px auto 0;

    @media (max-width: 1240px) {
      max-width: 900px;
    }

    @media (max-width: 1000px) {
      max-width: 500px;
    }

    @media (max-width: 600px) {
      max-width: 300px;
      margin-top: 25px;
    }
  }

  &__plus-minus {
    display: none;
    width: 120px;

    @media (max-width: 600px) {
      margin: 10px auto;
      display: flex;
      justify-content: space-between;
    }
  }
}
