.bake {
  padding-bottom: 178px;

  &__title {
    padding-bottom: 24px;
    color: $c-link;
  }

  &__text {
    padding-bottom: 80px;
    color: $c-link;
  }

  &__card {
    grid-column: span 3;
  }

  &__cards {
    grid-column: 3 / span 3;
  }

  &__indentation {
    padding-bottom: 80px;
  }

  &__img {
    border-radius: 8px;
    
    &:hover {
      box-shadow: -3px 1px 16px 0 rgba(0,0,0,0.51);
    }
  }

  &__subtitle {
    color: $c-grey;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  &__word {
    color: $c-link;
    padding-bottom: 16px;
    &--top {
      padding-bottom: 40px;
    }
    &--bottom {
      padding-bottom: 40px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    color: $c-orange;
    cursor: pointer;
    background: $c-gray;

    &:hover {
      color: $c-dark-orange;
    }
  }
}

@media (max-width: 1440px) {
  .bake {
    &__word {
      &--top {
        padding-bottom: 16px;
      }
    }
  }
}

@media (max-width: 1217px) {
  .bake {
    &__word {
      &--bottom {
        padding-bottom: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .bake {
    &__word {
      &--bottom {
        padding-bottom: 40px;
      }
    }
  }
}

@media (max-width: 1057px) {
  .bake {
    &__word {
      &--bottom {
        padding-bottom: 16px;
      }
    }
  }
}

@media (max-width: 849px) {
  .bake {
    &__word {
      &--bottom {
        padding-bottom: 40px;
      }
    }
  }
}

@media (max-width: 835.5px) {
  .bake {
    &__word {
      &--top {
        padding-bottom: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .bake {
    padding-bottom: 152px;

    &__card {
      grid-column: span 4;
    }

    &__cards {
      grid-column: span 4;
    }

    &__word {
      &--top {
        padding-bottom: 16px;
      }

      &--bottom {
        padding-bottom: 16px;
      }
    }
  }
}


@media (max-width: 653px) {
  .bake {
    padding-bottom: 72px;

    &__text {
      padding-bottom: 56px;
    }

    &__card {
      grid-column: 1/-1;
    }

    &__cards {
      grid-column: 1/-1;
    }

    &__indentation {
      padding-bottom: 0;
    }

    &__space {
      padding-bottom: 52px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

