.bakery-component {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 65px;
  gap: 10%;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__price {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 20px;

    font-weight: 700;
    border-radius: 50%;
    background-color: $c-cream;
  }

  &__image {
    display: flex;
    align-items: center;
  }
}

.bakery-vector {
  @extend %dark-vector;
  transform: rotate(-90deg);
}
