.bakery-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1150px) {
    padding: 0 16px;
  }

  &__title {
    padding-top: 40px;
    padding-bottom: 27px;
    font-family: "Cookie", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 133px;
    text-align: center;
    color: #e39a3b;

    @media (max-width: 1150px) {
      padding-top: 38px;
      padding-bottom: 20px;
      font-size: 60px;
      line-height: 67px;
    }
  }

  &__cakes,
  &__cupcakes {
    flex-direction: row-reverse;
  }

  &__all-bakeries-button {
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 80px;
    background: #e39a3b;

    @media (max-width: 1150px) {
      margin-bottom: 40px;
    }
  }
}
