.bakery {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 40px;

  &__cookies {
    margin: 27px auto 0;

    @media (max-width: 900px) {
      margin: 20px auto 0;
    }
  }

  &__cakes {
    flex-direction: row-reverse;
    margin: 135px auto 0;

    @media (max-width: 900px) {
      margin: 40px auto 0;
    }
  }

  &__croissants {
    margin: 135px auto 0;

    @media (max-width: 900px) {
      margin: 40px auto 0;
    }
  }

  &__cupcakes {
    flex-direction: row-reverse;
    margin: 135px auto 0;

    @media (max-width: 900px) {
      margin: 40px auto 0;
    }
  }

  &__button {
    margin: 135px auto 80px;
    @include primary-button;

    @media (max-width: 900px) {
      margin: 48px auto 40px;
    }
  }
}
