.bakery {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 40px;

  &__cookies {
    margin: 27px auto;
  }

  &__cakes {
    flex-direction: row-reverse;
    margin: 135px auto;
  }

  &__croissants {
    margin: 135px auto;
  }

  &__cupcakes {
    flex-direction: row-reverse;
    margin: 135px auto;
  }

  &__button {
    margin-bottom: 80px;
    @include primary-button;
  }
}
