@use '../utils/vars' as *;
@use '../utils/mixins' as *;

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  padding-top: 64px;

  scroll-behavior: smooth;
}
