@use '../utils/vars' as *;
@use '../utils/mixins' as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  padding: 0 16px;
  padding-top: 64px;

  box-sizing: border-box;

  @include for-tablet {
    padding: 0 44px;
  }

  @include for-desktop {
    padding: 0 44px;
  }
}
