.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: $button-height;
  border-radius: 32px;
  border: 2px solid $color-secondary;

  @extend %main-text-uppercase;
  text-decoration: none;
  color: $color-background;
  background-color: $color-background;

  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: #fff;
    background-color: $color-secondary;
    border: 2px solid transparent;
  }

  &:active {
    color: #fff;
    background-color: $color-focused;
    border: 2px solid transparent;
  }
}
