.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  /* Accent Orange */
  border: 2px solid #f9512e;
  border-radius: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Accent Orange */
  color: #f9512e;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    /* Accent Orange */
    background-color: #f9512e;
  }

  &:active {
    border-color: #b3341a;;
    /* Dark Orange */
    background-color: #b3341a;
  }
}
