.button {
  width: 288px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  border: 2px solid $c-accent-orange;
  border-radius: 32px;

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  &__text {
    @extend %body-text-uppercase;
    color: $c-accent-orange;
  }
}
