.button-primary {
  @extend %button;
  @extend %transition;
  width: 200px;
  height: 50px;
  background-color: $light-brown;
  border: 2px solid $light-brown;

  @media (max-width: 2000px) {
    width: 160px;
    height: 40px;
  }

  &:hover {
    background-color: $white;
  }

  &:active {
    background-color: $light-brown;
  }

  &--link {
    text-decoration: none;
    color: inherit;
  }
}

.button-secondary {
  @extend %button;
  width: 125px;
  height: 37px;
  background-color: $cream;
  border: 2px solid $cream;
  @extend %transition;

  @media (max-width: 2000px) {
    width: 100px;
    height: 30px;
  }

  &:hover {
    background-color: $white;
  }

  &:active {
    background-color: $cream;
  }
}
