.buy-btn {
  border-radius: 32px;
  border: 2px solid $accent-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  height: 56px;
  z-index: 1;
  transition: all 0.3s;

  &__text {
    font-weight: $font-weight-madium;
    color: $accent-text-color;
    line-height: $line-hight-100;
    padding-left: 4px;
  }

  &:hover {
    background-color: $accent-text-color;
    .buy-btn__text {
      color: $footer-text-color;
    }

    .buy-btn__icon {
      background-image: url(../images/icons/Icon-cookie-white.svg);
    }
  }

  &:focus {
    border: $accent-text-color-focused;
    background-color: $accent-text-color-focused;

    .buy-btn__text {
      color: $footer-text-color;
    }

    .buy-btn__icon {
      background-image: url(../images/icons/Icon-cookie-white.svg);
    }
  }
}
