.callback-language {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 2000px) {
    width: 380px;
  }

  @media (max-width: 1599px) {
    width: 319px;
  }

  @media (max-width: 1270px) {
    max-width: 25%;
  }

  @media (max-width: 770px) {
    display: none;
  }
}

.callback-phone {
  font-size: inherit;
  color: inherit;
  text-decoration: none;

  @media (max-width: 1270px) {
    display: none;
  }

  @media (max-width: 770px) {
    display: block;
  }
}

.language {
  font-size: inherit;
  background-color: rgba(168, 50, 50, 0);
  border: none;

  @media (max-width: 600px) {
    align-self: start;
  }
  

  &__item {
    background-color: #fff;
    color: $light-brown;
    border: none;
  }
}
