.card {

  &__img {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__product-name {
    display: block;
    @extend %body-text-uppercase;
    color: $c-grey;
    margin-bottom: 8px;
  }

  &__descr {
    display: block;
    @extend %body-text;
    margin-bottom: 16px;
  }

  &__order-link {
    @extend %body-text-uppercase;
    display: inline-block;
    color: $c-accent-orange;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: border-color $transition-duration,
      color $transition-duration;

    &::before {
      content: url("../images/icons/Icon-arrow.svg");
      display: inline-block;
      width: 16px;
      height: 16px;
      transform: translateY(30%);
      margin-right: 8px;
    }

    &:hover {
      border-color: $c-accent-orange;
    }

    &:active {
      color: $c-dark-orange;
      border-color: $c-dark-orange;

      &::before {
        content: url("../images/icons/Icon-arrow-focused.svg");
      }
    }
  }
}
