.card {
  &__link {
    display: flex;
  }
  &__image {
    width: 100%;
    margin-bottom: 16px;
  }

  &__type {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $c-grey;
    text-transform: uppercase;
    margin-block: 0 8px;
  }

  &__description {
    margin-block: 0 16px;
  }

  &__order-link {
    color: $c-accent-orange;
    width: fit-content;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;

    @include icon-before($c-accent-orange, '../images/icons/icon-arrow.svg');
  }
}
