.catalog {
  // &__container {
  // }

  &__title {
    font-size: 72px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 24px;

    // @include onDeskTop {
    //   font-size: 72px;
    // }
  }

  &__description {
    margin-bottom: 80px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
