.category {
  display: grid;
  justify-content: center;

  &__wrapper {
    display: grid;
    row-gap: 56px;

    padding-top: 56px;
    padding-bottom: 72px;
    justify-content: center;

    @include onTablet {
      grid-template-columns: repeat(8, 64px);
      column-gap: 24px;

      grid-template-rows: repeat(3, 1fr);
    }

    @include onDesctop {
      grid-template-columns: repeat(8, 118px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -5%;
    color: $accent-color;
    padding-top: 64px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
    padding-top: 24px;
  }
}
