.catalog {
  &__content {
    row-gap: 56px;
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
      row-gap: 80px;
    }

    @include onDesktop {
      margin-bottom: 178px;
    }
  }

  &__title {
    @extend %h2-mob-style;
    display: block;
    margin-bottom: 24px;

    @include onDesktop {
      @include h2-desk-style;
    }
  }

  &__descr {
    @extend %body-text;
    display: block;
    margin-bottom: 56px;
  }
}
