.container {
  max-width: 1192px;
  margin: 0 auto;

  &__mob-wrap {
    width: 90%;
    margin: 33px auto 0;
  }

  @include onTheDesign {
    padding: 0 30px;
  }

  @include onNoteBook {
    width: 86%;
  }

  @include onTablet {
    max-width: 90%;
  }
}
