.contact-us {

  &__title {
    color: #fff;
    
    margin-bottom: 40px;

    @include onTablet {
      font-size: 72px;
      line-height: 61px;
    }
  }

  &__call {
    list-style: none;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @include onTablet {
      &:last-child {
        margin-bottom: 40px;
      }
    }

    @include onDesktop {
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    &--title {
      color: $c-grey;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }

  &__link {
    box-sizing: border-box;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #fff;
    text-decoration: none;

    transition: all 0.3s;

    &:hover {
      border-color: $c-red;
      color: $c-red;
    }
  }

  &__information {
    margin-bottom: 42px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
}
