.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;

  @include onTablet {
    padding: 0 44px;
  }

  &--with-menu {
    padding: 0;
  }

  &--footer {
    padding: 60px 16px 56px;

    @include onTablet {
      padding: 88px 44px;
    }
  }
}
