.contact {
  background-color: $colorBlack;
  padding: 61px 16px 56px;

  @include onTablet {
    padding: 88px 44px;
  }

  @include onDesign {
    padding: 88px 124px;
  }

  @include onFullHD {
    padding: 112px 160px;
  }

  @include onLargeScreens {
    padding: 144px 200px;
  }

  &__grid {
    @include intermediateWidth;
    margin: 0 auto;
  }

  &__subtitle {
    margin-bottom: 16px;

    @include onFullHD {
      margin-bottom: 24px;
    }

    @include onFullHD {
      margin-bottom: 30px;
    }
  }

  &__menu {
    padding: 0;
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onFullHD {
      margin-bottom: 64px;
    }

    @include onLargeScreens {
      margin-bottom: 80px;
    }
  }

  &__menu-item {
    margin-top: 16px;

    @include onFullHD {
      margin-top: 24px;
    }

    @include onLargeScreens {
      margin-top: 30px;
    }
  }

  &__title {
    color: #fff;
    margin-bottom: 40px;

    @include onFullHD {
      margin-bottom: 48px;
    }

    @include onFullHD {
      margin-bottom: 60px;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 42px;

    @include onTablet {
      padding-bottom: 0;
    }

    & :nth-child(-n + 2) {
      margin-right: 40px;
    }

    & :last-child {
      margin-right: 0;
    }
  }

  &__email {
    display: block;
    margin-bottom: 44px;

    @include onTablet {
      margin-bottom: 48;
    }
  }

  &__text {
    color: #fff;
  }
}
