.container {
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    padding: 0;
    max-width: 680px;
  }

  @include onDesktop {
    max-width: 1112px;
  }

  @include onTV {
    max-width: 1180px;
  }
}
