.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__link {
    display: flex;
    justify-content: center;
    width: 31px;
    height: 31px;

    border-radius: 50%;
    background-color: $c-milk;

    @include hover(background-color, $c-croissant);
  }

  &__image {
    align-self: center;
  }
}
