.contacts {
  display: flex;

  @media (max-width:767px) {
    flex-direction: column;
  }

  & a:hover {
    color: blueviolet;
  }

  &__map {
    height: 520px;
    flex-grow: 1;

    @media (max-width:767px) {
      width: 100%;
    }
  }

  &__touch {
    position: relative;
    width: 450px;
    height: 520px;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 120px;
    gap: 20px;
    background-color: $orange;

    @media (max-width:1023px) {
      padding: 40px 0 20px 80px;
      font-size: 16px;
    }

    @media (max-width:767px) {
      width: 100%;
      // padding: 30px 0 20px 80px;
    }

    @media (max-width:499px) {
      // width: 100%;
      padding-left: 60px;
    }
  }

  &__icon {
    position: absolute;
    left: 60px;
    transform: scale(140%);

    @media (max-width:1023px) {
      transform: translate(-100%, 20%);
    }

    @media (max-width:499px) {
      transform: translate(-140%, 20%);
    }
  }

  &__name {
    font-weight: bold;
  }
}
