.contacts {

  &__body {

    @media (min-width:$tablet) {
      display: flex;
      column-gap: rem(24);
    }
  }

  &__info {

    @media (max-width:$tablet) {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
  }
}

.info-contacts {

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__link {
    display: inline-block;
    color: $white;
    line-height: 1.5;
    letter-spacing: rem(-0.16);
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $lightOrange;
      }
    }
  }

  &--phones {

    @media (min-width:$tablet) {
      flex: 0 1 50%;
    }
  }

  &--email {

    @media (min-width:$tablet) {
      flex: 0 1 50%;
    }
  }
}
