.feedback {
  padding: 130px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width:1023px) {
    flex-direction: column;
    gap: 50px;
    padding: 60px 0;
  }

  &__image {
    width: 509px;
    height: 417px;

    @media (max-width:1023px) {
      order: 2;
      width: 80vw;
      height: 64vw;
    }

    @media (max-width:767px) {
      width: 80vw;
      height: 64vw;
    }
  }
 
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 388px;
    height: 377px;
    gap: 30px;

    & > :not(:first-child) {
      outline: none;
      font-size: 16px;
    }

    @media (max-width:767px) {
      width: 80vw;
    }

    @media (max-width:374px) {
      width: 95vw;
      order: 1;
    }

    & > :not(:last-child) {
      
      border: transparent;
      background-color: inherit;
      border-bottom: 2px solid rgba($color: $brown, $alpha: 0.5);
    }
  }

  &__button {
    @include button;
    margin: 0 auto;
  }
}
