.feedback {
  display: grid;
  grid-template-columns: 1fr 509px 1fr 378px 1fr;
  grid-template-rows: 92px 377px 175px;

  &__picture {
    grid-area: 2 / 2;
  }

  &__form {
    grid-area: 2 / 4;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
      align-self: stretch;
    }
  }
}
