@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubick/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/rubick/Rubik-Regular.woff") format("woff"),
    url("../fonts/rubick/Rubik-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubick/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/rubick/Rubik-Bold.woff") format("woff"),
    url("../fonts/rubick/Rubik-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cookie";
  src: url("../fonts/cookie/cookie-regular.woff2") format("woff2"),
    url("../fonts/cookie/cookie-regular.woff") format("woff"),
    url("../fonts/cookie/cookie-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
