.footer {
  background-color: $c-link;
  &__box {
    grid-column: 1/3;
    padding-top: 80px;
  }

  &__case {
    padding-top: 61px;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    padding-bottom: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $c-grey;
  }

  &__link {
    padding-bottom: 16px;
    color: $c-while;
    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      color: $c-orange;
    }
  }

  &__boxes {
    padding-top: 80px;
    grid-column: 5/-1;
  }

  &__title {
    padding-bottom: 30px;
    color: $c-while;
  }

  &__contact {
    display: flex;
    gap: 100px;
  }

  &__phone {
    display: flex;
    flex-direction: column;
  }

  &__email {
    color: $c-while;
    &:hover {
      color: $c-orange;
    }
  }

  &__social {
    grid-column: 1/3;
    padding-top: 48px;
    padding-bottom: 88px;
    display: flex;
    gap: 32px;
  }

  &__value {
    color: $c-orange;

    &:hover {
      color: $c-while;
    }
  }
}


@media (max-width: 1024px) {
  .footer {
    &__box{
      padding-top: 88px;
    }

    &__boxes{
      padding-bottom: 88px;
    }

    &__case {
      padding-top: 77px;
    }

    &__title {
      font-size: 56px;
      line-height: 48px;
      letter-spacing: -0.05em;
    }

    &__contact {
      flex-direction: column;
      gap: 40px;
    }
  }
}


@media (max-width: 744px) {
  .footer {
    &__box {
      grid-column: 1/-1;
      padding-top: 56px;
    }

    &__boxes {
      grid-column: 1/-1;
      padding-top: 64px;
      padding-bottom: 0;
    }

    &__case {
      padding-top: 40px;
    }

    &__title {
      padding-bottom: 40px;
    }

    &__social {
      padding-top: 40px;
      padding-bottom: 120px;
      grid-column: 1/-1;
    }
  }
}
