.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &__input {
    width: 378px;
    height: 31px;
    @include switch-item-params;

    @media (max-width: 1024px) {
      width: 288px;
    }

    &--message {
      margin-top: 70px;
    }
  }

  &__button {
    margin-top: 17px;
    @include primary-button;
  }
}
