.section-goods {
  padding: 100px 8% 196px;

  @media (max-width: 2000px) {
    padding: 80px 5% 196px;
  }

  @media (max-width: 1599px) {
    padding: 40px 0 196px;
  }

  @media (max-width: 600px) {
    padding-bottom: 69px;
  }

  @media (max-width: 600px) {
    padding-bottom: 69px;
  }

  &__cards {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 186px;

    @media (max-width: 1100px) {
      margin-top: 0;
      gap: 40px;
      align-items: center;
    }
  }
}
