.grid {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 28px;
  }

  @include onNotebook {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 30px;
  }

  @include onFullHD {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 36px;
  }

  @include onLargeScreens {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 48px;
  }

  &__item {
    @include onTablet {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include onNotebook {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--notebook-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    &--with-menu {
      overflow: hidden;
    }

    &--catalog {
      margin-bottom: 64px;

      &:last-child {
        margin-bottom: 80px;
      }

      @include onTablet {
        margin-bottom: 88px;

        &:last-child {
          margin-bottom: 160px;
        }
      }

      @include onNotebook {
        &:last-child {
          margin-bottom: 186px;
        }
      }

      @include onLargeScreens {
        margin-bottom: 120px;

        &:last-child {
          margin-bottom: 240px;
        }
      }
    }
  }
}
