.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  &--not-phone {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__item {
    margin: 0;
    position: relative;

    @for $start from 1 through 2 {
      @for $end from $start through 2 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end+1};
        }
      }
    }

    @for $start from 1 through 5 {
      @for $end from $start through 5 {
        &--row-#{$start}-#{$end} {
          grid-row: #{$start} / #{$end};
        }
      }
    }

    @include onTablet {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end+1};
          }
        }
      }
    }

    @include onTablet {
      @for $start from 1 through 5 {
        @for $end from $start through 5 {
          &--tablet-row-#{$start}-#{$end} {
            grid-row: #{$start} / #{$end};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through 5 {
        @for $end from $start through 5 {
          &--desktop-row-#{$start}-#{$end} {
            grid-row: #{$start} / #{$end};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end+1};
          }
        }
      }
    }
  }
}
