.header {
  @extend %transition;
  box-sizing: border-box;
  padding: 3% 5%;
  background: $light-brown url(../images/header_img3_big.jpg) 0 0/70% 100% no-repeat;
  height: 100vh;
  

  @media (max-width: 1599px) {
    padding: 34px 59px;
  }

  @media (max-width: 800px) {
    padding: 15px 16px 26px;
    background-size: cover;
    background-position: center;
  }

  &--01 {
    background-image: url(../images/header_img3_big.jpg);

    @media (max-width: 1599px) {
      background-image: url(../images/header_img3.jpg);
    }

    @media (max-width: 600px) {
      background-image: url(../images/header_img3_small.jpg);
    }
  }

  &--02 {
    background-image: url(../images/header_img2_big.jpg);

    @media (max-width: 1599px) {
      background-image: url(../images/header_img2.jpg);
    }

    @media (max-width: 600px) {
      background-image: url(../images/header_img2_small.jpg);
    }
  }

  &--03 {
    background-image: url(../images/header_img1_big.jpg);

    @media (max-width: 1599px) {
      background-image: url(../images/header_img1.jpg);
    }

    @media (max-width: 600px) {
      background-image: url(../images/header_img1_small.jpg);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 107px;

    @media (max-width: 1599px) {
      height: 87px;
    }

    @media (max-width: 600px) {
      height: 47px;
    }
  }

  &__nav {
    @media (max-width: 770px) {
      display: none;
    }
  }

  &__logo {
    align-self: start;
    
    @media (max-width: 600px) {
      align-self: center;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__about-us {
    margin-top: 90px;

    @media (max-width: 1599px) {
      margin-top: 20px;
    }

    @media (max-width: 600px) {
      margin-top: 97px;
    }
  }

  &__title {
    font-family: "Cookie", sans-serif;
    font-weight: normal;
    font-size: 200px;
    line-height: 217px;
    color: $dark-brown;

    @media (max-width: 2000px) {
      font-size: 180px;
      line-height: 207px;
    }

    @media (max-width: 1599px) {
      font-size: 160px;
      line-height: 177px;
    }

    @media (max-width: 1150px) {
      line-height: 142px;
      font-size: 130px;
    }

    @media (max-width: 950px) {
      font-size: 100px;
      line-height: 80%;
    }
  }

  &__paragraph {
    margin-top: 50px;
    line-height: 59px;
    max-width: 700px;
    font-size: 44px;

    @media (max-width: 2000px) {
      margin-top: 40px;
      line-height: 49px;
      max-width: 540px;
      font-size: 34px;
    }

    @media (max-width: 1599px) {
      margin-top: 20px;
      line-height: 39px;
      max-width: 420px;
      font-size: 26px;
    }

    @media (max-width: 600px) {
      max-width: 250px;
      margin-top: 29px;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__button {
    margin-top: 65px;

    @media (max-width: 1599px) {
      margin-top: 25px;
    }
  }

  &__switch {
    margin-top: 150px;
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 2000px) {
      margin-top: 120px;
    }

    @media (max-width: 1599px) {
      margin-top: 92px;
      height: 374px;
    }

    @media (max-width: 800px) {
      flex-direction: row;
      margin: 40px auto;
      width: 179px;
      height: 47px;
    }
  }

  &__menu-opener {
    display: none;
    background-image: url(../images/burger.png);
    background-size: contain;
    width: 25px;
    height: 18px;

    @media (max-width: 770px) {
      display: block;
    }
  }
}
