.hero {
  position: relative;
  padding-top: 32px;

  @include onTablet {
    padding-top: 80px;
  }

  @include onDesktop {
    padding-top: 135px;
  }

  &__description {
    text-align: center;
    color: $black;
    margin-bottom: 32px;

    @include onTablet {
      text-align: left;
      margin-bottom: 146px;
    }

    @include onDesktop {
      text-align: left;
      margin-bottom: 8px;
    }

    @include onDesktopLarge {
      margin-bottom: 40px;
    }
  }

  &__heading {
    position: relative;
    text-align: center;
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $accentOrange;

    @include onTablet {
      font-size: 80px;
      margin-bottom: 210px;
    }

    @include onDesktop {
      font-size: 136px;
      margin-bottom: 64px;
    }

    @include onDesktopLarge {
      font-size: 144px;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%;
      background-image: url(../images/Cookie.png);
      @include bgiFormat;

      @include onTablet {
        position: absolute;
        padding-top: 48%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }

  &__button {
    margin-bottom: 104px;

    @include onTablet {
      margin-bottom: 228px;
    }

    @include onDesktop {
      margin-bottom: 312px;
    }

    @include onDesktopLarge {
      margin-bottom: 290px;
    }
  }
}
