.hero {
  position: relative;
  padding-top: 32px;

  @media onTablet {
    padding-top: 80px;
  }

  @media onDesktop {
    padding-top: 135px;
  }

  &__description {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $black;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 16px;
    }

    @include onDesktop {
      text-align: left;
      margin-bottom: 8px;
    }
  }

  &__heading-container {
    // position: relative;
  }

  &__heading {
    position: relative;
    font-size: 64px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $accentOrange;

    @include onTablet {
      font-size: 80px;
      line-height: 68px;
    }

    @include onDesktop {
      font-size: 136px;
      line-height: 116px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
      background-image: url(../images/Cookie.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      // @include onTablet {

      // }
    }
  }
}
