.hidden {
  display: none;

  @include onDesktop {
    display: block;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 64px;

  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $mainColor;
    transition:  0.3s;
    &:hover {
      color: $colorBigText;
      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $colorBigText;
      }
    }
  }
  &__contact-block {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 7px;

    &--p {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $colorBigText;
    }
  }
}
