.icon {
  display: block;
  width: 24px;
  height: 24px;


  &--menu {
    fill: $main-color;
  }

  &--cookie {
    transition: 0.3s;
    fill: $accent-color;
  }

  &--arrow {
    fill: $accent-color;
  }

  &--social {
    fill: $accent-color;
    transition: 0.3s;

    &:hover {
      fill: #fff;
    }
  }
}
