%ic {
  font-family: "icon-font", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
  &:before {
    @extend %ic;
    // display: block;
  }
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cookie:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}
