.icon {
  display: block;

  &--hidden {
    @include onDesctop {
      display: none;
    }
  }

  &--menu {
    width: 24px;
    height: 24px;

    &--color {
      fill: $main-color;
    }

    &--hidden {
      @include onDesctop {
        display: none;
      }
    }
  }

  &--cookie {
    width: 24px;
    height: 24px;
    &--color {
      fill: $accent-color;
    }
  }

  &--close {
    width: 24px;
    height: 24px;

    &--color {
      fill: $main-color;
    }
  }

  &--phone {
    width: 24px;
    height: 24px;
    &--color {
      fill: $accent-color;
    }
  }
}
