.icon {
  &--menu {
    display: none;
    width: 20px;
    height: 8px;
    background-image: url(../images/burger.svg);
  }

  &--cross {
    display: none;
    width: 13px;
    height: 13px;
    background-image: url(../images/cross.svg);
  }
}
