.icon {
  position: relative;
  @include propertyIcons;
  width: 100%;
  padding-bottom: 100%;
  text-decoration: none;

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &--cross {
    background-image: url(../images/icons/close.svg);

    @include onDesktop {
      display: none;
    }
  }
}
