.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url('../images/icons/burger-menu.svg');

    @include on-small-desktop {
      display: none;
    }

    &:hover {
      background-image: url('../images/icons/burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');

    &:hover {
      background-image: url('../images/icons/close-hover.svg');
    }
  }

  &--facebook {
    background-image: url('../images/icons/facebook.svg');
  }

  &--instagram {
    background-image: url('../images/icons/instagram.svg');
  }

  &--twitter {
    background-image: url('../images/icons/twitter.svg');
  }
}
