.icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include onFullHD {
    width: 24px;
    height: 24px;
  }

  @include onLargeScreens {
    width: 30px;
    height: 30px;
  }

  &--bakery {
    background-image: url("../images/logo/baker_default.svg");
  }

  &--menu {
    height: 8px;
    padding: 10px;
    background-image: url("../images/logo/menu_black.svg");

    @include onFullHD {
      height: 12px;
    }

    @include onFullHD {
      height: 15px;
    }

    &:hover {
      background-image: url("../images/logo/menu.svg");
    }

    @include onNotebook {
      display: none;
    }
  }

  &--cross {
    background-image: url("../images/logo/cross_black.svg");

    &:hover {
      background-image: url("../images/logo/cross.svg");
    }
  }

  &--phone {
    background-image: url("../images/logo/phone.svg");
  }

  &--arow {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-image: url("../images/logo/arrow.svg");
  }

  &--facebook {
    background-image: url("../images/logo/facebook_default.svg");
    transition: background-image 0.4s;

    &:hover {
      background-image: url("../images/logo/facebook_white.svg");
    }
  }

  &--instagram {
    background-image: url("../images/logo/instagram_default.svg");
    transition: background-image 0.4s;

    &:hover {
      background-image: url("../images/logo/instagram_white.svg");
    }
  }

  &--twitter {
    background-image: url("../images/logo/twitter_default.svg");
    transition: background-image 0.4s;

    &:hover {
      background-image: url("../images/logo/twitter_white.svg");
    }
  }
}
