@use '../utils/mixins' as *;

.image {
  &__header {
    justify-self: center;
  }

  &__main {
    width: 288px;
    height: 356px;
    border-radius: 8px;
    background-size: contain;

    @include for-tablet {
      width: 328px;
      height: 424px;
    }

    &:hover {
      transform: scale(1.07);
      transition: transform 0.4s ease;
    }
  }
}
