.info {
  display: flex;
  flex-direction: column;
  padding-left: 59px;
  padding-top: 141px;

  &__title {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 25px;
    @include primary-button;
  }

  @media (max-width: 1150px) {
    padding-left: 16px;
  }
}
