.info {
  display: flex;
  flex-direction: column;
  padding-left: 59px;
  padding-top: 141px;

  background: url(../images/decoration.jpg) no-repeat center;
  background-size: cover;

  &__title {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 25px;
    @include primary-button;
  }
}
