.links-block {
  margin-bottom: 45px;

  &__items {
    display: grid;
    row-gap: 16px;

    list-style: none;
  }

  &__link {
    color: $color-footer-text;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: -1%;
  }
}
