.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  width: max-content;

  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $c-black;
  transition: all 0.3s;

  &:hover {
    color: $c-darkRed;
    border-color: $c-darkRed;
  }

  &--phone {
    position: relative;
    color: $c-red;
    text-transform: uppercase;

    &::before {
      content: "";
      background-image: url(../images/icon/phone.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      margin-right: 7px;
      width: 18px;
      height: 18px;
    }

    &:hover::before {
      content: "";
      background-image: url(../images/icon/phone-icon_focus.svg);
    }
  }
}
