.link {
  color: $accentOrange;
  position: relative;
  display: flex;
  align-items: center;
  width: 154px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  &::before {
    content: "";
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons/phone.svg);
    height: 18px;
    width: 18px;
  }
  &--menu {
    width: 132px;
    position: relative;
    justify-content: space-between;
    &::before {
      margin-right: 0;
    }
  }
}
