.logo {
  width: 128px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include onFullHD {
    width: 192px;
    height: 36px;
  }

  @include onLargeScreens {
    width: 240px;
    height: 45px;
  }

  &--black {
    background-image: url("../images/logo/bakerlab.svg");
  }

  &--white {
    background-image: url("../images/logo/bakerlab_white.svg");
    margin-bottom: 44px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onFullHD {
      margin-bottom: 48px;
    }

    @include onFullHD {
      margin-bottom: 60px;
    }
  }
}
