@import "../utils/vars";
@import "../utils/mixins";
@import "../utils/extends";

.main {

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $desktopPadding;
  }

  @include desktop {
    &__wrapper {
      padding: 0 $desktopPadding;
    }
  }

  @include tablet {
    &__wrapper {
      margin-top: 248px;
    }
  }

  @include mobile {
    &__wrapper {
      margin-top: 124px;
      padding: 0 $mobilePadding;
    }
  }
}
