.main {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  justify-content: center;

  &__text {
    grid-column: 1/3;
    margin: 32px 0;
    text-align: center;
  }

  &__title {
    grid-column: 1/3;
    font-size: 64px;
    font-weight: 500;
  }
  &__img {
    grid-column: 1/3;
    margin: 0;
    background-image: url("../images/320/01Cookie.png");
    background-repeat: no-repeat;
    @include size (288px, 290px);
  }

  &__button {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;

    @include size (288px, 56px);

    border: 2px solid #f9512e;
    border-radius: 32px;

    font-size: 16px;
    line-height: 100%;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9512e;
  }

  &__img-link {
    @include size (20px, 20px);
    margin-right: 6px;
  }
}
