.main {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 288px;
  box-sizing: border-box;

  @include onTablet {
    max-width: 680px;
    padding: 0 40px;
  }

  @include onDesktop {
    max-width: 1192px;
  }

  @include onBigDesktop {
    max-width: 1272px;
  }
}
