.map-scale {
  display: flex;
  gap: 40px;

  @media (min-width: 900px) {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;

    font-size: 30px;
    line-height: 45px;

    border-radius: 50%;
    background-color: $c-milk;
  }
}
