.map {
  display: flex;
  width: 70vw;
  height: 47.9vw;

  background: url(../images/map.png) no-repeat;
  background-size: contain;

  &__numbers {
    width: 72.5%;
    height: 62%;
    margin-top: 5.6%;
    margin-left: 6.9%;

    background: url(../images/numbers.svg) no-repeat;
    background-size: contain;
  }
}
