.map {
  display: flex;
  width: 1021px;
  height: 688px;

  background: url(../images/map.png) no-repeat;
  background-size: contain;

  &__numbers {
    width: 740px;
    height: 431px;
    margin-top: 59px;
    margin-left: 68px;

    background: url(../images/numbers.svg) no-repeat;
    background-size: contain;
  }
}
