@use '../utils/mixins' as *;

.media {
  display: flex;
  gap: 32px;

  @include for-tablet {
    margin-top: 40px;
  }

  &__social-icon {
    height: 20px;
    &:hover,
    &:focus {
      transform: scale(1.25);
      transition: transform 0.4s ease;
      filter: brightness(0) invert(1);
    }
  }
}
