.menu {
  background-color: #eef7ff;

  &__link {
    display: flex;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #1c1a26;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 64px;
  }

  &__call {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f9512e;

    &::before {
      content: "";
      position: absolute;
      right: 105px;
      top: 2px;
      width: 18px;
      height: 18px;
      background-image: url(../images/Phone.svg);
      background-repeat: no-repeat;
    }
  }
}
