.metrics {
  display: block;

  &__value {
    display: block;
    font-size: 96px;
    line-height: 82px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    /* Accent Orange */
    color: #F9512E;

    margin-bottom: 8px;
  }

  &__name {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    /* Black */
    color: #1C1A26;
  }
}
