.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  grid-column: span 2;

  &__logo {
    width: 128px;
    height: 24px;
  }

  &__close {
    width: 13px;
    height: 13px;
  }
}
