.nav {
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 64px;

    &:last-child {
      margin-right: 0;
    }

    &--contact-us {
      position: relative;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #1c1a26;

    &--contact-us {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      padding-left: 25px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #f9512e;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 100%;
        left: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/icons/phone.svg);
      }
    }
  }
}
