@use '../utils/mixins' as *;

.navigation-menu {
  display: none;
  height: 32px;
  top: 28px;
  gap: 64px;

  & &__contact {
    display: flex;
    align-items: center;
    gap: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #f9512e;
  }

  @include for-desktop {
    display: flex;
    align-items: center;
  }
}
