.navigation-close {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon {
    width: 12.73;
    height: 12.73;
    top: 5.64px;
    left: 5.64px;
  }
}
