.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  &__logo {
    width: 128px;
    height: 24px;
  }

  &__burger {
    width: 20px;
    height: 8px;
  }
}
