.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;

  &__box {
    display: flex;
    gap: 64px;
  }

  &__link {
    color: $c-link;

    &--btn {
      color: $c-orange;
    }

    &:hover {
      color: $c-orange;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }

  &__menu {
    display: none;
  }
}


@media (max-width: 1023px) {
  .navbar {
    &__box {
      display: none;
    }

    &__menu {
      display: flex;
    }
  }
}
