.nav-header {
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 64px;
  }
}

.nav-menu {
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    @extend %nav--link;

    span {
      width: 24px;
      height: 24px;

      background-image: url("../images/icons/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 4px;

    color: $clr--orange-accent;
    font-family: $font--main;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }
}
