.navigation-footer {
  margin-top: 40px;

  grid-column: span 2;

  &__label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $c-grey;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 16px;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $c-footer-font;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
  }
}
