.nav-footer {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    padding-top: 16px;

    color: $clr--white;

    @include hover(transform, scale(1.1));
  }
}
