.number {

  &__number {
    font-weight: 400;
    font-size: 96px;
    line-height: 82px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $c-black;

    margin-bottom: 8px;
  }

  &__about {
    color: $c-grey;
  }
}
