.page {
  font-family: Inter, sans-serif;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: $colorBlack;
  scroll-behavior: smooth;

  &__body {
    background-color: #ffeefc;
    min-width: 320px;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    background-color: #ffeefc;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.4s;

    &:target {
      transform: translateX(0);
    }
  }

  &__catalog {
    margin: 0 auto;
    width: fit-content;
  }
  
  &__about {
    width: fit-content;
    margin: 0 auto;
    font-size: 24px;
  }
}
