.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: $mainColor;
  margin-bottom: 32px;

  @include onTablet {
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
  }
}

