.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $mainColor;
  margin-bottom: 56px;

  @include onTablet {
    display: grid;
  }

  &__cont {
    margin-bottom: 0;
  }
}
