.product {

  &__title {
    font-weight: 400;
    font-size: 48px;
    color: $col_AccentOrange;

    margin-bottom: 24px;

    @include onTablet {
      font-size: 50px;
    }
    @include onDesktop {
      font-size: 64px;
    }
    @include onDesktopXL {
      font-size: 72px;
    }
  }

  &__text {
    margin-bottom: 56px;
    @include onTablet {
      margin-bottom: 80px;
    }
    @include onDesktop {
      margin-bottom: 80px;
    }
    @include onDesktopXL {
      margin-bottom: 80px;
    }
  }

  &__card {
    margin-bottom: 64px;
    @include onTablet {
      margin-bottom: 88px;
    }
    @include onTablet {
      margin-bottom: 88px;
    }
    @include onTablet {
      margin-bottom: 88px;
    }
  }

  &__image {
    margin-bottom: 16px;

    width: 100%;
    border-radius: 8px;

    box-shadow: 8px 5px 5px $col_Gray;

    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    margin-bottom: 8px;
    color: $col_Gray;
  }

  &__about {
    margin-bottom: 24px;
  }

  &__order {
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $col_AccentOrange;
    text-decoration: none;

    transition: color 0.5s;

    &::before {
      content: url(/images/icons/arrow.svg);
      margin-right: 8px;
    }

    &:hover {
      color: $col_DarkOrange;
    }
  }
}

