.promo {

  &__content {
    padding: 0 $desktop-paddingX;
    @include limit-content-width;

    @include for-tablet {
      padding: 0 $tablet-paddingX;
    }

    @include for-mobile {
      padding: $desktop-paddingX;
    }
  }

  &__title {
    @include text-h2;
    color: $accent-orange;
    margin-bottom: 24px;
  }

  &__subtitle {
    @include body-text;
    margin-bottom: 80px;
  }

  &__row {
    margin-bottom: 80px;

    @include for-mobile {
      margin-bottom: 0;
      justify-items: center;
    }
  }

  &__card {
    position: relative;

    @include for-mobile {
      justify-content: center;
    }
  }
}
