.product {
  cursor: pointer;

  display: flex;
  grid-column: span 2;
  flex-direction: column;
  gap: 16px;

  @include respond-to(tablet) {
    grid-column: span 4;
  }

  @include respond-to(desktop) {
    grid-column: span 3;
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: $transition-time ease;
    &-wrapper {
      overflow: hidden;
      display: inline-block;
      max-height: 560px;
      border-radius: 12px;
    }
  }

  &:hover {
    .product__image {
      transform: scale(1.05);
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__name {
    font-weight: 500;
    color: #7f8096;
    text-transform: uppercase;
    letter-spacing: 2%;
  }

  &__subtitle {
    margin: 0;
    font-weight: 300;
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    width: fit-content;

    color: #f9512e;
    text-decoration: none;
    text-transform: uppercase;

    transition: $transition-time;

    &::before {
      content: '';

      display: inline-block;

      width: 24px;
      height: 24px;
      margin-right: 4px;

      background-image: url('../images/icons/Icon-arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;

      transition: $transition-time ease;
    }

    &::after {
      content: '';

      position: absolute;
      top: 100%;
      left: 28px;

      width: 0;
      height: 1px;

      background-color: #f9512e;

      transition: width $transition-time;
    }
    &:hover {
      color: #1c1a26;
    }

    &:hover::before {
      transform: translateX(20%);
    }

    &:hover::after {
      width: calc(100% - 28px);
    }
  }
}

@include respond-to(desktop) {
  .product--a {
    grid-column: 1 / span 3;
  }

  .product--b {
    grid-column: 4 / span 3;
  }

  .product--c {
    grid-column: 3 / span 3;
  }

  .product--d {
    grid-column: 6 / span 3;
  }
  .product--e {
    grid-column: 1 / span 3;
  }
  .product--f {
    grid-column: 4 / span 3;
  }
}
