.products {
  display: flex;
  flex-direction: column;
  gap: 56px;

  max-width: 1200px;
  margin: 0 auto;

  &__list {
    @include grid-container;

    gap: 56px;

    @include respond-to(desktop) {
      row-gap: 80px;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    margin: 0;

    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    text-transform: uppercase;
    letter-spacing: -5%;
  }

  &__text {
    font-weight: 300;
  }
}
