.products {

  &__text {
    padding: 24px 0 56px;

    @include onTablet {
      padding-bottom: 80px;
    }
  }

  &__layout {
    @include pageGrid;
    row-gap: 56px;

    @include onTablet {
      row-gap: 80px;
    }
  }
}
