.product {
  @include grid;

  &__article {
    grid-column: span 4;
  }

  &__photo {
    width: 288px;
    height: 356px;
    border-radius: 8px;

    margin-top: 56px;

    @include tablet {
      width: 328px;
      height: 424px;

      margin-top: 80px;
    }
  }

  &__paragraph {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $c-dark-font;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;

    margin-top: 24px;

    @include tablet {
      grid-column: span 8;
    }

    &--color {
      font-weight: 500;
      color: $c-grey;
      line-height: 16px;
      letter-spacing: 0.02em;

      margin-top: 16px;
    }

    &--distance {
      margin-top: 8px;
    }
  }

  &__item {
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 16px;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $c-orange;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
  }
}
