.roundabout {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1150px) {
    width: 90vw;
  }

  &__left-arrow {
    width: 15px;
    height: 26px;
    background: url(../images/vector-light-horizontal.svg) center no-repeat;
    background-size: contain;
    opacity: 0.5;
  }

  &__photo {
    width: 45vw;

    @media (max-width: 1150px) {
      width: 75vw;
    }
  }

  &__right-arrow {
    width: 15px;
    height: 26px;
    background: url(../images/vector-heavy-horizontal.svg) center no-repeat;
    background-size: contain;
  }
}
