.search-menu {
  display: flex;
  align-items: center;
  gap: 32px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  &__city {
    width: 173px;
    height: 31px;
    @include switch-item-params;
    border-bottom: 1px solid $c-chocolate;
    opacity: 0.5;

    @media (max-width: 1024px) {
      width: 288px;
    }
  }

  &__adress {
    width: 323px;
    height: 31px;
    @include switch-item-params;
    border-bottom: 1px solid $c-chocolate;
    opacity: 0.5;

    @media (max-width: 1024px) {
      width: 288px;
    }
  }

  &__button {
    @include primary-button;
  }
}
