@use '../utils/mixins' as *;

.section-about-us {
  @include grid;

  gap: 20px;
  justify-content: center;
  padding-bottom: 80px;
  position: relative;

  &__title {
    grid-column: 1/-1;
  }

  &__text {
    grid-column: 1/-1;
  }

  &__numbers {
    grid-column: 1/ -1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 30px;
  }

  &__image {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
  }
}
