.section {

  &__wrapper {
    padding-top: 64px;

    &--about-us {
      padding-top: 72px;
      position: relative;

      @include onTablet {
        padding-top: 152px;
      }

      @include onDesctop {
        padding-top: 178px;
      }
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -5%;

    color: $accent-color;
    text-transform: uppercase;

    @include onTablet {
      font-size: 56px;
      line-height: 47.6px;
    }

    @include onDesctop {
      font-size: 72px;
      line-height: 61.2px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1%;

    padding-top: 24px;
  }

  &__header {

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesctop {
      grid-column: 1 / -1;
    }

    @include onLargeDesctop {
      grid-column: 1 / -1;
    }
  }
}
