.section-title {
  font-family: "Cookie", sans-serif;
  font-weight: normal;
  font-size: 120px;
  line-height: 133px;
  text-align: center;
  color: $light-brown;

  @media (max-width: 600px) {
    font-size: 60px;
    line-height: 67px;
  }
}
