@use '../utils/mixins' as *;

.section-about-us {
  @include grid;

  gap: 20px;
  justify-content: center;
  padding-bottom: 80px;
  position: relative;

  &__title {
    grid-column: 1/-1;

    @include for-tablet {
      grid-column: 1/5;
    }
  }

  &__text {
    grid-column: 1/-1;

    @include for-tablet {
      grid-column: 5/ -1;
    }
  }

  &__numbers {
    grid-column: 1/ -1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 30px;

    @include for-tablet {
      padding-top: 80px;
    }

    &--year {
      @include for-tablet {
        grid-column: 1/5;
      }
    }

    &--stories {
      @include for-tablet {
        grid-column: 5/-1;
      }
    }

    &--companies {
      @include for-tablet {
        grid-column: 1/5;
      }
    }

    &--clients {
      @include for-tablet {
        grid-column: 5/-1;
      }
    }
  }

  &__image {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
    z-index: -1;

    @include for-tablet {
      width: 526px;
      height: 493px;
      top: 40px;
    }
  }
}
