.section-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 0.85;
  color: $c-accent-orange;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-desktop {
    font-size: 72px;
  }

  &--white {
    color: $c-white;
  }
}
