.shop {
  position: absolute;
  display: flex;
  width: 82px;
  @include link;
 

  @media (max-width:767px) {
    transform: translate(-20px,-40px) scale(30%);
  }

  &--kharkiv {
    top: 30%;
    left: 78%;
  }
 
  &--poltava {
    top: 32%;
    left: 62%;
  }
 
  &--dnipro {
    top: 44%;
    left: 68%;
  }
 
  &--chernigiv {
    top: 12%;
    left: 51%;
  }
 
  &--kyiv {
    top: 25%;
    left: 44%;
  }
 
  &--kherson {
    top: 64%;
    left: 64%;
  }
 
  &--zhytomyr {
    top: 22%;
    left: 34%;
  }
 
  &--vinnytsya {
    top: 40%;
    left: 34%;
  }
 
  &--lutsk {
    top: 14%;
    left: 14%;
  }
 
  &--lviv {
    top: 27%;
    left: 8%;
  }

  &__logo {
    background-image: url(/images/table/logo.png);
    background-repeat: no-repeat;
    background-size: cover;

    &--kharkiv {
      width: 60px;
      height: 60px;
    }

    &--lviv {
      width: 75px;
      height: 75px;
    }

    &--kyiv {
      width: 82px;
      height: 82px;
    }

    &--zhytomyr {
      width: 38px;
      height: 38px;
    }

    &--poltava,
    &--kherson {
      width: 30px;
      height: 30px;
    }

    &--lutsk,
    &--vinnytsya,
    &--chernigiv,
    &--dnipro {
      width: 50px;
      height: 50px;
    }

   
  }

  &__amount {
    color: white;
    transform: translate(-25%,-25%);
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
  }

  &--poltava &__amount,
  &--kherson &__amount {
    transform: translate(-50%,-50%);
  }
}
