.bakershops-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  margin-bottom: 71px;

  @media (max-width: 1150px) {
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 25px;
  }

  &__city {
    width: 12vw;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #412d22;
    opacity: 0.5;
    background-color: #f1cc9d;
    border: none;
    cursor: pointer;

    @media (max-width: 1150px) {
      width: 90vw;
    }
  }

  &__address {
    width: 23vw;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #412d22;
    opacity: 0.5;
    background-color: #f1cc9d;
    border: none;
    cursor: pointer;

    @media (max-width: 1150px) {
      width: 90vw;
    }
  }

  &__button {
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: #412d22;
    background-color: #e39a3b;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
