.social-media {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;

  grid-column: span 1;

  @include tablet {
    grid-column: 1 / 3;

    margin-top: 48px;
  }

  @include desktop {
    grid-column: 1 / 2;
  }

  &__link {
    height: 24px;

    &--facebook {
      &::before {
        content: '';
        background-image: url(./../images/photo/Icon-facebook.svg);
        background-repeat: no-repeat;

        display: block;
        width: 24px;
        height: 24px;
      }

      &:hover::before {
        background-image: url(./../images/photo/Icon-facebook-white.svg);
      }
    }

    &--twitter {
      &::before {
        content: '';
        background-image: url(./../images/photo/Icon-twitter.svg);
        background-repeat: no-repeat;

        display: block;
        width: 24px;
        height: 24px;
      }

      &:hover::before {
        background-image: url(./../images/photo/Icon-twitter-white.svg);
      }
    }

    &--instagram {
      &::before {
        content: '';
        background-image: url(./../images/photo/Icon-instagram.svg);
        background-repeat: no-repeat;

        display: block;
        width: 24px;
        height: 24px;
      }

      &:hover::before {
        background-image: url(./../images/photo/Icon-instagram-white.svg);
      }
    }
  }
}
