.stuff {
  display: flex;
  gap: 80px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    cursor: pointer;
    @include hover(transform, scale(1.05));
  }

  &__number {
    margin: 12px 0 7px;
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
  }

  &__foundation {
    @include stuff-pictures;
    background: url(../images/foundation.png) no-repeat;
  }

  &__companies {
    @include stuff-pictures;
    background: url(../images/companies.png) no-repeat;
  }

  &__workers {
    @include stuff-pictures;
    background: url(../images/workers.png) no-repeat;
  }

  &__treats {
    @include stuff-pictures;
    background: url(../images/treats.png) no-repeat;
  }

  &__clients {
    @include stuff-pictures;
    background: url(../images/clients.png) no-repeat;
  }
}
