.text {
  &__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
    padding-top: 32px;
  }

  &__main {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: start;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__product {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;
  }

  &__about-us {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;

    &--numbers {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -1%;
      color: #7f8096;
    }
  }
}
