.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 85%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $colorBigText;

  @include onTablet {
    font-size: 80px;
    line-height: 85%;
    transform: translateY(-90%);
    position: absolute;
    z-index: 1;
  }
  @include onDesktop {
    font-size: 136px;
    line-height: 85%;
    width: 100%;
  }
}
