.top-bar {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    padding: 28px 32px;
  }

  &__nav {
    display: none;

    @include on-desktop {
      display: flex;
      flex-direction: row;
      gap: 64px;
      align-items: center;
    }
  }

  &__nav-list {
    @include on-desktop {
      display: flex;
      gap: 64px;
    }
  }

  &__logo {
    @include hover(transform, scale(1.2));
  }

  &__img {
    width: 136px;
    height: 32px;
  }

  &__menu-icon {
    width: 24px;
    height: 24px;

    @include on-desktop {
      display: none;
    }
  }
}
