.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-inline: 20px 18px;

  @include on-desktop {
    height: 88px;
  }

  &__logo {
    width: 128px;
  }

  &--full {
    display: none;

    @include on-desktop {
      display: flex;
    }
  }

  &--light {
    display: flex;

    @include on-desktop {
      display: none;
    }
  }
}
