.top-action {
  margin: 0 auto;
  padding: 20px 20px 0;

  @include onDesktop {
    padding-top: 32px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 130px;
    height: 25px;
    background-image: url(../images/Logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__burger {
    width: 20px;
    height: 8px;
    background-image: url(../images/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include onDesktop {
      display: none;
    }
  }

  &__cross {
    width: 24px;
    height: 24px;
    background-image: url(../images/cross.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
