.what-we-bake {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(8, 128px);
  }

  &__title {
    margin-top: 110px;
    grid-column: 1/3;

    @media (min-width: 768px) {
      grid-column: 1/6;
    }
  }

  &__text {
    grid-column: 1/3;

    @media (min-width: 768px) {
      grid-column: 1/9;
    }
  }

  &__card {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 80px;
    }

  }
}
