.words {
  background-image: url(../images/Crumbs.png);
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    grid-column: span 4;
  }

  &__subtitle {
    grid-column: span 4;
    letter-spacing: -0.01em;
  }

  &__case {
    padding-top: 144px;
    padding-bottom: 293px;
  }

  &__wrapper {
    grid-column: span 2;
  }

  &__number {
    padding-bottom: 8px;
  }

  &__text {
    color: $c-grey;
  }
}


@media (max-width: 1024px) {
  .words {
    &__title {
      font-size: 56px;
      line-height: 48px;
    }

    &__case {
      padding-top: 72px;
      padding-bottom: 152px;
    }

    &__wrapper {
      grid-column: span 4;
      &--bottom {
        padding-bottom: 80px;
      }
    }
  }
}

@media (max-width: 744px) {
  .words {
    &__title {
      grid-column: 1/-1;
      padding-bottom: 32px;
    }

    &__subtitle {
      grid-column: 1/-1;
    }
  }
}

@media (max-width: 640px) {
  .words {
    &__title {
      font-size: 48px;
    }

    &__case {
      padding-bottom: 72px;
    }

    &__wrapper {
      grid-column: 1/-1;
      padding-bottom: 48px;
      &--bottom {
        padding-bottom: 48px;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

