.wrapper {
  margin: 0 auto;
  width: calc(100% - 32px);

  @include onTablet {
    width: calc(100% - 88px);
  }

  @include onDesktop {
    width: calc(100% - 88px);
  }

  @include onScreen {
    max-width: 1192px;
  }
}
