.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 24px;
}

@media (max-width: 320px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}
