.about-us__advances-items {
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 150px;
  }

  @include onDesktop {
    margin-bottom: 350px;
  }

  &__numbers {
    @include big__text;
    color: $accent__orange;
    margin-bottom: 8px;
  }

  &__text {
    @include body__text;
    color: $black;
  }
}
