@import '../utils/mixins';

.about {
  @include page-grid;

  position: relative;
  z-index: 0;
  grid-auto-rows: auto;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 0;
    inset: 0;

    display: block;

    background-image: url('../images/background_crumbs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include on-tablet {
      display: block;
      background-position: center;
      background-size: 526px auto;
    }

    @include on-desktop {
      background-position: center;
      background-size: 718px auto;
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &__highlight {
    position: relative;

    @include on-tablet {
      display: contents;
      &::before {
        display: none;
      }
    }

    &::before {
      pointer-events: none;
      content: '';

      position: absolute;
      z-index: 0;
      inset: 0;

      background-image: url('../images/background_crumbs.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &__tittle {
    grid-column: 1 / -1;

    margin-bottom: 32px;

    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    line-height: 85%;
    color: #f9512e;
    text-transform: uppercase;
    letter-spacing: -0.05em;

    @include on-tablet {
      grid-column: span 4;
      grid-row: 1;

      font-family: Inter, sans-serif;
      font-size: 56px;
      font-weight: normal;
      font-style: normal;
      line-height: 85%;
      text-transform: uppercase;
      letter-spacing: -0.05em;
    }

    @include on-desktop {
      grid-column: 1 / 5;
      grid-row: 1;

      font-family: Inter, sans-serif;
      font-size: 72px;
      font-weight: normal;
      font-style: normal;
      line-height: 85%;
      text-transform: uppercase;
      letter-spacing: -0.05em;
    }
  }

  &__product {
    grid-column: 1 / -1;

    margin-bottom: 67px;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1%;

    @include on-tablet {
      grid-column: span 4;
      grid-row: 1;
    }

    @include on-desktop {
      grid-column: 5 / 9;
      grid-row: 1;
    }
  }

  &__container {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;

      &.container--first {
        grid-column: 1 / span 3;
        grid-row: 3;
      }

      &.container--second {
        grid-column: 5 / span 3;
        grid-row: 3;
      }

      &.container--third {
        grid-column: 1 / span 3;
        grid-row: 4;
      }

      &.container--fourth {
        grid-column: 5 / span 3;
        grid-row: 4;
      }
    }

    @include on-desktop {
      &.container--first {
        grid-column: 1 / span 2;
        grid-row: 3;
      }

      &.container--second {
        grid-column: 3 / span 2;
        grid-row: 3;
      }

      &.container--third {
        grid-column: 5 / span 2;
        grid-row: 3;
      }

      &.container--fourth {
        grid-column: 7 / span 2;
        grid-row: 3;
      }
    }
  }

  &__number {
    font-family: Inter, sans-serif;
    font-size: 96px;
    font-weight: normal;
    font-style: normal;
    line-height: 85%;
    color: #f9512e;
    text-transform: uppercase;
    letter-spacing: -5%;
  }

  &__categories {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1%;
  }
}
