.about {
  padding: 40px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1000px) {
    padding: 60px;
  }

  &__decription {
    color: #000;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    

    @media (min-width: 1000px) {
      width: 480px;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
  }
}
