.about-card {
  text-align: center;

  &__image {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;

    @media (max-width: 600px) {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-size: 60px;
    line-height: 71px;
    font-weight: 300;
  }

  &__text {
    @include default-font;
  }
}
