.about-us {

  background-image: url(../images/crumbs.png);
  background-position: center 75%;
  background-size: contain;
  background-repeat: no-repeat;

  &__general {
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__stat {
    margin-bottom: 8px;

    @extend %font-big-text;
    color: $c-accent-orange;
  }

  &__stat-description {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
