.aboutus {
  box-sizing: border-box;
  padding-bottom: 104px;

  @include onTablet {
    margin: 152px 24px 0;
  }

  @include onDesktop {
    margin: 340px 44px 0;
  }

  &__number-container {
    background-image: url(../images/crumbs.png);

    @include onDesktop {
      display: flex;
      gap: 100px;
    }
  }

  &__content {
    margin-top: 80px;
  }

  &__flex {
    @include onDesktop {
      display: flex;
      gap: 150px;
    }
  }

  &__title {
    @include titleText;
    margin: 36px 0 0;
    font-size: 96px;

  }

  &__subtitle {
    @include subText;
    margin: 8px 0 0;
  }

}
