.about-us {
  background-image: url(../images/backgroundСrumbs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include onTablet {
    padding-bottom: 30px;
  }

  @include onDesktop {
    padding-bottom: 200px;
  }
}
