.about-as {
  &__title {
    @extend %mobile-h2;
    color: #fff;
    padding-bottom: 40px;
    @include onTablet {
      padding-top: 88px;
      font-size: 56px;
    }
    @include onTablet {
      font-size: 72px;
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    justify-content: start;
    align-items: flex-start;

  }

  &__item {
    padding-bottom: 16px;

    &:first-child {
      @extend %body-text-uppercase;
      color: #7f8096;
    }
  }

  &__link {
    display: inline-block;

    border-bottom: 1px solid transparent;
    @extend %body-text;
    text-decoration: none;
    align-items: center;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      border-color: #fff;
      transform: scale(1.2);
    }
  }

  &__title-email {
    padding-top: 40px;
    @extend %body-text-uppercase;
    color: #7f8096;
    padding-bottom: 16px;
  }

  &__link-email {
    display: inline-block;

    border-bottom: 1px solid transparent;

    @extend %body-text;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      border-color: #fff;
      transform: scale(1.2);
    }
  }
}
