.card {
  text-align: center;

  &__img {
    border-radius: 50%;
    transition: 0.3s;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 7px;
  }
}
