.achivements {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onTablet {
      @include pageGrid;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 2;
    }
  }

  &__number {
    font-size: 96px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $c-black;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $c-dark-gray;
  }
}
