.achievement {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  column-gap: 26px;
  margin-bottom: 40px;

  justify-content: center;
  overflow: scroll;

  @include onDesktop {
    grid-template-columns: repeat(5, 200px);
    column-gap: 60px;
    margin-bottom: 140px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
  }

  &__image {
    width: 100%;
    margin-bottom: 20px;

    @include onDesktop {
      padding-bottom: 12px;
    }
  }

  &__number {
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    font-style: normal;
    margin-bottom: 7px;
  }

  &__title {
  }
}
