.action-link {
  position: relative;
  
  padding-left: 25px;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $color-orange;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
