.actions {
  display: flex;
  align-items: center;

  height: 65px;

  margin-bottom: 20px;

  &--place--footer {
    justify-content: space-between;

    @include onMobile {
      flex-direction: column;
      align-items: flex-start;

      height: max-content;
  
      margin-bottom: 48px;
    }
  }

  &--mobile {
    display: none;

    @include onMobile {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 60px;
    }

    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 140px;
    }
  }

  &__logo {
    &--place--footer {
      @include onMobile {
        margin-bottom: 56px;
      }
    }
  }

  &__logo-image {
    width: 112px;
    height: 57px;

    &--mobile {
      @include onMobile {
        width: 84px;
        height: 42px;
      }
    }
  }

  &__nav {
    display: flex;

    @include onMobile {
      display: block;
    }
  }

  &__link {
    display: block;

    text-decoration: none;
    color: inherit;

    margin-right: 32px;

    @include onMobile {
      display: block;

      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 56px;
      }
    }

    transition: color $transition-duration;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $c-brown;
    }
  }

  &__media {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    @include onMobile {
      width: 100%;
    }
  }

  &__icon {
    display: block;

    width: 31px;
    height: 31px;

    transition: all $transition-duration;

    &--media--twitter {
      background-image: url("../images/twitter.svg");

      &:hover {
        background-image: url("../images/twitter_hover.svg");
      }
    }

    &--media--facebook {
      background-image: url("../images/facebook.svg");

      &:hover {
        background-image: url("../images/facebook_hover.svg");
      }
    }

    &--media--linkedin {
      background-image: url("../images/linkedin.svg");

      &:hover {
        background-image: url("../images/linkedin_hover.svg");
      }
    }
  }
}
