.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-image {
    width: 112px;
    height: 57px;
  }

  &__link {
    margin-right: 34px;
    text-decoration: none;
    color: inherit;

    transition: color $transition-duration;

    &:last-child {
      margin-right: 0;
    }
  
    &:hover {
      color: $c-brown;
    }
  }

  &__extra {
    @extend %flex-center;
  }

  &__social-media {
    @extend %flex-center;
    gap: 20px;
  }

  &__icon {
    &--twitter {
      display: block;

      width: 31px;
      height: 31px;
      background-image: url("../images/twitter.svg");

      transition: all $transition-duration;

      &:hover {
        background-image: url("../images/twitter_hover.svg");
      }
    }

    &--facebook {
      display: block;

      width: 31px;
      height: 31px;
      background-image: url("../images/facebook.svg");

      transition: all $transition-duration;

      &:hover {
        background-image: url("../images/facebook_hover.svg");
      }
    }

    &--linkedin {
      display: block;

      width: 31px;
      height: 31px;
      background-image: url("../images/linkedin.svg");

      transition: all $transition-duration;

      &:hover {
        background-image: url("../images/linkedin_hover.svg");
      }
    }
  }
}