.add-info {
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $main-text-color;
    display: block;
    height: 58px;
    border: 2px solid $main-text-color;
    border-radius: 32px;
    line-height: 58px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 8px;
      margin-bottom: 3px;
      background-image: url(../images/icons/Icon-cookie.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      background-color: $main-text-color;
      color: $color-white;

      &::before {
        background-image: url(../images/icons/Icon-cookie-hover.svg);
      }
    }

    &:focus {
      background-color: $color-dark-orange;
    }
  }
}
