@keyframes translate-y {
  from {
    transform: translateY(-100%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.translate-y {
  visibility: visible;
  animation: translate-y 1.5s ease-in-out;
}

@keyframes translate-x {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate-x {
  visibility: visible;
  animation: translate-x 3s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: translate(0, -100%) rotate(0deg);

    scale: 1.2;
    opacity: 1;
    z-index: 2;
  }
  25% {
    z-index: 1;
  }
  50% {
    transform: translate(0, 37%) rotate(240deg);
    scale: 0.65;
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
    scale: 1;
    z-index: -1;
  }
}

.rotate {
  animation: rotate 3s;
}
