@keyframes squeezeLeft {
  0% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes squeezeRight {
  0% {
    transform: translateX(200%);
  }

  90% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bonce {
  0% {
    transform: translateY(-600px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    top: -40%;
  }

  100% {
    top: -60%;
  }
}
