.arc {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $desktop-width;
  padding: $mobile-padding-page;

  height: 100%;
  width: 100%;

  @include onTablet {
    padding: $tablet-padding-page;
  }

  @include onBigTablet {
    padding: $big-tablet-padding-page;
  }

  @include onDesktop {
    padding: $desktop-padding-page;
    box-sizing: content-box;
  }
}
