.arrival {
  @include onMobile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/crumbs--mobile.png);
  }

  &__item {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__number {
    @extend %number-style;
    transition: color 0.3s;

    display: block;

    margin-bottom: 8px;
  }

  &__description {
    @extend %main-text-style;
  }
}
