.arrow-up,
.arrow-down {
  position: absolute;
  cursor: pointer;
}

.arrow-up {
  top: 11px;
  right: 7.9%;
}

.arrow-down {
  right: 9.5%;
  bottom: -5%;
  transform: rotate(90deg);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 43.6%;
  opacity: 0.5;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-left {
  transform: rotate(-90deg);
  left: -10%;
}

.arrow-right {
  right: -10%;
  top: 45%;
}
