.arrow {
  padding-right: 25px;
  cursor: pointer;
  transition: transform 0.3s;
  
  @include onTablet {
    padding-right: 0;
  }

  &--up {
    margin-bottom: 9px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &--down {
    margin-top: 40px;

    &:hover {
      transform: translateY(5px);
    }
  }

  &--right {
    margin-left: 10px;

    &:hover {
      transform: translateX(5px);
    }
  }

  &--left {
    margin-left: -10px;

    &:hover {
      transform: translateX(-5px);
    }
  }
}
