.arrow-up,
.arrow-down {
  position: absolute;
  cursor: pointer;
}

.arrow-up {
  top: 11px;
  right: 7.9%;
}

.arrow-down {
  right: 9.5%;
  bottom: -5%;
  transform: rotate(90deg);
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 43.6%;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
  @media (max-width: 1024px) {
    width: 26px;
    height: 18px;
  }
}

.arrow-left {
  transform: rotate(-90deg);
  left: -10%;
  @media (max-width: 1024px) {
    top: 38.6%;
    left: -16%;
    width: 18px;
    height: 26px;
  }
}

.arrow-right {
  right: -10%;
  top: 45%;
  @media (max-width: 1024px) {
    right: -16%;
  }
}
