.arrow-up,
.arrow-down {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.arrow-up {
  top: 0;
}

.arrow-down {
  bottom: 0;
  transform: rotate(90deg);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-left {
  transform: rotate(-90deg);
  left: -5%;
}

.arrow-right {
  right: -5%;
}
