.arrow {
  cursor: pointer;
  padding: 10px 20px;
  transition: transform 0.3s;
  &--up:hover {
    transform: translateY(-5px);
  }

  &--down:hover {
    transform: translateY(5px);
  }

  &:hover path {
    transition: 0.3s;
    fill: $colorCream;
  }
}
