.article {
  @include onDesktop() {
    &--shift-x {
      grid-column: 3 / span 3;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;

    margin-block: 16px 8px;
  }

  &__text {
    line-height: 150%;
    letter-spacing: -0.16px;

    margin-bottom: 16px;
  }
}
