.article {
  &__title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 400;
    color: $colorCroissant;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
    background-color: $colorCream;
    border-radius: 50%;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__image {
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
  }
}
