.menu {
  background-color: $bg-pink;
  height: max-content;
  overflow: hidden;
  box-sizing: border-box;

  &__container {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    color: $black-color;
    height: 100vh;
  }

  &__bottom {
    padding-top: 132px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }
}

.nav {
  &__list--aside {
    display: flex;
    padding: 0;
    margin: 0;
    row-gap: 24px;
    flex-direction: column;
  }

  &__link {
    line-height: 24px;
  }
}
