.assortment {
  &__photo {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    border-radius: 8px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colorGrey;
  }

  &__paragraph {
    margin-bottom: 24px;
    @extend %paragraph;
  }

  &__order {
    display: flex;
    @extend %orange-upper;
    gap: 8px;
    margin-bottom: 64px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      color: $colorDarkOrange;
    }

    @media (min-width: 640px) {
      margin-bottom: 88px;
    }
  }
}
