.assortment {
  &__photo {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colorGrey;
  }

  &__paragraph {
    margin-bottom: 24px;
    @extend %paragraph;
  }

  &__ordering {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 64px;

    @media (min-width: 640px) {
      margin-bottom: 88px;
    }
  }

  &__order {
    margin-left: 8px;
    @extend %orange-upper;
  }
}
