.background-wrapper {
  height: 100vh;
  overflow: hidden;

  @include onDesktop {
    width: 70%;
  }
  &__background-container {
    display: flex;
    flex-direction: column;
    height: 300vh;
    transition: all 1s;

    &--image {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100vh;
    }
  }
}
