.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  @include onDesktop {
    width: 70%;
  }
  &__background-container {
    height: 100%;
    transition: all 1s;

    &--image {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
