.bakery-cards {
  &__products {
    @include page-grid;

    row-gap: 56px;

    @include on-tablet {
      row-gap: 80px;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }
  }
}
