.bakery {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;

  padding: 30px $main-side-padding;
  @media (max-width: $break-point-mobile) {
    padding: 30px $mobile-side-padding;
  }

  &__title {
    @extend %title;
  }

  &__product {
    margin-bottom: 135px;

    @media (max-width: $break-point-tablet) {
      margin-bottom: 40px;
    }
  }

  &__button {
    @extend %button;
    margin: 0 auto 80px;

  }
}
