.bakershop {
  background-color: $Cream;

  &__title {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 30px;
  }

  &__form {
    margin: 0 0 30px;

    @include onDesktop {
      margin: 0 auto 67px;
    }
  }

  &__scale {
    margin: 23px auto 0;
  }
}
