.bakes {
  &__title {
    font-size: 48px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-color;

    @include onTablets {
      font-size: 56px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 72px;
      line-height: 61px;
    }
  }

  &__text {
    margin: 24px 0 56px;

    letter-spacing: -0.01em;
    color: $main-color;

    @include onTablets {
      margin-bottom: 80px;
    }
  }
}
