.bakeryshops {
  width: 100%;
  background-color: $cream-color;
  text-align: center;
  padding: 40px 0 80px;

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 60px 30px;
  }

  &__ukraine-map {
    border: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}
