.bakeryshops {
  width: 100%;
  height: 100vh;
  background-color: $cream-color;
  text-align: center;
  padding: 40px 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 800px) {
    padding: 40px 60px;
  }

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 60px 30px;
  }

  &__ukraine-map {
    background-image: url(../images/map-ukraine.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
