.bake {
  padding-top: 104px;

  @include onTablet {
    padding-top: 228px;
  }

  &__title {
    padding-bottom: 24px;

    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;

    @include onTablet {
      padding-bottom: 24px;

      font-size: 56px;
    }

    @include onPlazma {
      font-size: 72px;
    }

    @include onPlazma {
      font-size: 72px;
    }
  }

  &__paragraph {
    padding-bottom: 56px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1c1a26;

    @include onTablet {
      padding-bottom: 80px;
    }
  }
}
