.bakery-product {
  width: 340px;
  padding-left: 20px;
  padding-right: 20px;
  
  &__title {
    color: $l-brown;
    padding-bottom: 43px;
  }

  &__subtitle {
    padding-bottom: 12px;
  }
  
  &__text {
    padding-bottom: 32px;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;

    @extend %label;
    width: 110px;
    height: 110px;
    background-color: $cream;
    border-radius: 60px;
  }
}
