.bake {
  &__title {
    color: $c-accent-orange;

    margin-bottom: 24px;
  }

  &__info {
    color: $c-black;

    margin-bottom: 54px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__line:not(:last-child) {
    margin-bottom: 88px;
  }

  &__product {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
