.bakershop {
  background-color: $colorCream;
  padding: 40px 16px;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    font-family: $Cookie;
    color: $colorCroissant;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &-select {
      display: block;
      background-color: $colorCream;
      border: none;
      width: 288px;
      font-size: 16px;
      line-height: 150%;
      color: $colorChocolate;
      opacity: 0.5;
      border-bottom: 1px solid $colorChocolate;
    }
  }

  &__button {
    width: 160px;
    height: 45px;
    margin-bottom: 35px;

    &-zoom--plus {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 150%;
      color: $colorChocolate;
    }

    &-zoom--minus {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 150%;
      color: $colorChocolate;
    }
  }

  &__mapa {
    width: 100%;
    margin-bottom: 20px;
  }
}
