.bakershops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $cream-color;

  &__title {
    @extend %h2;
  }

  &__button {
    margin: 0 auto;
  }

    
}