.bakershops {
  background-color: $color-cream;
  padding: 40px 0 55px;

  &__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 92px;
  }

  &__form {
    display: grid;
    grid-template-columns: 170px 320px 1fr;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 70px;
  }

  &__field {
    height: 30px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-chocolate;
    opacity: 50%;

    &::placeholder {
      font-size: 16px;
      line-height: 150%;
      color: $color-chocolate;
    }
  }

  &__field-wrapper {
    position: relative;

    &::before {
      content: "/";
      display: block;
      width: 15px;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      z-index: 1;
      color: transparent;
      background-image: url(../images/shevrone-down.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &__map {
    max-width: 1000px;
  }

  &__img {
    width: 100%;
  }
}
