.bakery-slider {
  display: flex;
  align-items: center;
  
  &__prev {
    height: 24px;
    width: 15px;
    background-image: url("../images/bakery-product/prev.png");
    background-repeat: no-repeat;
    background-size: contain;

    transition: background-image, 400ms;
    
    &:hover {
      background-image: url("../images/bakery-product/prev-active.png");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  
  &__next {
    height: 24px;
    width: 15px;
    background-image: url("../images/bakery-product/next.png");
    background-repeat: no-repeat;
    background-size: contain;

    transition: background-image, 400ms;

    &:hover {
      background-image: url("../images/bakery-product/next-active.png");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  
  &__image {
    max-width: 700px;
    padding-left: 30px;
    padding-right: 30px;

  }

  &__img {
    width: 100%;
  }
}
