.bakery {
  padding: 40px 16px;

  &__title {
    @include title($title-fsz-mobile, $title-mb-mobile);
    text-align: center;
  }

  &__item {
    padding-bottom: 40px;
  }

  &__all-bakeries-link {
    @include button-small;
    margin: auto;
  }
}
