.baking {

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 56px;

    @extend %body-text;

  }

  &__card {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 56px;
    }

  }

}
