.benefits {
  @extend %flex-center;
  flex-direction: column;

  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    object-position: center;
    object-fit: cover;

    margin: 0 0 12px;

    @include onMobile {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    @extend %h2--benefits;
    color: $c-dark;

    margin: 0 0 8px;
  }

  &__paragraph {
    color: $c-dark;
  }
}