.block {
  position: relative;
  text-align: center;

  @include onTablet {
    &____container {
      position: absolute;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #f9512e;

    @include onTablet {
      font-size: 80px;
    }

    @include onDesktop {
      font-size: 136px;
    }

  }

  &__cookie {
    display: block;

    width: 288px;
    margin: auto;
  }
}
