.blog-social {
  display: grid;
  row-gap: $row-gap-blog;

  @include on-tablet-size {
    grid-template-columns: repeat(2, 1fr);
    column-gap: $column-gap-desktop-tablet;
  }

  &__networks {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    display: block;
    width: $width-icon;
    height: $height-icon;

    &--facebook {
      background-image: url(../images/Icons/Icon-facebook.svg);
    }

    &--instagram {
      background-image: url(../images/Icons/Icon-instagram.svg);
    }

    &--twitter {
      background-image: url(../images/Icons/Icon-twitter.svg);
    }

    @include hover(filter, brightness(100));
  }

 }

