.blog-contacts {
  display: grid;
  row-gap: $row-gap-blog;

  @include on-desktop-md-size {
    grid-template-rows: 61px 1fr;
  }

  &__title {
    width: 50%;
    color: $white;

    @include on-desktop-md-size {
      width: 100%;
    }
  }

  &__email {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-name {
      color:$grey;
    }

    &-link {
      text-decoration: none;
      color: $white;
    }
  }

  &__info {
    display: grid;
    row-gap: $row-gap-blog;

    @include on-desktop-md-size {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $column-gap-desktop-tablet;
    }
  }

}
