@include on-desktop {
  .main {
    display: grid;
    grid-template-columns: repeat(8, 128px);
    gap: 0 24px;
    justify-content: center;
  }

  .section1 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 128px);
    gap: 0 24px;
    margin-bottom: 180px;

    &__header {
      grid-column: span 8;
      color: $header-text-color;
      font-size: 72px;
      line-height: 85%;
      font-weight: 400;
      letter-spacing: -3.6px;
      text-transform: uppercase;
      margin: 0 0 24px;
    }

    &__text {
      grid-column: span 8;
      margin: 0;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__cover {
      grid-column: span 8;
      display: grid;
      grid-template-columns: repeat(8, 128px);
      gap: 0 24px;

      &--container {
        margin-top: 80px;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(6, 128px);
        gap: 0 24px;

        &--box {
          grid-column: span 3;
          display: flex;
          gap: 16px;
          flex-direction: column;
          border-radius: 8px;
          transition: all $transition-duration;
          padding-bottom: 5px;

          &--name {
            color: $gray-color;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin: 0;
          }

          &--description {
            margin: 0;
            line-height: 150%;
            letter-spacing: -0.16px;
          }

          &--link {
            display: flex;
            gap: 4px;
            margin: 0;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            color: $orange-color;
            border-radius: 3px;
            transition: all $transition-duration;
            border-bottom: 3px solid $background-color;
            width: 86px;

            &--text {
              margin: 0 0 5px;
              display: inline-block;
            }
          }

          &--link:hover {
            border-bottom: 3px solid $orange-color;
          }
        }

        &--box:hover {
          transform: scale(1.04);
          box-shadow: 12px 15px 8px 2px $gray-color;
        }
      }

      &--container:nth-child(2) {
        grid-column: 3 / span 6;
      }
    }
  }

  .section2 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 128px);
    gap: 146px 24px;
    background-image: url(../images/main-background.png);
    background-position: center;
    background-size: 718px 673px;
    height: 673px;
    margin-bottom: 56px;

    &__header {
      margin: 0;
      grid-column: span 4;
      color: $header-text-color;
      font-size: 72px;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -3.6px;
      text-transform: uppercase;
    }

    &__text {
      margin: 0;
      grid-column: span 4;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__info {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--header {
        color: $orange-color;
        margin: 0;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 85%;
        letter-spacing: -4.8px;
        text-transform: uppercase;
      }

      &--text {
        margin: 0;
        line-height: 150%;
        letter-spacing: -0.16px;
      }
    }
  }
}

@include on-desktop-small {
  .main {
    display: grid;
    grid-template-columns: repeat(8, 96px);
    gap: 0 24px;
    justify-content: center;
  }

  .section1 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 96px);
    gap: 0 24px;
    margin-bottom: 180px;

    &__header {
      grid-column: span 8;
      color: $header-text-color;
      font-size: 72px;
      line-height: 85%;
      font-weight: 400;
      letter-spacing: -3.6px;
      text-transform: uppercase;
      margin: 0 0 24px;
    }

    &__text {
      grid-column: span 8;
      margin: 0;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__cover {
      grid-column: span 8;
      display: grid;
      grid-template-columns: repeat(8, 96px);
      gap: 0 24px;

      &--container {
        margin-top: 80px;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(6, 96px);
        gap: 0 24px;

        &--box {
          grid-column: span 3;
          display: flex;
          gap: 16px;
          flex-direction: column;
          border-radius: 8px;
          transition: all $transition-duration;
          padding-bottom: 5px;

          &--name {
            color: $gray-color;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin: 0;
          }

          &--description {
            margin: 0;
            line-height: 150%;
            letter-spacing: -0.16px;
          }

          &--link {
            display: flex;
            gap: 4px;
            margin: 0;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            color: $orange-color;
            border-radius: 3px;
            transition: all $transition-duration;
            border-bottom: 3px solid $background-color;
            width: 86px;

            &--text {
              margin: 0 0 5px;
              display: inline-block;
            }
          }

          &--link:hover {
            border-bottom: 3px solid $orange-color;
          }
        }

        &--box:hover {
          transform: scale(1.04);
          box-shadow: 12px 15px 8px 2px $gray-color;
        }
      }

      &--container:nth-child(2) {
        grid-column: 3 / span 6;
      }
    }
  }

  .section2 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 96px);
    gap: 146px 24px;
    background-image: url(../images/main-background.png);
    background-position: center;
    background-size: 718px 673px;
    height: 673px;
    margin-bottom: 56px;

    &__header {
      margin: 0;
      grid-column: span 4;
      color: $header-text-color;
      font-size: 72px;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -3.6px;
      text-transform: uppercase;
    }

    &__text {
      margin: 0;
      grid-column: span 4;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__info {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--header {
        color: $orange-color;
        margin: 0;
        font-size: 96px;
        font-weight: 400;
        line-height: 85%;
        letter-spacing: -4.8px;
        text-transform: uppercase;
      }

      &--text {
        margin: 0;
        line-height: 150%;
        letter-spacing: -0.16px;
      }
    }
  }
}

@include on-tablet {
  .main {
    display: grid;
    grid-template-columns: repeat(8, 48px);
    gap: 0 24px;
    justify-content: center;
  }

  .section1 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 48px);
    gap: 0 24px;
    margin-bottom: 180px;

    &__header {
      grid-column: span 8;
      color: $header-text-color;
      font-size: 72px;
      line-height: 85%;
      font-weight: 400;
      letter-spacing: -3.6px;
      text-transform: uppercase;
      margin: 0 0 24px;
    }

    &__text {
      grid-column: span 8;
      margin: 0;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__cover {
      grid-column: span 8;
      display: grid;
      grid-template-columns: repeat(8, 48px);
      gap: 0 24px;

      &--container {
        margin-top: 80px;
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, 48px);
        gap: 0 24px;

        &--box {
          grid-column: span 4;
          display: flex;
          gap: 16px;
          flex-direction: column;
          border-radius: 8px;
          transition: all $transition-duration;
          padding-bottom: 5px;

          &--name {
            color: $gray-color;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin: 0;
          }

          &--description {
            margin: 0;
            line-height: 150%;
            letter-spacing: -0.16px;
          }

          &--link {
            display: flex;
            gap: 4px;
            margin: 0;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            color: $orange-color;
            border-radius: 3px;
            transition: all $transition-duration;
            border-bottom: 3px solid $background-color;
            width: 86px;

            &--text {
              margin: 0 0 5px;
              display: inline-block;
            }
          }

          &--link:hover {
            border-bottom: 3px solid $orange-color;
          }
        }

        &--box:hover {
          transform: scale(1.04);
          box-shadow: 12px 15px 8px 2px $gray-color;
        }
      }
    }
  }

  .section2 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 48px);
    gap: 146px 24px;
    background-image: url(../images/main-background.png);
    background-position: center;
    background-size: 526px 493px;
    background-repeat: no-repeat;
    margin-bottom: 56px;

    &__header {
      margin: 0;
      grid-column: span 4;
      color: $header-text-color;
      font-size: 56px;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -3.6px;
      text-transform: uppercase;
    }

    &__text {
      margin: 0;
      grid-column: span 4;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__info {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--header {
        color: $orange-color;
        margin: 0;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 85%;
        letter-spacing: -4.8px;
        text-transform: uppercase;
      }

      &--text {
        margin: 0;
        line-height: 150%;
        letter-spacing: -0.16px;
      }
    }
  }
}

@include on-phone {
  .main {
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0 24px;
    margin-bottom: 180px;

    &__header {
      width: 100%;
      color: $header-text-color;
      font-size: 48px;
      line-height: 85%;
      font-weight: 400;
      letter-spacing: -3.6px;
      text-transform: uppercase;
      margin: 0 0 24px;
    }

    &__text {
      width: 100%;
      margin: 0;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__cover {
      width: 100%;
      display: flex;
      flex-direction: column;

      &--container {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 56px;

        &--box {
          display: flex;
          gap: 16px;
          flex-direction: column;
          border-radius: 8px;
          transition: all $transition-duration;
          padding-bottom: 5px;

          &--name {
            color: $gray-color;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin: 0;
          }

          &--pic {
            width: 100%;
          }

          &--description {
            margin: 0;
            line-height: 150%;
            letter-spacing: -0.16px;
          }

          &--link {
            display: flex;
            gap: 4px;
            margin: 0;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            color: $orange-color;
            border-radius: 3px;
            transition: all $transition-duration;
            border-bottom: 3px solid $background-color;
            width: 86px;

            &--text {
              margin: 0 0 5px;
              display: inline-block;
            }
          }

          &--link:hover {
            border-bottom: 3px solid $orange-color;
          }
        }

        &--box:hover {
          transform: scale(1.04);
          box-shadow: 12px 15px 8px 2px $gray-color;
        }
      }
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    background-image: url(../images/main-background.png);
    background-position: center;
    background-size: 320px 300px;
    background-repeat: no-repeat;
    margin-bottom: 72px;

    &__header {
      margin: 0;
      color: $header-text-color;
      font-size: 48px;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -3.6px;
      text-transform: uppercase;
    }

    &__text {
      margin: 35px 0 30px;
      line-height: 150%;
      letter-spacing: -0.16px;
    }

    &__info {
      margin: 48px 0 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--header {
        color: $orange-color;
        margin: 0;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 85%;
        letter-spacing: -4.8px;
        text-transform: uppercase;
      }

      &--text {
        margin: 0;
        line-height: 150%;
        letter-spacing: -0.16px;
      }
    }
  }
}
