.bottom-slider {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include notebook {
    display: none;
  }

  &__button {
    display: block;

    &:first-child {
      margin-right: 20px;
    }

  }

  &__number {
    margin-right: 25px;

    &--last {
      margin-right: 20px;
    }

    @include tablet {
      font-size: 24px;
    }

    &--active {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 12px;
      align-self: flex-start;

      @include tablet {
        font-size: 60px;
        margin-bottom: 20px;
      }
    }
  }
}
