.box {
  background: linear-gradient(to right bottom,#f24685,transparent,transparent);
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: grab;

  &__image {
    width: 100%;
    height: auto;
    transform-origin: top left;
    transition: all 0.5s ease;
  }

  &:hover .box__image {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0.7;
    transform: scale(0.95,0.9);
  }

  &__content {
    color: #fff;
    background-color: $c-orange;
    text-align: left;
    padding: 7px 18px;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    transition: all 0.8s ease;
  }

  &:hover .box__content {
    opacity: 1;
    bottom: 0;
  }

  &__title {
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }

  &__name {
    text-align: start;
  }

  &:hover .box__name {
    opacity: 0;
  }
}
