.brake {
  &__item {
    display: block;

    &--stop-on-tablet {
      @include onTablet {
        display: inline-block;
      }
    }

    &--stop-on-desktop {
      @include onDesktop {
        display: inline-block;
      }
    }
  }
}
