.btn {
  background: #e39a3b;
  border-radius: 40px;
  border: none;
  padding: 10px 38px;

  &__link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #412d22;
  }

  &--colum {
    display: block;
  }

  &--mt {
    margin: 37px auto 0;
  }

  &:hover {
    background: #fff;
    border: 2px solid #f1cc9d;
  }
}
