.burger-menu {
  @include flex-center-center();
  flex-direction: column;
  width: 20px;
  height: 20px;

  @include onDesktop {
    display: none;
  }

  &__line {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background-color: $main-color;

    transition: transform $transition-time ease-in-out;

    &:first-child {
      margin-bottom: 6px;
    }

    &--active:first-child {
      top: 2px;
      margin-bottom: 0;
      transform: rotate(405deg);
    }

    &--active:last-child {
      transform: rotate(-405deg);
    }
  }
}
