.header__btn {
  position: relative;
  width: 24px;
  height: 2px;
  background-color: black;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    width: 24px;
    height: 2px;
    background-color: black;
  }

  @include onDesctop {
    display: none;
  }
}

.burger__menue {
  display: none;
  transform: translateX(-100%);

  &-content {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    padding: 16px 0 0;
  }

  &-page {
    width: 136px;
  }

  &-logo {
    margin-bottom: 148px;
  }
}

.burger__list {
  text-align: center;
}

.burger__link {
  color: #1c1a26;
}

.burger__item {
  margin-bottom: 24px;

  &:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}

.link--color_orange {
  color: #f9512e;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.burger__menue--active {
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;

  background-color: #ffeefc;
  transform: translate(0);
}

.active {
  transform: rotate(360deg);
}

// .header__btn {

// }

// .header__btn::before {
//   transform: rotate(-60deg);
// }
// .header__btn::after {
//   content: "";
//   transform: rotate(60deg);
// }
