@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.burger {
  filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(6949%)
    hue-rotate(210deg) brightness(91%) contrast(87%);

  &__image {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1) translateX(0);
    }
  }
}
