.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  border: 2px solid $c-main;
  border-radius: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $c-main;

  @include onDesktop {
    @include hover(color, #fff, background-color, $c-main);
  }

  svg {
    transition: fill 0.4s;
    fill: $c-main;
  }

  &:hover,
  &:focus {
    svg {
      fill: #fff;
    }
  }

  &:focus {
    background-color: $c-main-focused;
    border-color: $c-main-focused;
  }
}
