.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  width: 160px;
  height: 45px;
  border: none;
  background-color: #e39a3b;
  border-radius: 40px;
  cursor: pointer;
  color: inherit;
  transition: background-color 1s;

  &:hover {
    background-color: #fff;
    border: 2px solid #e39a3b;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
