.button-big {
  @extend %button;
  padding-block: 14px;
  border: 2px solid currentColor;
  border-radius: 32px;

  &:hover {
    background-color: $color-main;
    color: $color-white;
  }

  &:hover::after {
    display: none;
  }

  &:focus {
    background-color: $color-focus;
    color: $color-white;
  }
}
