.button {
  display: flex;
  height: 50px;
  width: 84px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  @include transition;

  &__img {
    margin-right: 8px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colorOrange;
  }

  &:hover {
    scale: 1.2;
  }

  &:hover .button__img {
    fill: $colorGray;
  }

  &:hover .button__name {
    color: $colorGray;
  }
}
