.button-arrow {
  @extend %button;
  @extend %underline;

  width: fit-content;

  &::after {
    transform-origin: left;
  }

  &__svg {
    fill: currentColor;
  }

  &:hover &__svg {
    animation: arrow-move 0.7s;
  }
}
