.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;

  text-decoration: none;
  border: 2px solid $accent-orange;
  border-radius: 32px;

  @include uppercaseText;
  line-height: 169%;

  transition: all $transition-time;

  &::before {
    content: "";
    height: 20px;
    width: 20px;
    margin-right: 6px;

    background-image: url(../images/icons/icon-1-button.svg);
    background-repeat: no-repeat;

    transition: all $transition-time;
  }

  &:hover {
    background-color: $accent-orange;
    color: $white;

    &::before {
      background-image: url(../images/icons/icon-1-button-hover.svg);
    }
  }

  &:active {
    background-color: $dark-orange;
    border-color: $dark-orange;
    color: $white;
  }
}
