.button {
  &-primary {
    width: 160px;
    height: 40px;
    background-color: $l-brown;
    @extend %p;
    border-radius: 40px;
    outline: none;
    transition: background-color 400ms, color 400ms, border 100ms;

    &:hover {
      background-color: $milk;
      border: solid 2px $l-brown;
      cursor: pointer;
    }

    &:active {
      background-color: $l-brown;
    }

    &:disabled {
      color: $d-grey;
      background-color: $l-gray;
      border: none;
      cursor: not-allowed;
    }
  }

  &-secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;
    background-color: $cream;
    @extend %p;
    border-radius: 40px;
    outline: none;
    transition: background-color 400ms, color 400ms, border 0ms;

    &:hover {
      background-color: $milk;
      border: solid 2px $cream;
      cursor: pointer;
    }

    &:active {
      background-color: $cream;
    }

    &:disabled {
      color: $d-grey;
      background-color: $l-gray;
      border: none;
      cursor: not-allowed;
    }
  }
}
