.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $c-accent-text;
  border-radius: 32px;

  height: $s-h-button;

  @include strongText;
  color: $c-accent-text;

  &--cookie {
    @include prefixIcon("icon-cookie");
    @include prefixIconHover("icon-cookie");
  }
  
  @include hover {
    background-color: $c-accent-text;
    color: $c-bg;
  }

  &:focus {
    background-color: $c-accent-text-focus;
    color: $c-bg;
  }
}
