.button-second {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: center;

  &__img {
    padding-top: 5px;
    text-decoration: none;
  }

  &__icon {
    padding: 0 8px 0 4px;
    width: 16px;
    height: 16px;

    &--menu {
      @include mediaTablet {
        width: 20px;
        height: 20px;
      }

      @include mediaLaptop {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__link {
    width: max-content;

    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-main;

    transition: color 0.3s;

    &:hover {
      color: $color-pink;
    }
  }

  &--contact {
    justify-content: center;

    @include mediaTablet {
      font-size: 24px;
    }

    @include mediaTablet {
      font-size: 16px;
    }
  }
}
