.button-main {
  display: block;
  height: 45px;
  width: 160px;
  border-radius: 40px;
  border: 2px solid $croissant-color;
  background-color: $croissant-color;
  color: $chocolate-color;
  font-size: 16px;
  line-height: 41px;
  text-align: center;

  &:hover {
    background-color: $milk-color;
  }

  &:active {
    background-color: $croissant-color;
  }
}
