.buying-button {

  text-decoration: none;

  &__link {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 16px;
    padding: 4px 0;
    letter-spacing: 0.02em;
    color: #f9512e;
    transition: 0.3s;
  }

  &:hover .buying-button__link {
    color: #b2341a;
  }

  &:focus .buying-button__link {
    color: #b2341a;
  }

  &__arrow {
    background-image: url(../images/Icon-arrow.png);
    width: 24px;
    height: 24px;
    transition: 0.3s;
  }

  &:hover .buying-button__arrow {
    background-image: url(../images/arrow2.png);
  }

  &:focus .buying-button__arrow {
    background-image: url(../images/arrow2.png);
  }
}
