.callback {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__top {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
    margin-bottom: 120px;

    &-phone {
      width: 143px;
      transition: 0.3s;

      &:hover {
        color: $alter-color;
      }
    }

    &-button {
      @extend %alter-button;
    }

    &--lang {
      outline: none;
      border: none;
      background: transparent;
    }

    @include breakpoint($tablet-bp) {
      display: none;
  
      &--active {
        display: block;
        flex-direction: column;
      }
    }
  }

  @include breakpoint($notebook-bp) {
    width: 395px;
    padding: 34px 40px;
  }

  @include breakpoint($tablet-bp) {
    display: none;

    &--active {
      position: absolute;
      display: block;
      right: 0;
      width: 200px;
      padding: 34px 20px;

    }
  }
}

option {
  background-color: $main-color;
}
