.call-back {
  display: flex;
  align-items: center;
  gap: 30px;

  &__tel {
    display: inline-block;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__btn {
    @include btn(100px, 30px, $cream-color);
  }

  &__select {
    background-color: $primary-color;
    border: none;
    outline: none;
    appearance: none;
    & > :nth-child(n) {
      color: $primary-color;
    }
  }

  &__option:not(:first-child) {
    background-color: #fff;
  }
}

@media (min-width: 2400px) {
  .call-back {
    gap: 40px;
    &__item {
      font-size: 24px;
    }

    &__select {
      font-size: 24px;
    }
    &__btn {
      width: 200px;
    }
  }

}

@media (max-width: 1030px) {
  .call-back {
    display: none;
    width: 30vw;
    height: 30vh;
    padding: 0 0 30px 16px;
    transition: 0.3s;

    background: $primary-color;

    & > :not(:last-child) {
      margin-bottom: 15px;
    }

    &__tel {
      &:hover {
        transform: scale(1);
        color: #fff;
      }
    }

    & > :last-child {
      & > :hover {
        outline: 2px solid;
      }
    }
  }
}

@media (max-width: 550px) {
  .call-back {
    display: none;
    width: 30vw;
    height: 30vh;
    padding: 0 0 30px 8px;
    transition: 0.3s;

    background: $primary-color;

    & > :not(:last-child) {
      margin-bottom: 15px;
    }

    &__tel {
      &:hover {
        transform: scale(1);
        color: #fff;
      }
    }

    & > :last-child {
      & > :hover {
        outline: 2px solid;
      }
    }

    &__item {
      font-size: 10px;
    }

    &__select {
      font-size: 12px;
      padding-left: 2px;
    }
  }
}
