.call-back {
  display: flex;
  padding-top: 86px;
  &__item {
    margin-right: 35px;
  }
  &__item:last-child {
    margin-right: 70px;
  }
  &__button {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #f1cc9d;
  }
  &__select {
    background-color: #e39a3b;
    border: none;
    outline: none;
  }
}
