.call-back {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  width: 80%;
  height: 30vh;

  &__tel {
    display: inline-block;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__button {
    width: 100px;
    height: 30px;
    padding: 3px 13px;
    color: $c-dark-brown;
    border: 2px solid $c-orange-light;
    background: $c-orange-light;
    border-radius: 40px;
    cursor: pointer;

    &:hover {
      background-color: $c-white;
      border: 2px solid $c-orange-light;
    }
  }

  @media (min-width: 768px) {
    & {
      justify-content: space-between;
      width: 85%;
      top: 66px;
      right: 46px;
      gap: 0;
    }
  }
}
