.call {
  text-transform: uppercase;
  color: #f9512e;
  @include text(16px, 0.02em, 500);
  display: flex;
  justify-content: center;
  gap: 7px;

  transition: transform 0.5s;

  &:hover {
    @include scale();
  }
}
