.callback {
  display: flex;
  flex-direction: column;

  &__top {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
    margin-bottom: 120px;

    &-phone {
      width: 143px;
    }

    &-button {
      height: 30px;
      width: 100px;
      border-radius: 40px;
      outline: none;
      font-family: Rubik, sans-serif;
      border: 2px solid $alter-button-color;
      background-color: $alter-button-color;
      transition: background-color 0.3s;

      &:hover {
        background-color: #fff;
        transition: background-color 0.3s;
      }

      &:active {
        background-color: $alter-button-color;
        opacity: 0.8;
      }
    }

    &-lang {
      outline: none;
      border: none;
      background: transparent;

    }
  }
}

option {
  background-color: $main-color;
}
