.header {
  &__card {
    position: relative;

    @include onTablet {
      margin: 95px 44px 100px;
    }

    @include onDesktop {
      @include grid;
      grid-column: 1 / - 1;

    }
  }

  &__foto {
    margin: 0 auto;
    width: 288px;
    height: 290px;
    @include onTablet {
      width: 326px;
      height: 328px;
    }
    @include onDesktop {
      grid-column: 3 / 6;
      width: 544px;
      height: 546px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include onTablet {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px 1px;
    @include onDesktop {
      display: block;
      margin: 1px 1px 1px 100px;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -3.2px;
    text-transform: uppercase;
    color: $accent-orange;

    @include onTablet {
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;

      font-size: 69px;
      letter-spacing: -4px;
    }

    @include onDesktop {
      grid-column: 1 / -1;
      font-size: 115px;
      font-style: normal;
      font-weight: 400;
      line-height: 85%; /* 115.6px */
      letter-spacing: -6.8px;
    }
  }

  &__text {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;

    @include onTablet {
      margin: 0;
      margin-bottom: 4px;
    }

    @include onDesktop {
      grid-column: 1 / 3;
      margin-top: 190px;

    }
  }
}

.header__button {
  margin: 0 auto;

  @include onDesktop {
    grid-column: 1 / 3;
    margin-top: -160px;
  }
}
