.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  grid-column: span 2;

  @include onTablet {
    grid-column: span 4;
  }

  @include onDesktop {
    grid-column: span 3;
  }

  &--style {
    @include onDesktop {
      grid-column: 3 / 6;
    }
  }

  &__photo {
    @include hover(transform, scale(1.05));
    width: 100%;
    border-radius: 8px;
  }

  &__subtitle {
    margin-bottom: 8px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    color: $buttons;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    width: 84px;

    &::before {
      content: "";
      margin-right: 8px;
      background-image: url("../images/icons/icon-arrow.svg");
      width: 24px;
      height: 24px;
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $buttons;

      transition: transform $effectDuration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }

    &:active {
      color: $button-focused;

      &::before {
        background-image: url("../images/icons/arrow-hover.svg");
      }

      &::after {
        background-color: $button-focused;
      }
    }
  }
}
