.card {
  margin-bottom: 64px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.card__another {
  grid-column-start: 5;
  grid-column-end: -1;
}

.card__desktop-1 {
  @media (min-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.card__desktop-2 {
  @media (min-width: 1200px) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}

.card__desktop-3 {
  @media (min-width: 1200px) {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

.card__desktop-4 {
  @media (min-width: 1200px) {
    grid-column-start: 6;
    grid-column-end: -1;
  }
}

.card__desktop-5 {
  @media (min-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.card__desktop-6 {
  @media (min-width: 1200px) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}

.card__photo {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #7f8096;
  margin-bottom: 8px;
}

.card__description {
  margin-bottom: 24px;
}
