.card-list {

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onLap {

      & {
        margin-right: 27px;
      }
      &:first-child {
        margin-left: 30%;
      }
    }
  }
}
