.card {
  width: 200px;
  padding-bottom: 30px;

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__indicator {
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    color: $chokolate;
  }

  &__text {
    line-height: 150%;
    text-align: center;
    color: $chokolate;
  }
}
