.catalog {
  &__main-content {
    padding: 20px 0 60px 0;

    @include mini-tablet {
      padding: 20px 0 120px 0;
    }

    @include desktop {
      padding: 20px 0 166px 0;
    }
  }
  &__title {
    padding: 0 0 24px 0;
  }

  &__subtitle {
    padding: 0 0 56px 0;

    @include mini-tablet {
      padding: 0 0 80px 0;
    }
  }

  &__product-card:not(:last-child) {
    margin: 0 0 64px 0;
  }

  &__product-card {
    @include mini-tablet {
      margin: 0 0 88px 0;
    }
  }
}
