.color {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &--blue {
    background: $c-pastel-blue;
  }

  &--orange {
    background: $c-pink-orange;
  }

  &:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(0.97);
  }

  &:active {
    transform: scale(0.88);
    filter: brightness(0.9);
  }
}
