.connect {

  .connect__map {
    width: 99%;
  }

  &__info {
    margin-bottom: 5px;
    background-color: #e39a3b;
  }

  &__heading {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
}
