.connect {

  &__place {
    display: flex;
    flex-direction: column;
    min-width: 430px;
    padding-left: 60px;
    margin-left: 50px;
  }

  &__map {
    width: 99%;
  }

  &__info {
    margin-bottom: 5px;
    background-color: $Croissant;
  }

  &__heading {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
}
