.connection {

  &__titel {
    margin-bottom: 26px;
  }

  &__bakery {
    display: flex;
    height: 100%;
  }
}

@media (max-width: 1200px) {

  .connection__bakery {
    flex-direction: column;
  }
}
