.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  gap: 9px;

  @include onDesktop {
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;

    @include onDesktop {
      text-align: start;
    }
  }
}
