@import "../utils/mixins.scss";

.container {
  margin: 0 auto;
  height: fit-content;
  padding: 0 16px;
  position: relative;

  @include onTablet() {
    padding: 0 44px;
  }

  @include onDesktop() {
    padding: 0 44px;
  }

  @include onBiggerDesktop() {
    padding: 0 124px;
  }

  &--nav {
    padding: 0 16px;

    @include onDesktop {
      padding: 0 32px;
    }
  
    @include onBiggerDesktop {
      padding: 0 32px;
    }
  }
}
