.content {
  margin-top: 64px;
  margin-bottom: 72px;

  @include content-padding-inline;

  @include on-tablet {
    @include content-padding-inline;

    margin-bottom: 152px;
  }

  @include on-desktop {
    margin-top: 152px;
    margin-bottom: 349px;
  }
}
