.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 16px;

  @include OnLaptop {
    max-width: 640px;
    padding: 0 44px;
  }
  
  @include OnDesctop {
    max-width: 1170px;
    padding: 0 44px;
  }

  @include OnDesign {
    max-width: 1200px;
    padding: 0 60px;
  }
}
