.container-start {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1192px;
  background-image: url("../images/Cookie.png");
  background-repeat: no-repeat;
  background-position: center 40%;
  padding-bottom: 218px;

  &__p {
    width: 280px;
    height: 48px;
    margin-top: 144px;
  }

  &__h1 {
    font-weight: $font-medium;
    font-size: $font-X;
    line-height: 85%;

    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $colorOrange;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-big;
    font-size: $font-small;
    line-height: 100%;
    text-decoration: none;
    border: 2px solid $colorOrange;
    line-height: 50px;
    text-align: center;
    border-radius: 32px;
    transition: color $transition-time,
      background-color $transition-time,
      fill $transition-time;

    width: 280px;
    height: 56px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $colorOrange;

    &-cook {
      margin-right: 10px;
    }

    &:focus {
      background: #B3341A;
      border-color: #B3341A;
      color: $colorWhite;
      svg path {
        fill: $colorWhite;
      }
    }

    &:hover {
      background: #F9512E;
      color: $colorWhite;
      svg path {
        fill: $colorWhite;
      }
    }
  }

  &__cook {
    display: none;
    width: 584px;
    height: 586px;
    margin: 0 auto;
  }
}
