.contact-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $largeTextColor;

  &__image {
    margin-right: 7px;
  }
}
