.contact {
  &__us {
    position: relative;
    margin-left: 0;
    width: max-content;
    text-decoration: none;
    color: $blueText;

    @include onNotebook {
      position: absolute;
      top: 0;
    }

    &:hover {
      color: $pinkText;
      text-transform: uppercase;

      @include onNotebook {
        position: absolute;
        top: 0;
      }

      &::before {
        content: url(../images/phone.png);
        position: absolute;
        top: 0;
        left: -30px;
      }
    }
  }
}
