.contact {
  grid-column: 4 / span 4;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  padding-bottom: 88px;

  &__title {
    font-size: 72px;
    color: $menu-item-color;
    text-transform: uppercase;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__call {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;

    &--name {
      color: $product-title-color;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--phone {
      color: $menu-item-color;
      font-size: 16px;
      font-weight: 400;
      list-style: none;
    }
  }

  &__email {
    display: flex;
    width: 280px;
    flex-direction: column;
    gap: 16px;

    &--name {
      color: $product-title-color;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
    }

    &--content {
      color: $menu-item-color;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.content {
  grid-column: 4 / span 1;
  color: $product-title-color;
  font-size: 16px;
  font-weight: 400;
  padding-top: 88px;
}
