.contact-us {
  &__links {
    margin-top: 40px;

    @include onDesktop {
      margin-top: 48px;
    }

    @include onIpad {
      margin-top: 48px;
    }
  }

  &__link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 32px;
    transition: all 0.3s;

    &--facebook {
      background-image: url(../images/facebook.svg);

      &:hover,
      &:focus {
        background-image: url(../images/white/facebook-white.svg);
      }
    }

    &--instagram {
      background-image: url(../images/instagram.svg);

      &:hover,
      &:focus {
        background-image: url(../images/white/instagram-white.svg);
      }
    }

    &--twitter {
      background-image: url(../images/twitter.svg);

      &:hover,
      &:focus {
        background-image: url(../images/white/twitter-white.svg);
      }
    }
  }

  &--copyright {
    color: $grey;
    margin-top: 40px;

    @include onDesktop {
      margin-top: 48px;
    }

    @include onIpad {
      margin-top: 48px;
    }
  }
}
