.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;

  &__title {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
