.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $croissant-color;
  padding: 40px 25px;

  &__title {
    font-family: "Cookie", serif;
    font-size: 60px;
    line-height: 67px;
    font-weight: normal;
    color: $milk-color;

    @include onDesktop {
      font-size: 120px;
      line-height: 133px;
    }
  }

  &__paragraph {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: $chocolate-color;
    margin-top: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }

  &__list-item {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $chocolate-color;
  }

  &__list-title {
    display: block;
    margin-top: 9px;

    &:first-child {
      margin-top: 20px;
    }
  }

  &__list-link {
    display: block;
    font-weight: normal;
    color: $chocolate-color;
    transition: color 0.3s;

    &:hover {
      color: $milk-color;
    }
  }

  &__list-icon {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
