.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1280px;

  @include onTablet {
    padding: 0 44px;
  }

  &--nav {
    padding: 0 16px;
    max-width: 100%;

    @include onTablet {
      padding: 0 20px;
    }

    @include onDesktop {
      padding: 0 32px;
    }
  }

  &--menu {
    height: calc(100vh - #{$headerPadding * 2} - #{$logoHeight}) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
