.contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }

  &__wrapper-information {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onDesktop() {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include onDesktop() {
      flex: 1;
    }
  }

  &__email {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include onDesktop() {
      flex: 1;
    }
  }
}
