.contact-us {

  &__sections {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__tittle {
    margin-bottom: 40px;
    color: $c-white;
  }

  &__call {
    margin-bottom: 40px;
  }

  &__subtittle {
    margin-bottom: 16px;
    color: $c-gray;
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
