.main {
  background-color: $color-blue-light;
  max-width: 288px;
  margin: 0 auto;

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $color-orange;
    margin: 100px 0 24px;
  }

  @include onTablet {
    max-width: 680px;
    margin: 0 auto;
    &__two {
      display: flex;
      gap: 24px;
    }

    &__card {
      max-width: 328px;
    }

    &__title {
      font-size: 56px;
      line-height: 85%;
    }
  }

  @include onDesktop {
    max-width: 1112px;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 72px;
      line-height: 85%;
      letter-spacing: -0.05em;
    }

    &__card {
      max-width: 402px;
    }

    &__two--desktop {
      justify-content: end;
    }
  }

  @include bigDesktop {
    &__card {
      max-width: 432px;
    }
    padding: 124px;
  }
}
