.cookies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;

  &__row-left {
    align-self: flex-start;
    flex-direction: column;
    flex-basis: 25%;

    
    @include breakpoint($notebook-bp) {
      flex-basis: 40%;
    }
  }

  &__left-arrow,
  &__rigth-arrow {
    height: 15px;
    width: 26px;
    padding-right: 45px;
    background-image: url(/images/up.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  &__rigth-arrow {
    background-image: url(/images/down.png);
  }

  &__subtitle h4 {
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $alter-color;
    font-weight: 700;
  }

  &__sweets-img {
    max-width: 100%;
  }
}
