.cookies {
  width: 290px;
  height: 355px;
  border-radius: 8px;
  transition: all 0.3s;

  @include on-tablet {
    width: 330px;
    height: 425px;
  }

  @include on-mid-dekstop {
    width: 402px;
    height: 512px;
  }

  @include on-xl-dekstop {
    width: 430px;
    height: 560px;
  }

  &__name {
    color: $color-grey;
    @include upperCase;
  }

  &:hover {
    scale: 1.05;
  }
}
