.cookie {
  &__image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    @include onTablet {
      padding-bottom: 80px;
    }

    @include onDesktop {
      padding-bottom: 0;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    @include onTablet {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 326px;
      height: 328px;
    }
  }
}
