.cookie {
  cursor: default;
  &__image-container {
    position: relative;

    @include onTablet {
      z-index: -1;
    }

    @include onDesktop {
      z-index: -1;
    }

    @include onPlazma {
      z-index: -1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    @include onTablet {
      position: absolute;
      margin: 0 auto;
      width: 326px;
      height: 328px;
      left: 50%;
      top: 10%;
      transform: translate(-50%,-120%);
    }

    @include onDesktop {
      position: absolute;
      margin: 0 auto;
      width: 544px;
      height: 546px;
      left: 50%;
      top: 10%;
      transform: translate(-50%,-70%);
    }

    @include onPlazma {
      position: absolute;
      margin: 0 auto;
      width: 544px;
      height: 586px;
      left: 50%;
      top: 10%;
      transform: translate(-50%,-70%);
    }
  }
}
