.counter {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;

  @include onDesktop {
    flex-direction: column;
  }

  &__item {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: $Croissant;

    @include onDesktop {
      color: $Cream;
    }

    &--active {
      font-size: 40px;
      line-height: 48px;
      color: $Chocolate;

      @include onDesktop {
        font-size: 176px;
        line-height: 210px;
      }
    }
  }
}
