.countainer {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 44px;
  }

  &__creative-bakery {
    height: $bakeryHeight;
    padding: 0 0 40vh;

    @media(min-width: 380px) {
      padding: 10vh 0 25vh;
    }

    @include onDesktop {
      padding: 15vh 0;
    }
  }
}
