.count {
  &__number-23 {

    @include onTablet {
      grid-template-rows: 1;
    }
  }

  &__number-155 {

    @include onSmallScreen {
      grid-template-rows: 1;
    }
  }

  &__number-10k {

    @include onTablet {
      grid-template-rows: 2;
    }

    @include onSmallScreen {
      grid-template-rows: 1;
    }
  }

  &__img {
    margin: 48px 0 8px;
  }
}
