.counter {

  &:not(:last-child) {
    margin-bottom: 48px;
  }

  &__year {
    margin-bottom: 8px;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &__text {
    color: $color-grey;
  }
}
