.cover {
  &__epigraph {
    margin-bottom: 32px;
    text-align: center;

    @include onTablet {
      text-align: left;
      margin-bottom: 146px;
    }

    @include onDesktop {
      text-align: left;
      margin-bottom: 8px;
    }

    @include onBigDesktop {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 85%;

    font-weight: 400;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include onTablet {
      font-size: 80px;
      margin-bottom: 210px;
    }

    @include onDesktop {
      font-size: 134px;
      margin-bottom: 64px;
    }

    @include onBigDesktop {
      font-size: 144px;
    }
  }

  &__image {
    width: 100%;
    z-index: -1;

    @include onTablet {
      position: absolute;
      top: 207px;
      left: 50%;
      transform: translatex(-50%);

      width: 326px;
      height: 328px;
    }

    @include onDesktop {
      position: absolute;
      top: 62px;
      left: 50%;
      transform: translatex(-50%);

      width: 544px;
      height: 546px;
    }

    @include onBigDesktop {
      width: 584px;
      height: 586px;
      top: 86px;
    }
  }

  &__button {
    width: 100%;
    height: 56px;

    margin-bottom: 104px;

    @include onTablet {
      margin-bottom: 228px;
    }

    @include onDesktop {
      margin-bottom: 313px;
    }
  }
}
