.creative-bakery {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 100px;

  @include onDesktop {
    margin-bottom: 218px;
  }

  &__paragraph {
    margin-bottom: 32px;

    @include onDesktop {
      display: grid;
      text-align: left;
      align-items: end;
    }
  }

  &__cookie {
    width: 290px;
    object-fit: contain;

    @include onDesktop {
      width: 100%;
      z-index: -1;
      grid-row: 1 / 4;
    }
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    width: 100%;
    height: 56px;

    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorAccentOrange;

    border: 2px solid $colorAccentOrange;
    border-radius: 32px;
    background-color: $colorLightPink;

    transition: 0.3s;

    &:hover {
      background-color: $colorAccentOrange;
    }

    &:active {
      background-color: $colorDarkOrange;
      border-color: $colorDarkOrange;
    }

    @include onDesktop {
      margin-top: 64px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    height: 100%;

    &::before {
      content: "";

      margin-right: 6px;

      width: 20px;
      height: 20px;

      background-image: url(/images/cookies.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    &:hover {
      color: #fff;

      &::before {
        background-image: url(/images/white-cookie.svg);
      }
    }
  }
}
