.creative-bakery {

  @include onTablet {
    background-image: url(../images/logoCookie.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 584px;

    @include onDesktop {
      padding-top: 135px;

    }
  }

  &__tagline {
    margin-bottom: 32px;

    @extend %font-body-text;

    @include onTablet {
      width: 280px;
      align-self: flex-start;
      margin-bottom: 146px;

      text-align: start;
    }

    @include onDesktop {
      margin-bottom: 8px;
    }
  }

  &__logo-text {
    color: $c-accent-orange;

    @include onTablet {
      margin: 0 -50px;
      margin-bottom: 210px;
    }

    @include onDesktop {
      margin: 0 0 64px;
    }
  }

  &__cookie-image {
    display: block;
    height: 290px;

    @include onTablet {
      display: none;
    }
  }

  &__button {
    width: 100%;

    @include onTablet {
      width: 326px;
    }

    @include onDesktop {
      width: 260px;
      align-self: start;
    }
  }
}
