.crumbs {
  position: absolute;
  right: 0;
  left: 0;
  top: 5900px;
  z-index: -1;
  display: flex;

  @include onTablet {
    top: 3535px;
  }

  @include onDesktop {
    top: 3440px;
  }

  @include onBiggerDesktop {
    top: 3490px;
  }

  &__image {
    width: 320px;
    height: 300px;
    margin: 0 auto;

    @include onTablet {
      width: 526px;
      height: 493px;
    }

    @include onDesktop {
      width: 718px;
      height: 673px;
    }

    @include onBiggerDesktop {
      width: 718px;
      height: 673px;
    }
  }
}
