.data {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 11%;

  & > :first-child {
    margin-bottom: 9px;
  }

  & > :nth-child(2) {
    width: 187px;
    font-family: "Rubik", sans-serif;
    font-size: 176px;
    font-weight: 400;
    line-height: 209px;
    color: $darkbrown;
  }

  & > :nth-child(4) {
    margin-bottom: 41px;
  }

  &__vectors {
    width: 49px;
    height: 15px;
  }

  &__items {
    width: 49px;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    color: #f1cc9d;
  }
}
