.dates {
  &__days {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__num {
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
    color: #e39a3b;

    &:first-child {
      font-size: 40px;
      line-height: 47px;
      color: #412d22;
    }
  }
}
