.description {
  margin: 32px  auto;
  width: 290px;

  @include onTablet {
    margin: 80px 0;
    // align-content: flex-start;
    align-self: start;
    text-align: left;
  }

  @include onDesktop {
    width: 260px;
    margin: 135px 0 8px;
  }

  @include bigDesktop {
    width: 280px;
    margin: 144px 0 40px;
  }
}
