.description {
  @include pageGrid;
  row-gap: 32px;

  &__title {
    grid-column: span 2;

    font-size: 48px;
    line-height: 85%;
    /* or 41px */
    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $c-black;

    @include onTablet {
      font-size: 56px;
      grid-column: span 4;
    }

    @include onDesktop {
      font-size: 72px;
    }
  }

  &__paragraph {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 4;
    }

    line-height: 150%;
    /* or 24px */
    letter-spacing: -0.01em;
    color: $c-black;
  }
}
