.details {
  margin-bottom: 48px;
  grid-column-start: 1;
  grid-column-end: 4;

  @include onDesktop {
    grid-column-end: 3;
  }

  &__title {
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $c-orange;
  }

  &__second {
    grid-column-start: 5;
    grid-column-end: -1;

    @include onDesktop {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }

  &--second-line {
    @include onDesktop {
      grid-column-start: 5;
      grid-column-end: 7;
    }
  }

  &--last {
    @include onDesktop {
      grid-column-start: 7;
      grid-column-end: -1;
    }
  }
}
