.main {
  &__content {
    margin: 0 16px;
    margin-bottom: 72px;
  }

  &__title {
    color: #f9512e;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 56px;
  }

  // &__cards {

  // }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }

    &-page {
      margin-bottom: 16px;
      border-radius: 8px;
    }

    &-title {
      color: #7f8096;

      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.32px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &-text {
      color: #1c1a26;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      margin-bottom: 16px;
    }

    &-link {
      display: flex;
      align-items: center;
      width: 30%;

      color: #f9512e;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.32px;
      text-transform: uppercase;

      &-page {
        margin-right: 4px;
      }
    }
  }
}
