.dropdown {
  position: relative;
  display: inline-block;

  &__btn {
    background-color: #e39a3b;
    color: $darkbrown;
    width: 51px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
  }

  &__content {
    box-sizing: border-box;
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #fff;
    

    & a {
      color: #e39a3b;
      padding: 12px 15px;
      text-decoration: none;
      display: block;
    }
  }

  &:hover .dropdown__content {
    display: block;
    border: 1px solid #fff;
    border-radius: 0 0 6px 6px;
  }

  &:hover .dropdown__btn {
    background-color: #fff;
  }
}
