@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;

  &__add {
    @include body-text;

    color: $white;
    text-decoration: none;
    padding-top: 16px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03) translateX(15px);
    }
  }
}
