.email {
  // padding-bottom: 42px;
  &__title {
    @extend %body-text-uppercase;
    color: #7f8096;
    padding-bottom: 16px;
  }

  &__link {
    display: inline-block;

    border-bottom: 1px solid transparent;

    @extend %body-text;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      border-color: #fff;
      transform: scale(1.2);
    }
  }
}
