.extra {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  &__link {
    margin-bottom: 48px;
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    &--twiter {
      background-image: url(/images/tiwt-logo.svg);
    }

    &--instagram {
      background-image: url(/images/in-logo.svg);
    }

    &--facebook {
      background-image: url(/images/fec-logo.svg);
    }

    &:hover {
      transition: 500ms;
      transform: scale(1.2);
    }
  }
}
