.fact {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__photo {
    margin-bottom: 12px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__number {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    color: #412d22;
  }

  &__text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #412d22;
  }
}

@media (max-width: 700px) {
  .fact {
    width: 150px;

    &__photo {
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}
