.feedback-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 800px) {
    width: 378px;

  }

  &__name {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 20px;
    outline: none;
  }

  &__email {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 20px;
    outline: none;

  }

  &__phone {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 50px;
    outline: none;

  }

  &__message {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    padding-top: 50px;
    height: 80px;
    margin-bottom: 37px;
    resize: none;
    outline: none;

  }

  &__button {
    margin: auto;
  }
}
