.feedback-form {
  display: flex;
  flex-direction: column;
  width: 378px;

  &__name {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 20px;
  }

  &__email {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 20px;
  }

  &__phone {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    margin-bottom: 20px;
  }

  &__message {
    border: none;
    border-bottom: 1px solid $dark-brown-color;
    background-color: transparent;
    @extend %p;
    padding-top: 90px;
    margin-bottom: 37px;
    resize: none;
  }

  &__button {
    margin: auto;
  }
}
