.feedback {
  @include onDesktop {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      gap: 167px;
    }
  }

  &__information {
    width: 100%;

    @include onDesktop {
      margin: 135px 0;
      width: 378px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__image {
    display: block;
    box-sizing: border-box;
    width: 250px;
    height: 205px;
    margin: 50px auto;

    @include onDesktop {
      width: 509px;
      height: 417px;
      order: -1;
      margin: 135px 0;
    }
  }
}
