.feedback-info {

  @include onDesktop {
    margin: 135px 0;
    width: 380px;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;

    @include onDesktop {
      font-size: 26px;
      line-height: 39px;
    }
  }
}
