.few-words-about-us {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include onTable() {
      gap: 72px;
    }

    @include onDesktop() {
      gap: 146px;
    }
  }

  &__top {
    @include pageGrid();
    row-gap: 32px;
  }

  &__title {
    grid-column: span 2;

    @include onTable() {
      grid-column: span 4;
    }
  }

  &__text {
    grid-column: span 2;

    @include onTable() {
      grid-column: span 4;
    }
  }

  &__statistics-list {
    @include pageGrid();
    row-gap: 48px;
  }
}
