.few-words-about-us {
  box-sizing: border-box;
  padding-bottom: 72px;


  @include onDesktop {
    padding-bottom: 349px;
  }

  background-image: url(/images/Crumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--onTablet {
    @include onTablet {
      display: grid;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__number {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: $colorAccentOrange;
  }

  &__main-text {
    margin-bottom: 64px;
  }
}
