.few {
  margin-top: 80px;
  padding-bottom: 72px;

  background-image: url(../images/Crumbs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include Tablet {
    margin-top: 160px;
    padding-bottom: 152px;
  }

  @include Desktop1200 {
    margin-top: 186px;
    padding-bottom: 349px;
  }

  &__title {
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 1/-5;
    }

    &:hover {
      color: $accent-orange;
    }
  }

  &__text {
    margin-top: 32px;
    @include BodyText;
    color: $black;
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 5/-1;
      margin-top: 0;
    }

    &:hover {
      color: $accent-orange;
    }
  }
}
