.foo-block {
  &__title {
    color: $c-gray;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $c-white;
    @include hoverLink;
  }
}
