.footer__menu {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 5;
  }
}

.footer__logo {
  display: flex;
  width: 168px;
  height: 40px;
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
}

.footer__nav {
  grid-column: 1 / -1;
  color: $whiteTextColor;
  margin-top: 16px;

  @include onTablet {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
  }

  @include onDesktop {
    grid-row: 2 / 3;
  }
}

.footer__list {
  gap: 16px;
  align-items: start;
}

.footer__items {
  display: block;
  gap: 16px;
  text-align: left;
}