.footer-menu {
  &__title {
    @extend %text-uppercase;
    margin-bottom: 16px;
    color: $color-gray;
  }

  &__item {
    @extend %text-body;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 4px;
    }
  }

  &--call,
  &--email {
    margin-bottom: 40px;
  }
}
