.footer__social {
  grid-column: 1 / -1;
  margin-top: 40px;

  @include onTablet {
    @include pageGrid;
    grid-row: 4 / -1;
    margin-top: 48px;
  }

  &-icons {
    display: flex;
    gap: 32px;

    @include onTablet {
      grid-column: 1 / 5;
    }
  }

  &-icon {
    fill: $mainOrange;
    transition: fill $effectDuration;

    &:hover {
      fill: $whiteTextColor;
    }
  }

  &-copyright {
    margin-top: 40px;
    color: $greyTextColor;

    @include onTablet {
      grid-column: 5 / -1;
      margin-top: 0;
    }
  }
}
