.footer-list {
  &__title {
    margin-bottom: 16px;

    @include uppercase;
    color: $c-grey;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    @include body-text;
    color: $c-white;
    text-decoration: none;

    @include onDesktop {
      @include hover(color, $c-accent-orange);
    }
  }

  &--mb-40 {
    margin-bottom: 40px;
  }

  &--email {
    @include onDesktop {
      width: 260px;
    }
  }
}
