.footer {
  background-color: #1c1a26;
  padding: 60px 0;

  @include onTablet {
    padding: 90px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  

    &-email {
      padding-top: 40px;

      @include onDesktop {
        padding-top: 0;
      }
    }

    &-item:first-child {
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $colorGrey;
    }

    &-link {
      text-decoration: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }

  &__title {
    padding: 64px 0 40px;
    color: #fff;

    @include onTablet {
      padding: 0 0 40px;
    }
  }

  &__blog {
    padding-top: 40px;
    display: flex;
    gap: 40px;

    @include onTablet {
      padding-top: 48px;
    }

    &-icon {
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      transition: background-image $transition-time;

      &-1 {
        background-image: url(../images/icon-facebook.svg);

        &:hover {
          background-image: url(../images/icon-facebook-hover.svg);
        }
      }

      &-2 {
        background-image: url(../images/icon-instagram.svg);

        &:hover {
          background-image: url(../images/icon-instagram-hover.svg);
        }
      }

      &-3 {
        background-image: url(../images/icon-twitter.svg);

        &:hover {
          background-image: url(../images/icon-twitter-hover.svg);
        }
      }
    }
  }

  &__copyright {
    padding-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $colorGrey;

    @include onTablet {
      padding-top: 48px;
    }
  }
}
