.footer-menu {
  margin-bottom: 64px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item-title {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $category-color;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;

    @media (min-width: $desktop-min-width) {
      &:hover {
        color: $active-btn;
      }
    }
  }
}
