.footer-nav {
  padding-bottom: 64px;

  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: left;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.1;

    &:hover {
      color: $theme-color;
    }
  }
}