.footer {
  background-color: $chocolate;

  padding: 40px 0;

  &__logo {
    color: white;

    margin-bottom: 60px;

  }

  &__menu {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  &__menu-item {
    margin-left: 30px;
    margin-bottom: 40px;
  }

  &__menu-link {
    color: $white;
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 47px;
  }
  &__copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: relative;
    bottom: 0;

    font-size: 12px;
    line-height: 140.62%;
    opacity: 0.7;
    color: $white;

    &-terms {
      color: #fff;
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }
    }
  }
}
