.footer-list {
  list-style: none;

  &--menu {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &--call {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 88px;
    }
  }

  &--email {
    margin-bottom: 42px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #7f8096;
    margin-bottom: 16px;
  }

  &__item {
    display: block;
    text-decoration: none;
    width: max-content;
    margin-bottom: 16px;
    transition: $transition-time;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $c-white;
    text-decoration: none;
    transition: $transition-time;

    &:hover {
      transform: scale(1.05);
      color: $c-text-orange;
    }
  }
}
