.footer-nav {
  margin-bottom: 64px;

  &__item {
    width: fit-content;
  }

  &__link {
    display: block;
    padding: 8px;
    margin-left: -8px;
    color: $text-color-light;
    transition: color $transition-duration;

    &:hover {
      color: $accent-color;
    }
  }
}
