.footer-menu {

  &__logo {
    display: block;
    margin-bottom: 45px;

    @include onTabletOrDesktop {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 65px;
    }
  }

  &__sector {
    margin-bottom: 64px;

    @include onTabletOrDesktop {
      margin-bottom: 105px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    text-decoration: none;
    color: #fff;

    @include hover(color, $color-text--input);
  }
}
