.form {
  margin-bottom: 70px;

  &__input {
    margin-right: 30px;
    padding: 5px 10px;
    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 1px solid rgba(#412d22, 0.5);
    cursor: pointer;
    font-family: Rubik, sans-serif;
    color: #412d22;

    &::placeholder {
      font-size: 1rem;
      font-family: "Rubik", sans-serif;
      color: #412d22;
    }

    &--big {
      @media (min-width: 901px) {
        width: 322px;
      }
    }
  }

  &__btn {
    width: 160px;
    @extend %btn;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
  }

  @media (max-width:900px) {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 33px;

    &__btn {
      align-self: center;
    }
  }
}
