.forms {

  &__block {
    align-items: center;
    display: flex;

    &--position {
      position: relative;
    }
  }

  &__input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #412d22;
    opacity: 0.5;
    padding-bottom: 5px;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 2px;
    right: 40px;
  }

  &__arow {
    width: 6px;
    height: 11px;
  }

  .forms__input--dist {
    margin-bottom: 20px;
  }

  .forms--feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forms__input--space {
    margin-top: 60px;
  }

  .forms__input--size {
    min-width: 320px;

  }

  .forms__input--margin {
    margin-right: 32px;
  }
}
