.form {
  @include flex-column;
  width: 380px;

  @media (max-width: 500px) {
    width: 291px;
  }

  &__title {
    @include heading-fourth;
    margin-bottom: 27px;

    @media (max-width: 500px) {
      @include heading-fourth-mobile;
    }
  }

  &__input {
    width: $full-size;
    height: 24px;
    margin-bottom: 20px;
    color: $color-dark-brown;
    border-bottom: 1px solid $color-dark-brown;

    &--message {
      margin-top: 90px;
      margin-bottom: 37px;
    }

    @media (max-width: 500px) {
      width: 291px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
