.gallary {
  box-sizing: content-box;
  margin-bottom: 80px;
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }
}

.type1 {
  grid-column: 1 / 5;

  @include onDesktop {
    grid-column: 1 / 4;
  }
}

.type2 {
  grid-column: 5 / 9;

  @include onDesktop {
    grid-column: 4 / 7;
  }
}

.type3 {
  grid-column: 1 / 5;

  @include onDesktop {
    grid-column: 3 / 6;
  }
}

.type4 {
  grid-column: 5 / 9;

  @include onDesktop {
    grid-column: 6 / 9;
  }
}

.type5 {
  grid-column: 1 / 5;

  @include onDesktop {
    grid-column: 1 / 4;
  }
}

.type6 {
  grid-column: 5 / 9;

  @include onDesktop {
    grid-column: 4 / 7;
  }
}
