.gallery {
  display: flex;
  flex-direction: column;

  &__title {
    @include gallery-title($gallery-title-fsz-mobile, $gallery-title-mb-mobile);
  }

  &__subtitle {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 12px;
  }

  &__description {
    font-size: $font-size-small;
  }

  &__price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $prize-size-small;
    height: $prize-size-small;
    background-color: $cream;
    border-radius: 50%;
    top: 20px;
    font-weight: 700;
  }

  &__img-container {
    margin: auto;
    position: relative;

    &_:last-child {
      margin-top: 40px;
    }

    &::before {
      content: url(../images/arrow-crois-left-small.svg);
      position: absolute;
      top: #{$gallery-picture-small / 2};
      left: -10%;
      opacity: 0.5;
    }

    &::after {
      content: url(../images/arrow-choc-right-small.svg);
      position: absolute;
      top: #{$gallery-picture-small / 2};
      right: -10%;
    }
  }

  &__picture {
    height: $gallery-picture-small;
  }
}
