.gallary {
  display: grid;
  grid-template-columns: repeat(8, 128px);
  grid-template-rows: repeat(3, 700px);
  column-gap: 24px;
  row-gap: 80px;
}

.type1 {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1;
}

.type2 {
  display: grid;
  grid-column: 4 / 7;
  grid-row: 1;
}

.type3 {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 2;
}

.type4 {
  display: grid;
  grid-column: 6 / 9;
  grid-row: 2;
}

.type5 {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 3;
}

.type6 {
  display: grid;
  grid-column: 4 / 7;
  grid-row: 3;
}
