.general {
  min-width: 335px;
  box-sizing: border-box;

  padding-left: 16px;
  padding-right: 16px;

  padding-bottom: 24px;

  @include onTablet {
    padding-bottom: 104px;
  }

  @include onNotebook {
    padding-bottom: 300px;
  }

  @include onDesktop {
    padding-bottom: 300px;
  }

  &__subtitle {
    font-size: 48px;
    line-height: 41px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.05em;

    width: 288px;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 24px;
  }

  &__we-can {
    width: 280px;

    letter-spacing: -0.01em;
    line-height: 24px;

    margin-bottom: 56px;
  }
}
