.goals {

  &__box {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(3) {
      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    font-size: 96px;
    line-height: 82px;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__name {
    color: $color-grey;
    justify-self: start;
  }
}
