.grid--2 {
  @include onTablet {
    grid-column: 5 / 9;
  }
  @include onDesktop {
    grid-column: 4 / 7;
  }
}

.grid--desktop-3-6 {
  @include onDesktop {
    grid-column: 3 / 6;
  }
}

.grid--desktop-6-9 {
  @include onDesktop {
    grid-column: 6 / 9;
  }
}
