.grid-row {
  display: grid;
  // grid-template-rows: repeat(3, 4.5rem auto 2.5px);
  grid-template-rows: repeat(3, 4.5rem auto 2.5rem);
  row-gap: 40px;

  // --desktop and --tablet works only in that order, if swap it will not work
  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &--tablet {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__item {

    @for $start from 1 through 3 {
      @for $end from $start through 3 {
        &--#{$start}-#{$end} {
          grid-row: #{$start} / #{$end + 1};
        }
      }
    }

    @include onTablet {
      @for $start from 1 through 3 {
        @for $end from $start through 3 {
          &--tablet-#{$start}-#{$end} {
            grid-row: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through 3 {
        @for $end from $start through 3 {
          &--desktop-#{$start}-#{$end} {
            grid-row: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
