.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  @include onLarge {
    grid-template-columns: repeat(8, 128px);
  }

  &__item {
    @for $start from 1 through 2 {
      @for $end from $start through 2 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through 8 {
      @for $end from $start through 8 {
        @include onTablet {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 8 {
      @for $end from $start through 8 {
        @include onDesktop {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 8 {
      @for $end from $start through 8 {
        @include onLarge {
          &--large-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
