.h2-title {
  font-family: 'Inter';
  font-weight: 400;
  /*font-size: 48px;*/
  font-size: 2rem;
  line-height: 85%;
  text-transform: uppercase;
  color: $red-color;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-desktop {
    font-size: 72px;
  }
}
