.head {
  margin-top: 32px;

  @include onTablet {
    margin-top: 0;
  }

  @include onDesktop {
    height: 650px;
  }

  &__subtitle {
    margin: 0 0 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: $darkGrey;

    @include onTablet {
      margin: 80px 0 16px;
      text-align: left;
      position: relative;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 85%;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;
    z-index: 1;

    @include onTablet {
      position: relative;
      top: 350%;
      font-size: 64px;
    }

    @include onDesktop {
      top: 50%;
      font-size: 110px;
    }
  }

  &__image {
    width: 100%;
    height: 290px;

    @include onTablet {
      height: 328px;
      margin-bottom: 80px;
    }

    @include onDesktop {
      position: relative;
      top: -45%;
      height: 546px;
    }

    @include onDesktopBig {
      position: relative;
      top: -45%;
      height: 586px;
    }
  }

}
