.heading {
  @include heading-second;
  color: $color-brown;
  font-family: "Cookie", sans-serif;
  text-align: center;

  @media (max-width: 600px) {
    & {
      @include heading-second-mobile;
    }
  }
}
