.heading {
  font-size: 52px;
  font-weight: inherit;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;

  color: $colorWhite;

  @include onDesktop {
    font-size: 72px;
  }

  &--orange {
    color: $colorOrange;
  }
}
