.heading {

  &__bakery {
    text-align: center;
    font-size: 120px;
    color: #e39a3b;
    margin-top: 40px;
    font-family: "Cookie", cursive;
    font-weight: 400;
  }
}

@media (max-width:1200px) {
  .heading__bakery {
    font-size: 60px;
  }
}
