.header-asidebar {

  @media (min-width: 1000px) {
    background-color: $light-brown-color;
    height: 100vh;
    padding: 30px 20px 0;
    min-width: 425px;
  }

  &__menu {
    position: absolute;
    z-index: 1;
    transform: translate(100%, 0);
    display: none;
    transition: transform 0.5s;
    @extend %p;

    &--active {
      transform: translate(100%, 0);
      background-color: $light-brown-color;
      height: 100vh;
      width: 50vw;
      display: block;
    }
  }

  &__wrapper {
    display: none;

    @media (min-width: 1000px) {
      display: flex;
      height: 60px;
      gap: 10px;
      align-items: flex-end;
    }
  }

  &__phone {
    @extend %p;
    text-decoration: none;
    color: $dark-brown-color;
    padding: 5px;

    &:hover {
      color: $white-color;
    }
  }

  &__call-button {
    @extend %p;
    text-decoration: none;
  }

  &__language {
    @extend %p;
    height: 30px;
    width: 60px;
    padding: 0 5px;
    background-color: $cream-color;
    border: 1px solid $cream-color;
    outline: none;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      border-color: $cream-color;
      background-color: transparent;
    }

    &:focus > option {
      background-color: $cream-color;
    }
  }
}
