.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;

  background: url(../images/pictures/header-bg.jpg) no-repeat center / cover;

  &__info {
    padding-left: 59px;
  }

  &__title {
    padding-top: 161px;
    padding-bottom: 20px;
    cursor: default;
  }

  &__text {
    padding-bottom: 25px;
    cursor: default;
  }

  &__btn {
    @include btn($btn-width, $btn-height, $primary-color);
  }

  &__slider {
    display: flex;
    justify-content: flex-end;
    width: 33vw;
    padding-right: 80px;

    background: $primary-color;
  }
}

@media (min-width: 1400px) {
  .header-content {
    max-height: 100vh;

    &__info {
      margin-left: 5%;
    }

    &__title {
      font-size: 150px;
    }

    &__text {
      font-size: 36px;
    }

    &__btn {
      height: 80px;
      width: 320px;
      font-size: 32px;
    }
  }
}

@media (max-height: 700px) {
  .header-content__title {
   padding-top: 150px;
  }
}

@media (max-width: 1300px) {
  .header-content {
    background: url(../images/pictures/header-bg.jpg) no-repeat center / cover;
  }
}

@media (max-width: 1200px) {
  .header-content {
    &__title {
      line-height: 160px;
    }

    &__slider {
      width: 35vw;
    }
  }
}

@media (max-width: 1150px) {
  .header-content {
    &__slider {
      width: 40vw;
    }
  }
}

@media (max-width: 1100px) {
  .header-content {
    &__slider {
      width: 45vw;
    }
  }
}

@media (max-width: 1050px) {
  .header-content {
    &__slider {
      width: 48vw;
    }
  }
}

@media (max-width: 1030px) {
  .header-content {
    flex-direction: column;
    padding-bottom: 28px;
    background: url(../images/pictures/header-bg.jpg) no-repeat center / cover;

    &__title {
      padding-right: 59px;
    }

    &__slider {
      justify-content: center;
      align-items: flex-end;
      width: 100vw;
      padding-right: 0;
      background: transparent;
    }
  }
}

@media (max-width: 850px) {
  .header-content {
    &__title {
      font-size: 80px;
      line-height: 120px;
      padding-bottom: 0;
      padding-top: 90px;
    }

    &__text {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (max-width: 550px) {
  .header-content {

    &__info {
      padding-left: 16px;
    }

    &__title {
      padding-top: 154px;
      padding-right: 16px;
      font-size: 100px;
      line-height: 80px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
