.header-asidebar {

  max-width: 425px;
  padding: 30px 40px 0 20px;
  background-color: $light-brown-color;
  flex-grow: 2;

  &__wrapper {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__phone {
    @extend %p;
    text-decoration: none;
    color: $dark-brown-color;
    padding: 5px;

    &:hover {
      color: $white-color;
    }
  }

  &__call-button {
    @extend %p;
    text-decoration: none;
  }

  &__language {
    @extend %p;
    height: 30px;
    background-color: transparent;
    border: transparent;
    outline: none;
    padding-bottom: 6px;
  }
}
