.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktopPlus {
    max-width: 1386px;
    margin: 0 auto;
  }

  &__logo {
    height: 24px;
    width: 127px;
    background: url("../images/Bakerlab.svg") center center / cover no-repeat;
  }

  &__menu-opener {
    width: 20px;
    height: 8px;
    background: url("../images/menu-opener.svg") center center / cover no-repeat;

    @include onDesktop {
      display: none;
    }
  }

  &__menu-closer {
    width: 12px;
    height: 12px;
    background: url("../images/menu-closer.svg") center center / cover no-repeat;
  }
}
