.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      margin-right: 64px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-opener {
      display: block;
      width: 20px;
      height: 8px;
      background-image: url(/images/menu.svg);

      &:hover {
        background-image: url(/images/menu-hover.svg);
      }

      @include onDesktop {
        display: none;
      }
    }

    &-cross {
      display: block;
      width: 13px;
      height: 13px;
      background-image: url(/images/cross.svg);

      &:hover {
        background-image: url(/images/cross-hover.svg);
      }

      @include onDesktop {
        display: none;
      }
    }

  }

}
