.header-asidebar {
  padding: 30px 40px 0 20px;

  @media (min-width: 1400px) {
    background-color: $light-brown-color;
    height: 100vh;
  }

  &__wrapper {
    display: flex;
    height: 60px;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__phone {
    @extend %p;
    text-decoration: none;
    color: $dark-brown-color;
    padding: 5px;

    &:hover {
      color: $white-color;
    }
  }

  &__call-button {
    @extend %p;
    text-decoration: none;
  }

  &__language {
    @extend %p;
    height: 30px;
    width: 60px;
    padding: 5px;
    background-color: $cream-color;
    border: 1px solid $cream-color;
    outline: none;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      border-color: $cream-color;
      background-color: transparent;
    }

    &:focus > option {
      background-color: $cream-color;
    }
  }
}
