.header-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
  &__container-left {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0;
    display: block;
    font-family: "Cookie", sans-serif;
    font-size: 160px;
    font-weight: 400;
    line-height: 177px;
    padding: 24px 50px 0 54px;
  }
  &__text {
    margin: 0;
    display: block;
    font-size: 26px;
    line-height: 39px;
    color: #412d22;
    max-width: 550px;
    padding: 0 30px 0 60px;
  }
  &__referncy-button {
    margin: 0;
    display: flex;
    padding: 16px 0 0 60px;

  }
  &__button-text {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #f1cc9d;
    padding: 8px 37px;
  }
  &__container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 70px 0;
  }
  &__up {
    width: 24px;
    height: 15px;
    margin-right: 15px;
    background: url(../images/up.svg);
  }
  &__current-page {
    display: block;
    font-size: 176px;
    line-height: 209px;
  }
  &__page {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 47px;
    color: #fff;
  }
  &__down {
    margin-top: 30px;
    margin-right: 15px;
    width: 24px;
    height: 15px;
    background: url(../images/down.svg);
  }
}
