.header {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 0 20px;

    background-image: url(../images/header-cookie.png);
    background-repeat: no-repeat;
    background-position: center 40vh;
    background-size: contain;

    @include onTablet {
      background-position: center;
      background-size: 60%;
      padding-bottom: 150px;
    }
  }

  &__button {
    margin-top: auto;
  }

  &__menu {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__link {
    display: block;
    line-height: 0;
  }

  &__logo {
    height: 24px;
  }

  &__text {
    @extend %text-body;
    margin-bottom: 32px;
    text-align: center;

    @include onTablet {
      text-align: left;
      max-width: 300px;
    }
  }

  &__title {
    @extend %h1-mobile;
    text-align: center;
    word-wrap: break-word;

    @include onTablet {
      @include h1-tablet;

      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      right: 0;
    }
  }
}
