.headlines {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 24px;

    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    color: $accent-orange;

    @include onTablet {
      font-size: 56px;
      letter-spacing: -2.8px;
    }

    @include onDekstop {
      font-size: 72px;
      letter-spacing: -3.6px;
    }
  }

  &__paragraph {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    color: $main-black;
  }
}
