.hero {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 534px;
    background-image: url(../images/photos/Cookie.png);
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: 214px 208px;
    @include onTablet {
      height: 528px;
      background-position: center 110px;
      background-size: 231px 240px;
    }
    @include onLaptop {
      justify-content: center;
      height: 390px;
      background-position: center center;
      background-size: contain;
    }
    @include onDecktop {
      height: 418px;
    }
  }
  &__title {
    padding: 0 45px;
    margin-bottom: 290px;
    color: $c-accentOrange;
    font-size: 64px;
    line-height: 54px;
    letter-spacing: -5%;
    text-align: center;
    @include onTablet {
      padding: 0;
      margin-bottom: 210px;
      font-size: 73px;
      line-height: 68px;
      letter-spacing: -4px;
    }
    @include onLaptop {
      margin-bottom: 64px;
      font-size: 130px;
      line-height: 116px;
      letter-spacing: -16px;
    }
    @include onDecktop {
      margin-bottom: 64px;
      font-size: 142px;
      line-height: 122px;
      letter-spacing: -10px;
    }
  }

  &__text {
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    @include onTablet {
      margin-bottom: 146px;
      text-align: left;
      max-width: none;
    }
    @include onLaptop {
      margin-bottom: 5px;
    }
    @include onDecktop {
      margin-bottom: 40px;
    }
  }
  &__button {
    margin: 0 auto;
    margin-top: auto;
    max-width: 280px;
    @include onTablet {
      margin: 0;
      max-width: none;
    }
  }
}
