.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 33px 16px 115px;
  background: url("../images/hero-img.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  &__header {
    display: flex;
  }

  &__logo {
    @include logo;

    &::before {
      @include logo-before($logo-header-small);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__title {
    font-size: 100px;
    line-height: 80%;
    font-family: $cookie;
    margin-bottom: 29px;
  }

  &__description {
    width: 259px;
    margin-bottom: 19px;
  }

  &__learn-more {
    @include button-small;
    margin-bottom: 40px;
  }
}
