.home-page {

  &__content {
    display: grid;
    column-gap: 16px;
    max-width: 288px;
    padding-inline: 16px;
    padding-bottom: 64px;
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    margin: 0;
    grid-column: span 2;
    text-align: center;
    padding-block: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;
  }

  &__title {
    grid-column: span 2;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    color: #F9512E;
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -5%;
  }

  &__image {
    width: 288px;
    height: 290px;
    grid-column: span 2;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    width: 288px;
    height: 56px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #F9512E;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 32px;
    border: 2px solid #F9512E;
    background-color: #FFEEFC;
    cursor: pointer;

    &:hover {
      background-color: #F9512E;
      color: #FFFFFF;
    }

    &:hover .icon--cookie {
      background-image: url(../images/icons/Icon-cookie-hover.svg);
    }

    &:focus {
      background-color: #B2341A;
      border-color: #B2341A;
      color: #FFFFFF;
    }

    &:focus .icon--cookie {
      background-image: url(../images/icons/Icon-cookie-hover.svg);
    }

    &:disabled {
      background-color: #EEF7FF;
      border-color: #FBA28F;
      color: #FBA28F;
    }

    &:disabled .icon--cookie {
      background-image: url(../images/icons/Icon-cookie-disabled.svg);
    }
  }
}
