.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url('../images/icons/Icon-menu-double-black.svg');

    @include on-small-desktop {
      display: none;
    }

    &:hover {
      background-image: url('../images/icons/Icon-menu.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/Icon-close-black.svg');

    &:hover {
      background-image: url('../images/icons/Icon-close.svg');
    }
  }

  &--facebook {
    background-image: url('../images/icons/Icon-facebook.svg');
    &:hover {
      background-position: 2px 2px;
      background-repeat: no-repeat;
      background-image: url('../images/icons/facebook-white-svg.svg');
    }
  }

  &--instagram {
    background-image: url('../images/icons/Icon-instagram.svg');
    &:hover {
      background-position: 2px 2px;
      background-repeat: no-repeat;
      background-image: url('../images/icons/instagram-white-svg.svg');
    }
  }

  &--twitter {
    background-image: url('../images/icons/Icon-twitter.svg');
    &:hover {
      background-image: url('../images/icons/Icon-twitter-white.svg');
      background-repeat: no-repeat;
    }
  }
}
