.icon {
  display: block;

  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;

  @include on-desktop {
    display: none;
  }

  @include on-design {
    display: none;
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.png);
    display: block;
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.png);
    display: block;
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.png);
    display: block;
  }
}
