.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 4px;
  &--phone {
    width: 20px;
    height: 20px;
    background-image: url(../images/Icon-phone.svg);
  }
  &--cookie {
    width: 20px;
    height: 20px;
    background-image: url(../images/Icon-cookie.svg);
  }
  &--menu {
    background-image: url(../images/Icon-menu.svg);
  }
  &--cross {
    background-image: url(../images/Icon-close.svg);
  }
  &--card {
    background-image: url(../images/Icon-arrow.svg);
  }
  &--facebook {
    background-image: url(../images/Icon-facebook.svg);
    &:hover {
      transition: all 0.3s ease;
      background-image: url(../images/icon-facebook-white.svg);
    }
  }
  &--instagram {
    background-image: url(../images/Icon-instagram.svg);
    &:hover {
      transition: all 0.3s ease;
      background-image: url(../images/icon-instagram-white.svg);
    }
  }
  &--twitter {
    background-image: url(../images/Icon-twitter.svg);
    &:hover {
      transition: all 0.3s ease;
      background-image: url(../images/icon-twitter-white.svg);
    }
  }
}
