.icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;

  &--burger-menu {
    background-image: url(../images/icons/burger-menu.svg);
    width: 24px;
    height: 24px;

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-close.svg);
    width: 24px;
    height: 24px;
  }
}
