.icon {
  background-repeat: no-repeat;
  background-position: center;

  width: 24px;
  height: 24px;

  &__logo {
    background-image: url(../images/icons/icon-logo.svg);
    width: 136px;
    height: 32px;

    &--white {
      filter: invert(100%)
        sepia(0%)
        saturate(0%)
        hue-rotate(179deg)
        brightness(106%)
        contrast(101%);
    }
  }

  &__menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &__close-menu {
    background-image: url(../images/icons/icon-close-menu.svg);
  }

  &__cookie {
    background-image: url(../images/icons/icon-cookie.svg);
  }

  &__phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &__arrow {
    background-image: url(../images/icons/icon-arrow.svg);
  }

  &__facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &__instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }

  &__twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }
}
