.icon {
  display: flex;
  height: 24px;
  width: 24px;

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.png);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.png);
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.png);
  }
}
