.image-change {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__up,
  &__down {
    height: 15px;
    width: 26px;
    padding-right: 45px;
    background-image: url(/images/up.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    width: 200px;

    &::before {
      font-size: 176px;
      content: "01";
    }
  }

  &__num2,
  &__num3 {
    height: 65px;

    &::before {
      font-size: 40px;
      content: "02";
      color: $alter-button-color;
      padding-right: 9px;
    }
  }
    &__num3::before {
      content: "03";
    }

  &__down {
    background-image: url(/images/down.png);
  }


}
