@import '../utils';

.info {
margin-top: 72px;
padding-bottom: 72px;

  &__container,
  &__text,
  &__main,
  &__item {
    @include grid;
  }

  &__container {
    row-gap: 64px;
    background-image: url(../images/info/Crumbs.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 170px right;
  }

  &__text {
    row-gap: 32px;
  }

  &__main {
    row-gap: 48px;
  }

  &__item {
    row-gap: 8px;
  }

  &__title,
  &__content,
  &__item,
  &__text,
  &__main,
  &__achiev,
  &__subtitle {
    grid-column: 1 / -1;
  }

  &__title{
    color: $main-black;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }

  &__content {
    color: $main-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__achiev {
    color: $main-black;
    font-size: 96px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: rgb(127, 128, 150);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

}
