.info {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &__name {
    color: $color-grey;
    margin: 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    text-decoration: none;
    color: $color-white;

    @include hover(color, $color-orange);
  }
}
