.info {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  color: #1c1a26;

  &--header {
    @include onTablet {
      width: 280px;
    }

    @include onDesktop {
      width: 260px;
    }

    @include onLargeDesktop {
      width: 280px;
    }
  }
}
