.information {
  @include pageGrid();
  row-gap: 48px;

  @include onTablet() {
    row-gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    grid-column: span 2;

    @include onTablet() {
      grid-column: span 4;
    }

    @include onDesktop() {
      grid-column: span 2;
    }
  }

  &__tittle {
    color: $page-main-color;
    font-size: 96px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}
