.intro {
  height: 100vh;
  &__lead-text {
    text-align: center;
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;
    text-align: center;
    letter-spacing: -0.05em;

    @include onTablet {
      font-size: 80px;
      width: 100%;
      margin: 0 auto;
      top: 50%;
    }

    @include onDesktop {
      font-size: 136px;
      position: absolute;
    }

    @media (min-width: 1200px) {
      font-size: 144px;
    }
  }

  &__image {
    width: 100%;
    display: block;
    z-index: 1;
  }
}
