// .anim-rotate {
//   opacity: 0;
//   animation-name: rotate;
//   animation-duration: $animation-duration;
//   animation-fill-mode: forwards;
// }

// @keyframes rotate {
//   0% {
//     transform: rotate(180deg);
//     opacity: 0;
//   }
//   100% {
//     transform: rotate(0);
//     opacity: 1;
//   }
// }

.intro {
  text-align: center;

  &__lead-text {
    letter-spacing: -0.01em;

    @include onTablet {
      text-align: left;
    }

    @include onDesktop {
      position: relative;
      top: 20vh;
      text-align: left;
    }
  }

  &__main {
    position: relative;
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -0.05em;

    @include onTablet {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: -50%;
      transform: translateY(-50%);
      width: max-content;
      font-size: 80px;
    }

    @include onDesktop {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: -50%;
      transform: translateY(-50%);
      width: max-content;
      font-size: 136px;
    }

    @media (min-width: 1440px) {
      font-size: 144px;
    }
  }

  &__image {
    position: relative;
    z-index: 0;
    max-width: 100%;
    transition: transform $animation-duration;
    cursor: pointer;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &__button {
    transition: transform $animation-duration;

    @include onDesktop {
      position: relative;
      bottom: 24vh;
    }

    // &:nth-child(n*2) {
    //   background-color: yellow;
    //   transform: rotate(360deg);
    // }
  }
}

// .intro__button {
//   .intro__image {
//     color: red;
//   }
// }

// .intro .grid .test:nth-child(n+2)  .test:nth-child(n+2) {
//   background-color: pink;
// }

// .intro__button + .intro__main .intro__image {
//   background-color: aqua;
// }

// .logo-img:hover ~ .intro__main .intro__image { color: red;}
