.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  &__image {
    height: 200px;
  }

  &__left {
    height: 20px;
  }

  &__right {
    height: 20px;
  }
}