.item {
  &__figure {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 400;
    line-height: 150%;
    color: $text-color;
    margin-bottom: 48px;
  }
}
