.katalog {
  &__head {
    font-size: 50px;
    color: #e39a3b;
    font-weight: 400;
  }

  &__info {
    max-width: 300px;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__circle {
    margin-top: 32px;
    display: flex;
    max-width: 110px;
    min-height: 110px;
    border-radius: 50%;
    background-color: #f1cc9d;
    justify-content: center;
    align-items: center;

  }
}

@media(max-width: 1024px) {

  .katalog__info {
    display: flex;
    flex-direction: column;
  }

  .katalog {
    align-items: center;
  }
}
