.katalog {

  justify-content: space-around;
  &__head {
    font-size: 50px;
    color: #e39a3b;
    font-weight: 400;
  }

  &__subhead {
    font-size: 26px;
  }

  &__info {
    max-width: 300px;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__circle {
    margin-top: 32px;
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f1cc9d;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
}

@media(max-width: 1200px) {

  .katalog__info {
    display: flex;
    flex-direction: column;
    order: -1;
  }

  .katalog__head {
    margin: 0;
    font-size: 35px;
  }

  .katalog__text {
    margin-bottom: 60px;
  }

  .katalog {
    align-items: flex-start;
    position: relative;
  }

  .katalog__circle {
    width: 65px;
    height: 65px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 30%;
  }
  .katalog__slider {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .katalog__circle {
    top: 43%;
  }
}
