@import '../utils';

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 32px 16px 40px;

    text-align: center;

    @include on-tablet {
      flex-grow: 1;
      padding: 80px 44px 228px;
      background-position: 50% 50%;
      background-size: 40%;
    }

    @include on-big-desktop {
      padding: 135px 124px;
    }

    &__description {
      grid-column: 1 / -1;
      padding-bottom: 32px;

      @include on-tablet {
        grid-column: 1 / 3;
        justify-self: flex-start;

        padding: 0;
        padding-bottom: 146px;

        text-align: start;
      }

      @include on-desktop {
        grid-column: 1 / 2;
        padding-bottom: 8px;
      }

      @include on-big-desktop {
        padding-bottom: 40px;
      }
    }

    &__wrapper {
      position: relative;

      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;

      width: 100%;
    }

    &__title {
      grid-column: 1 / -1;
    }

    &__image {
      grid-column: 1 / -1;
      max-width: 100%;
      height: auto;

      @include on-tablet {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        grid-column: 3 / -3;
      }
    }

    &__button {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 2 / 4;
        margin-top: 210px;
      }

      @include on-desktop {
        grid-column: 1 / 2;
        margin-top: 64px;
      }
    }
  }
}

.contactUs {
  cursor: pointer;
  display: none;
  gap: 4px;
  align-items: center;

  @include hover(transform, scale(1.2));

  @include on-desktop {
    display: flex;
  }

  &--visible {
    display: flex;
  }
}

.footer {
  display: grid;
  row-gap: 40px;

  padding: 56px 16px;

  color: $white;

  background-color: $black;

  @include on-tablet {
    padding: 88px 44px;
  }

  @include on-big-desktop {
    padding: 88px 124px;
  }

  &__main {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    @include on-tablet {
      gap: 96px;
    }

    @include on-desktop {
      gap: 61px;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;

      &__link {
        display: inline;
        color: $white;

        @include hover(transform, scale(1.25));
      }
    }
  }

  &__contacts {
    display: grid;
    row-gap: 40px;

    &__title {
      width: 200px;
      color: $white;

      @include on-desktop {
        width: 500px;
      }
    }

    &__content {
      display: grid;
      row-gap: 40px;

      @include on-desktop {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
      }

      &__links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;

        &__link {
          display: inline;
          color: $white;

          @include hover(transform, scale(1.25));
        }
      }
    }
  }

  &__socials {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    &__links {
      display: flex;
      gap: 32px;
      align-items: flex-start;
    }
  }
}

.sidebar {
  pointer-events: none;

  position: fixed;
  top: 0;
  transform: translateX(100%);

  overflow: auto;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  background-color: $background-color;

  transition: all 1s;

  &:target {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;

    &__nav {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      justify-content: center;

      &__link {
        color: $black;

        @include hover(transform, scale(1.25));

        @include on-desktop {
          display: flex;
        }

        &--accent-color {
          color: $accent-color;
        }
      }
    }
  }
}
