.learn-more {

  @include onTablet {
    background-image: url("../images/Cookie.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  @include onDesktop {
    background-image: url("../images/Cookie.png");
    background-repeat: no-repeat;
    background-position: top;
        
  }

  &__description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $black-color;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 200px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 85%;
    text-align: center;
    font-weight: 400;
    color: $accent-orange-color;
    text-transform: uppercase;

    @include onTablet {
      font-size: 80px;
      margin-bottom: 300px;
      // position: absolute;
      // bottom: 100px;
      // left: 50%;
    }
    
    @include onDesktop {
      font-size: 110px;
      text-align: center;
      line-height: 85%;
      margin-bottom: 160px;
    }
  }

  &__image-container {

    @include onTablet {
      // position: absolute;
      // top: 0;
      // right: 50%;
      // transform: translateX(50%);
      // z-index: -1;
      display: none;
    }
  }

  &__image {
    width: 100%;
  }
}
