.link-svg {
  cursor: pointer;

  &__icon {
    transition: fill $transition-time;
  }

  &:hover > svg > &__icon--black {
    fill: $c-black;
  }

  &:hover > svg > &__icon--white {
    fill: $c-white;
  }

  &:hover > svg > &__icon--orange {
    fill: $c-accent-orange;
  }

  &:hover > svg > &__icon--dark-orange {
    fill: $c-dark-orange;
  }
}
