.link {
  box-sizing: border-box;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  transition: all 0.3s;

  &:hover {
    border-color: $colorOrange;
  }

  &:focus {
    color: $colorDarkOrange;
    border-color: $colorDarkOrange;
  }
}
