.link-list {
  list-style: none;
  display: grid;
  row-gap: 16px;

  &__link {
    display: block;
    width: fit-content;
    color: $c-white-accent;
    line-height: 150%;
    letter-spacing: -0.16px;

    @include hover(text-shadow, 1px 1px 5px $c-white-accent);
  }
}
