.link {
  position: relative;
  // width: 100px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01rem;
  text-decoration: none;
  color: $black;
  transition: color $transition-time;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $accent-orange;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-time;
  }

  &:hover {
    color: $accent-orange;

    &:after {
      transform: scaleX(100%);
    }
  }
}
