.link-list {
  &__title {
    margin: 0 0 16px;

    color: $grey;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__item {
    display: block;
    margin-bottom: 16px;

    text-decoration: none;
    color: #fff;

    transition-property: color;
    transition-duration: $animation-duration;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $accentOrange;
    }
  }
}
