.list {
  &__title {
    margin-bottom: 16px;

    color: $colorGrey;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;
  }

  &__link {
    color: $colorWhite;
    text-decoration: none;
  }
}
