.list {
  &__title {
    color: $greyColor;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__body {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    color: $whiteColor;
    text-decoration: none;
    line-height: 150%;
    letter-spacing: -0.01em;
    border-bottom: 2px solid transparent;
    transition-duration: $transitionDuration;

    &:hover {
      border-bottom-color: $whiteColor;
    }

    &:focus {
      border-bottom-color: $whiteColor;
    }
  }
}
