.list {
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #7f8096;
    margin-bottom: 16px;

    &--email {
      margin-top: 40px;

      @include onTablet {
        margin-top: 216px;
      }

      @include onDesktop {
        margin-top: 40px;
      }
    }
  }

  &__item {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    text-decoration: none;
    transition: text-shadow 0.3s;

    &:hover {
      text-shadow: 1px 1px 7px;
    }

    &--last {
      margin-bottom: 0;
    }

    &--email {
      margin-bottom: 0;
    }
  }
}
