.logo {
  display: flex;
  width: fit-content;

  @include hover(transform, scale(1.08));

  &__img {
    width: 136px;
    height: 32px;

    &--big {
      width: 168px;
      height: 40px;
    }
  }
}
