.logo {

  &__image {
    width: 128px;
    height: 24px;
    padding: 20px;

  }

  &__image-close {
    width: 14px;
    height: 14px;
    padding: 20px;
    transition: filter 300ms ease;
    &:hover {
      filter: invert(49%)
        sepia(66%)
        saturate(5224%)
        hue-rotate(344deg)
        brightness(102%)
        contrast(95%);
    }
  }

}
