.logo {
  font-family: "Cookie", sans-serif;
  font-size: 30px;
  line-height: 33.27px;
  position: relative;
  width: 112px;
  height: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
  }
}
