@use '../utils/vars' as vars;
@use '../utils/mixins' as mix;
@use '../utils/extends' as ext;

.main {
  // display: none;
  &__container {
    padding: 32px 16px 72px;

    @include mix.on-tablet {
      padding: 200px 44px 152px;
    }

    @include mix.on-desktop-small {
      padding: 152px 44px 56px;
      max-width: 1200px;
      margin: 0 auto;
    }

    @include mix.on-desktop-large {
      padding: 152px 44px 56px;
    }
  }
}
