.main__content {
  padding-bottom: 72px;
  display: grid;
  gap: 72px;

  @include onTablet {
    padding-bottom: 152px;
    gap: 152px;
  }

  @include onDesktop {
    padding-bottom: 56px;
    gap: 178px;
  }
}
