.main {
  &__products {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onPhone {
      margin-bottom: 0;
    }
  }

  &__about-us {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 24px;
    }
  }
}
