.main {
  &__product-card {
    margin-bottom: 56px;
    min-width: 288px;

    @include on-tablet {
      margin-bottom: 80px;

      &:nth-child(n + 7) {
        margin-bottom: 0;
      }
    }

    @include on-big-desktop {
      max-width: 432px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
