.main-logo {
  position: relative;
  font-family: Cookie, sans-serif;
  font-size: 30px;

  &__icon {
    width: 40px;
    height: 40px;
    top: -30px;
    left: -30px;
    position: absolute;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
