.main {
  &__title {
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  &__section-items {
    margin-bottom: 40px;
  }
}