.main {
  margin-top: 0;
  position: relative;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 56px;
  }

  &__services {
    margin-bottom: 72px;

    @include Tablet {
      margin-bottom: 152px;
    }

    @include Desktop {
      margin-bottom: 176px;
    }

    @include Desktop-LG {
      margin-bottom: 176px;
    }
  }

  &__crumbs {
    position: absolute;

    width: 100vw;
    bottom: 180px;
    z-index: -1;

    @include Tablet {
      transform: translate(120px, 0);
      width: 526px;
      bottom: 70px;
    }

    @include Desktop {
      width: 718px;
      transform: translate(325px, 0);
      bottom: 100px;
    }

    @include Desktop-LG {
      width: 718px;
      transform: translate(325px, 0);
      bottom: 100px;
    }
  }
}
