.main {
  margin-bottom: 72px;

  @include on-tablet {
    margin-bottom: 152px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }

  &__container {
    @include content-padding;
  }

  &__content {
    display: grid;
    row-gap: 72px;

    @include on-tablet {
      row-gap: 152px;
    }

    @include on-desktop {
      row-gap: 178px;
    }
  }

}

