.main-page {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @include on-tablet {
    gap: 152px;
  }

  @include on-desktop {
    gap: 178px;
  }
  &__title {
    margin: 0;
    color: $accent-orange;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%; /* 40.8px */
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 56px;
      letter-spacing: -2.8px;
    }

    @include on-desktop {
      font-size: 72px;
      letter-spacing: -3.6px;
    }

    &--contact {
      color: #fff;
    }

    &-overview {
      color: $main-text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.16px;
    }
  }
}
