.main {
  text-align: center;
  min-height: 606px;

  @include onDesktop {
    text-align: left;
  }
  // .main__subtitle
  &__content {
    margin: 32px 0 0;
  }
  // .main__title
  &__subtitle {

    @include onDesktopBig {
      display: block;
      top: 232px;
      position: absolute;
      max-width: 280px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include onDesktop {
      margin: 16px 0 80px;
      height: 328px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/Cookie.svg);

      @include onDesktopBig {
        margin: 0;
        position: relative;
        height: 546px;
      }
    }

  }
  // .main__image
  &__image {
    width: 100%;

    @include onDesktop {
      display: none;
    }
  }

  // .main__link

  &__link {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 228px;
    }

    @include onDesktopBig {
      display: block;
      position: relative;
      bottom: 150px;
    }
  }
}
