.main {
  @include margin-block;

  margin: 0 auto;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 72px;

    @include on-tablet {
      gap: 152px;
    }

    @include on-desctop {
      gap: 178px;
    }
  }
}
