.main {
  &__top {
    @include grid;
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 225px;
      text-align: start;
    }

    @include onDesktop {
      margin-bottom: 310px;
    }
  }

  &__products {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 160px;
    }

    @include onDesktop {
      margin-bottom: 186px;
    }
  }
}
