.main-screen {
  &__content {
    position: relative;
  }

  &__paragraph {
    margin-bottom: 32px;
    text-align: center;

    @include onTablet {
      margin-bottom: 146px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 8px;
    }

    @include onDesktopXL {
      margin-bottom: 40px;
    }
  }

  &__title {
    text-align: center;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__img {
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto;

    @include onTablet {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);

      width: 326px;
      height: 326px;
    }

    @include onDesktop {
      width: 545px;
      height: 545px;
    }
  }

  &__button {
    @include flex-center-center();
  }
}
