.menu {
  &__list--top {
    display: none;
    @include onDesktop {
      display: flex;
      flex-direction: row;
      gap: 64px;
      margin: 0;
    }
  }
  &__link {
    @include hover(transform, scale(1.2));

  }
}
