.main {
  font-family: Inter, sans-serif;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 72px;

    @include on-tablet {
      gap: 152px;
    }

    @include on-desktop {
      gap: 178px;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;

    @include on-tablet {
      gap: 80px;
    }

    @include on-desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__blockTitle {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-start;

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    color: $main-text-color;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 56px;
    }

    @include on-desktop {
      font-size: 72px;
    }
  }

  &__text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $main-text-color;
  }

  &__blockProductsOne {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @include on-tablet {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }

    @include on-desktop {
      grid-column: 1 / 5;
      justify-self: flex-start;
    }
  }

  &__blockProductsTwo {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @include on-tablet {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }

    @include on-desktop {
      grid-column: 2 / 6;
      justify-self: flex-end;
    }
  }

  &__blockProductsThree {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @include on-tablet {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }

    @include on-desktop {
      grid-column: 1 / 5;
      justify-self: flex-start;
    }
  }
}
