.mains {
  &__content {
    row-gap: 72px;
    padding-block: 64px;

    @include on-tablet {
      padding-block: 0;
      row-gap: 248px;
      padding-top: 248px;
    }

    @include on-desktop {
      padding-block: 152px;
      row-gap: 178px;
    }
  }
}
