.products {
  @include section-padding;

  &__title {
    @include section-titles;
  }

  &__product-type {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: $c-orange;
  }

  &__product-name {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: $c-dark-brown;
  }

  &__product-description {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-dark-brown;
  }
  
  &__price {
    display: flex;
    align-items: center;
    height: 65px;
    width: 65px;
    background: $c-orange-light;
    border-radius: 50%;

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $c-dark-brown;
  }

  &__photos {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 83vw;
  }
}

.all-bakeries-button {
  margin: 0 auto;
  margin-top: 48px;
  height: 45px;
  width: 160px;
  line-height: 45px;
  border-radius: 40px;
  background: $c-orange;
  text-align: center;
  cursor: pointer;
}

.bakershops {
  @include section-padding;
  background: $c-orange-light;

  &__title {
    @include section-titles;
  }
}
