.main__content {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  padding-block: 64px 72px;

  @include on-tablet {
    row-gap: 152px;
    padding-block: 0 152px;
  }

  @include on-desktop {
    row-gap: 178px;
    padding-block: 152px 56px;
  }
}
