.products {
  @include section-padding;

  &__title {
    @include section-titles;
  }

  &__product-type {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: $c-orange;
  }

  &__product-name {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: $c-dark-brown;
  }

  &__product-description {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-dark-brown;
  }
  
  &__price {
    display: flex;
    align-items: center;
    height: 65px;
    width: 65px;
    background: $c-orange-light;
    border-radius: 50%;

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $c-dark-brown;
  }

  &__photos {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 83vw;
  }

  &__button {
    @include big-orange-button;
  }
}

.bakershops {
  display: flex;
  flex-direction: column;

  @include section-padding;
  background: $c-orange-light;

  &__title {
    @include section-titles;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #412d22;
    border: none;
    border-bottom: 1px solid #412d22;
    background-color: inherit;
    margin-bottom: 34px;
    opacity: 0.5;
  }

  &__button {
    @include big-orange-button;
    margin: 10px auto;
    border: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $c-dark-brown;
  }

  &__map {
    margin: 10px auto;
    width: 90vw;
  }

  &__plus-minus {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 120px;
  }

  &__plus,
  &__minus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.about {
  height: 100vh;
  @include section-padding;

  &__title {
    @include section-titles;
  }

  &__description {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $c-dark-brown;
    text-align: center;
  }

  &__photos {
    display: flex;
    justify-content: space-between;
  }

  &__photo {
    margin: 0 auto;
    height: 254px;
    width: 201px;
  }

}

.contacts {
  background-color: $c-orange;

  @include section-padding;

  &__title {
    @include section-titles;
    color: $c-white;
  }

  &__get-contacts {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: $c-dark-brown;
    text-align: center;
  }

  &__contacts-info {
    display: flex;
    flex-direction: column;
  }
}
