.main {
  @include contentPaddingInline;
  &__title {

    grid-column: 1 / -1;
    margin-bottom: 24px;
    @include onTablet {
      font-size: 56px;
      line-height: 85%;
      grid-column: span 4;
      margin-bottom: 24px;
    }

    @include onDesktop {
      font-size: 72px;
      white-space: nowrap;
    }
  }

  &__description {
    margin-bottom: 56px;
    font-size: 16px;
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: span 6;
      margin-bottom: 80px;
    }
  }
}
