.main-logo,
.main-logo--footer {
  position: relative;
  font-family: Cookie, sans-serif;
  font-size: 30px;
  margin-left: 20px;

  &--footer a {
    color: #fff;
    transition: 0.3s;

    &:hover {
      color: $main-color;
    }
  }

  &:hover a {
    color: $main-color;
  }

  &__icon,
  &__icon--footer {
    width: 40px;
    height: 40px;
    top: -30px;
    left: -30px;
    position: absolute;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main-logo--footer {

  @include breakpoint($mobile-bp) {
    align-self: flex-start;
    margin-bottom: 25px;
  }
}
