.menu {
  background-color: $c-light-blue;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__top {
    @include top-action;
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    transform: translateY(-64px);

    @include tablet {
      font-size: 20px;
      gap: 30px;
    }
  }
}
