.map {
  display: flex;
  justify-content: center;

  &__image {
    @include sizes(300px, 200px);
    margin: 0 -5px;
    margin-bottom: 20px;
    @include onDesktop {
      @include sizes(1000px, 700px);
    }
  }
}
