.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__image {
    width: 100%;
    transition: all 0.3s;
    @include onDesktop {
      transform: scale(1);
      margin-bottom: 57px;
    }
  }

}
