.map {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;

  &__title {
    font-weight: normal;
    font-size: 60px;
    line-height: 67px;
    color: $croissant;
    padding-bottom: 30px;

    @include onDesktop {
      font-size: 120px;
      line-height: 133px;
    }
  }

  &__search {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__chose {
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
    opacity: 0.5;
    width: 100%;
    border: none;
    border-bottom: 1px solid $chocolate;
    outline: none;
    padding-bottom: 10px;
    background-color: $cream;

    @include onDesktop {
      width: 200px;
    }
  }

  &__adress {
    margin-top: 20px;
    width: 100%;

    @include onDesktop {
      margin-top: 0;
      width: 400px;
    }
  }

  &__button {
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
    background: $croissant;
    border: 2px solid $croissant;
    outline: none;
    border-radius: 40px;
    padding: 10px 38px;
    cursor: pointer;
    margin-top: 35px;
    transition: background-color 0.3s;

    @include onDesktop {
      margin-top: 0;
      padding: 7px 55px;
    }

    &:hover {
      background-color: $cream;
    }
  }

  &__image {
    margin-top: 25px;
    width: 100%;
    max-width: 1024px;

  }
}
