.masseges {

  &__img {
    margin-right: 160px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 380px;
  }

  &__input {
    max-width: 380px;
  }
}

@media (max-width:1200px) {
  .masseges__img {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .masseges__img > img {
    width: 250px;
  }
  .masseges__form {
    max-width: 320px;
  }
}
