@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__icon {
    text-decoration: none;
  }

  &__img {
    transition: transform 0.3s ease;

    &:hover {
      filter: brightness(0) invert(1);
      transform: scale(1.2);
    }
  }
}
