.media {
  &--facebook {
    height: 20px;
    width: 20px;

    background-image: url("../images/facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    transition: background-image 0.3s;

    &:hover {
      cursor: pointer;
      background-image: url("../images/facebook-active.png");
    }
  }

  &--instagram {
    height: 20px;
    width: 20px;

    background-image: url("../images/instagram.png");
    background-size: contain;
    background-repeat: no-repeat;

    transition: background-image 0.3s;

    &:hover {
      cursor: pointer;
      background-image: url("../images/instagram-active.png");
    }
  }

  &--twitter {
    height: 20px;
    width: 20px;

    background-image: url("../images/twitter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-image 0.3s;

    &:hover {
      cursor: pointer;
      background-image: url("../images/twitter-active.png");
    }
  }
}
