.menu-list {
  list-style: none;
  padding: 0;

  &__link {
    @include body-text;
    color: $c-black;
    text-decoration: none;

    @include onDesktop {
      @include hover(color, $c-accent-orange);
    }
  }
}
