.menu-mobile {
  height: 100vh;
  background-color: $c-croissant;
  border-left: 3px solid $c-white;

  &__top-actions {
    margin-bottom: 0;
  }

  &__wraper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__hidden {
    visibility: hidden;
  }
}
