.menu__burger {
  background-color: $light__pink;
  height: 100vh;
  
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &-link {
    @include body__text;
    color: $black;
    transition: 0.3s;

    &:hover {
      color: $accent__orange;
    }
  }
}
