.menu-icon {
  width: 20px;
  height: 8px;

  @include bg-center(contain);
  background-image: url("../images/icons/menu.svg");
  @include transition;

  @include onDesktop {
    display: none;
  }

  &:hover {
    transform: scale(1.5);
  }

  &--cross {
    height: 20px;
    background-image: url("../images/icons/cross.svg");
    filter: brightness(10);
  }
}
