.menu {
  &__content {
    background-color: #ffeefc;
    padding: 20px 20px 0;
    box-sizing: border-box;
    height: 100vh;
  }

  @include onDesktop {
    display: none;
  }

  &__top {
    margin-bottom: 150px;
  }
}
