.menu-top {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 20px;

  animation: animationDesc 1.5s linear;

  @include onDestop {
    padding: 0 32px 0 36px;
    height: 88px;
  }
}
