.menu {
  height: 100vh;
  background-color: $lightPink;

  @include onDesktop {
    display: none;
  }

  .menu__container {
    display: flex;
    justify-content: center;
    margin-top: 132px;
  }
}
