.menu-button {
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 16px;

  &__line1,
  &__line2,
  &__line3 {
    width: 25px;
    height: 2px;
    background-color: $c-dark-brown;
    margin: 8px 0;
  }
}
