.nav {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  transition: transform 0.6s;

  &:target {
    transform: translateX(0);
  }

  &__container {
    padding-left: 20px;
    width: 200px;
    height: 570px;
    background-color: $light;
  }

  &__image {
    display: flex;
    flex-direction: row-reverse;
    padding: 33px 16px 30px 0;
  }

  &__item {
    margin-bottom: 30px;
    list-style: none;
    

    &:last-child {
      margin-bottom: 147px;
    }
  }

  &__link {
    @extend %font;
    text-decoration: none;
    color: $darkbrown;
  }

  &__tel {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;

    @extend %font;
  }

  &__button {
    margin-bottom: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    
    &-text {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      color: $darkbrown;
      text-decoration: none;
      border-radius: 40px;
      background-color: #f1cc9d;
      border: 2px solid #f1cc9d;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #fff;
        transition: 0.3s;
      }
  
      &:active {
        background-color: #f1cc9d;
        opacity: 0.8;
      }
    }
  }
}
