.menu-footer {

  &__logo {
    width: 160px;
    height: 30px;
    margin-bottom: 44px;

    @include onTablet {
      margin-bottom: 105px;
    }

    @include onDesktop {
      margin-bottom: 65px;
    }
  }

  &__nav {
    margin-bottom: 64px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;
    padding: 0;
  }

  &__link {
    @extend %p;
    color: $color-white;

    @include hover(opacity, 0.7);
  }
}
