.middle {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 14px;

  &__item {
    font-size: 40px;
    color: $third-color;

    &--active {
      font-size: 176px;
      color: $main-color;
    }

    &--first {
      margin-bottom: 20px;
      transform: rotateZ(90deg);
      margin-right: 10px;
      font-weight: bold;
    }

    &--last {
      margin-top: 20px;
      transform: rotateZ(90deg);
      margin-right: 10px;
      font-weight: bold;
    }

    &:hover {
      color: $main-color;
    }
  }
}
