.mob-menu {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    padding: 10px;
    @include hoverLink;
  }

  &__link--btn {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $c-accent-orange;
    margin-bottom: -10px;
    @include hoverLinkBtn;
  }
}
