.mob-nav {
  height: 100vh;
  z-index: 2;
  background-color: $c-light-blue;

  &__top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  &__mob-menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
  }
}
