.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 30px 20px 20px;
  background-color: $croissant;
  border-left: 3px solid #fff;
  z-index: 101;
  transform: translateX(100%);

  @include onDesktop {
    display: none;
  }

  &:target {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    right: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 45px;
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
  }

  &__phone {
    padding: 100px 0 30px;
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
  }

  &__callback {
    display: block;
    width: max-content;
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
    padding: 5px 15px;
    background-color: $cream;
    border-radius: 40px;
  }

  &__chose {
    background: $croissant;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    color: $chocolate;
    margin-top: 35px;
  }
}
