.mobile-menu {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  transform: translateX(-100%);
  overflow-y: auto;
  background-color: $c-light-blue;

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem;
  }

  &__x {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }

  @include devices("tablet") {
    display: none;
  }

  &__links {
    margin-top: 8.3rem;
  }

  &__link-wrapper {
    padding-top: 1.5rem;
    list-style: none;
    text-align: center;
    &--call {
      padding-bottom: 12.8rem;
    }
  }

  &__link {
    &--call {
      position: relative;
      padding-left: 20px;
      text-transform: uppercase;
      color: $c-orange;
    }

    &--call::before {
      content: url("../images/call.png");
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 18px;
      transform: translateY(-50%);
    }
  }
}

.show-menu {
  animation: sliding linear 1s forwards;
}

.hide-menu {
  animation: hiding linear 1s forwards;
}

@keyframes sliding {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hiding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
