.motto {
  text-align: center;
  width: 288px;

  @include onTablet {
    grid-column: 1 / 9;
    text-align: left;
  }

  @include onNotebook {
    grid-column: 1 / 3;
    width: 230px;
    line-height: 24px;
    text-align: left;
  }

  @include onDesktop {
    grid-column: 1 / 3;
    width: 300px;
    line-height: 24px;
    text-align: left;
  }
}
