.nav-mobile {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__close {
    align-self: end;
    font-size: 40px;
    color: $chocolate-color;
  }

  &__nav {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    color: $chocolate-color;
    transition: color 0.3s;

    &:hover {
      color: $milk-color;
    }
  }

  &__contact {
    margin-top: 150px;
    flex-direction: column;
  }
}
