.nav-button {
  display: block;
  width: 26px;
  height: 15px;
  border: 0;
  margin: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    cursor: pointer;
  }

  &--up {
    background-image: url("../images/arrows/mobile/arrow-up-active.svg");

    @include onDesktop {
      background-image: url("../images/arrows/desktop/arrow-up-active.svg");
    }

    &:disabled {
      background-image: url("../images/arrows/mobile/arrow-up-disabled.svg");

      @include onDesktop {
        background-image: url("../images/arrows/desktop/arrow-up-disabled.svg");
      }
    }
  }

  &--down {
    background-image: url("../images/arrows/mobile/arrow-down-active.svg");

    @include onDesktop {
      background-image: url("../images/arrows/desktop/arrow-down-active.svg");
    }

    &:disabled {
      background-image: url("../images/arrows/mobile/arrow-down-disabled.svg");

      @include onDesktop {
        background-image: url("../images/arrows/desktop/arrow-down-disabled.svg");
      }
    }
  }
}
