.nav-mobile {
  display: flex;

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__link {
    transition: color 300ms;

    &:hover {
      color: $cream;
    }
  }

  @include tablet {
    &__link {
      font-size: 20px;
    }
  }

  @include phone-landscape {
    margin-bottom: 20px;

    &__item {
      display: inline;
      margin-right: 20px;
    }
  }
}
