.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 34px;
  }

  &__item {
    transition: 0.3s;
    &:hover {
      color: $primary-color;
      padding-left: 10px;
    }
  }
}

@media (min-width: 2400px) {
  .nav {
    &__list {
      font-size: 24px;
    }
  }
}

@media (max-width: 1030px) {
  .nav {
    display: none;
    width: 30vw;

    &__list {
      display: block;
      padding: 85px 0 147px 20px;
      height: 70vh;
      background: $primary-color;
      transition: 0.3s;

      & > :not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__item {
      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 550px) {
  .nav {
    display: none;
    width: 30vw;

    &__list {
      display: block;
      font-size: 12px;
      padding: 85px 0 147px 20px;
      height: 70vh;
      background: $primary-color;
      transition: 0.3s;

      & > :not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__item {
      &:hover {
        color: #fff;
      }
    }
  }
}
