.nav-list {
  display: flex;
  gap: 64px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: $color-black;
    text-decoration: none;
  }

  &--visible-on-desktop {
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &--in-nav-menu {
    flex-direction: column;
    gap: 24px;
  }
}
