.nav-menu {
  padding-top: 132px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__item {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: #1C1A26;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
  }

  &__link--contact {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    color: #F9512E;
    text-transform: uppercase;
  }
}