.nav {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;

    list-style: none;
  }

  &__item {
    @include hover(opacity, 0.7);

    &--last {
      @include hover(opacity, 1);

      &::before {
        display: inline-block;
        transform: translateY(5px);
        content: "";
        background-image: url(../images/icons/phone.svg);
        @include square(20px);
        background-repeat: no-repeat;
      }
      
      &::after {
        display: block;
        content: "";
        height: 1px;
        width: 0;
        background-color: $secondary-color;

        transition: width $transition;
      }

      &:hover::after {
        width: 100%;
      }

      &:focus::after {
        background-color: $third-color;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: $p-color;

    &--last {
      text-transform: uppercase;
      font-weight: 500;
      color: $secondary-color;

      @include hover(opacity, 1);

      transition: all $transition;
    }
  }
}
