.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 34px;
    transition: 0.3s;

    &:hover {
      color: $colorLightBrown;
    }
  }
}
