.navbar {
  padding: 30px 60px 0;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;

  &__asaid {
    display: flex;
    gap: 20px;
  }

  &__phone {
    @extend %p;
    text-decoration: none;
    color: $dark-brown-color;

  }
}
