.header__navbar {
  display: none;

  @include onDesktop {
    background-color: $pinkcolor;
    display: flex;
    justify-content: space-between;
    padding: 32px 36px 0;

    // transform: translateX(100%);
    // transition: transform 0.3s;
  }

  &-list {
    display: flex;

    &--link {
      text-decoration: none;
      color: $darkcolor;
      transition: color 0.3s;

      &:last-child {
        padding-left: 7px;
      }

      &:hover {
        color: $orangecolor;
        cursor: pointer;
      }
    }

  }

}
