.navigation {
  background-color: $croissant;
  width: 60vw;
  border-left: 3px white solid;
  height: 568px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  padding-top: 16px;
  z-index: 1;

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  &__toggle {
    position: relative;
    right: 0;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  &__menu-item {
    margin-left: 30px;
    margin-bottom: 40px;
  }
  &__menu-link {
    color: $chocolate;
  }
  &__tel {
    display: block;
    color: $chocolate;
    text-decoration: none;
    margin-bottom: 30px;
  }
  &__btn {
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  &__form {
    &-item {
      border: 0;
      width: min-content;
      opacity: 1;
    }
  }
}
