.navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__logo {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 82px;
    }
  }

  &__text {
    @extend %uppercase;
    color: $second-font-color;
  }

  &__link {
    @extend %body-text;

    text-decoration: none;
    color: #fff;
  }
}
