.nav {
  opacity: 1;
  transition-duration: 0.4s;

  &--header {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: $croissant;
    padding: 85px 15px;
    border-left: 3px solid $milk;
    z-index: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 60px;

    &--header {
      row-gap: 30px;
      margin-bottom: 147px;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $milk;
    transition-duration: 300ms;

    &:hover {
      color: $croissant;
    }
  }

  
  &__link--header {
    color: $chocolate;

    &:hover {
      color: $milk;
    }
  }
}

.display-none {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 576px) {
  .nav {
    &--header {
      width: 250px;
      padding: 85px 30px;
    }

    &__list--footer {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    flex-basis: 50%;

    &__list--footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 35px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms;
    justify-content: center;
  
    &--header {
      display: flex;
      position: static;
      right: 0;
      top: 0;
      width: 100%;
      background-color: transparent;
      padding: 19px 0;
      margin-bottom: 0;
      border-left: none;
      z-index: 0;
    }
  
    &__list {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
  
      &--header {
        width: 100%;
        max-width: 366px;
        justify-content: space-between;
      }
    }
  
    &__item {
      list-style: none;
    }
  
    &__link {
      text-decoration: none;
      color: $milk;
    }
  
    
    &__link--header {
      color: $chocolate;
  
      &:hover {
        color: $croissant;
      }
    }
  }
}
