* {
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  background-color: $lightBlue;
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
