.number {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  &:hover {
    transform: scale(1.05);
  }

  &__digit {
    @include BigText;
    color: $black;

    &:hover {
      color: $accent-orange;
    }
  }

  &__text {
    margin-top: 8px;
    @include BodyText;
    color: $grey;
  }

  &-1 {
    margin-top: 64px;
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 1/-5;
      margin-top: 72px;
    }
  
    @include Desktop1200 {
      margin-top: 144px;
      grid-column: 1/-7;
    }
  }

  &-2 {
    margin-top: 48px;
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 5/-1;
      margin-top: 72px;
    }
  
    @include Desktop1200 {
      margin-top: 144px;
      grid-column: 3/-5;
    }
  }

  &-3 {
    margin-top: 48px;
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 1/-5;
      margin-top: 80px;
    }
  
    @include Desktop1200 {
      margin-top: 146px;
      grid-column: 5/-3;
    }
  }

  &-4 {
    margin-top: 48px;
    grid-column: 1/-1;
  
    @include Tablet {
      grid-column: 5/-1;
      margin-top: 80px;
    }
  
    @include Desktop1200 {
      margin-top: 146px;
      grid-column: 7/-1;
      
    }
  }
}
