.numbers-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include onDesktop {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    padding: 0 46px;
    height: 100vh;
    width: 30%;

    background-color: $Croissant;
  }
}
