.numbers {
  &__big-text {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-red-color;
  }

  &__small-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1c1a26;
  }

  &__item {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}
