.number {

  &__choose_1 {
    font-family: "Rubik", sans-serif;
    font-size: 176px;
  }

  &__choose_2 {
    color: #f1cc9d ;
    font-size: 40px;
    font-family: "Rubik", sans-serif;
    margin-top: -20px;
  }

  &__choose_3 {
    color: #f1cc9d ;
    font-size: 40px;
    font-family: "Rubik", sans-serif;
  }

  &__btn_down {
    margin-top: 40px;
  }

}

@media (max-width: 1200px) {

  .number__choose_1 {
    font-size: 40px;
  }
  .number__choose_2,
  .number__choose_3 {
    font-size: 16px;
    margin: 0;
    color: #e39a3b;
  }

  .number__btn_down {
    transform: rotate(-90deg);
    margin: 0;
  }

  .number__btn_up {
    transform: rotate(-90deg);
  }

  .number > * {
    margin-left: 20px;
  }

}
