.number {
  &__staff {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onTablet {
      flex-direction: row;
      gap: 150px;
    }

    @include onSmallDesktop {
      justify-content: space-between;
    }

    &--two {
      @include onTablet {
        gap: 195px;
      }
    }
  }

  &__amount {
    color: $main-text-color;
    font-size: 96px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  &__text {
    color: $third-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}
