.intro {
  margin-bottom: 72px;
  height: 100%;
  // position: relative; /**/
  // background-color: yellow;
  text-align: center;

  &__lead-text {
    margin-top: 32px;
    letter-spacing: -0.01em;
    // text-align: center;

    @include onTablet {
      margin-top: 80px;
      text-align: left;
    }

    @include onDesktop {
      margin-top: 135px;
      text-align: left;
    }
  }

  &__title {
    margin-top: 32px;
    // top: 50%;
    // transform: translateY(-50%);
    // display: block;
    // width: 100%;
    font-weight: 400;
    font-size: 64px;
    // line-height: 85%;
    // text-align: center;
    letter-spacing: -0.05em;

    @include onTablet {
      font-size: 80px;
      margin-top: 146px;
      // width: 100%;
      // margin: 0 auto;
      // top: 50%;
    }

    @include onDesktop {
      margin-top: 8px;
      font-size: 136px;
      // position: absolute;
    }

    @media (min-width: 1440px) {
      margin-top: 40px;
      font-size: 144px;
    }
  }

  &__image {
    width: 100%;
    display: block;
    z-index: 1;

    @include onTablet {
      position: absolute;
      z-index: -1;
      width: 50%;
      top: 208px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onDesktop {
      position: absolute;
      z-index: -1;
      width: 50%;
      top: 88px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1440px) {
      width: 40%;
    }
  }

  &__button {
    @include onTablet {
      margin-top: 210px;
    }

    @include onDesktop {
      margin-top: 64px;
    }
  }
}
