.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-bottom: 5px;

  border-bottom: 1px solid transparent;

  transition: border-bottom 1s;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $orangeColor;
  }

  &__arrow {
    margin-right: 8px;
  }

  &__link {
    @extend %font500;
    color: $orangeColor;
  }

}
