@import "../utils/vars";

.page {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $black;

  background-color: $lightPink;

  scroll-behavior: smooth;

  &__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 0 16px;

    @include onTablet {
      height: 64px;
      padding: 0 16px;
    }

    @include onDesktop {
      padding: 0 16px;
      height: 88px;
    }

    @include onDesktopBig {
      padding: 0 16px;
      height: 88px;
    }
  }

  &__intro {
    margin-top: 96px;

    @include onTablet {
      margin-top: 144px;
    }
  }

  &__products {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onDesktop {
      margin-bottom: 178px;
    }

    @include onDesktopBig {
      margin-bottom: 178px;
    }
  }
}
