.page {
  box-sizing: border-box;
  background-color: #ffeefc;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $color-main;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }
}
