.page__products {

  &--title {
    display: block;
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #1c1a26;

    @media (min-width: 1024px) {
      display: block;
      width: 100%;
      font-size: 72px;
    }
  }

  &--description {
    display: block;
    margin: 0 0 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    color: #1c1a26;
  }
}
