.page-title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  color: $title-text-color;

  @media (min-width: $tablet-min-width) {
    font-size: 56px;
    line-height: 48px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 72px;
    line-height: 61px;
  }
}
