@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.paragraph {
  @include body-text;

  color: $black;
  text-align: left;

  @include for-m {
    text-align: left;
  }

  @include for-l {
    text-align: left;
  }

  @include for-xl {
    text-align: left;
  }

  &--right {
    text-align: left;
  }
}
