.pastries {
  display: flex;
  flex-direction: column;

  margin-top: 104px;

  @include onTablet {
    @include pageGrid;
  }

  &__title {
    color: $black;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%; /* 40.8px */
    letter-spacing: -2.4px;
    text-transform: uppercase;

    @include onTablet {
      font-size: 56px;
      letter-spacing: -2.8px;

      grid-column: 1 / 6;
    }

    @include onDesktop {
      font-size: 72px;
      letter-spacing: -3.6px;
    }
  }

  &__inform {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    margin-top: 24px;

    @include onTablet {
      grid-column: 1 / 7;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 56px;

    @include onTablet {
      margin-top: 80px;
    }
  }

  &__item--1 {
    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__item--2 {
    @include onTablet {
      grid-column: 5 / 9;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }
  }

  &__item--3 {
    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 3 / 6;
    }
  }

  &__item--4 {
    @include onTablet {
      grid-column: 5 / 9;
    }

    @include onDesktop {
      grid-column: 6 / 9;
    }
  }

  &__item--5 {
    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__item--6 {
    @include onTablet {
      grid-column: 5 / 9;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }
  }

  &__img {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 356px;
    margin: 0 auto;
    object-fit: cover;

    @include hover;

    @include onTablet {
      height: 424px;
    }

    @include onDesktop {
      height: 512px;
    }
  }

  &__item-title {
    margin-top: 16px;
    color: $grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  &__item-inform {
    margin-top: 8px;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
  }

  &__item-order {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 24px;
    color: $orange;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
    cursor: pointer;

    transition: margin-left 0.5s;

    &:hover {
      margin-left: 15px;
    }
  }

  &__order-arrow {
    display: flex;
    @include background;
    background-image: url(../images/arrow.png);
    width: 24px;
    height: 24px;
  }
}
