@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  &__number {
    text-decoration: none;

    @include body-text;

    color: $white;
    padding-top: 16px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03) translateX(5px);
    }
  }
}
