@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  &__number {
    text-decoration: none;

    @include body-text;

    color: $white;
    padding-top: 16px;
  }
}
