.phone {
  &__phone-number {
    display: flex;
    align-items: center;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: $colorOrange;
    letter-spacing: 0.02em;
    line-height: 100%;
  }

  &__phone-image {
    margin-right: 7px;
  }

  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}
