.photo {
  &__card {
    height: 356px;

    transition-property: transform;
    transition-duration: 0.3s;

    @include onTablet {
      height: 424px;
    }

    @include onDesktop {
      height: 512px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__cake {
    width: 100%;
    height: 100%;

    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    &--title {
      font-weight: 500;
      line-height: 100%;
      text-align: left;
      letter-spacing: -2%;
      text-transform: uppercase;
      color: $gray-color;
      padding: 16px 0 8px;
      margin: 0;
    }

    &--subtitle {
      margin: 0 0 24px;
    }
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align-last: left;
  letter-spacing: -1%;
  color: $dark-color;
}
