.place {

  &__card {
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__photo {
    margin: 0 auto 16px;
    display: block;
    max-width: 288px;
    border-radius: 8px;

    transition: transform 0.4s;

    @include onTablet {

      max-width: 100%;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  &__card-name {
    margin-bottom: 8px;

    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-gray;
  }

  &__card-description {
    margin-bottom: 24px;
  }

  &__link {
    display: block;
    padding-left: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-orange;
    position: relative;

    @include onTablet {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      background-image: url(../images/Arrow.svg);
      position: absolute;
      top: 50%;
      left: 0;

      transform: translateY(-50%);
      width: 16px;
      height: 16px;

      transition: background-image 0.3s;
    }

    &:active::before {
      background-image: url(../images/Arrow_hover.svg);
    }

    &:hover {
      color: $color-orange;

    }

    &:active {
      color: $color-Dark_orange;
    }
  }
}
