.place-info {

  display: flex;
  flex-direction: column;
  min-width: 430px;
  padding-left: 60px;
  margin-left: 50px;

  &__text {
    margin: 8px 0;
    font-weight: 700;

    &--fontweight {
      font-weight: 300;
    }
  }

  &--adress {
    background-image: url(../images/place.svg);
    background-position: 10px 15px;
    background-repeat: no-repeat;
  }

  &--number {
    background-image: url(../images/ph.svg);
    background-position: 0 15px;
    background-repeat: no-repeat;
  }

  &--email {
    background-image: url(../images/mail.svg);
    background-position: 10px 18px;
    background-repeat: no-repeat;
  }

}
