.product-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  &__image {
    border-radius: 8px;
    transition: transform $transition-time;
    width: 100%;
    height: auto;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__title {
    @include textUppercase;
    color: $grey;
  }

  &__text {
    @include textBody;
  }
}
