.products {
  margin-block: 70px;

  @include on-tablet {
    margin-block: 150px;
  }

  @include on-desktop {
    margin-block: 170px;
  }

  &__title {
    @extend %h2;
    color: $orange_text_color;
    margin-bottom: 24px;
  }

  &__text {
    @extend %body-text;
    color: $main-text-color;
    margin-bottom: 55px;
  }

  &__blocks {
    @include grid;
    row-gap: 56px;

    @include on-tablet {
      row-gap: 80px;
    }
  }
}
