.products-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 4;
  }

  &__photo {
    width: 288px;
    height: 356px;

    @include on-tablet {
      width: 328px;
      height: 424px;
    }

    @include on-desktop {
      width: 402px;
      height: 512px;
    }
  }

  &__description {

    &__name {
      padding-bottom: 8px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.32px;
      color: #7F8096;
    }

    &__text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.16px;
      color: #1C1A26;
    }
  }

  &__link-order {
    display: flex;
    align-items: center;
    gap: 4px;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.32px;
    color: #F9512E;
  }
}

.products-card--one {
  @include on-desktop {
    grid-column: 1 / 4;
  }
}

.products-card--two {
  @include on-desktop {
    grid-column: 4 / 7;
  }
}

.products-card--three {
  @include on-desktop {
    grid-column: 3 / 6;
  }
}

.products-card--four {
  @include on-desktop {
    grid-column: 6 / -1;
  }
}

.products-card--five {
  @include on-desktop {
    grid-column: 1 / 4;
  }
}

.products-card--six {
  @include on-desktop {
    grid-column: 4 / 7;
  }
}