.product-photo {
  @include flex-between;
  align-items: center;
  width: 60%;

  @media (max-width: 1300px) {
    & {
      width: $full-size;
    }
  }

  &__image {
    @media (max-width: 900px) {
      & {
        width: 90%;
        height: 90%;
      }
    }
  }

  &__arrow-right {
    @include flex-column;
    justify-content: space-around;
    width: 15px;
    height: 26px;
  }

  &__item-right-1 {
    width: 21px;
    height: 4px;
    background-color: $color-dark-brown;
    transform: rotate(45deg);
  }

  &__item-right-2 {
    width: 21px;
    height: 4px;
    background-color: $color-dark-brown;
    transform: rotate(-45deg);
  }

  &__arrow-left {
    @include flex-column;
    justify-content: space-around;
    width: 15px;
    height: 26px;
  }

  &__item-left-1 {
    width: 21px;
    height: 4px;
    background-color: $color-light-brown;
    transform: rotate(135deg);
  }

  &__item-left-2 {
    width: 21px;
    height: 4px;
    background-color: $color-light-brown;
    transform: rotate(-135deg);
  }
}
