.production {
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $orange-letters;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 56px;
    }

    @include onDesktop {
      font-size: 72px;
    }

    @include onDesktopBig {
      font-size: 72px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $black-letters;
    margin-bottom: 80px;
  }

  &__photo {
    display: flex;
    margin: 0 auto;
    height: 350px;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      height: 425px;
    }

    @include onDesktop {
      height: 460px;
    }

    @include onDesktopBig {
      height: 500px;
    }
  }

  &__photo-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 8px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #7f8096;
  }

  &__description {
    margin-bottom: 64px;
  }

  &__photo-receipt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $black-letters;
    margin-bottom: 24px;
  }

  &__order {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: $orange-letters;

    &::before {
      content: url(../images/arrow.svg);
      margin-right: 8px;
      transition: transform 0.5s ease;
    }

    &:hover {
      text-decoration: underline;

      &::before {
        transform: translateX(45%);
      }
    }
  }
}
