.product-photo {
  display: flex;
  justify-content: center;
  width: 60%;

  @media (max-width: 1300px) {
    width: $full-size;
  }

  &__image {
    @media (max-width: 900px) {
      width: 90%;
      height: 90%;
    }
  }
}
