.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include laptop {

    &:hover &__photo {
      transform: scale(1.01);
      box-shadow: 0 1px 4px $color-black;
    }
  }

  &__photo {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    object-fit: contain;

    transition-property: transform, box-shadow;
    @include transition-smooth-duration;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: $color-grey;
  }

  &__describe {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  &__action {
    width: max-content;
    border-bottom: 1px solid transparent;

    transition-property: border-bottom;
    @include transition-smooth-duration;

    &:before {
      padding-right: 8px;
      width: 16px;
      height: 16px;
      background-image: url("../images/icons/arrow.svg");
    }

    @include laptop {
      &:hover {
        border-bottom: 1px solid $color-orange;
      }
    }
  }
}
