
.product__type {
  margin: 0 0 64px;

  @include onTablet {
    margin: 0 0 88px;
  }

  &--img {
    width: 100%;
    height: 356px;
    margin-bottom: 16px;

    object-fit: cover;
    object-position: center;

    border-radius: 8px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      height: 424px;
    }

    @include onDesktop {
      height: 512px;
    }

    @include onTv {
      height: 560px;
    }
  }

  &--name {
    display: block;
    margin: 0 0 8px;

    @include forText (500, 16px, 100%);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-menu;
  }

  &--discriprion {
    display: block;
    margin: 0 0 24px;

    @include forText (400, 16px, 150%);
    letter-spacing: -0.01em;
    color: $color-general;
  }

  &--link {
    display: block;
    margin: 0;
    transition: transform 0.3s;

    @include forText (500, 16px, 100%);
    text-decoration: none;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-other;

    &:hover {
      transform: translate(10px);
    }
  }
}
