.product-card {
  &__image {
    width: 100%;
    height: 356px;
    margin-bottom: 16px;

    border-radius: 8px;
    object-fit: cover;
    object-position: center;

    @include onTablet {
      height: 424px;
    }

    @include onDesktop {
      height: 510px;
    }

    @media (min-width: 1200px) {
      height: 560px;
    }
  }

  &__category {
    margin-bottom: 8px;

    @extend %font-uppercase;
    color: $c-grey;
  }

  &__description {
    margin-bottom: 16px;

    @extend %font-body-text;
  }

  &__order-btn {
    justify-content: start;
    width: max-content;
  }
}
