.products-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1 / -1;

  &__photo {
    width: 288px;
    height: 356px;
  }

  &__description {

    &__name {
      padding-bottom: 8px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 2%;
      color: #7F8096;
    }

    &__text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -1%;
      color: #1C1A26;
    }
  }

  &__link-order {
    display: flex;
    align-items: center;
    gap: 4px;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #F9512E;
  }

}