.products {
  &__container {
    margin: 0 16px;

    @include onTablet {
      margin: 0 44px;
    }
    
    @include onLargeDesktop {
      margin: 0 124px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 48px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $textColor;

    @include onTablet {
      font-size: 56px;
      line-height: 48px;
    }

    @include onDesktop {
      font-size: 72px;
      line-height: 61px;
    }
  }

  &__subtitle {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $textColor;

    @include onTablet {
      margin-bottom: 80px;
    }
  }
}
