.recomended {
  &__title {
    grid-column: 1 / -1;
    min-width: 288px;
    color: $acc-orange;
    font-size: 48px;
    line-height: 41px;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 24px;

    @include on-tablet {
      width: 680px;
      font-size: 56px;
      line-height: 48px;
      letter-spacing: -2.8px;
      margin-top: 0;
    }

    @include on-desktop-mini {
      font-size: 72px;
      line-height: 61px;
      letter-spacing: -3.6px;
      margin-top: 152px;
    }
  }

  &__description {
    grid-column: 1 / -1;
    min-width: 288px;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-tablet {
      @include page-grid;

      row-gap: 80px;
    }
  }
}

