.resize {
  display: flex;
  justify-content: center;
  gap: 40px;

  @include onDesktop {
    display: none;
  }
  // width: 120px;
  &__item {
    @include flex(flex, center, center);
    @include sizes(40px, 40px);
    @include sizes(65px, 65px);
    @extend %default-text;
    font-size: 30px;
    background-color: #fff;
    border-radius: 26px;
  }
}
