.resize {
  display: flex;
  justify-content: center;
  gap: 40px;
  // width: 120px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color: #412d22;
    background-color: #fff;
    border-radius: 26px;
  }
}
