.rewiew {
  padding-top: 64px;
  padding-bottom: 24px;

  @include onTablet {
    padding-top: 72px;
    padding-bottom: 104px;
  }

  @include onDesktop {
    padding-top: 144px;
    padding-bottom: 300px;
  }

  &__content {
    margin-bottom: 48px;

  }

  &__title {
    margin-bottom: 8px;
    @include textBig;
    color: $accentOrange;
  }

  &__discription {
    @include textDescription;
  }
}
