.right-nav {
  display: none;
  list-style: none;
  text-decoration: none;
  padding-top: 65px;
  padding-left: 0;
  transition: 1s;
  opacity: 0;

  @include breakpoint($tablet-bp) {
    opacity: 1;
    transition: 1s;
    display: block;
    overflow: hidden;
  }

  &__link {
    margin-bottom: 30px;

    &--footer a {
      color: #fff;

      &:hover {
        color: $alter-color;
      }
    }
  }

  &__link:hover a {
    transition: 0.3s;
    color: $alter-color;
  }
}
