.right-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;

  &__number {
    margin-top: 14px;
    font-size: 40px;
    line-height: 47px;
    color: #fff;

    &--active {
      margin-bottom: -24px;
      font-size: 178px;
      line-height: 209px;
      color: $dark-brown;
      transform: translateX(-60px);
    }
  }

  &__button {
    margin: 41px 0 9px 0;
  }
}