.right-panel {
  box-sizing: border-box;
  background-color: $colorCroissant;
  width: 425px;
  height: 100vh;
  max-height: 840px;
  padding: 60px 46px;
  display: none;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    gap: 125px;
  }

  &__utils {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: end;
    align-items: flex-end;
  }

  &__number {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: $colorCream;

    &--active {
      color: $colorChocolate;
      font-size: 176px;
      line-height: 210px;
    }
  }

  &__vector {
    height: 15px;
    width: 26px;
    border: none;
    cursor: pointer;
    background-color: $colorCroissant;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.5);
    }
  }
}
