.right-side {
  box-sizing: border-box;
  padding: 0 47px;
  &__tel {
    display: block;
    color: $chocolate;
    text-decoration: none;
  }
  &__btn {
    box-sizing: border-box;
  }

  &__form {
    &-item {
      border: 0;
      width: min-content;
      opacity: 1;
    }
  }
  &__slide-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-top: 125px;
  }
  &__arrow {
    border: none;
    cursor: pointer;
    color: $chocolate;
    background-color: transparent;
    font-size: 40px;
  }
  &__slide-num {
    display: flex;
    align-content: flex-end;
    color: $cream;
    text-decoration: none;
    font-size: 40px;
    line-height: 47px;
    &--active {
      color: $chocolate;
      font-size: 176px;
      line-height: 209px;
    }
  }
}
