.right-panel {
  box-sizing: border-box;
  background-color: $colorCroissant;
  width: 425px;
  height: 100vh;
  max-height: 840px;
  padding: 60px 46px;
  display: none;

  

  @include onDesktop {
    display: block;
  }

  &__utils {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    gap: 20px;
  }

  &__number {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: $colorCream;
  }
}
