
.roller {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__num-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__num {
    @include p();
    font-size: 40px;
    line-height: 47px;
    color: #f1cc9d;
  }
  &__num:first-of-type {
    @include p();
    font-size: 176px;
    line-height: 209px;
    color: $main_darkColor;
  }
  &__up-arrow,
  &__down-arrow {
    width: 26px;
    height: 15px;
    border: none;
    background: none;
    background-repeat: no-repeat;
  }
  &__up-arrow {
    margin: 9px;
    background-image: url("../images/icons/up-arrow-light.svg");
  }
  &__down-arrow {
    margin: 9px;
    margin-top: 41px;
    border: none;
    background-image: url("../images/icons/down-arrow-dark.svg");
  }
}
