.roller {
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  left: 30%;
  bottom: 28px;

  &__item {
    color: $croissant;
    &:first-child {
      font-size: 40px;
      line-height: 47px;
      color: $chocolate;
    }
  }

  &::before {
    position: absolute;
    content: url("../images/arrow-crois-left-small.svg");
    bottom: 4px;
    left: -29px;
  }

  &::after {
    position: absolute;
    content: url("../images/arrow-choc-right-small.svg");
    bottom: 4px;
    right: -29px;
  }
}
