.scale {
  display: flex;
  align-items: center;
  gap: 40px;

  @include onDesktop {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #412d22;
    transition: background-color 0.5s;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      background-color: $Croissant;
    }
  }
}
