.scale {
  display: flex;
  align-items: center;
  gap: 40px;

  @include onDesktop {
    display: none;
  }

  &__item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    font-size: 30px;
    line-height: 45px;
    color: $Chocolate;
    cursor: pointer;
  }
}
