@import "../utils/vars";

.scrollup {
  position: fixed;
  background-color: $accentOrange;
  right: 16px;
  bottom: -30%;
  display: inline-flex;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  z-index: 10;
  opacity: 0.8;

  transition: all 0.4s;

  &:hover {
    background-color: $darkOrange;
    opacity: 1;
  }

  &__icon {
    font-size: 24px;
    color: $white;
  }
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}
