.scroll {
  display: none;

  &__big-number {
    font-size: 176px;
    line-height: 209px;
    color: $dark-brown;
  }

  &__small-number {
    margin-bottom: 14px;

    font-size: 40px;
    line-height: 47px;
    color: $cream;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__arrow {
    margin-right: 12px;
    width: 26px;
    height: 15px;

    &--up {
      margin-bottom: 9px;
    }
  }

  @include phone {
    & {
      display: flex;
      align-items: baseline;

      margin-left: 50%;
      transform: translateX(-50%);
    }

    &__arrow {
      height: 24px;
      width: 12px;
      align-self: center;

      &:first-child {
        margin-right: 15px;
      }
    }

    &__big-number {
      font-size: 40px;
      line-height: 47px;

      margin-right: 20px;
    }

    &__small-number {
      font-size: 16px;
      line-height: 19px;

      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
