@import "../utils/vars";

::-webkit-scrollbar {
  width: 10px;
  background-color: $lightPink;
}

::-webkit-scrollbar-thumb {
  background: $accentOrange;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: $darkOrange;
}
