.search {
  display: flex;
  gap: 32px;
  max-width: 900px;
  padding-bottom: 70px;

  &__button {
    @extend %main-button;
  }

  &__city,
  &__address {
    width: 300px;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    color: $dark-color;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $dark-color;
      bottom: 15px;
      right: 0;
      left: 0;
    }
  }

  &__city {
    width: 150px;
  }
}
