.search-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--ondesktop {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    @include onDesktop {
      flex-direction: row;
    }
  }

  &__select {
    margin-bottom: 8px;
    display: block;

    @include onDesktop {
      display: inline-block;
    }

    width: 100%;
    height: 44px;
    border: transparent;
    border-bottom: 1px solid $chocolate;
    
    outline: none;
    background-color: $cream;
    color: $chocolate;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.5;

    &--city {
      @include onDesktop {
        width: 180px;
      }
    }

    &--adress {
      @include onDesktop {
        width: 260px;
      }
    }
  }

  &__button {
    margin: 36px auto 24px;
  }

  &__map {
    text-align: center;
  }
}
