.search {
  display: flex;
  gap: 32px;
  width: 900px;
  padding-bottom: 70px;

  &__button {
    height: 40px;
    width: 160px;
    border-radius: 40px;
    outline: none;
    font-family: Rubik, sans-serif;
    border: 2px solid $main-color;
    background-color: $main-color;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fff;
      transition: background-color 0.3s;
    }

    &:active {
      background-color: $main-color;
      opacity: 0.8;
    }
  }

  &__city {
    flex-basis: 28%;
  }

  &__city,
  &__address {
    width: 100%;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    color: #412d22;
    max-width: 380px;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: #412d22;
      bottom: 15px;
      right: 0;
      left: 0;
    }
  }
}
