.secondary-nav {
  @include column;
  gap: 2.5rem;

  padding-bottom: 4rem;

  @include onTablet {
    gap: 6rem;
  }
  
  @include onLaptop {
    gap: 3.75rem;
  }

  &__list {
    @include column;
    gap: 1rem;
  }

  &__link {
    display: flex;
    width: min-content;
    text-wrap: nowrap;

    @include hoverUnderline {
      justify-content: flex-start;
    }
  }
}
