.section-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__goods {
    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  @include tablet {
    flex-direction: row;
  }
}