.section-title {
  margin: 0;
  margin-bottom: 24px;

  color: $main-text-color;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  line-height: 40.8px;
  letter-spacing: -0.5;
  text-align: left;

  @include on-tablet {
    font-size: 56px;
    line-height: 47.6px;
  }
}