.section-about {
  position: relative;
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }

  &__title {
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    margin-top: 40px;
  }

  &__paragraph {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-align: center;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__achieves {
    align-self: flex-start;
    display: flex;
    gap: 40px;
    margin-left: 85px;
    min-width: 934px;
    max-width: 1320px;
    margin-bottom: 40px;

    @include tablet {
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 80px;
    }

    @include notebook {
      margin-bottom: 100px;
    }

    @include Design {
      margin-bottom: 140px;
    }
  }

  &__achive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 150px;
    height: 150px;

    @include Design {
      width: 200px;
      height: 200px;
    }
  }

  &__hidden {
    display: none;

    @media (min-width: 700px) {
      display: inline;
    }
  }

  &__number {
    font-size: 60px;
    line-height: 71px;
    color: $dark-brown;
    font-weight: 300;
    text-align: center;
  }

  &__number-of {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $dark-brown;
  }
}
