.section-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  line-height: 40.8px;
  letter-spacing: -0.05em;
  color: $accent-text-color;
  text-transform: uppercase;

  @include on-tablet {
    margin-top: 100px;
    font-size: 56px;
    line-height: 47.6px;
  }

  @include on-desktop {
    margin-top: 80px;
    font-size: 72px;
    line-height: 61.2px;
  }
}
