.section-title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 48px;
  line-height: 40.8px;
  color: $orange-text-color;
  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 56px;
    line-height: 47.6px;
  }

  @include on-desktop {
    font-size: 72px;
    line-height: 61.2px;
  }
}
