.section {
  padding: 0 16px;

  @include onTablet {
    padding: 0 44px;
  }

  @include onDesktop {
    padding: 0 124px;
  }

  &__products {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onLargeScreen {
      margin-bottom: 178px;
    }

    @include onLargeScreen {
      padding: 0 144px;
    }
  }

  &__about {
    @include onDesktop {
      padding-bottom: 293px;
    }
  }

  &__footer__content {
    padding-top: 56px;
    padding-bottom: 56px;

    @include onTablet {
      padding-bottom: 88px;
      padding-top: 88px;
    }
  }
}
