.section {
  &__title {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    color: $colorOrange;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include onTablet {
      font-size: 56px;
    }

    @include onDesktop {
      font-style: 72px;
    }

    &--color--white {
      color: #fff;
    }
  }
}
