.section-about {
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    margin-top: 40px;
  }

  &__paragraph {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-align: center;
  }

  &__achieves {
    align-self: flex-start;
    display: flex;
    gap: 80px;
    position: relative;
    margin-left: 85px;
    overflow: hidden;
  }

  &__achive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 150px;
    height: 150px;

    @include notebook {
      width: 200px;
      height: 200px;
    }
  }
}