.select {
  &__language {
    display: block;
    // width: 50px;
    border: none;
    outline: none;
    background-color: #e39a3b;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #412d22;
    // margin-bottom: 300px;
  }

  &__shops {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #412d22;
    margin-bottom: 25px;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #412d22;
    background-color: transparent;
    opacity: 0.5;
    &:last-child {
      margin-bottom: 35px;
    }
  }
}
