.services {
  &__subtitle {
    @include Subtitles;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 56px;

    @include Tablet {
      margin-bottom: 80px;
    }

    @include Desktop {
      margin-bottom: 80px;
    }

    @include Desktop-LG {
      margin-bottom: 80px;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include Tablet {
      gap: 80px;
    }

    @include Desktop {
      gap: 80px;
    }

    @include Desktop-LG {
      gap: 80px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include Tablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
    }

    @include Desktop {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
    }

    @include Desktop-LG {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
    }
  }

  &__item-1 {
    @include Tablet {
      grid-column: 1 / 5;
    }

    @include Desktop {
      grid-column: 1 / 4;
    }

    @include Desktop-LG {
      grid-column: 1 / 4;
    }
  }

  &__item-2 {
    @include Tablet {
      grid-column: 5 / 9;
    }

    @include Desktop {
      grid-column: 4 / 7;
    }

    @include Desktop-LG {
      grid-column: 4 / 7;
    }
  }

  &__item-3 {
    @include Tablet {
      grid-column: 1 / 5;
    }

    @include Desktop {
      grid-column: 3 / 6;
    }

    @include Desktop-LG {
      grid-column: 3 / 6;
    }
  }

  &__item-4 {
    @include Tablet {
      grid-column: 5 / 9;
    }

    @include Desktop {
      grid-column: 6 / 9;
    }

    @include Desktop-LG {
      grid-column: 6 / 9;
    }
  }

  &__photo {
    width: 100%;
    margin-bottom: 16px;

    @include hover(scale, 1.02);

    @include Tablet {
      width: 100%;
    }

    @include Desktop {
      width: 100%;
    }

    @include Desktop-LG {
      width: 100%;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $grey;
  }

  &__descr {
    margin-bottom: 16px;
  }
}
