.shop {
  padding: 52px 0 40px;

  @include onTablet {
    padding: 114px 0 80px;
  }

  @include onDesctop {
    padding: 160px 0 93px;
  }

  @include onDesctopLarge {
    padding: 145px 0 93px;
  }

  &__title {
    margin: 0 0 24px;

    @extend %title;
  }

  &__text {
    margin: 0 0 56px;
    letter-spacing: -0.01em;

    @include onTablet {
      margin: 0 0 80px;
    }
  }

  &__items {

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
      row-gap: 88px;
    }
  }
}
