.shops {

  background-color: #f1cc9d;
  padding: 40px 0;

  &__form {
    outline: none;
    @include onDesktop {
      width: 720px;
      display: flex;
      gap: 32px;
      justify-content: center;
      margin: 0 auto 70px;
    }
  }
}
