.slider {

  &__btn {
    max-height: 15px;
    background: none;
    border: none;
  }

  &__img {
    max-width: 100%;
    margin: 0 40px;
  }
}

@media (max-width: 1200px) {

  .slider__img {
    margin: 0;
  }
}
