.sliders {
  display: flex;
  justify-content: center;
  align-items: baseline;

  &__prev,
  &__next {
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:first-of-type {
      font-size: 40px;
      line-height: 47px;
      color: $chocolate-color;
    }

    font-size: inherit;
    line-height: 19px;

    color: $croissant-color;
  }
}
