.slider {

  &__btn-l,
  &__btn-r {
    background: none;
    border: none;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
  }

  &__btn-l {
    background-image: url(/images/Vectorleft.svg);
  }
  &__btn-r {
    background-image: url(/images/Vectorright.svg);
  }

  &__img {
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 400px;
    margin: 0 40px;
  }
}

@media (max-width: 1200px) {

  .slider__img {
    margin: 0;
  }
}
