.slide-menu {
  // overflow: auto; /* to scroll the menu if needed */
  // height: 100vh;

  // &__wrapper {
  //   // position: relative;
  //   overflow: auto;
  //   height: 100%;
  // }

  &__top {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 3;
    background-color: $light-pink;
  }

  &__list {
    display: grid;
    place-items: center;
    gap: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}
