.social {
  display: flex;

  &__link {
    width: 44px;
    height: 24px;
    text-align: center;
    margin-right: 22px;
    margin-block: 40px;
    transition: transform $transition-speed, filter $transition-speed;
    transform: scale(1);

    @include onTablet {
      margin-top: 48px;
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.2);
      -webkit-filter: brightness(0%) saturate(0%) invert(100%);
      filter: brightness(0%) saturate(0%) invert(100%);
    }
  }
}
