.socials {
  &__list {
    display: flex;
    gap: 2rem;

    &-item {
      display: flex;
      @include icon("icon-facebook");

      &--fb {
        background-image: url(../images/icons/icon-facebook.svg);
        @include iconHover("icon-facebook");
      }

      &--inst {
        background-image: url(../images/icons/icon-instagram.svg);
        @include iconHover("icon-instagram");
      }

      &--twit {
        background-image: url(../images/icons/icon-twitter.svg);
        @include iconHover("icon-twitter");
      }
    }
  }

  &__link {
    @include nav-link;
  }
}
