.socia {
  display: flex;
  gap: 34px;
  align-items: center;

  &__link {
    display: block;
  }

  &__img {
    fill: $col-orange;
    transition: transform 0.3s,
      color 0.3s;

    &:hover {
      transform: scale(1.5);
      fill: $col-white;
    }
  }
}
