.social-icons {
  display: flex;
  &__Fb {

    height: 20px;
    width: 20px;
    padding-right: 40px;

    background-image: url(../images/Icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__insta {

    height: 20px;
    width: 20px;
    padding-right: 40px;

    background-image: url(../images/Icon-instagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__twitter {

    height: 20px;
    width: 20px;

    background-image: url(../images/Icon-twitter.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
