.socials {
  &__list {
    display: flex;
    gap: 32px;
    justify-content: start;
  }

  &__icon {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;

    @include hover(transform, scale(1.5));

    &--facebook {
      background-image: url(../images/icons/facebook.svg);

      &:hover {
        background-image: url(../images/icons/facebook-white.svg);
      }
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);

      &:hover {
        background-image: url(../images/icons/twitter-white.svg);
      }
    }

    &--instagram {
      background-image: url(../images/icons/instagram.svg);

      &:hover {
        background-image: url(../images/icons/instagram-white.svg);
      }
    }
  }
}
