.social {
  margin-bottom: 42px;

  @include onTablet {
    margin-bottom: 0;
  }

  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: $transition-time;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__facebook {
    width: 11px;
    background-image: url(../images/icons/facebook.png);

    &:hover {
      background-image: url(../images/icons/facebook-white.svg);
    }
  }

  &__instagram {
    background-image: url(../images/icons/instagram.png);

    &:hover {
      background-image: url(../images/icons/instagram-white.svg);
    }
  }

  &__twitter {
    background-image: url(../images/icons/twitter.png);

    &:hover {
      background-image: url(../images/icons/twitter-white.png);
    }
  }
}
