.social-icons {
  display: flex;
  align-items: center;
  flex-direction: row;

  &__item {
    margin-right: 40px;
  }

  &__icon {
    fill: $accent-orange;
    @include transition;

    &:hover {
      fill: $white;
    }
  }
}
