.socials {
  display: flex;
  align-content: flex-start;

  &__link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 40px;
    margin-bottom: 42px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: filter $transition-time;

    &:hover {
      filter: brightness(0) invert(1);
    }

    &-facebook {
      background-image: url(../images/icons/facebook.svg);
    }

    &-instagram {
      background-image: url(../images/icons/instagram.svg);
    }

    &-twitter {
      background-image: url(../images/icons/twitter.svg);
    }

  }
}
