.social-icons {
  display: flex;
  &__Fb {

    height: 20px;
    width: 20px;
    padding-right: 40px;

  }

  &__insta {

    height: 20px;
    width: 20px;
    padding-right: 40px;
  }

  &__twitter {

    height: 20px;
    width: 20px;
  }
  & svg:hover path {
    cursor: pointer;
    fill: #fff;
  }
}
