.social {
  display: flex;

  &__icon {

    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    transition: background-image 0.4s;
  }

  &__fb {
    width: 12px;
    height: 20px;
    background-image: url(../images/Facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/Facebook_hover.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__inst {
    width: 20px;
    height: 20px;
    background-image: url(../images/Instagram.svg);
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/Instagram_hover.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__twit {
    width: 24px;
    height: 20px;
    background-image: url(../images/Twiter.svg);
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/Twiter_hover.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
}
