.soocial-media {
  display: flex;
  justify-content: space-between;
  padding: 0 21px;
  margin-top: 60px;

  @include onDesktop {
    gap: 20px;
    margin: 0;
  }

  &__item {
    height: 30px;
    width: 30px;
    background-color: $Milk;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: all 0.5s;

    &:hover {
      background-color: $Croissant;
    }

    &--twitter {
      background-image: url("../images/social-media/twitter-icon.svg");

    }

    &--instagram {
      background-image: url("../images/social-media/instagram-icon.svg");
    }

    &--facebook {
      background-image: url("../images/social-media/facebook-icon.svg");
    }
  }
}
