.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Cookie", cursive;
  font-weight: normal;
}

.subtitle {
  font-weight: normal;
}

.active {
  font-size: 176px;
  line-height: 209px;
  color: $c-chocolate;
}

.select {
  background-color: transparent;
  color: $c-chocolate;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5em;

  &:focus {
    background-color: $c-cream;
    color: $c-chocolate;
  }
}

.desktop {
  @include to800 {
    display: none;
  }
}

.mobile {
  display: none;

  @include to800 {
    display: block;
  }
}
