.statistics {
  &__counter-wrapper {
    &:not(:last-child) {
      margin-bottom: 48px;

      @include onTablet {
        &:nth-child(-n + 2) {
          margin-bottom: 80px;
        }
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__counter {
    font-size: 96px;
    letter-spacing: -5%;
  }

  &__counter-info {
    color: $text-color-grey;
  }
}
