.statistic {

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 100px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__part {
    &--1 {
      grid-area: 1 / 1 / 2 / 5;

      @include onDesktop {
        grid-area: 1 / 1 / 2 / 3;
      }
    }

    &--2 {
      grid-area: 1 / 5 / 2 / 9;

      @include onDesktop {
        grid-area: 1 / 3 / 2 / 5;
      }
    }

    &--3 {
      grid-area: 2 / 1 / 3 / 5;

      @include onDesktop {
        grid-area: 1 / 5 / 2 / 7;
      }
    }

    &--4 {
      grid-area: 2 / 5 / 3 / 9;

      @include onDesktop {
        grid-area: 1 / 7 / 2 / 9;
      }
    }
  }

  &__number {
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &__name {
    color: $grey;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
}
