.statistics {
  padding-bottom: 48px;

  &__title {
    font-size: 96px;
    line-height: 85%;
    text-transform: uppercase;
    color: $main-text-color;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 8px;
  }
}
