.statistic {
  background-image: url(../images/Crumbs.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  @include onTablet() {
    background-image: none;
  }

  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet() {
      margin-bottom: 0;
    }
  }

  &__number {
    margin-bottom: 8px;
    @extend %big-text;
  }

  &__name {
    color: $c-grey;
  }
}
