.stat {
  @include onTablet {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.15);
      text-shadow: 6px 6px 8px #babbcc;
    }
  }

  &__number {
    margin-bottom: 8px;

    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &__name {
    color: $colorGrey;
  }
}
