.statistics {
  @include column;
  gap: 0.5rem;

  @include onTablet {
    grid-column: span 4;
  }

  @include onLaptop {
    grid-column: span 2;
  }

  &__value {
    @include title;
    font-size: 6rem;
  }
}
