.stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__number {
    @extend %bigText;
    color: $c-red;
    margin-bottom: 8px;
    width: 280px;
  }
  &__text {
    @extend %body;
    color: $c-black;
    margin-bottom: 48px;
  }
}
