.stat-card {
  margin-bottom: 48px;

  @include onTablet {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__info {
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #f9512e;
    margin-bottom: 8px;
  }
}
