.stat {
  &__title {
    color: $accent-orange;
    margin: 0;
    margin-bottom: 8px;

    @include hover(animation, waviy 1.5s 2);
    @include hover(color, $dark-orange);
    @extend %big-text;
  }

  &__description {
    margin: 0;

    @include hover(animation, waviy 1.5s 2);
  }
}
