.stats {
  @include pageGrid;
  row-gap: 48px;

  @include onTablet {
    row-gap: 80px;
  }

  &__stat {
    display: grid;
    row-gap: 8px;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 2;
    }
  }

  &__number {
    color: $c-orange-accent;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
  }

  &__name {
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}
