.stats {

  @include onDesktop {
    margin-bottom: 120px;
  }

  &__item {
    margin-bottom: 48px;
  }

  &__value {
    display: inline-block;
    @extend %bigText;
    color: $c-orange-accent;
    margin-bottom: 8px;
  }

}
