.support {
  width: 30%;
  background-color: $light;

  @include to1024 {
    display: none;
  }

  &-callback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    margin: 58px 10% 0;
    padding-bottom: 150px;
  }

  &__tel {
    margin-right: 10px;
    @extend %font;
    text-decoration: none;
  }

  &__button {
    margin-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    
    &-text {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      color: $darkbrown;
      text-decoration: none;
      border-radius: 40px;
      background-color: #f1cc9d;
      border: 2px solid #f1cc9d;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #fff;
        transition: 0.3s;
      }
  
      &:active {
        background-color: #f1cc9d;
        opacity: 0.8;
      }
    }
  }
}
