.svg {
  &:hover path {
    fill: $color-cream;
    transition: fill 0.3s;
  }

  &--croissont {
    &:hover path {
      fill: $color-croissont;
      transition: fill 0.3s;
    }
  }
}
