.sweets {
  &__sweet {
    margin-bottom: 88px;

    @include onPhone {
      margin-bottom: 64px;
    }

    &--last-1 {
      margin-bottom: 0;
    }

    @include noPhone {
      &--last-2 {
        margin-bottom: 0;
      }
    }
  }
}
