.swiper-pagination-bullets {
  font-size: 40px;
  line-height: 47px;
  color: $cream;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.hero__slide-num .swiper-pagination-bullet {
  width: 45px;
  height: 25px;
  background: 0;
  opacity: 1;
}

.hero__slide-num .swiper-pagination-bullet-active {
  font-size: 176px;
  line-height: 208px;
  width: 215px;
  height: 208px;
  color: $chocolate;
}
