.switcher {
  &__number {
    line-height: 19px;
    color: $colorCroissant;
    text-decoration: none;
  }

  &__number--active {
    font-size: 40px;
    line-height: 47px;
    color: $colorChocolate;
  }
}
