.switch {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 374px;
    padding: 126px 46px 0;
    font-size: 40px;
    color: $cream-color;

    &__one {
      color: $dark-brown-color;
      font-size: 176px;
      line-height: 176px;
      cursor: pointer;
      text-decoration: none;
    }

    &__two {
      text-decoration: none;
      color: $cream-color;
    }

    &__three {
      text-decoration: none;
      color: $cream-color;
    }

    &__totop {
      cursor: pointer;
    }

    &__todown {
      cursor: pointer;
    }
  }
}
