.switch {
  position: absolute;
  right: 46px;
  bottom: calc(50% - 374px / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 900px) {
    flex-direction: row;
    width: 179px;
    bottom: 28px;
    right: calc(50% - 179px / 2);
  }

  &__first {
    cursor: pointer;
    font-weight: normal;
    font-size: 176px;
    line-height: 209px;
    color: $chokolate;
    margin-right: -20px;
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 900px) {
      font-size: 40px;
      line-height: 36px;
      margin-right: 0;
    }
  }

  &__numbers {
    color: $cream;
    cursor: pointer;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 14px;
    transition: transform 1s;

    &:hover {
      box-shadow: 0 0 0 2px $chokolate;
      transform: scale(1.1);
    }

    @media (max-width: 900px) {
      margin-bottom: 0;
      color: $croissant;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__top {
    background-image: url(./../images/switch/Arrow1.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 15px;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      transform: scale(1.5);
    }

    @media (max-width: 900px) {
      background-image: url(./../images/switch/Arrow3.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 20px;
      margin-bottom: 8px;
    }
  }

  &__down {
    background-image: url(./../images/switch/Arrow2.png);
    background-repeat: no-repeat;
    margin-top: 27px;
    width: 26px;
    height: 15px;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      transform: scale(1.5);
    }

    @media (max-width: 900px) {
      background-image: url(./../images/switch/Arrow4.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 20px;
      margin-bottom: 8px;
    }
  }
}
