.tabs {
  position: relative;

  &__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    right: 0;
    top: 20%;
    list-style: none;
  }

  &__selector {
    display: block;
    padding-right: 10px;
    font-size: 40px;
    color: $color-cream;
    text-align: right;
    cursor: pointer;
  }

  &__selector--active {
    padding-right: 0;
    font-size: 160px;
    line-height: 160px;
    color: $color-chocolate;
  }

  &__arrow {
    padding-right: 25px;
    cursor: pointer;

    &--up {
      margin-bottom: 9px;
    }

    &--down {
      margin-top: 40px;
    }
  }
}
