.text {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;

  &-title {
    font-size: 64px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 80px;
    }

    @include on-desktop {
      font-size: 136px;
    }

    @include on-design {
      font-size: 144px;
    }

    &--secondary {
      font-size: 48px;
      line-height: 85%;

      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include on-tablet {
        font-size: 56px;
      }

      @include on-desktop {
        font-size: 72px;
      }
    }
  }

  &-main {
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.01em;

    &--title {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;

      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    &--big {
      font-size: 96px;
      line-height: 85%;

      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
  }
}
