.theme-toggle {
  padding: 6px;

  border: 1px solid $black;
  border-radius: 14px;

  font-size: 14px;

  cursor: pointer;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include onMobile {
    font-size: 8px;
  }

  &--navigation {
    padding: 0;

    font-size: 16px;

    border: none;
    background-color: transparent;
  }

  &__input {
    display: none;
  }
}
