.titel {

  &__more {
    display: block;
    min-height: 735px;
    width: 70%;
    padding-left: 59px;
    background-image: url(../images/cup.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;

  }

  &__number {
    display: flex;
    flex-direction: column;
    background-color: #e39a3b;
    width: 30%;
    max-height: 735px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 46px;
  }

  &__name {
    font-size: 160px;
    margin-bottom: 20px;
    margin-top: 150px;
    font-family: "Cookie", cursive;
  }

  &__text {
    font-size: 26px;
    max-width: 420px;
  }

}

@media (max-width: 900px) {
  .titel__number {
    display: flex;
    flex-direction: row;
  }
}
