.titel {

  &__more {
    display: block;
    min-height: 735px;
    width: 70%;
    padding-left: 59px;
    background-image: url(../images/cup.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__number {
    display: flex;
    flex-direction: column;
    background-color: $Croissant;
    width: 30%;
    max-height: 735px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 46px;
  }

  &__name {
    font-size: 160px;
    margin-bottom: 20px;
    padding-top: 160px;
    font-family: "Cookie", cursive;
  }

  &__text {
    font-size: 26px;
    max-width: 420px;
  }

}

@media (max-width: 1200px) {
  .titel__number {
    flex-direction: row;
    align-items: center;
    background: none;
    position: relative;
    top: -100px;
    left: 34%;
  }

  .titel__name {
    margin-top: 0;

  }

  .titel__more {
    width: auto;
    background-image: url(../images/cup.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (max-width:900px) {

  .titel__name {
    font-size: 100px;
  }

  .titel__text {
    font-size: 16px;
    max-width: 250px;
  }

  .titel__more {
    padding-left: 15px;
  }
}
