@use 'utils' as *;

.page-title {
  @include base-font(
    $f-header-tel,
    $f-line-height-small,
    $f-letter-spacing-regular
  );

  text-transform: uppercase;

  @include responsive-settings-min($media-tablet) {
    font-size: $f-header-t;
  }

  @include responsive-settings-min($media-laptop) {
    font-size: $f-header-pc;
  }
}
