.title {

  &__container {
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 104px;

    @include onTable {
      margin-bottom: 228px;
    }

    @include onDesktop {
      margin-bottom: 313px;
    }
  }

  &__text {
    letter-spacing: -0.01em;
    margin-bottom: 32px;

    @include onTable {
      text-align: left;
      margin-bottom: 16px;
    }

    @include onDesktop {
      margin-bottom: 140px;
    }
  }

  &__primary {
    font-weight: 400;
    font-size: 60px;
    line-height: 85%;

    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    min-height: 398px;
    background-image: url(../images/Cookie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    @include onTable {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 64px;

      min-height: 328px;
      margin-bottom: 100px;
      background-size: 50%;
    }

    @include onDesktop {
      position: absolute;
      top: -25%;
      background-size: 40%;
      font-size: 108px;
      min-height: 382px;
      margin-bottom: 0;
      letter-spacing: -0.01em;
    }

    @include onDesktopXl {
      letter-spacing: 0.11em;
    }
  }
}
