.title2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $color-main-red;
  @include screenUp720() {
    font-size: 56px;
  }
  @include screenUp1024() {
    font-size: 72px;
  }
  &--white {
    color: #fff;
  }
}
