.title {
  display: inline-block;

  @include title_h1;

  text-align: center;

  @include onTablet {
    height: 200px;
    width: 100%;
    grid-column: 1 / 9;
  }

  @include onNotebook {
    height: 350px;
    padding-top: 250px;
    font-size: 110px;
    line-height: 116px;
    text-align: center;
    letter-spacing: -0.05em;
    width: 100%;
    grid-column: 1 / 9;
  }

  @include onDesktop {
    height: 390px;
    padding-top: 280px;
    font-size: 131px;
    line-height: 122px;
    text-align: center;
    letter-spacing: -0.05em;
    width: 100%;
    grid-column: 1 / 9;
  }
}
