.toggler {
  width: 12px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    width: 26px;
    height: 16px;
  }

  &--left {
    background-image: url(../images/vector-orange-small.png);

    @media (min-width: 768px) {
      background-image: url(../images/vector-orange-big.png);
    }
  }

  &--right {
    background-image: url(../images/vector-braun-small.png);
  
    @media (min-width: 768px) {
      background-image: url(../images/vector-braun-big.png);
    }
  }
}
