.tooth-powder {
  &__content-wrapper {
    @include page-grid;

    padding-inline: 20px 0;

    @include on-desktop {
      padding-inline: 50px;
    }

    @include on-second-desktop {
      max-width: 1180px;
      margin-inline: auto;
      padding-inline: 130px;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 20px;

    @include on-tablet {
      grid-row: 1 / 2;
      width: 342px;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 2 / -1;
      width: 380px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    margin-bottom: 30px;

    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @include on-tablet {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      grid-row: 1 / 2;
      margin-bottom: 0;
    }
  }

  &__link-line {
    width: 86px;

    grid-column: 1 / -1;
    margin-bottom: 10px;

    @include on-tablet {
      grid-row: 1 / 2;
      margin-top: 382px;
    }

    @include on-desktop {
      grid-column: 2 / -1;
      margin-top: 367px;
    }
  }

  &__link {
    @include link;
  }

  &__photo {
    background-image: url(../images/mobile-images/mobile-ayurvedic-tooth-powder.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 182px;
    height: 397px;

    @include on-tablet {
      background-image: url(../images/tablet-images/tablet-ayurvedic-tooth-powder.svg);
      width: 398px;
      margin-top: 14px;
    }

    @include on-desktop {
      background-image: url(../images/desktop-images/desktop-ayurvedic-tooth-powder.svg);
      width: 480px;
      margin-top: 0;
    }
  }
}
