.top-actions {
  --top-actions-height: 64px;

  height: var(--top-actions-height);
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    --top-actions-height: 88px;
  }
}
