.top--bar {
  height: 88px;
  padding-inline: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-menu {
    padding-inline: 32px;
  }

  &__logo {
    width: 136px;
    height: 32px;

    @include hover (transform, scale(1.07));
    
  }
}
