.top-bar {
  height: 64px;
  padding-inline: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    padding-inline: 32px;
    height: 88px;

    & .icon--menu {
      display: none;
    }
  }

  &__logo {
    width: 136px;
    height: 32px;
    @include hover(transform, scale(1.1));
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
