.top-part {
  padding: 32px 0 0;

  @include onTablet {
    padding: 80px 0 0;
  }

  @include onDesktop {
    padding: 0;
  }

  &__description {
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    color: black;
    margin: 0;

    @include onTablet {
      text-align: left;
      width: 280px;
      position: relative;
    }

    @include onDesktop {
      padding-top: 144px;
      width: 280px;
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 32px;

    @include onTablet {
      padding-top: 146px;
    }

    @include onDesktop {
      position: absolute;
      padding-top: 40px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin: 0;
    color: $dark-color;

    @include onTablet {
      font-size: 80px;
      width: 100%;
    }

    @include onDesktop {
      width: 100%;
      font-size: 130px;
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    @include onDesktop {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 544px;
      height: 546px;
      z-index: -1;
    }
  }

  &__logo {
    width: 288px;
    height: 290px;
    margin: 0 auto;
    justify-content: center;

    @include onTablet {
      width: 326px;
      height: 328px;
    }

    @include onDesktop {
      width: 544px;
      height: 546px;
    }
  }
}
