.top-action {
  --icon-width: 26px;
  display: flex;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  justify-content: space-between;
  align-items: center;
  @include onDesktop {
    display: none;
  }
}
