.top__wrapper {
  position: fixed;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 28px 18px;
  background-color: $background-color;
  z-index: 2;

  @include onDesktop {
    padding: 36px 32px;
    height: 88px;
  }
}
