.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 16px;
  @include adaptive-property(margin-bottom, 32, 80, 768);

  @include onTablet {
    padding: 20px 18px;
  }

  @include onDesktop {
    padding: 20px 32px;
    margin-bottom: 0;
  }
}
