@import '../utils';

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $top-bar-padding;

  &__logo {
    width: 136px;
    height: 32px;

    background-image: url('../images/logos/logo-baker-lab.svg');
    background-repeat: no-repeat;
  }

  &__close-icon {
    width: 24px;
    height: 24px;

    background-image: url('../images/icons/icon-close.svg');
  }
}
