.top-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  @include onTablet {
    margin-bottom: 80px;
  }

  @include onDesktop {
    display: none;
    margin-bottom: 0;
  }

  &--menu {
    margin-bottom: 132px;
  }
}
