.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include difProperty(margin, 0 20px 32px, 0 20px 80px, 0 36px 0, 0 36px 0);
  @include difProperty(padding, 20px 0, 20px 0, 32px 0, 32px 0);

  &__menu-opener {
    @include onDifDesktops {
      display: none;
    }
  }
}
