.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--menu {
    margin-bottom: 132px;
  }

  &__menu-opener {
    margin-right: 16px;
    
    @include onDesktop {
      display: none;
    }
  }

  &__logo {

    margin: 16px;

    @include onDesktop {
      margin: 28px 32px;
    }
  }
}
