.top__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1580px;
  margin: 0 auto;

  padding: 16px 16px 32px;

  @include onTablet {
    padding: 16px 16px 80px;
  }

  @include onDesktop {
    padding: 30px 16px 80px;
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &--burger {
    padding-bottom: 132px;
  }
}
