.treats {
  padding-bottom: 68px;

  &__img {
    margin-bottom: 16px;
    width: 100%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(105%);
    }
  }

  &__type {
    display: block;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 24px;
  }
}
