.we-bake {
  &__title {
    @extend %title-text;

    margin-bottom: 24px;
  }

  &__subtitle {
    @extend %main-text;

    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include onTablet {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }

    &--first {
      @include onTablet {
        margin-bottom: 0;
      }
    }

    &--second {
      @include onTablet {
        margin-bottom: 0;
      }
    }
  }
}
