.what-we-bake {
  row-gap: 56px;
  text-align: left;

  @include page-grid;

  @include on-tablet {
    row-gap: 80px;
  }

  &__header {
    grid-column: 1/-1;
  }

  &__title {
    margin-bottom: 24px;
  }
}
