.what-we-bake {
  @include pageGrid;
  @include paddingInline;

  &__title {
    grid-column: 1 / -1;
    margin-top: 64px;

    @include onTablet {
      margin-top: 0;
    }

    @include onDesktop {
      margin-top: 152px;
    }
  }

  &__description {
    grid-column: 1 / -1;
    margin-top: 24px;
  }
}
