.wrap {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 44px;
  }

  @include onDesktop {
    padding: 0 44px;
  }

  @include onLargeScreen {
    padding: 0 124px;
  }

  &-top {
    max-width: 1440px;
    padding: 0 18px;
    margin: 0 auto;

    @include onTablet {
      padding: 0 18px;
    }

    @include onDesktop {
      padding: 0 32px;
    }

    @include onLargeScreen {
      padding: 0 32px;
    }
  }

}
