@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.button {
  @include button-style(default);

  width: 288px;
  height: 56px;

  @include interactive;

  &:focus {
    @include button-style(focused);
    @include interactive;
  }

  &:hover:not(.button--disabled) {
    @include button-style(hover);
    @include interactive;
  }

  &--disabled {
    @include button-style(disabled);
  }

  @include respond(tablet) {
    width: 326px;
  }

  @include respond(desktop) {
    width: 260px;
  }
}
