@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.navbar {
  width: 100%;
  height: 64px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0;
  padding-inline: 16px;

  @include respond(tablet) {
    max-width: 640px;
    width: 100vw;
    height: 53px;
  }

  @include respond(desktop) {
    height: 88px;

    @include container;
  }

  &__logo {
    width: 136px;
    height: 32px;
    padding-inline: 16px 0;
    justify-content: center;

    @include interactive;

    @include respond(desktop) {
      padding-inline: 32px 0;
    }
  }

  &__icon-link {
    background-image: url(../assets/images/icons/icon-menu-blk.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    justify-self: end;

    @include interactive;

    @include respond(desktop) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include respond(desktop) {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      gap: 64px;
      justify-content: end;
      margin-right: 32px;
    }

    &--list {
      @include flex-column-center(64px);

      &-item {
        @include interactive;
      }
    }

    &--contact {
      @include flex-column-center;
      @include interactive;

      a {
        @include flex-column-center(4px);

        color: $color-accent-orange;
      }
    }
  }
}
