.header {
  height: 100vh;
  max-width: 1440px;
  margin: auto;

  &__info {
    height: 100vh;
    box-sizing: border-box;
    padding: 0 16px;

    @include onTablet {
      padding: 0 44px;
    }

    @include onDesktopLarge {
      padding: 0 124px;
    }

    &__photo {
      display: block;
      height: 290px;
      margin: auto;

      @include onTablet {
        z-index: - 1;
        position: absolute;
        top: 208px;
        right: 0;
        left: 0;
        height: 328px;
        margin-bottom: 80px;

        @include onDesktop {
          height: 546px;
          top: 88px;
        }

        @include onDesktopLarge {
          height: 586px;
          letter-spacing: -0.05em;
        }
      }
    }
  }
}
