.contact {
  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__touch {
    display: grid;
    justify-content: center;
    flex: 0 0 30%;
  }

  &__map {
    display: flex;
    flex: 0 0 70%;
    max-width: 100%;

    border: none;
    @include tablet {
      display: block;
      height: 500px;
      width: 100%;
    }
  }
}
