.touch {
  background-color: $croissantColour;

  &__title {
    margin: 24px 0;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
  }

  &__block-text {
    margin-left: 50px;
    margin-bottom: 8px;

    @include mobile {
      margin-left: 30px;
    }

    &:last-child {
      margin-bottom: 128px;
    }
  }

  &__block-text--address {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -30px;
      content: url(../images/map.svg);
    }
  }

  &__block-text--phone {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -30px;
      content: url(../images/phone.svg);
    }
  }

  &__block-text--email {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -35px;
      content: url(../images/mail.svg);
    }
  }
}
