.bakershops {
  @include flexColumn;
  justify-content: start;
  margin: 0 0 54px;
  height: 100%;

  background-color: $bc-cream;

  &__title {
    margin: 40px 0 42px;

    @extend %titleM;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .bakershops {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 60px;
    }
  }
}
