.footer {
  background-color: Black;
  box-shadow: 5px 8px 25px 20px;

  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;

    @include on-tablet {
      grid-template-columns: repeat(8 , 1fr);
      column-gap: 24px;
    }
  }

  &__down {
    grid-column: 1/3;

    @include on-tablet {
      grid-column: 5/9;
    }
  }

  &__email {
    @include on-tablet {
      grid-column: 5/9;
    }

    @include on-desktop {
      grid-column: 7 / 9;
    }

    grid-column: 1/3;
  }

  &__mesengers{
    grid-column: 1/3;
  }

  &__mesengers__block {
    display: flex;
    gap: 32px;
  }

  &__nameTwo {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    line-height: 40.8px;
    letter-spacing: -0.05em;
    text-align: left;

    margin-bottom: 40px;

    color: #FFF;

    @include on-tablet {
      font-size: 72px;
      font-weight: 400;
      line-height: 61.2px;
      letter-spacing: -0.05em;
      text-align: left;
    }
  }

  &__contactUs {
    display: flex;
    gap: 40px;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
    }
  }
}

.footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: aqua;
}

.email--margin {
  margin-bottom:16px;
}

.facebook {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.facebook:hover {
  filter: invert(1)
}


.instagram {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.instagram:hover {
  filter: invert(1);
}

.twiter {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.twiter:hover {
  filter: invert(1);
}



.content--padding-footer {
  padding-top: 88px;
  padding-bottom: 88px;

  @include on-tablet {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  @include content-padding-inline;
}

.Bakerlab {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 16px;

  @include on-tablet {
    grid-column: 1/4;
  }

  grid-column: 1/3;
}

.menu {
  text-transform: uppercase;
  color:#7F8096;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.name {
  width: 168px;
  height: 40px;
  background-image: url('../images/Logo-footer.svg');
  background-size: cover;
  margin-bottom: 40px;
}

.shild {
  color: #7F8096;
  grid-column: span 2;

  @include on-tablet {
    grid-column: 5/9;
   }
}

.contactUs__content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    width: 260px;
  }
}
