@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 44px;
  }

  @include on-desktop {
    margin-inline: auto;
    max-width: 1200px;
    padding-inline: 124px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);
  @content;

  @include on-tablet {
    --columns: 8;

    column-gap: 24px;
  }
}
