.backershops {
  @include flexCol;
  align-items: center;
  justify-content: start;
  margin: 0 0 54px;
  height: 100%;
  background-color: $c-cream;

  &__heading {
    @extend %titleMiddle;
    margin: 40px 0 42px;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .backershops {
    &__heading {
      font-size: 60px;
    }
  }
}
