.bakershops {
  height: 1112px;
  background-color: $cream;

  &__search {
    display: grid;
    justify-content: center;
    grid-template-columns: 175px 325px 160px;
    gap: 20px;
  }

  &__search-city,
  &__search-address {
    background-color: $cream;
    border: none;
    border-bottom: 1px solid $chocolate;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.5;
    color: $chocolate;
  }

  &__map {
    padding-top: 70px;
    width: 80%;
    margin: auto;
  }

  &__map-img {
    width: 100%;
  }

}

@media screen and (max-width: 900px) {
  .bakershops {
    height: 850px;

    &__search {
      grid-template-columns: 288px;
      gap: 40px;
    }

    &__search-button {
      justify-self: center;
    }

  }
}

@media screen and (max-width: 500px) {
  .bakershops {
    height: 650px;
  }
}
