.main {
  max-width: 1440px;
  margin: auto;
  background-color: $milk;
  
  &__header {
    color: $croissant;
    text-align: center;
    padding: 40px 0 27px;
  }

  &__button {
    display: flex;
    margin: 150px auto 40px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    &__header {
      font-size: 60px;
      line-height: 67px;
    }

    &__button {
      margin: 48px auto 40px;
    }
  }
}
