.section {
  &-about {
    background-image: url(../images/bg-img-about-us.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    row-gap: 48px;

    @include page-grid;

    &__title {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 4;
      }
    }

    &__text {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 4;
      }
    }
  }

  &__statistics {
    margin: 0;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    &-title {
      color: $titles-text-color;
      font-size: 96px;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -4.8px;
      text-transform: uppercase;
      margin: 0 0 8px;
    }

    &-text {
      color: $menu-text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      margin: 0;
    }
  }
}
