.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin-bottom: 55px;
  overflow: hidden;

  &__about-small {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    line-height: 150%;
    text-align: center;
    padding: 0 16px;

    color: #000;

    @media (min-width: 858px) {
      & {
        display: none;
      }
    }
  }

  &__about-big {
    font-family: "Rubik", sans-serif;
    display: none;
    line-height: 150%;
    
    text-align: center;
    
    color: #000;

    @media (min-width: 858px) {
      & {
        display: block;
        width: 480px;
      }
    }
  }

  &__achievements {
    padding-left: 85px;
    max-width: 1320px;
    overflow-x: scroll;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 27px;

    @media (min-width: 858px) {
      & {
        justify-content: center;
        padding: 0;
        margin-top: 59px;
      }
    }

    @media (min-width: 1320px) {
      & {
        gap: 80px;
        
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &:last-child {
      padding-right: 85px;

      @media (min-width: 858px) {
        & {
          padding: 0;
        }
      }
    }
  }

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    @media (min-width: 1320px) {
      & {
        width: 200px;
        height: 200px;
      }
    }
  }

  &__name {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    
    color: #412d22;
  }

  &__description {
    margin-top: 7px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 150%;
    
    color: #412d22;
  }
}
