.bakery {
  max-width: 1440px;
  margin: auto;
  padding: 0 66px;
  background-color: $milk;

  &__main-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
  }

  &__main-container:nth-child(2n) {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
  }

  &__name {
    padding-top: 27px;
    color: $croissant;
  }

  &__recipe-name {
    padding-top: 43px;
    color: $chocolate;
  }

  &__recipe-about {
    padding: 12px 0 42px;
    color: $chocolate;
    max-width: 302px;
  }

  &__price {
    color: $chocolate;
    padding: 43px 12px;
    background-color: $croissant;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    text-align: center;
  }

  &__photo-container {
    padding-top: 50px;
  }

  &__array {
    display: grid;
    align-self: center;
    justify-content: end;
  }
}

@media screen and (max-width: 1200px) {
  .bakery {
    &__photo {
      width: 400px;
    }
  }
}

@media screen and (max-width: 900px) {
  .bakery {
    padding: 0 10px;

    &__photo-container {
      padding-top: 30px;
    }
    &__photo {
      width: 300px;
    }

    &__main-container,
    &__main-container:nth-child(2n) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &__main-container:nth-child(2n) > &__about-container {
      order: 0;
    }

    &__main-container:nth-child(2n) > &__photo-container {
      order: 1;
    }
  }
}
