.bakershops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f1cc9d;
  padding: 0 16px;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

    @media (min-width: 660px) {
      & {
        flex-direction: row;
        margin-bottom: 67px;
        gap: 32px;
      }
    }
  }

  &__choose-city {
    width: 100%;
    padding: 10px;
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(65, 45, 34, 0.5);
    background: url(../images/arrow.svg) no-repeat right;
    color: rgba(65, 45, 34, 0.5);
    margin-top: 20px;
    margin-bottom: 15px;

    @media (min-width: 660px) {
      & {
        width: 173px;
        margin: 0;
      }
    }
  }

  &__choose-address {
    width: 100%;
    padding: 10px;
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(65, 45, 34, 0.5);
    background: url(../images/arrow.svg) no-repeat right;
    color: rgba(65, 45, 34, 0.5);
    margin-bottom: 35px;

    @media (min-width: 660px) {
      & {
        width: 173px;
        margin: 0;
      }
    }
  }

  &__form-btn {

    font-family: "Rubik", sans-serif;
    width: 148px;
    height: 40px;
    background: #e39a3b;
    border-radius: 40px;
    line-height: 150%;
    border: 0;
    margin-bottom: 25px;
    
    text-align: center;
    
    color: #412d22;

    @media (min-width: 660px) {
      & {
        width: 160px;
        margin: 0;
      }
    }
  }
  
  &__card {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 45px;
    gap: 20px;
    padding-bottom: 30px;

    @media (min-width: 660px) {
      & {
        grid-template-rows: 1fr;
      }
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    width: 100%;
    order: 2;

    @media (min-width: 660px) {
      & {
        display: none;
      }
    }
  }

  &__size {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #412d22;
    background-color: #fff;
  }

  &__image {
    position: relative;
    width: 100%;
  }

  &__picture {
    width: 100%;
    object-fit: cover;
  }
}
