.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__color {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #e39a3b;
    padding-bottom: 20px;

    @media (min-width: 640px) {
      & {
        background-color: $c-gray;
      }
    }
  }

  &__content {
    width: 100%;

    @media (min-width: 640px) {
      & {
        display: flex;
        justify-content: center;
        background: #e39a3b;
      }
    }
  }

  &__card {
    margin-top: -1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 380px 1fr;
    max-width: 1100px;

    @media (min-width: 640px) {
      & {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        margin: 0;
      }
    }

    @media (min-width: 1600px) {
      & {
        grid-template-columns: 1fr 3fr;
      }
    }
  }

  &__description {
    background: #e39a3b;
    padding: 0 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }

  &__name {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 150%;
    
    color: #412d22;

    @media (min-width: 640px) {
      & {
        padding-top: 40px;
      }
    }
  }

  &__list {
    font-family: "Rubik", sans-serif;
    color: #412d22;
  }

  &__bold {
    font-weight: bold;
  }

  &__link {
    color: #412d22;
    transition: 0.4s;
    
    &:hover {
      color: #f1cc9d;
    }
  }

  &__office {
    background: url(../images/location.svg) no-repeat 0 0;
    padding-left: 38px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 150%;
  }

  &__text {
    position: relative;
    top: -5px;
  }
  
  &__phone {
    background: url(../images/tel.svg) no-repeat 0 0;
    padding-left: 38px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 150%;
  }

  &__mail {
    background: url(../images/Group.svg) no-repeat 0 0;
    padding-left: 38px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 150%;
  }

  &__cooperation {
    padding-left: 38px;
    padding-bottom: 9px;
    line-height: 150%;
  }

  &__manager {
    padding-left: 38px;
    padding-bottom: 9px;
    line-height: 150%;
  }

  &__image {
    position: relative;
    width: 100%;
  }

  &__map {
    display: block;
    width: 100%;
    object-fit: cover;
    border: 0;
  }
}
