.main {
  display: flex;
  justify-content: center;
  align-items: center;
  &--distance {
    padding: 0 0 40px;
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 0;
    justify-items: center;
  }
}
