.info {
  display: flex;
  flex-direction: column;

  &__heading {
    @extend %titleSmall;
    color: $c-croissant;
    margin: 50px 0 43px;
  }

  &__title {
    @extend %titleXSmall;
    margin-bottom: 12px;
  }

  &__description {
    font-family: $f-rubik;
    margin-bottom: 32px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %price;
  }

  &__phone-link {
    text-decoration: none;
  }

  &__mail-link {
    text-decoration: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .info {
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;

    &__price {
      width: 85px;
      height: 85px;
    }
  }
}
