.info {
  display: flex;
  flex-direction: column;

  &__heading {
    @extend %titleS;
    color: $c-croissant;
    margin: 50px 0 43px;
  }

  &__title {
    @extend %titleXs;
    margin-bottom: 12px;
  }

  &__description {
    font-family: $f-rubik;
    margin-bottom: 32px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %productPrice;
  }
}

@media screen and (max-width: 1024px){
  .info {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
