.info {
  @include flexCol;

  &__heading {
    @extend %titleSmall;
    color: $c-croissant;
    margin: 50px 0 43px;
  }

  &__title {
    @extend %titleXSmall;
    margin-bottom: 12px;
  }

  &__description {
    font-family: $f-rubik;
    margin-bottom: 32px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %price;
  }
}

@media screen and (max-width: 1024px) {
  .info {
    align-items: flex-start;
    justify-content: flex-start;

    &__price {
      width: 85px;
      height: 85px;
    }
  }
}
