.main {
  margin-top: 64px;
  margin-bottom: 72px;

  display: flex;
  flex-direction: column;
  gap: 72px;

  @include on-tablet {
    margin-top: 228px;
    gap: 152px;
  }

  @include on-desktop {
    margin-top: 210px;
    gap: 178px;
  }
}
