.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px calc((100vw - 1313px));

  &__heading {
    @extend %titleM;
    width: 100vw;
    text-align: center;
    margin-bottom: 27px;
  }
}
