.main {
  &__title {
    color: $accent-orange;
    letter-spacing: -2.4px;

    &--products {
      margin: 64px 0 24px;

      @include onTablet {
        margin: 0 0 24px;
        grid-column: 1 / -1;
      }

      @include onDesktop {
        margin: 152px 0 24px;
      }
    }

    &--about-us {
      margin: 72px 0 32px;

      @include onTablet {
        margin: 0;
        grid-column: span 4;
      }
    }
  }

  &__text {
    margin: 0 0 56px;

    @include onTablet {
      margin: 0 0 80px;
      grid-column: 1 / -1;
    }
  }
}
