.order-button {
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  color: $orange-color;
  background-color: $background-color;
  cursor: pointer;

  display: flex;
  gap: 4px;

  @include hover(letter-spacing, 2px);

  &__img {
    width: 16px;
    height: 16px;
    background-image:  url(../images/icons/Icon-arrow.svg);
    background-position: center;
    transition: all $effect-duretion;
  }

  &:hover &__img {
    background-color: $background-color;
    transform: translateX(83px);
    z-index: -2;
  }
}
