.photo {
  position: relative;
  margin: 0 30px;

  &__img {
    width: 100%;
    height: auto;
  }

  &__arrow-left {
    left: -20px;
    top: 50%;

    @include arrows;

    transform: rotate(180deg);
  }

  &__arrow-right {
    right: -20px;
    top: 50%;

    @include arrows;
  }
}
