.photo {

  position: relative;
  margin: 0 30px;

  &__img {

  }

  &__arrow-left {
    left: -20px;
    top: 50%;

    @include arrows;

    transform: rotate(180deg);
  }

  &__arrow-right {
    right: -20px;
    top: 50%;

    @include arrows;
  }
}
