.products {
  &__wrapp {
    @include page-grid;

    row-gap: 51px;

  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 3;
    }

    &:nth-child(3) {
      @include on-desktop {
        grid-column: 3 / span 3;
      }
    }
  }

  &__descrsption {
    margin-bottom: 56px;

    @include on-desktop {
      margin-bottom: 80px;
    }
  }
}
