.products {
  &__cakes,
  &__cookies,
  &__donats {
    @include onTablet {
      @include pageGrid;
      margin: 0 0 80px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__first-block {
    @include onTablet {
      grid-column: span 4;
    }

    &--cakes {
      @include onDesktop {
        grid-column: span 3;
      }
    }

    &--donuts {
      @include onDesktop {
        grid-column: 3 / 6;
      }
    }
  }

  &__second-block {
    @include onTablet {
      grid-column: 5 / -1;
    }

    &--cakes {
      @include onDesktop {
        grid-column: 4 / 7;
      }
    }

    &--donuts {
      @include onDesktop {
        grid-column: 6 / -1;
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 8px;
    margin: 0 0 16px;
    transition: background-color 0.3s ease-in-out;

    @include hover(transform, scale(1.1));
    cursor: pointer;
  }

  &__uppercase-text {
    color: $grey;
    margin: 0 0 8px;
  }

  &__body-text {
    color: $black;
    margin: 0 0 16px;
  }

  &__button {
    display: flex;
    height: 32px;
    padding: 4px 0;
    margin: 0 0 56px;
    gap: 4px;
    background: $lightPink;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:last-child {
      margin: 0;
    }

    @include hover (transform, scale(1.2));

  }

  &__uppercase-button {
    display: flex;
    color: $accent-orange;
    justify-content: center;
    align-items: center;
    margin: 0;

    &::before {
      content: url(../images/products/icon-arrow.svg);
    }
  }
}
