.product {
  display: flex;
  justify-content: space-around;

  &__info-order {
    order: 1;
  }

}

@media (max-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;

    &__info-order {
      order: 0;
    }
  }
}
