.section-title {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 41px;

  margin-bottom: 24px;

  @include on-tablet {
    font-size: 56px;
    letter-spacing: -2.5px;
    line-height: 48px;

  }

  @include on-desktop {
    font-size: 72px;
    letter-spacing: -3px;
    line-height: 62px;

  }

  &--grid {
    @include on-tablet {
      grid-column: span 4;
    }
  }
}
