.section {
  margin: 0 0 72px;

  &__title {
    color: $titles-text-color;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin: 0 0 24px;
  }

  &__text {
    color: $menu-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    margin: 0 0 56px;
  }
}
