.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  max-width: 1200px;

  &__title {
    font-family: "Cookie", sans-serif;
    font-size: 60px;
    line-height: 67px;
    color: #e39a3b;
  }

  &--distance {
    margin-top: 40px;
  }

  &--white {
    color: #fff;

    @media (min-width: 640px) {
      & {
        color: #e39a3b;
      }
    }
  }
}
