.title {
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: "Cookie", sans-serif;
    font-size: 60px;
    line-height: 67px;
    color: #e39a3b;
  }

  // &--distance {
  //   // margin-top: 40px;
  //   // margin-bottom: 20px;
  // }
}
