.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  
  &__phone {
    margin-right: 20px;
    color: #412d22;
    line-height: 24px;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 1150px) {
      margin-right: 0;
    }
  }

  &__call-back {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
    background-color: #f1cc9d;
    border-radius: 40px;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px #412d22;
    }

    @media (max-width: 1150px) {
      margin-right: 0;
    }
  }

  &__language {
    background-color: #e39a3b;
    border: 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.call-back-button {
  color: #412d22;
}
