.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: $width-for-tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  
  &__phone {
    margin-right: 20px;
    color: $brown-color;
    line-height: 24px;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: $width-for-tablet) {
      margin-right: 0;
    }
  }

  &__call-back {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
    background-color: $sand-color;
    border-radius: 40px;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px $brown-color;
    }

    @media (max-width: $width-for-tablet) {
      margin-right: 0;
    }
  }

  &__language {
    background-color: $orange-color;
    border: 0;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.call-back-button {
  color: $brown-color;
}
