$color-light-pink: #ffeefc;
$color-light-orange: #fba28f;
$color-accent-orange: #f9512e;
$color-dark-orange: #b2341a;
$color-light-blue: #eef7ff;
$color-black: #1c1a26;
$color-grey: #7f8096;

$transition: 0.3s ease-in;
