.few-words {
  @include page-grid;

  row-gap: 48px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/crumbs.png);

  @include on-tablet {
    background-position: center;
  }

  @include on-desktop {
    row-gap: 164px;
  }
  &__content {
    margin-bottom: 72px;

    @include on-tablet {
      margin-bottom: 50px;
    }
  }
  &__section-header {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 1/4;
    }
  }
  &__section-text {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: 5/9;
    }
  }
}

.fact {
  grid-column: span 2;
  &__title {
    font-size: 96px;
    line-height: 82px;
    color: $accent-orange;
    letter-spacing: -0.05em;
  }
  &--1 {
    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 3;
    }
  }
  &--2 {
    @include on-tablet {
      grid-column: 5 / 7;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }
  &--3 {
    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 5 / 7;
    }
  }
  &--4 {
    @include on-tablet {
      grid-column: 5 / 7;
    }

    @include on-desktop {
      grid-column: 7 / 9;
    }
  }
}
