.section-header {
  color: $accent-orange;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: -0.05em;

  @include on-tablet {
    font-size: 56px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 72px;
    line-height: 62px;
  }
}
