.section {
  padding: 0;
  margin: 0;

  &__title {
    text-align: left;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
  }

  &__text {
    text-align-last: left;
    padding: 0;
    margin: 0;
  }
}

.section--about-us {
  background-image: url("../images/Crumbs.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 72px;

  @include onTablet {
    padding-bottom: 152px;
  }

  @include onDesktop {
    padding-bottom: 350px;
  }

  .section__title {
    @include onMobile {
      padding-bottom: 32px;
    }
  }

  .section__text {
    @include onMobile {
      padding-bottom: 64px;
    }
  }
}

.section__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
