.what-we-bake {
  @include page-grid;

  row-gap: 64px;
  &__text {
    grid-column: 1 / -1;
  }
  &__section-header {
    margin-bottom: 24px;
  }
  &__content {
    margin-bottom: 72px;

    @include on-tablet {
      margin-bottom: 150px;
    }
  }
}
