.about-us {
  padding: 0;

  &__container {
    margin-top: 72px;
    padding-bottom: 72px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../images/footer-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include onTablet {
      margin-top: 152px;
      padding-bottom: 152px;
    }

    @include onDesktop {
      margin-top: 152px;
      padding-bottom: 152px;
    }
  }

  &__content {
    @include pageGrid;
    margin-bottom: 64px;

    @include onTablet {
      margin-bottom: 72px;
    }

    @include onDesktop {
      margin-bottom: 144px;
    }
  }

  &__title {
    margin-bottom: 32px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 4;
    }
  }

  &__description {
    display: block;
    margin: 0;
    grid-column: 1 / -1;
    letter-spacing: -1px;

    @include onTablet {
      grid-column: span 4;
    }
  }

  &__blog {
    grid-column: 1 / -1;
  }
}
