.head {
  margin-bottom: 100px;

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include onTablet {
      grid-template-columns: repeat(8, 128px);
    }
  }

  &__text {
    margin: 0 auto;
    width: 290px;
    padding-bottom: 32px;
    text-align: center;

    @include onTablet {
      grid-area: 1 / 1 / 2 / 3;
      padding-bottom: 16px;
      text-align: left;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $orange;

    @include onTablet {
      grid-area: 2 / 1 / 3 / 4;
      text-align: left;
    }

    @include onLaptop {
      grid-area: 1 / 4 / 2 / 9;
      text-align: left;
      justify-self: start;
    }
  }

  &__img {
    margin: 0 auto;
    width: 288px;
    height: 290px;

    @include onTablet {
      grid-area: 2 / 3 / 3 / 7;
      width: 326px;
      height: 328px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 80px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: $orange;
    border: 2px solid $orange;
    border-radius: 32px;
    transition: background-color 0.3s, color 0.3s;

    &::before {
      content: url(../images/cookie-icon.svg);
      padding-right: 6px;
    }

    &:hover {
      color: $white;
      background-color: $orange;

      &::before {
        content: url(../images/cookie-white-icon.svg);
      }
    }

    &:active {
      background-color: $orange;
      border-color: $orange;
    }

    @include onTablet {
      grid-area: 3 / 2 / 4 / 7;
      padding: 20px 100px;
    }

    @include onLaptop {
      grid-area: 3 / 1 / 4 / 4;
    }
  }
}
