.main {
  &__title {
    font-size: 72px;
    letter-spacing: -3.6px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__products {
    margin-bottom: 170px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onMobile {
      margin-bottom: 72px;
    }
  }
}
