.main {
  display: grid;
  row-gap: 152px;
  padding-block: 64px;
  padding-inline: 16px;

  @include contentPaddingInline;

  @include onTablet {
    padding-block: 0;
    padding-inline: 44px;
  }

  @include onDesktop {
    padding-block: 152px;
    row-gap: 178px;
    padding-inline: 124px;
  }
}
