.main {
  &__title,
  &__description {
    padding-inline: 16px;

    @include on-tablet {
      padding-inline: 44px;
    }

    @include on-desktop-xl {
      padding-inline: 124px;
    }
  }

  &__title {
    margin-block: 104px 0;
  }

  &__description {
    @include body-text;

    margin-block: 24px 56px;
  }
}
