.section__title {
  color: $c-accent-orange;
  grid-column: 1 / -1;
  letter-spacing: -2.4px;

  @include onTablet {
    grid-column: span 4;
  }
}

.section__text {
  @include body-text;
  letter-spacing: -0.16px;

  &--what-we-bake {
    grid-column: 1 / -1;
    margin-top: 24px;
  }

  &--about-us {
    margin-top: 32px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 4;
      margin-top: 0;
    }
  }
}
