/* Normalize de elementos globais */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  transition:
    background-color 1s ease-in-out,
    color 0.6s ease-in-out;
}

body,
h1,
h2,
h3,
p,
button,
.theme-toggle {
  transition: all 0.6s ease-in-out;
}

/* Tags semânticas */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
