.aboutUs {
  background-image: url(../images/About_Us/About_Us_background.png);
  background-repeat: no-repeat;
  background-position: center;
  
  @include onPhone {
    display: grid;
    grid-template-columns: repeat(2, 136px);
    justify-content: center;
    gap: 16px;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 64px);
    justify-content: center;
    gap: 24px;
    margin: 0 44px 152px 0;
  }
  
  @include onDesctop {
    display: grid;
    grid-template-columns: repeat(8, 118px);
    justify-content: center;
    gap: 24px;
    margin: 0 44px 100px;
    padding: 0;
  }
}

.aboutUs__main-text {
  display: flex;

  @include onPhone {
    flex-direction: column;
    grid-row: 1;
    grid-column: 1/3;
    margin: 0 0 64px;
  }

  @include onTablet {
    flex-direction: row;
    grid-row: 1;
    grid-column: 1/9;
    margin: 0 0 72px;
  }

  @include onDesctop {
    flex-direction: row;
    grid-column: 1/9;
    margin: 0 0 146px;
  }

  .aboutUs__title {
    font-family: "Inter", sans-serif;
    color: #f9512e;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @include onPhone {
      width: 300px;
      font-size: 48px;
      margin: 0 0 32px;
    }
    
    @include onTablet {
      width: 588px;
      font-size: 50px;
    }
    
    @include onDesctop {
      width: 584px;
      font-size: 72px;
    }
  }

  .aboutUs__describe {
    color: #1c1a26;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    @include onTablet {
      width: 584px;
    }
  }
}

.aboutUs__box {
  display: flex;

  @include onPhone {
    flex-direction: column;
  }
  
  @include onTablet {
    flex-direction: column;
    grid-column: 1/9;
  }
  
  @include onDesctop {
    flex-direction: row;
    grid-column: 1/9;
  }

  .aboutUs__container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include onPhone {
      flex-direction: column;
    }

    @include onTablet {
      flex-direction: row;
      margin: 0 0 80px;
    }
    
    .aboutUs__number {
      color: #f9512e;
      font-family: "Inter", sans-serif;
      font-size: 96px;
      font-style: normal;
      font-weight: 400;
      line-height: 81.6px;
      letter-spacing: -4.8px;
      text-transform: uppercase;
      margin: 0 0 8px;
    }
  
    .aboutUs__text {
      width: 280px;
      color: #1c1a26;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.16px;

      @include onPhone {
        margin: 0 0 48px;
      }
    }
  }
}
