.about {
  &__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: 27px;
  }
}
