.about-us {
  background-image: url(../images/Crumbs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 75%;

  @include onTablet {
    background-size: 526px 493px;
    background-position: 40% 93%;
  }

  @include onDesktop {
    padding-bottom: 350px;
    background-size: 718px 673px;
    background-position: 50% 93%;
  }

  &__title {
    margin: 80px 0 0;

    @include onTablet {
      margin-top: 160px;
    }
  }

  &__description {
    margin-top: 32px;

    @include onTablet {
      margin-top: 160px;
    }
  }

  &__achievement {
    margin-top: 64px;

    @include onTablet {
      margin-top: 80px;
    }
  }

  &__in-numbers {
    margin-top: 48px;
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

  }

  &__achievement-name {
    margin-top: 8px;

    color: #7f8096;
  }
}
