.button {
  position: relative;
  width: 100%;

  &__fill {
    width: 20px;
    height: 20px;

    transition: all 0.3s;
  }

  &__link {
    margin-top: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 56px;
    width: 100%;

    border: 1px solid #f9512e;
    border-radius: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #f9512e;
    letter-spacing: 0.02em;

    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.3s;

    @include onTablet {
      margin-top: 230px;
    }

    @include onDesktop {
      margin-top: 72px;
    }

    &:hover .button__fill {
      fill: #fff;
      background-color: #f9512e;
      color: #fff;
    }

    &:hover {
      fill: #fff;
      background-color: #f9512e;
      color: #fff;
    }

    &:focus {
      background-color: #b3341a;
      color: #fff;

    }
  }
}
