.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 40px;
  color: $colorChocolate;
  transition: all 0.3s;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    color: #828282;
    background-color: #e0e0e0;
  }

  &--primary {
    width: 160px;
    height: 45px;
    background-color: $colorCroissant;

    &:hover {
      border-color: $colorCroissant;
      background-color: $colorMilk;
    }
  }

  &--secondary {
    width: 100px;
    height: 30px;
    background-color: $colorCream;

    &:hover {
      border-color: $colorCream;
      background-color: $colorMilk;
    }
  }

  &--position_center {
    margin: 0 auto;
  }
}
