.card {
  @include onDesktop {
    max-width: 1000px;
    display: flex;
    gap: 90px;

    &--last {
      margin-bottom: 170px;
    }
  }

  &__description {
    &--title {
      margin: 0 0 15px;
      font-size: 35px;
      line-height: 41px;
      color: $colorCroissant;

      @include onDesktop {
        font-size: 50px;
        line-height: 59px;
      }
    }

    &--subtitle {
      margin: 0 0 12px;
      font-size: 20px;
      line-height: 30px;

      @include onDesktop {
        font-size: 26px;
        line-height: 39px;
      }
    }

    &--text {
      margin: 0 0 20px;
    }

    &--buy {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: $colorCream;

      @include onDesktop {
        width: 110px;
        height: 110px;
      }
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;

    &--specific {
      order: -1;
    }
  }
}
