.card {

  &__description {
    &--title {
      margin: 0 0 15px;
      font-size: 35px;
      line-height: 41px;
      color: $colorCroissant;
    }

    &--subtitle {
      margin: 0 0 12px;
      font-size: 20px;
      line-height: 30px;
    }

    &--text {
      margin: 0 0 20px;
    }

    &--buy {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: $colorCream;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
  }
}
