.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__call {
    text-decoration: none;
    color: $colorChocolate;
  }

  &__switch--choose {
    border: 0;
    background-color: $colorCroissant;
  }

  &--onDesktop {
    display: none;

    @include onDesktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}
