.contacts {
  background-color: $colorCroissant;

  @include onDesktop {
    background-color: $colorMilk;
  }

  &__content {
    padding: 40px 0 0;
  }

  &__title {
    color: $colorMilk;

    @include onDesktop {
      color: $colorCroissant;
    }
  }
}
