.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__call {
    text-decoration: none;
    color: $colorChocolate;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
      color: $colorCream;
    }
  }

  &__switch--choose {
    border: 0;
    background-color: $colorCroissant;
  }

  &--onDesktop {
    display: none;
    z-index: 1;

    @include onDesktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}
