.data {
  display: flex;
  flex-direction: column;

  &__img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    margin-bottom: 7px;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
