.data {
  transform: translateX(0);
  box-sizing: border-box;

  &__img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    transition: all 0.3s;

    &:hover {
      transform: scale(0.9);
      color: $colorCream;
    }

    @include onDesktop {
      width: 200px;
      height: 200px;
      margin-bottom: 12px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    margin-bottom: 7px;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
  }
}
