.feedback {

  @include onDesktop {
    display: flex;
    justify-content: center;
  }

  &__content {

    @include onDesktop {
      display: flex;
      gap: 200px;
      margin: 135px 0;
    }
  }

  &__img {
    display: block;
    margin: 50px auto;

    @include onDesktop {
      order: -1;
      width: 509px;
      height: 417px;
      margin: 0;
    }
  }
}
