.filling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__map {

    @include onDesktop {
      height: 507px;
    }
  }

  @include onDesktop {
    flex-direction: row;
    background-color: $colorCroissant;
  }
}
