.footer {
  background-color: $colorChocolate;
  margin: 0;

  &__box {

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 66px 0 40px;

    @include onDesktop {
      padding: 78px 0 18px;
    }
  }
}
