.footer {
  background-color: #{$color};
  padding: 60px 0;

  &--name {
    padding-top: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7F8096;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__social-media {
    display: flex;
    gap: 40px;
    padding-top: 42px;

  }

}