.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__select {
    padding: 10px;
    width: 100%;
    color: $colorChocolate;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid transparent;
    border-bottom-color: $colorChocolate;
  }

}
