.grid {
  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  &__item {
    
    &--1-4 {
      grid-column: 1 / 5;
    }
    &--1-9 {
      grid-column: 1 / 10;
    }

    &--3-6 {
      grid-column: 3 / 7;
    }

    &--5-8 {
      grid-column: 5 / 9;
    }
    
    &-large--1-2 {
      @media (min-width: 1199px) {
        grid-column: 1 / 3;
      }
    }
  }
}
