.header {
  position: relative;
  background-size: cover;
  background-position: center;

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    box-sizing: border-box;
    height: 100vh;
    padding: 38px 0 28px;

    @include onDesktop {
      justify-content: normal;
    }
  }
}
