.nav {
  &__menu {
    &--opener {
      padding: 0 18px;
      @media (min-width: 769px) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media (min-width: 769px) {
        display: contents;
      }
    }
  }
}

.list {
  display: flex;
  gap: 64px;

  &--column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    gap: 24px;
  }

  &__link {
    color: #{$color};

    &--special {
      color: #{$special-color};
    }
  }
}

.logo {
  
  &__img {
    padding: 20px;
    width: 128px;
    height: 24px;
  }
}
