.header {
  box-sizing: border-box;

  background-image: url(../images/Cookie__header.png);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 288px 290px;

  @include onTablet {
    background-size: 326px 328px;
    background-position: 50% 55%;
  }

  @include onDesktop {
    background-position: 50% 50%;
    background-size: 544px 546px;
  }

  @include onDesktopXl {
    background-size: 584px 586px;
  }

  &__nav {
    position: absolute;
    left: 20px;
    right: 20px;
    margin-bottom: 48px;

    @include onTablet {
      margin: 0 0 96px;
    }

    @include onDesktop {
      left: 32px;
      right: 32px;
      margin: 0 0 168px ;
    }

    @include onDesktopXl {
      left: 36px;
      right: 36px;
      margin: 0 0 172px;
    }
  }

  &__content {
    box-sizing: border-box;
    padding: 20px 0;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      height: 800px;
    }
  }

  &__tagline {
    margin-top: 96px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    text-align: center;

    @include onTablet {
      margin-top: 144px;
      text-align: start;
    }

    @include onDesktop {
      margin-top: 224px;
    }

    @include onDesktopXl {
      margin-top: 232px;
    }
  }

  &__title {
    margin: 32px 0 0;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include onTablet {
      margin-top: 146px;
      font-size: 80px;
    }

    @include onDesktop {
      margin-top: 8px;
      font-size: 136px;
    }

    @include onDesktopXl {
      margin-top: 40px;
      font-size: 144px;
    }
  }
}
