.icon {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  &__menu {
    width: 20px;
    height: 8px;
    background-image: url(../images/menu-opener.svg);
  }

  &__close {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-close.svg);
  }
}
