.icon {
  display: block;
  width: 22px;
  height: 22px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--cross {
    background-image: url("../images/close.svg");
  }

  &__burger {
    @include onDesktop {
      display: none;
    }
  }

}
