.image-wrapper {
  overflow: hidden;
  height: 100vh;

  @include onDesktop {
    width: 70%;
  }

  &__photo {
    height: 300vh;
    display: flex;
    flex-direction: column;
    transition: transform 1s;

    &--item {
      width: 100%;
      height: 100vh;
      object-position: center;
      object-fit: cover;
    }
  }
}
