.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 48px;

  @include onDesktop {
    margin-top: 15px;
  }

  &__title {
    font-size: 12px;
    line-height: 17px;
    color: $colorMilk;
    opacity: 0.7;
  }
}
