.list {
  display: flex;
  gap: 64px;

  &--column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &--footer {
    align-items: flex-start;
  }

  &__link {
    color: #{$color};
    
    &-footer {
      color: white;
    }

    &--special {
      color: #{$special-color};
      text-transform: uppercase;
    }
  }
}