.list {
  display: flex;
  gap: 64px;

  &--column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &--footer {
    align-items: flex-start;
  }

  &__link {
    color: #{$color};

    &:hover {
      color: #{$special-color};
      padding-bottom: 3px;
      border-bottom: 1px solid;
      border-color: #{$special-color};
    }
    
    &:focus {
      color: #{$focused-color};
      padding-bottom: 3px;
      border-bottom: 1px solid;
      border-color: #{$focused-color};
    }

    &-footer {
      color: white;

      &:hover {
        color: #{$special-color};
      }
      
      &:focus {
        color: #{$focused-color};
        padding-bottom: 3px;
        border-bottom: 1px solid;
        border-color: #{$focused-color};
      }      
    }

    &--special {
      color: #{$special-color};
      text-transform: uppercase;

      &-blog:hover {
        color: white;
      }
    }
  }
}
