.logo {
  position: relative;

  font-family: "Cookie", sans-serif;
  text-decoration: none;
  font-size: 23px;
  line-height: 26px;
  padding-left: 22px;
  color: $colorChocolate;

  @include onDesktop {
    font-size: 30px;
    line-height: 33px;
    padding-left: 31px;
  }

  &::before {
    display: block;
    position: absolute;
    left: 0;
    top: -18px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/logo.svg");
    content: "";

    @include onDesktop {
      width: 41px;
      height: 41px;
      top: -24px;
    }
  }

  &--footer {
    color: $colorMilk;
    font-size: 30px;
    line-height: 33px;
  }
}
