.menu {
  box-sizing: border-box;
  height: 100vh;
  padding: 20px 16px;
  background-color: #eef7ff;

  @include onTablet {
    padding: 20px;
  }

  @include onDesktop {
    display: none;
  }

  &__content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
