.nav {
  &__menu {
    &--opener {
      padding: 0 18px;
      @media (min-width: 769px) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media (min-width: 769px) {
        display: contents;
      }
    }
  }
}


.logo {
  
  &__img {
    padding: 20px 0;
    width: 128px;
    height: 24px;

    &--footer {
      padding-bottom: 44px;
    }
  }
}
