.network {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 22px;

  @include onDesktop {
    margin: 0;
    gap: 20px;
  }

  &__media {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: $colorMilk;
    background-position: center;
    background-repeat: no-repeat;

    &--twitter {
      background-image: url("../images/twitter.svg");
    }

    &--instagram {
      background-image: url("../images/inst.svg");
    }

    &--facebook {
      background-image: url("../images/fb.svg");
    }
  }
}
