.numbers {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;

  &__item {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: $colorCream;

    &--first {
      font-size: 40px;
      line-height: 47px;
      color: $colorChocolate;

    }
  }
}
