.products {
  padding-top: 64px;

  &__description {
    &--first {
      padding: 0;
    }
  }

  &__card {
    padding-top: 56px;
    min-width: 288px;
    min-height: 492px;
  }
}

.card {
  &__img {
    width: 100%;
    border-radius: 10%;
    padding-bottom: 16px;
    transition: border-radius 0.6s,
      transform 0.5s;

    &:hover {
      border-radius: 0;
      transform: scale(1.05);
    }
  }

  &__name {
    padding-bottom: 8px;
  }

  &__button {
    display: flex;
    gap: 8px;
    padding: 8px;
  }
}
