.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 40px;

  @include onDesktop {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 45px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 26px;
    color: $colorChocolate;
    background-color: $colorMilk;
    transition: all 300ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--negative {
    height: 45px;
  }

}
