.slider {
  display: flex;
  flex-direction: row;
  gap: 55px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 25px;
    border: 2px solid $colorChocolate;
    border-radius: 25%;
    background-color: $colorCroissant;
    transition: all 300ms;

    &:hover {
      background-color: $colorCream;
    }
  }

  @include onDesktop {
    display: none;
  }
}
