.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;

  @include onDesktop {
    position: absolute;
    align-items: end;
    box-sizing: border-box;
    padding: 0 46px;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    background-color: $colorCroissant;
    margin-top: 0;

  }
}
