.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 128px;
    height: 24px;
  }

  &__menu {
    @include onDesktop {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: contents;
    }
  }
}
