.about {
  background-image: url('../images/main/about/crumbs.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;

  margin-block: 72px;

  &__text {
    margin-bottom: 64px;

    @include tablet {
      margin-bottom: 72px;
      display: flex;
      justify-content: space-between;
      align-items: self-start;
    }

    @include laptop {
      margin-bottom: 144px;
    }

    &-desc {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 32px;

      @include tablet {
        margin-top: 0;
        width: 50%;
        margin-left: 20px;
      }
    }

    &-title {
      @include tablet {
        width: 50%;
      }
    }
  }

  &__stat {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    &-amount {
      font-size: 96px;
      line-height: 81px;
      font-weight: 400;
      color: $orange-color;
      margin-bottom: 8px;
    }

    &-desc {
      font-size: 16px;
      line-height: 24px;
    }

    &-item {
      width: 100%;
      margin-bottom: 48px;

      @include tablet {
        width: 50%;
        margin-bottom: 80px;
      }

      @include laptop {
        width: 25%;
      }
    }
  }
}
