.footer {
  padding-top: 61px;
  padding-bottom: 56px;
  background-color: $black-color;
  font-weight: 400;
  color: $white-color;
  font-size: 16px;

  @include tablet {
    padding-top: 93px;
    padding-bottom: 88px;
  }

  @include laptop {
    padding-top: 88px;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    margin-bottom: 64px;

    @include tablet {
      margin-bottom: 0;
    }

    &-logo {
      margin-bottom: 40px;
    }

    &-title {
      margin-bottom: 16px;
      color: $grey-color;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    &-item {
      margin-bottom: 16px;
      transition: font-weight 0.3s ease;

      &:hover {
        font-weight: 700;
      }
    }

    &-link {
      line-height: 24px;
      color: $white-color;
    }
  }

  &__contacts {
    @include tablet {
      width: 50%;
    }

    &-title {
      font-weight: 400;
      font-size: 48px;
      line-height: 40px;
      letter-spacing: -0.05em;
      color: $white-color;
      text-transform: uppercase;
      margin-bottom: 40px;

      @include tablet {
        font-size: 56px;
        line-height: 47px;
      }

      @include laptop {
        font-size: 72px;
        line-height: 61px;
      }
    }

    &-inner {
      @include laptop {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__call {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: 16px;
      color: $grey-color;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    &-item {
      margin-bottom: 16px;
      transition: font-weight 0.3s ease;

      &:hover {
        font-weight: 700;
      }
    }

    &-link {
      line-height: 24px;
      color: #fff;
    }
  }

  &__email {
    @include laptop {
      width: 260px;
    }

    &-title {
      margin-bottom: 16px;
      color: $grey-color;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    &-link {
      line-height: 24px;
      color: $white-color;

      margin-bottom: 16px;
      transition: font-weight 0.3s ease;

      &:hover {
        font-weight: 700;
      }
    }
  }

  &__bottom {
    margin-top: 40px;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__social {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 0;
    }

    &-link {
      margin-right: 32px;
      transition: all 0.3s ease;

      &:hover path {
        fill: #fff;
        transition: all 0.3s;
      }
    }
  }

  &__terms {
    color: $grey-color;
    line-height: 24px;

    @include tablet {
      width: 50%;
    }
  }
}
