.products {
  margin-bottom: 72px;

  @include onTable {
    margin-bottom: 152px;
  }

  @include onLaptop {
    margin-block: 152px 178px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__wrap {
    margin-top: 56px;

    @include pageGrid;
    
    row-gap: 56px;

    @include onTable {
      margin-top: 80px;
    }
  }
}
