.about-us {
  padding-bottom: 40px;

  @media (min-width: 1024px) {
    padding-bottom: 139px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 59px;

    @media (min-width: 1024px) {
      max-width: 480px;
    }
  }

  &__facts {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 269px;
    
    @media (min-width: 1024px) {
      gap: 80px;
      height: 320px;
    }
  }
}
