.footer__contact-info {
  @include on-mobile {
    margin-top: 64px;
  }

  @include on-tablet {
    grid-column: span 4;
  }
}

.contact-info {
  &__title {
    color: $white;

    margin-top: 0;

    @include on-mobile {
      margin-block: 64px 40px;
    }

    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
    }
  }
}
