.footer__contact-info {
  @include on-mobile {
    margin-block: 64px 40px;
  }
}

.contact-info {
  &__title {
    color: $white;

    @include on-mobile {
      margin-block: 64px 40px;
    }
  }
}

.footer__navigation {
  &-item {
    text-decoration: none;

    &--call-us,
    &--email-us,
    &--menu {
      @include uppercase-text;

      color: $grey;
    }
  }
}
