@import '../../utils';

.footer__menu {
  @include on-tablet {
    grid-column: span 4;
  }

  &-title {
    @include on-mobile {
      margin-block: 0 16px;
    }

    @include uppercase-text;

    color: $grey;
  }
}

.footer__navigation {
  margin-block: 40px;

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &-item {
    @include body-text;

    color: $white;
  }

  &-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
