.about {
  display: flex;
  flex-direction: column;

  &__title {
    @include title;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 480px;
    text-align: center;
    margin: 0 auto 60px;
  }
}
