.about-us {
  @include pageGrid;
  max-width: 400px;
  margin-inline: auto;

  background-image: url(../images/crumbs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include onTablet {
    max-width: 680px;
  }

  @include onDesktop {
    max-width: 1112px;
  }
  &__title {
    margin-bottom: 32px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      margin-bottom: 144px;
    }
  }

  &__info {
    margin-bottom: 64px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 4;
    }
  }
}
