.achievements {
  display: flex;
  gap: 80px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__number {
    margin: 12px 0 7px;
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
  }

  &__found {
    @include achieve-images;
    background: url(../images/achievements/foundation1.png) no-repeat;
  }

  &__companies {
    @include achieve-images;
    background: url(../images/achievements/companies.png) no-repeat;
  }

  &__workers {
    @include achieve-images;
    background: url(../images/achievements/workers.png) no-repeat;
  }

  &__treats {
    @include achieve-images;
    background: url(../images/achievements/treats.png) no-repeat;
  }

  &__clients {
    @include achieve-images;
    background: url(../images/achievements/clients.png) no-repeat;
  }
}
