.add-info {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  &__item {
    margin-right: 15px;
  }

  &__link {
    font-size: 1em;
    color: $c-brown;

    transition-duration: 0.2s;
    &:hover {
      color: $c-cream;
    }
  }

  &__button {
    width: 100px;
    height: 30px;
    border-radius: $border-radius;
    background-color: $c-cream;
    border: 2px solid $c-cream;

    color: $c-brown;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #fff;
    }
  }

  &__select {
    background-color: $c-orange;
    border: none;
  }
}
