.slides {
  &__arrow-top::after {
    @include arrow;

    top: -60px;
    left: 330px;

    background-color: $second-color;
    transform: rotate(45deg);
  }

  &__arrow-top::before {
    @include arrow;

    top: -60px;
    left: 319px;

    background-color: $second-color;
    transform: rotate(-45deg);
  }

  &__arrow-down::after {
    @include arrow;

    top: 330px;
    left: 319px;

    transform: rotate(45deg);
    background-color: $font-color;
  }

  &__arrow-down::before {
    @include arrow;

    top: 330px;
    left: 330px;
    
    transform: rotate(-45deg);
    background-color: $font-color;
  }
}

@media screen and (max-width: 1230px) {
  .slides {

    &__arrow-top::after {
      top: 91px;
      left: 150px;
      background-color: $main-color;
    }

    &__arrow-top::before {
      top: 80px;
      left: 150px;
      background-color: $main-color;
    }

    &__arrow-down::after {
      top: 80px;
      left: 450px;
      background-color: $main-color;
    }
  }
}
