@mixin arrow {
  content: "";
  position: absolute;
  height: 5px;
  width: 20px;
  
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}

.slides {
  &__arrow-top::after {
    @include arrow;

    top: -60px;
    left: 330px;

    background-color: $second-color;
    transform: rotate(45deg);
  }

  &__arrow-top::before {
    @include arrow;

    top: -60px;
    left: 319px;

    background-color: $second-color;
    transform: rotate(-45deg);
  }

  &__arrow-down::after {
    @include arrow;

    top: 330px;
    left: 319px;

    transform: rotate(45deg);
    background-color: $font-color;
  }

  &__arrow-down::before {
    @include arrow;

    top: 330px;
    left: 330px;

    transform: rotate(-45deg);
    background-color: $font-color;
  }
}

@media screen and (max-width: 1024px) {
  .slides {

    &__arrow-top::after {
      top: 50%;
      left: -30%;
      height: 4px;

      background-color: $main-color;
    }

    &__arrow-top::before {
      top: 25%;
      left: -30%;
      height: 4px;

      background-color: $main-color;
    }

    &__arrow-down::after {
      top: 25%;
      left: 170px;
      height: 4px;

      background-color: $font-color;
    }

    &__arrow-down::before {
      top: 50%;
      left: 170px;
      height: 4px;

      background-color: $font-color;
    }
  }
}

// .product {
//   &__arrow-left::after {
//     @include arrow;

//     top: 47%;
//     left: 0px;

//     background-color: $second-color;
//     transform: rotate(-45deg);

//   }
  
//   &__arrow-left::before {
//     @include arrow;

//     top: 50%;
//     left: 0;

//     background-color: $second-color;
//     transform: rotate(45deg);
//   }

//   &__arrow-right::after {
//     @include arrow;

//     top: 47%;
//     right: 0;

//     background-color: $font-color;
//     transform: rotate(45deg);
//   }

//   &__arrow-right::before {
//     @include arrow;

//     top: 50%;
//     right: 0;

//     background-color: $font-color;
//     transform: rotate(-45deg);
//   }
// }
