.bakery {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 16px 0;

  &__cookies {
    margin: 27px auto 0;

    @include onMobile {
      margin: 20px auto 0;
    }
  }
}
