.button {
  cursor: pointer;
  box-sizing: border-box;
  color: $accent-color;
  background-color: transparent;
  border: 0;
  border-radius: 32px;
  outline: 2px solid $accent-color;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 56px;
  padding: 16px;
  display: flex;
  position: relative;

  &::before {
    content: '';
    background: url(../images/icons/Icon-cookie.png) 50% no-repeat;
    width: 24px;
    height: 24px;
  }

  &:active {
    color: #fff;
    background-color: $accent-color-dark;
    outline: 2px solid $accent-color-dark;
  }
  &:active::before {
    background: url(../images/icons/icon-cookie-ativo.png) 50% no-repeat;
  }

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
  &:hover::before {
    background: url(../images/icons/icon-cookie-ativo.png) 50% no-repeat;
  }
}
