.cakes {
  display: flex;
  justify-content: space-around;
  padding: 0 65px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__arrow-left {
    @include arrow-left;
  }

  &__arrow-right {
    @include arrow-right;
  }

  &__title {
    @include product-title;
  }

  &__text {
    @include product-text;
  }

  &__small-title {
    @include product-small-title;
  }

  &__grammers {
    @include product-grammers;
  }

  &__img {
    background: url(../images/cakes.png) center no-repeat;
    width: 741px;
    height: 482px;
  }
}
