.cookies {
  display: flex;
  justify-content: space-around;
  padding: 80px 65px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__arrow-left {
    @include arrow-left;
  }

  &__arrow-right {
    @include arrow-right;
  }

  &__title {
    @include product-title;
  }

  &__text {
    @include product-text;
  }

  &__small-title {
    @include product-small-title;
  }

  &__grammers {
    @include product-grammers;
  }

  &__img {
    max-width: 100%;
  }

  &__product-picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
  }

  &__photo {
    max-width: 700px;
  }

}

@media screen and (max-width: 1024px) {
  .cookies {
    flex-direction: column;
    align-items: center;
  }
}
