.cookies {
  display: flex;
  justify-content: space-between;
  padding: 80px 65px;

  &__info {
    display: flex;
    flex-direction: column;

    margin-right: 200px;
  }

  &__arrow-left {
    @include arrow-left;
  }

  &__arrow-right {
    @include arrow-right;
  }

  &__title {
    @include product-title;
  }

  &__text {
    @include product-text;
  }

  &__small-title {
    @include product-small-title;
  }

  &__grammers {
    @include product-grammers;
  }

  &__img {
    background: url(../images/cookies.png) center no-repeat;
    width: 700px;
    height: 514px;
  }
}
