@media (max-width: 1200px) {
  body {
    width: 100%;
    padding: 0 24px;
  }

  .mobile-modal {
    display: none;
  }

  header {
    width: 100%;
    height: 700px;
    margin-bottom: 200px;
    box-sizing: border-box;
    background-image: url(../images/cookie_background.png);
    background-repeat: no-repeat;
    background-size: 544px 546px;
    background-position: center;
  }

  .navbar {
    height: 80px;
    padding: 0 10px;
  }

  .nav_baker {
    width: 120px;
  }

  .baker_lab {
    width: 110px;
    height: 21px;
  }

  .nav_search {
    width: 420px;
  }

  .container_hero {
    width: 100%;
    height: 600px;
    padding: 80px 40px;
    gap: 20px;
  }

  .text_main {
    width: 260px;
    font-size: 15px;
  }

  .creative_bakery {
    width: 1112px;
    height: 116px;
    font-size: 122px;
    line-height: 85%;
    letter-spacing: -5%;
    text-transform: uppercase;
    text-align: end;
    align-items: center;
    display: flex;
  }

  .learn_more_button {
    width: 240px;
    height: 48px;
    margin-top: 4%;
    font-size: 15px;

    background-image: url(../images/icon_button_learn.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 45px;
    background-color: transparent;
  }

  .title_product_main {
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-weight: 400;
    font-style: normal;
    line-height: 85%;
    letter-spacing: -5%;
    text-transform: uppercase;
  }

  .titles {
    width: 584px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: start;
  }

  .title_product_cakes {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #7f8096;
  }

  .subtitle_product {
    width: 584px;
    height: 24px;
    margin-left: 15px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -1%;
    color: #1c1a26;
  }

  .product_images-1 {
    width: 825px;
    height: 696px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-1 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_1_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 530px;
    box-sizing: border-box;
    gap: 15px;
  }

  .title_product {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #7f8096;
  }

  .description_products-1 {
    width: 432px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -1%;
    color: #1c1a26;
  }

  .description_products-cake {
    width: 280px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -1%;
    color: #1c1a26;
  }

  .order_button {
    width: 120px;
    height: 32px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #f9512e;

    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    gap: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
  }

  .order_button:hover {
    transform: scale(1.2);
  }

  .order_button:active {
    transform: scale(0.95);
    opacity: 0.8;
  }

  .order_button::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;

    background-image: url(../images/right_arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .product-2 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_2_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 530px;
    box-sizing: border-box;
    gap: 15px;
  }

  .first_products_row {
    width: 1112px;
    height: 2293px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    overflow: hidden;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .product_images-2 {
    width: 825px;
    height: 696px;
    margin-left: 300px;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-3 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_3_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 530px;
    box-sizing: border-box;
    gap: 15px;
  }

  .product-4 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_4_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 530px;
    box-sizing: border-box;
    gap: 15px;
  }

  .product_images-3 {
    width: 825px;
    height: 696px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-5 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_5_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 530px;
    box-sizing: border-box;
    gap: 5px;
  }

  .product-6 {
    width: 402px;
    height: 512px;

    background-image: url(../images/product_6_desktop.png);
    background-size: 402px 530px;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 550px;
    box-sizing: border-box;
    gap: 5px;
  }

  .information_about_us {
    width: 1112px;
    height: 673px;
    min-height: 580px;
    margin-top: 250px;
    padding: 0 20px;
    gap: 120px;

    background-size: 580px 540px;
    background-position: calc(50% + 20px) center;

    display: flex;
    flex-direction: column;
  }

  .about {
    width: 1112px;
    height: 122px;
    display: flex;
    flex-direction: row;
  }

  .few_words {
    max-width: 520px;
    width: 100%;
    font-size: 64px;
  }

  .words {
    max-width: 520px;
    width: 100%;
    font-size: 15px;
  }

  .stats {
    width: 1112px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
  }

  .stores,
  .companies,
  .clients,
  .year {
    width: 45%;
    font-size: 80px;
    gap: 8px;
  }

  .stats_description {
    font-size: 15px;
  }

  .footer {
    width: 1200px;
    height: 525px;
    background-color: #1c1a26;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bakerlab {
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .bakerlab_logo {
    width: 157px;
    height: 30px;
  }

  .menu_items {
    width: 140px;
    margin-top: 25px;
    gap: 18px;
  }

  .menu,
  .menu-item {
    font-size: 15px;
  }

  .social_buttons {
    width: 220px;
  }

  .contact_us_footer {
    width: 520px;
    height: 350px;
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-weight: 400;
    font-style: normal;
    line-height: 85%;
    letter-spacing: -5%;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 45px;
    box-sizing: border-box;
  }

  .informations {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .call_us,
  .email_us {
    max-width: 260px;
    width: 100%;
    font-size: 15px;
    gap: 20px;
  }

  .phone,
  .email {
    font-size: 15px;
    gap: 20px;
  }

  .copyright {
    margin-top: 25px;
    font-size: 15px;
  }
}
