* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffeefc;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.creative_bakery,
.title_product_main,
.few_words,
.year,
.stores,
.companies,
.clients {
  color: #f9512e;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #eef7ff;
  }

  .creative_bakery,
  .title_product_main,
  .few_words,
  .year,
  .stores,
  .companies,
  .clients {
    color: #1c1a26;
  }
}

.mobile-modal {
  display: none;
}

header {
  width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cookie_background.png);
  background-repeat: no-repeat;
  background-size: 584px 586px;
  background-position: 52% 75%;
  margin-bottom: 200px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.nav_baker {
  width: 136px;
  height: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.baker_lab {
  background-image: url(../images/bakerlab_desktop.png);
  width: 127px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}

.baker_lab:hover {
  transform: scale(1.1);
}

.baker_lab:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.nav_search {
  width: 499px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
}

.about_us,
.products,
.blog {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about_us:hover,
.products:hover,
.blog:hover {
  transform: scale(1.2);
}

.about_us:active,
.products:active,
.blog:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.contact_us {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #f9512e;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: end;

  height: 32px;
  width: 136px;
  background-image: url(../images/icon_phone_desktop.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center left;
  background-color: transparent;
  border: 0;
}

.contact_us:hover {
  transform: scale(1.2);
}

.contact_us:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.container_hero {
  display: flex;
  background-size: cover;
  justify-content: center;
  height: 700px;
  width: 1440px;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  padding: 100px;
}

.text_main {
  width: 290px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  text-align: start;
}

.creative_bakery {
  width: 1295px;
  height: 122px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 144px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  text-align: start;
}

.learn_more_button {
  width: 280px;
  height: 56px;
  color: #f9512e;
  border-radius: 32px;
  border: 2px #f9512e solid;
  gap: 4px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url(../images/icon_button_learn.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 60px;
}

.learn_more_button:hover {
  transform: scale(1.2);
}

.learn_more_button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.title_product_main {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.titles {
  width: 584px;
  height: 120px;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_product_cakes {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
  margin-top: 25px;
}

.subtitle_product {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 584px;
  height: 24px;
  margin-left: 15px;
}

.product_images-1 {
  width: 890px;
  height: 696px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-1 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_1_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.title_product {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
}

.description_products-1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 432px;
}

.description_products-cake {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 432px;
}

.order_button {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  height: 32px;
  color: #f9512e;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  gap: 8px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: all 0.2s ease;
}

.order_button:hover {
  transform: scale(1.2);
}

.order_button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.order_button::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.product-2 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_2_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.first_products_row {
  width: 1192px;
  height: 2437px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  overflow: hidden;
  justify-content: flex-start;
  box-sizing: border-box;
}

.product_images-2 {
  width: 890px;
  height: 696px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: 300px;
}

.product-3 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_3_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.product-4 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_4_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.product_images-3 {
  width: 890px;
  height: 696px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.product-5 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_5_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.product-6 {
  width: 432px;
  height: 696px;
  background-image: url(../images/product_6_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 575px;
  box-sizing: border-box;
  gap: 15px;
}

.information_about_us {
  width: 1192px;
  height: 673px;
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 175px;
  background-image: url(../images/about_us_background_desktop.png);
  background-size: 718px 673px;
  background-position: calc(50% + 30px) center;
}

.about {
  width: 1192px;
  height: 122px;
  display: flex;
  flex-direction: row;
}

.few_words {
  width: 584px;
  height: 122px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.words {
  width: 584px;
  height: 120px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: -1%;
}

.stats {
  width: 1192px;
  height: 114px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.stores,
.companies,
.clients,
.year {
  width: 280px;
  height: 114px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 96px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats_description {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #7f8096;
}

.footer {
  width: 1440px;
  height: 525px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1c1a26;
}

.bakerlab {
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.bakerlab_logo {
  background-image: url(../images/bakerlab_logo.png);
  width: 157px;
  height: 30px;
}

.menu_items {
  width: 160px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: end;
  gap: 15px;
  color: #fff;
  margin-top: 30px;
}

.menu {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
}

.menu-item {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
}

.social_buttons {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 24px;
  align-items: center;
  justify-content: space-evenly;
}

.facebook {
  width: 10.5px;
  height: 20px;
  background-image: url(../images/facebook_icon_desktop.png);
}

.instagram {
  width: 20px;
  height: 20px;
  background-image: url(../images/instagram_icon_desktop.png);
}

.X {
  width: 20.3px;
  height: 16.5px;
  background-image: url(../images/X_icon_desktop.png);
}

.facebook,
.instagram,
.X {
  transition:
    transform 0.1s,
    filter 0.2s;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover,
.instagram:hover,
.X:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.facebook:active,
.instagram:active,
.X:active {
  filter: brightness(0) invert(1);
  transform: scale(0.95);
}

.facebook:focus,
.instagram:focus,
.X:focus {
  filter: brightness(0) invert(1);
  transform: scale(1.1);
  outline: none;
}

.contact_us_footer {
  width: 584px;
  height: 350px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.call_us {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: white;
  gap: 10px;
}

.copyright {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #7f8096;
  margin-top: 55px;
}

.email_us {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
  width: 260px;
  gap: 10px;
}

.email {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: white;
}
