* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffeefc;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  color: #1c1a26;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.creative_bakery,
.title_product_main,
.few_words,
.year,
.stores,
.companies,
.clients {
  color: #f9512e;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #eef7ff;
  }

  .creative_bakery,
  .title_product_main,
  .few_words,
  .year,
  .stores,
  .companies,
  .clients {
    color: #1c1a26;
  }
}

.mobile-modal {
  display: none;
}

header {
  width: 100%;
  height: 700px;
  background: url(../images/cookie_background.png) 50% 35% / 584px 586px
    no-repeat;
  margin-bottom: 200px;
}

.navbar {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

.nav_baker {
  width: 136px;
}

.baker_lab {
  background: url(../images/bakerlab_desktop.png) center/contain no-repeat;
  width: 127px;
  height: 24px;
}

.baker_lab:hover {
  transform: scale(1.1);
}

.baker_lab:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.nav_search {
  width: 499px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.about_us,
.products,
.blog {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about_us:hover,
.products:hover,
.blog:hover {
  transform: scale(1.2);
}

.about_us:active,
.products:active,
.blog:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.contact_us {
  background: url(../images/icon_phone_desktop.png) left center/18px no-repeat;
  padding-left: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #f9512e;
  text-decoration: none;
}

.contact_us:hover {
  transform: scale(1.2);
}

.contact_us:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.container_hero {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text_main {
  width: 290px;
  font-size: 16px;
}

.creative_bakery {
  font-size: 138px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.learn_more_button {
  width: 280px;
  height: 56px;

  border: 2px solid #f9512e;
  border-radius: 32px;
  background: url(../images/icon_button_learn.png) 60px center/20px no-repeat;
  color: #f9512e;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.learn_more_button:hover {
  transform: scale(1.2);
}

.learn_more_button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.title_product_main {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.titles {
  width: 584px;
  height: 120px;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_product_cakes {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
  margin-top: 25px;
}

.subtitle_product {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 584px;
  height: 24px;
  margin-left: 15px;
}

.title_product {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
}

.description_products-1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 432px;
}

.description_products-cake {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #1c1a26;
  width: 432px;
}

.order_button {
  width: 120px;
  height: 32px;
  background: transparent;
  border: none;
  color: #f9512e;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.order_button:hover {
  transform: scale(1.2);
}

.order_button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.order_button::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(../images/right_arrow.png) center/contain no-repeat;
}

.first_products_row {
  width: 1192px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin: 0 auto;
}

.product_images-1,
.product_images-2,
.product_images-3 {
  width: 890px;
  display: flex;
  justify-content: flex-start;
  gap: 26px;
}

.product_images-1,
.product_images-3 {
  margin-left: 0;
}

.product_images-2 {
  margin-left: auto;
  margin-right: 0;
}

.product-1,
.product-2,
.product-3,
.product-4,
.product-5,
.product-6 {
  width: 432px;
  height: 696px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 575px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-1 {
  background-image: url(../images/product_1_desktop.png);
}

.product-2 {
  background-image: url(../images/product_2_desktop.png);
}

.product-3 {
  background-image: url(../images/product_3_desktop.png);
}

.product-4 {
  background-image: url(../images/product_4_desktop.png);
}

.product-5 {
  background-image: url(../images/product_5_desktop.png);
}

.product-6 {
  background-image: url(../images/product_6_desktop.png);
}

.information_about_us {
  width: 1192px;
  margin: 350px auto 0;
  display: flex;
  flex-direction: column;
  gap: 175px;
  padding-bottom: 350px;
  background: url(../images/about_us_background_desktop.png) calc(50% + 30px)
    center / 718px 673px no-repeat;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.few_words {
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  width: 50%;
}

.words {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  width: 50%;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stores,
.companies,
.clients,
.year {
  font-size: 96px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.stats_description {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #7f8096;
}

// _base.scss → FOOTER
.footer {
  width: 100%;
  height: 525px;
  background: #1c1a26;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 80px;
  gap: 40px;
}

/* ====== ESQUERDA: LOGO + MENU + SOCIAL ====== */
.bakerlab {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.bakerlab_logo {
  background: url(../images/bakerlab_logo.png) center/contain no-repeat;
  width: 157px;
  height: 30px;
}

.menu_items {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 30px;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #7f8096;
}

.menu-item {
  font-size: 16px;
  color: white;
}

.social_buttons {
  display: flex;
  justify-content: space-evenly;
  width: 260px;
  height: 24px;
}

.facebook,
.instagram,
.X {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.1s, filter 0.2s;
}

.facebook {
  width: 10.5px;
  height: 20px;
  background-image: url(../images/facebook_icon_desktop.png);
}

.instagram {
  width: 20px;
  height: 20px;
  background-image: url(../images/instagram_icon_desktop.png);
}

.X {
  width: 20.3px;
  height: 16.5px;
  background-image: url(../images/X_icon_desktop.png);
}

.facebook:hover,
.instagram:hover,
.X:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.facebook:active,
.instagram:active,
.X:active {
  filter: brightness(0) invert(1);
  transform: scale(0.95);
}

/* ====== DIREITA: CONTACT US + INFO ====== */
.contact_us_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  gap: 30px;
  height: 200px;
  box-sizing: border-box;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
}

.call_us,
.email_us {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #7f8096;
}

.phone,
.email {
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.2;
  font-size: 16px;
  color: white;
}

.copyright {
  font-size: 16px;
  color: #7f8096;
  margin-top: 30px;
}
