.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10px;

  &__photo {
    background-image: url(../images/feedback.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
  }

  &__title {
    font-size: 26px;
  }
}
