.feedback {
  display: flex;
  align-items: center;
  &__phone {
    margin-right: 20px;
  }

  &__action {
    width: 100px;
    height: 30px;
    border-radius: $border-radius;
    background-color: $c-cream;

    display: flex;
    justify-content: center;
    align-items: center;

  }
}
