@font-face {
  font-family: 'Inter Regular', Arial, Helvetica, sans-serif;
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Medium', Arial, Helvetica, sans-serif;
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
