.footer {
  @include paddings;

  margin-top: 72px;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: $font--black-color;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

    &-link {
      color: $white;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      text-decoration: none;

      &--dark {
        color: $grey;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  &__contact-us {
    margin-top: 64px;

    h1 {
      color: $white;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 85%;
      letter-spacing: -2.4px;
      text-transform: uppercase;
    }
  }

  &__copyright {
    margin-top: 40px;

    color: $grey;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}

.contact-us {
  &-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;

    &__title {
      color: $grey;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__link {
      color: $white;
      text-decoration: none;
    }
  }

  &__email-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }

  &__email-title {
    color: $grey;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__email {
    color: $white;
    text-decoration: none;
  }
}

.social-media-block {
  margin-top: 40px;
  width: 50%;
  display: flex;
  gap: 32px;
}
