.footer {
  padding: 56px 16px;
  background-color: $black;
  @include pageGrid;
  row-gap: 64px;

  &__navigation {
    grid-column: span 2;
  }

  &__logo {
    display: flex;
    height: fit-content;
    margin-bottom: 40px;

    grid-column: span 2;

  }

  &__logo-img {
    width: 168px;
    height: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $grey;
  }

  &__link {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $white;
  }

  &__contact {
    display: grid;
    row-gap: 40px;
    grid-column: span 2;
}

  &__title {
    grid-column: span 2;
    color: $white;
  }

  &__phone-num {
    grid-column: span 2;
  }

  &__email {
    grid-column: span 2;
  }

  &__socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }

  &__end {
    grid-column: span 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $grey;
  }
}

