.header {
  display: flex;

  position: relative;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;

  &__left {
    background-image: url(../images/bake-cream-puff-cup.png);
    background-size: cover;
    background-position: center;

    width: calc(100% - #{$width-right-bar});
  }

  &__right {
    width: $width-right-bar;
    height: 100vh;

    background-color: $c-orange;
  }
}
