.header {
  padding-block: 16px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include onTablet {
    padding: 28px;
  }
}

.nav {
  display: none;
  &__list {
    display: flex;
    gap: 64px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  @include onTablet() {
    display: none;
  }
  @include onDesktop {
    display: block;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    transition-duration: 200ms;

    &:hover {
      color: $accent-color;
    }
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--menu {
    display: block;
    background-image: url(../images/icons/icon-menu.svg);

    @mixin onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }
  }
  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}

.logo {
  display: flex;
  width: 136px;
  height: 32px;
}
