.homepage {
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-template-rows: 840px;

  background: url(../images/bake-cream-puff-cup-1775045.jpg) center no-repeat;
  background-size: cover;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
    grid-template-rows: 540px 1fr;
  }

  &__info {
    grid-area: 1 / 1;
  }

  &__scroll {
    grid-area: 1 / 2;

    @media (max-width: 1150px) {
      grid-area: 2 / 1;
    }
  }
}
