.icon {
  height: 24px;
  width: 24px;
  &--menu {
    background-image: url(../images/icons/icon-menu.png);

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);

    @include onDesktop {
      display: none;
    }
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);

    &:hover {
      background-image: url(../images/icons/icon-facebook-white.svg);
    }
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);

    &:hover {
      background-image: url(../images/icons/icon-instagram-white.svg);
    }
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);

    &:hover {
      background-image: url(../images/icons/icon-twitter-white.svg);
    }
  }
}
