.icone {
  width: 24px;
  height: 24px;
}

.top-bar__link-logo__icone-menu {
  background-image: url(../images/icone/Icon-menu.svg);
}

.header__nav_list_item_link_icone-phone,
.menu__content_list_item_link_icone-phone {
  background-image: url(../images/icone/Icon-phone.svg);
}

.top-bar__link-logo__icone-close {
  background-image: url(../images/icone/Icon-close.svg);
}

.main__products_card_link-order_icone {
  background-image: url(../images/icone/Icon-arrow.svg);
}

.footer_social_link_facebooke {
  background-image: url(../images/icone/Icon-facebook.svg);
}

.footer_social_link_facebooke:hover {
  background-image: url(../images/icone/icone-facebook-white.svg);
}

.footer_social_link_instagram {
  background-image: url(../images/icone/Icon-instagram.svg);
}

.footer_social_link_instagram:hover {
  background-image: url(../images/icone/icone-instagram-white.svg);
}

.footer_social_link_twitter {
  background-image: url(../images/icone/Icon-twitter.svg);
}

.footer_social_link_twitter:hover {
  background-image: url(../images/icone/icone-twitter-white.svg);
}


.main__products_card_image {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

@for $num from 1 through 6 {
  .product#{$num} {
    background-image: url(../images/image-product-#{$num}.png);
  }
}

.top-bar__link-logo__image-logo {
  @include logo;

  background-image: url(../images/icone/Logo.svg);
}

.main__about-us_stats_bg-image {
  background-image: url(../images/image-footer-Crumbs.png);
}

.main__products_card_link-order_icone-arrow {
  background-image: url(../images/icone/Icon-arrow.svg);
}
