.footer__social-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;

  &--facebook {
    background: url(../images/icons/icon-facebook.png) 50% no-repeat;

    &:hover {
      background: url(../images/icons/facebook_icon-white.svg) no-repeat;
    }
  }

  &--instagram {
    background: url(../images/icons/icon-instagram.png) 50% no-repeat;

    &:hover {
      background: url(../images/icons/instagram_icon-white.svg) no-repeat;
    }
  }

  &--twitter {
    background: url(../images/icons/icon-twiter.png) 50% no-repeat;

    &:hover {
      background: url(../images/icons/twitter_icon-white.svg) no-repeat;
    }
  }
}
