.info {

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $cursive;
    color: $c-brown;
    font-size: 160px;

    margin-bottom: 20px;
  }

  &__text {
    font-size: 26px;
    width: 420px;
    margin-bottom: 25px;
  }

  &__button {
    background-color: $c-orange;

    width: 160px;
    height: 40px;
    border-radius: $border-radius;
    border: 1px solid $c-orange;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;

    &:hover {
      background-color: #fff;
    }
  }
}
