.info-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  &__title {
    font-size: 26px;
    margin: 15px 0 0 70px;
  }

  &__item {
    margin: 15px 0 0 70px;
  }
}
