.info {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 141px;
  gap: 25px;

  @media (max-width: 1150px) {
    padding-left: 16px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 25px;
    @include primary-button;
  }
}
