.info {

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $cursive;
    color: $c-brown;
    font-size: 160px;

    margin-bottom: 20px;
  }

  &__text {
    font-size: 26px;
    width: 420px;
    margin-bottom: 25px;
  }

  &__button {
    @include button;
  }
}
