.item {
  &__title {
    position: relative;
    margin-bottom: 10px;

    font-weight: 700;
    font-style: normal;

    &--location::before {
      content: url(../images/location.png);
      position: absolute;
      top: 0;
      left: -35px;
    }

    &--phone::before {
      content: url(../images/phone.png);
      position: absolute;
      top: 0;
      left: -35px;
    }

    &--mail::before {
      content: url(../images/mail.png);
      position: absolute;
      top: -2px;
      left: -35px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
  }
}
