.container {
  width: 100%;
  margin: 0 auto;
  padding-left: $grid-base * 2;
  padding-right: $grid-base * 2;
  min-width: 320px;

  @include medium-up {
    padding-left: $grid-base * 5.5;
    padding-right: $grid-base * 5.5;
  }

  @include x-large-up {
    width: 1192px;
    padding-left: 0;
    padding-right: 0;
  }
}
