.main {
  @include paddings;
}

.section {
  &__title {
    margin-bottom: 24px;

    color: $accent-orange;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }

  &__paragraph {
    color: $font--black-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }

  &__info-blocks {
    margin-top: 64px;
  }
}

.card {
  &__photo {
    width: 100%;
    margin-top: 56px;
    border-radius: 8px;
  }

  &__category {
    margin-top: 16px;

    color: $grey;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  &__body-text {
    margin-top: 8px;

    color: $font--black-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}

.btn-order {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 4px 0;
  background-color: transparent;
  border: none;
  gap: 4px;

  &__label {
    color: $accent-orange;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }
}

.few-words-about-us {
  margin-top: 72px;
}

.info-blocks {
  &__block {
    margin-top: 48px;
  }

  background-image: url(../images/crumbs.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 42%;
}

.block {
  &__title {
    color: $accent-orange;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 8px;

    color: $font--black-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}
