.main {
  @include paddingInline;

  &__what-we-bake {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onDesktop {
      margin-bottom: 178px;
    }
  }
}
