$tablet: 640px;
$tablet-max: 1023px;
$desktop: 1024px;
$desktop-max: 1199px;
$desktop-above: 1200px;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin tablet-min768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
