@import "vars";

@mixin arrow-left {
  background: url(../images/down-arrow.svg) center no-repeat;
  width: 26px;
  height: 15px;

  align-self: center;

  cursor: pointer;

  transform: rotate(90deg);

  &:hover {
    background: url(../images/up-arrow-active.svg) center no-repeat;
    transform: rotate(-90deg);
  }
}

@mixin width-product {
  margin-bottom: 135px;
}

@mixin arrow-right {
  background: url(../images/down-arrow.svg) center no-repeat;
  width: 26px;
  height: 15px;

  align-self: center;

  cursor: pointer;

  transform: rotate(-90deg);

  &:hover {
    background: url(../images/up-arrow-active.svg) center no-repeat;
    transform: rotate(90deg);
  }
}

@mixin product-title {
  font-size: 50px;
  color: $c-orange;

  margin-bottom: 43px;
}

@mixin product-text {
  max-width: 300px;

  margin-bottom: 32px;
}

@mixin product-small-title {
  font-size: 26px;
  color: black;

  margin-bottom: 12px;
}

@mixin button {
  background-color: $c-orange;

  cursor: pointer;

  width: 160px;
  height: 40px;
  border-radius: $border-radius;
  border: 1px solid $c-orange;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 0.2s;

  &:hover {
    background-color: #fff;
  }
}

@mixin title {
  font-family: $cursive;
  color: $c-orange;
  font-size: 120px;

  text-align: center;
}

@mixin product-grammers {
  font-weight: 700;

  width: 110px;
  height: 110px;
  background-color: $c-cream;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
