.mobile-menu {
  width: 35%;
  min-width: 200px;
  height: 100vh;
  background-color: $c-orange;
  display: none;

  &__nav {

    padding: 60px 0 30px 30px;

    &_list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 5vh;
    }

    &_item {
      margin-bottom: 5vh;
    }

    &_link {
      text-decoration: none;
      color: $c-brown;
      margin-bottom: 5vh;

      &:hover {
        color: $c-cream;
      }
    }

    &_button {
      width: 100px;
      height: 30px;
      border-radius: $border-radius;
      background-color: $c-cream;
      border: 2px solid $c-cream;

      color: $c-brown;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 5vh;

      &:hover {
        background-color: #fff;
      }
    }

  }

  &--open {
    display: block;
  }
}
