.nav {

  &__list {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__item {
    margin-right: 34px;
  }

  &__link {
    text-decoration: none;

    color: black;

    transition-duration: color 0.2s;

    &:hover {
      color: $c-orange;
    }
  }
}
