.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  height: 64px;

  @include onDesktop {
    padding-inline: 32px;
    height: 88px;
  }

  &__logo {
    display: flex;
    height: fit-content;
  }

  &__logo-img {
    width: 136px;
    height: 32px;
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;

    @include onDesktop {
      display: flex;
      gap: 64px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $black;

    @include hoverUnderline {
      background-color: $black;
    }

    &--phone {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $accentorange;

      &::before {
        content: "";
        background-image: url(../images/icons/icon-phone.png);
        height: 24px;
        width: 24px;
      }

      &::after {
        background-color: $accentorange;
        height: 2px;
      }
    }
  }
}
