.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: inherit;

  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: flex-start;
    height: 608px;
    width: 200px;
    padding: 33px 16px 30px;

    background-color: $c-croissant;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__item {
    margin: 20px 0;
  }

  &__link {
    padding: 20px 0;

    @include hover(color, $c-croissant);

    @media (max-width: 1150px) {
      @include hover(color, $c-milk);
    }

    &--number {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;

      color: $c-chocolate;

      @include hover(color, $c-milk);

      @media (max-width: 1150px) {
        margin-bottom: 0;
      }
    }

    &--footer {
      @media (max-width: 1150px) {
        @include hover(color, $c-croissant);
      }
    }
  }

  &__call-back {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button {
    @include secondary-button;
  }

  &__change-language {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;
    border: none;
    opacity: 1;

    background-color: inherit;
    color: $c-chocolate;
  }
}
