html {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: "Cookie", sans-serif;
  font-size: 160px;
  line-height: 177px;

}

h2 {
  font-family: "Cookie", sans-serif;
  font-size: 120px;
  line-height: 133px;
  color: $croissant;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 59px;
  color: $chocolate;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  line-height: 150%;
  color: $chocolate;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
