ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: normal;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
