.page {
  background: $c-gray;

  &__header {
    position: absolute;
    top: 40px;
    left: 60px;
    right: 60px;
    z-index: 1;

    @media (max-width: 1150px) {
      top: 0;
      left: 16px;
      right: 0;
    }
  }
}
