.products__section {
  flex-direction: column;
  grid-column: 1/-1;
  gap: 24px;

  &-title {
    color: $accent-color;
    font-size: 48px;
    font-weight: 400;

    @media (min-width: 640px) {
      font-size: 56px;
    }

    @media (min-width: 1200px) {
      font-size: 72px;
    }
  }
}
