.products {
  padding-bottom: 72px;
  padding-top: 64px;

  @include onTablet {
    padding-top: 152px;
  }

  @include onDesktop {
    padding-bottom: 178px;
  }

  &__title {
    margin: 0;

    width: 288px;

    text-transform: uppercase;
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: left;
    color: $accent-color;
    margin-bottom: 24px;

    @include onTablet() {
      width: fit-content;

      font-family: Inter;
      font-size: 56px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: -0.05em;
      text-align: left;
    }

    @include onDesktop() {
      width: fit-content;

      font-family: Inter;
      font-size: 72px;
      font-weight: 400;
      line-height: 61px;
      letter-spacing: -0.05em;
      text-align: left;
    }
  }

  &__text {
    margin: 0;

    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__wrapper {
    @include pageGrid;
    row-gap: 24px;
  }
}

.product {
  grid-column: span 2;

  @include onTablet {
    grid-column: span 4;
  }

  @include onDesktop {
    grid-column: span 3;

    &:nth-of-type(-3n + 3) {
      grid-column: 3/6;
    }
    &:nth-of-type(-4n) {
      grid-column: 6/-1;
    }
  }

  &__title {
    margin: 0;

    text-transform: uppercase;

    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $gray-color;

    margin-bottom: 8px;
  }

  &__text {
    margin: 0;

    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $main-color;

    margin-bottom: 16px;
  }

  &__photo {
    display: block;
    width: 100%;
    transition-duration: 200ms;

    margin-bottom: 16px;
    &:hover {
      scale: 1.03;
    }
  }

  &__link {
    padding: 21px 70px 21px 0px;

    border-radius: 32px;
    transition-duration: 300ms;
  }
}
