body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input,
textarea {
  border: none;
  outline: none;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
}
