.scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__up-arrow {
    background: url(../images/down-arrow.svg) center no-repeat;
    transform: rotate(-180deg);
    width: 26px;
    height: 15px;

    cursor: pointer;

    margin-right: 24px;
    margin-bottom: 40px;

    &:hover {
      background: url(../images/up-arrow-active.svg) center no-repeat;
      transform: rotate(0deg);

    }
  }

  &__down-arrow {
    background: url(../images/down-arrow.svg) center no-repeat;
    width: 26px;
    height: 15px;

    cursor: pointer;

    margin-top: 40px;
    margin-right: 24px;

    &:hover {
      background: url(../images/up-arrow-active.svg) center no-repeat;
      transform: rotate(-180deg);
    }
  }

  &__number {
    font-size: 2.5em;
    color: $c-cream;
    line-height: 48px;
    margin-right: 13px;
  }

  &__number_active {
    font-size: 11em;
    color: $c-brown;
    line-height: 160px;

    align-self: flex-end;
  }
}
