.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 46px;

  background-color: $c-croissant;

  @media (max-width: 1150px) {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 28px;
    padding: 0;

    background: none;
  }

  &__page-first {
    font-weight: normal;
    font-size: 176px;
    line-height: 209px;

    margin-top: 8px;

    color: $c-chocolate;

    @media (max-width: 1150px) {
      margin: 0 10px;

      font-size: 40px;
      line-height: 40px;
    }
  }

  &__page {
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    margin: 0 14px 14px;

    color: $c-cream;

    @media (max-width: 1150px) {
      margin: 0 10px;

      font-size: 16px;
      line-height: 25px;

      color: $c-croissant;
    }
  }

  &__up-scroll {
    width: 26px;
    height: 16px;
    background: url(../images/Vector.png) no-repeat;
    background-size: contain;

    margin-right: 25px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1150px) {
      transform: rotate(-90deg);
      margin: 0;
    }

    @media (max-width: 738px) {
      width: 20px;
      height: 12px;
    }
  }

  &__down-scroll {
    width: 26px;
    height: 16px;
    background: url(../images/Vector-down.png) no-repeat;
    background-size: contain;

    margin-top: 41px;
    margin-right: 25px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1150px) {
      transform: rotate(-90deg);
      margin: 0;
    }

    @media (max-width: 738px) {
      width: 20px;
      height: 12px;
    }
  }
}
