.search {
  display: flex;
  justify-content: center;

  &__button {
    @include button;
  }

  &__city-input,
  &__adress-input {
    margin-right: 32px;

    background-color: $c-cream;
  }

  &__city-input {
    @include input;

    width: 173px;
  }

  &__adress-input {
    @include input;

    width: 323px;
  }
}
