.search {
  display: flex;
  justify-content: center;

  &__button {
    @include button;
  }

  &__city,
  &__adress {
    margin-right: 32px;
  }

  &__city {
    line-height: 24px;
    border: none;
    border-bottom: 1px solid #412d22;
    opacity: 0.5;
    outline: none;
  }
}
