.search-menu {
  display: flex;
  align-items: center;
  gap: 32px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  &__city {
    width: 173px;
    height: 31px;

    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    opacity: 0.5;

    border-left: none;
    border-right: none;
    border-top: none;
    background-color: inherit;
    color: $c-chocolate;

    @media (max-width: 1024px) {
      width: 288px;
    }
  }

  &__adress {
    width: 323px;
    height: 31px;

    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    opacity: 0.5;

    border-left: none;
    border-right: none;
    border-top: none;
    background-color: inherit;
    color: $c-chocolate;

    @media (max-width: 1024px) {
      width: 288px;
    }
  }

  &__button {
    @include primary-button;
  }
}
