.search {
  display: flex;
  justify-content: center;

  &__button {
    @include button;
  }

  &__city-input,
  &__adress-input {
    margin-right: 32px;

    background-color: $c-cream;
  }

  &__city-input {
    @include input;

    width: 173px;
  }

  &__adress-input {
    @include input;

    width: 323px;
  }
}

@media screen and (max-width: 999px) {
  .search {
    flex-direction: column;
    align-items: center;
    padding: 1vw;

    &__city-input,
    &__adress-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5vh;
    }
  }
}
