.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 40.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  color: $accentorange;

  @include onTablet {
    font-size: 56px;
    line-height: 47.6px
  }

  @include onDesktop {
    font-size: 72px;
    line-height: 61.2px
  }
}
