.statistic {
  display: flex;
  justify-content: space-around;

  margin-bottom: 140px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 200px;
    height: 200px;

    margin-bottom: 12px;
  }

  &__number {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2;

    margin-bottom: 7px;
    margin-top: 0;
  }

  &__description {
    text-align: center;
    margin: 0;
  }
}
