.stores {
  background-color: $c-cream;
  display: flex;
  flex-direction: column;

  &__title {
    @include title;
    margin-bottom: 90px;
  }

  &__search {
    margin-bottom: 70px;
  }

  &__map-ukraine {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__photo {
    max-width: 100%;
    height: auto;
  }
}
