.top-bar {
  box-sizing: border-box;
  grid-column: 1/-1;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  display: flex;

  &__logo {
    height: 32px;
    display: flex;
  }

  &__icons {
    width: 24px;
    height: 24px;
    display: block;

    &--menu {
      background-image: url(../images/icons/Icon-menu.png);
      background-repeat: no-repeat;

      @media (min-width: 1024px) {
        display: none;
      }
    }

    &--close {
      background-image: url(../images/icons/icon-menu-close.png);
      background-repeat: no-repeat;

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}
