.top-bar {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;

  &__logo-link {
  align-items: center;
  display: flex;
}

&__logo {
  width: 136px;
  height: 32px;
}

&__burger {
  display: none;
}

&__nav {
  display: flex;
  align-items: center;
}

&__nav-list {
  display: flex;
  gap: 64px;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}

&__nav-link {
  text-decoration: none;
  color: $main-text-color;
}

&__nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $main-text-color;
  font-size: 16px;
}
}


