h1 {
  @extend %h1;
  font-size: 64px;

  @include onTablet {
    font-size: 80px;
  }

  @include onNarrowDesktop {
    font-size: 113px;
  }

  @include onWideDesktop {
    font-size: 144px;
  }
}

h2 {
  @extend %h1;
  font-size: 48px;

  @include onTablet {
    font-size: 56px;
  }

  @include onNarrowDesktop {
    font-size: 72px;
  }

  @include onWideDesktop {
    font-size: 72px;
  }
}

h3 {
  @extend %uppercaseText;
}
