h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $accent-orange;

  @include onTable {
    font-size: 80px;
  }

  @include onLaptop {
    font-size: 136px;
  }

  @include onDesktop {
    font-size: 144px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $accent-orange;

  @include onTable {
    font-size: 56px;
  }

  @include onLaptop {
    font-size: 72px;
  }
}

.grey-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $grey;
  text-transform: uppercase;
}

.big-text {
  font-size: 96px;
  line-height: 81.6px;
  letter-spacing: -0.05em;
  color: $accent-orange;
}
