$c-basic: #412d22;
$c-accent: #e39a3b;
$c-accentLight: #f1cc9d;
$c-red: #d21925;

$containerWidth: 1440px;
$containerPaddingDesktop: 66px;
$containerPaddingTablet: 40px;
$containerPaddingMobile: 16px;

$headerHeight: 87px;
$headerMarginTop: 15px;
$logotypeWidth: 112px;
$titleMarginBottom: 26px;
$iconSize: 31px;

$btnHeight: 40px;
$btnSecondaryHeight: 30px;

$desktopBreakpoint: 1280px;
$tabletBreakpoint: 768px;
$mobileBreakpoint: 480px;
