:root {
  --dark-orange: #b2341a;
  --accent-orange: #f9512e;
  --light-orange: #fba28f;
  --light-pink: #ffeefc;
  --light-blue: #eef7ff;
  --black: #1c1a26;
  --grey: #7f8096;
  --white: #fff;
  --font-family-base: 'Inter', sans-serif;
  --container-width: 1190px;
  --container-padding-x: 16px;
  --section-padding-y: 35px;
  --transition-duration: 0.3s;

  @include tablet {
    --section-padding-y: 50px;
  }

  @include desktop {
    --section-padding-y: 80px;
  }
}
