.web-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__link {
    display: flex;
    justify-content: center;
    width: 31px;
    height: 31px;

    border-radius: 50%;
    background-color: $c-milk;

    @include hover(background-color, $c-croissant);
  }

  &__image {
    width: 31px;
    height: 31px;

    &--twitter {
      background: url(../images/web-icon/twitter.png) no-repeat center;
    }

    &--facebook {
      background: url(../images/web-icon/facebook.png) no-repeat center;
    }

    &--link {
      background: url(../images/web-icon/link.png) no-repeat center;
    }
  }
}
