.what-we-bake {

  margin-inline: auto;

  max-width: 400px;

  @include onTablet {
    max-width: 680px;
    row-gap: 80px;
  }

  @include onDesktop {
    max-width: 1112px;
  }

  &__title {
    margin-bottom: 24px;

    grid-column: span 2;

    @include onTablet {
      grid-column: span 5;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__info {
    margin-bottom: 56px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
      margin-bottom: 80px;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__products {
    @include pageGrid;
    row-gap: 56px;
  }
}
