.about-us {
  text-align: left;
  background-image: url(/src/images/about-us-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include page-grid;

  @include on-tablet {
    row-gap: 80px;
    background-position: center;
  }

  @include on-desktop {
    padding-bottom: 293px;
  }

  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__description {
    grid-column: 1/-1;
    margin-top: 32px;
    margin-bottom: 64px;

    @include on-tablet {
      grid-column: span 4;
      margin: 0;
    }
  }

  &__statistic {
    grid-column: 1/-1;
  }
}
