.about-us {
  padding: 93px 0 349px;

  background-image: url(../images/Crumbs.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;

  @include oniPad {
    padding: 80px 0 150px;
  }

  @include onMobile {
    padding: 40px 0 72px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 144px;

    @include oniPad {
      margin-bottom: 70px;
    }

    @include onMobile {
      flex-direction: column;
      margin-bottom: 64px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $black;
    width: 584px;

    @include oniPad {
      font-size: 56px;
    }

    @include onMobile {
      font-size: 48px;
      width: 100%;
    }
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $black;
    width: 584px;

    @include onMobile {
      margin-top: 32px;
      width: 100%;
    }
  }

  &__achievements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__num {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 8px;
  }

  &__col1 {
    @include oniPad {
      margin-right: 135px;
      margin-bottom: 80px;
    }
  }

  &__col2 {
    @include oniPad {
      margin-right: 230px;
    }
  }

  &__col3 {
    @include oniPad {
      margin-right: 180px;
    }
  }

  &__col4 {
    @include oniPad {
      margin-right: 140px;
    }
  }

  &__name {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $grey;
  }
}

.col {
  display: flex;
  flex-direction: column;

  @include onMobile {
    margin-bottom: 48px;
  }

  &:last-child {
    @include onMobile {
      margin-bottom: 0;
    }
  }
}
