.aboutUs {
  width: 85vw;
  margin: 150px auto;
  height: 676px;
  background-image: url('../images/Crumbs.svg');
  background-position: center;
  background-repeat: no-repeat;

    &__description {
      width: 100%;
      display: flex;
      height: 120px;
      margin-bottom: 50px;
      &-title {
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        min-width: 40%;
        height: 120px;
        margin-top: 0;
        text-transform: uppercase;
      }
      &-text {
        width: 60%;
        margin-top: 0;
        margin-left: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  &__stats {
    display: flex;
    flex-wrap: wrap;
    margin-top: 144px;
    justify-content: space-between;
    &-display {
    width: 260px;
    height: 114px;
    &-title {
      line-height: 80px;
      font-size: 80px;
      font-weight: 400;
    }
    &-text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $c-gray;
      margin-top: -16px;
    }
   }
  }
}

@media screen and (min-width: 768px) and (max-width: 1230px) {
  .aboutUs {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 526px;
    height: auto;
  &__stats {
    margin-top: 50px;
    &-display {
      margin-bottom: 80px;
      &:nth-child(even) {
        margin-right: 44px;
      }
    }
  }
      &__description {
        width: 100%;
        display: flex;
        height: 120px;
        margin-bottom: 50px;
        &-title {
          font-weight: 400;
          font-size: 60px;
          line-height: 60px;
          min-width: 40%;
          height: 120px;
          margin-top: 0;
          text-transform: uppercase;
        }
        &-text {
          width: 60%;
          margin-top: 0;
          margin-left: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }

}

@media screen and (max-width: 768px) {
  .aboutUs {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70vw;
    height: auto;
  &__stats {
    margin-top: 200px;
    &-display {
      margin-bottom: 80px;
      &:nth-child(even) {
        margin-right: 44px;
      }
    }
  }
      &__description {
        flex-direction: column;
        margin-bottom: 50px;
        width: 100%;
        &-title {
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          min-width: 40%;
          height: 120px;
          margin-top: 0;
          text-transform: uppercase;
        }
        &-text {
          width: 60%;
          margin-top: 0;
          margin-left: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          border-bottom: 50px transparent;
        }
      }
    }

}
