.about {
  
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1921px;
    margin: 0 auto;
  }

  &__title {
    margin: 40px 0 22px;
  }

  &__text {
    max-width: 480px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 150px;
  }

  &__item {
    margin: 30px 10px 0;
    text-align: center;
  }

  &__img {
    margin-bottom: 12px;
  }

  &__item-title {
    font-size: 3.75em;
  }

  &__item-text {
    line-height: 24px;
  }
}

@media screen and (max-width: $laptop-bp) {
  .about {
    &__list {
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 2.5em;
    }

    &__item {
      margin: 0;
    }

    &__img {
      width: 75%;
    }

    &__item-text {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: $phone-bp) {
  .about {
    &__img {
      width: 150px;
    }

    &__list {
      flex-wrap: nowrap;
      overflow: scroll;
      justify-content: stretch;
    }

    &__item {
      margin: 10px;
    }
  }
}
