.about {
  text-align: center;
  color: $col-dark-brown;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,auto));
    gap: 50px;
  }

  &__description {
    max-width: 480px;
    margin: 22px auto 59px;
    line-height: 24px;
  }

  &__img {
    margin-bottom: 12px;
  }

  &__value {
    font-weight: 300px;
    font-size: 60px;
    margin-bottom: 8px;
  }
}
