.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    @extend %h2;
    margin-bottom: 0;
  }

  &__text {
    margin: 60px auto;
    display: block;
    width: 33%;
    text-align: center;

    @media (max-width: $smallScreen) {
      & {
        width: 70%;
      }
    }
  }

  &__posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $smallScreen) {
      & {
        flex-direction: column;
      }
    }
  }
}
