.about-us {
  margin: 0 auto 72px;
  max-width: 288px;

  background-image: url(../images/Crumbs.png);
  background-size: contain;
  background-position: 0 74%;
  background-repeat: no-repeat;

  @include tablet {
    margin-bottom: 152px;
    max-width: 680px;

    background-position: center;
  }

  @include desktop {
    margin-bottom: 56px;
    max-width: 1112px;
    padding-bottom: 292px;
  }

  @include bigDesktop {
    max-width: 1192px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    margin: 0 0 32px;

    @include tablet {
      font-size: 56px;
      margin-bottom: 192px;
    }

    @include desktop {
      font-size: 72px;
      margin-bottom: 144px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    margin: 0 0 64px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__info {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      &:nth-child(5) {
        margin-bottom: 0;
      }
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__info-number {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    margin-bottom: 8px;
  }

  &__info-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $grey;
  }
}
