.aside {
  &__top {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 30px;
    height: 120px;
  }

  &__switcher {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 26px;

    &::before {
      content: url(../images/vector-left.svg);
      transform: rotate(90deg) translate(50%);
      cursor: pointer;
    }

    &::after {
      content: url(../images/vector-right.svg);
      transform: rotate(90deg) translate(-50%);
      cursor: pointer;
    }
  }
}
