.backerlab {

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
    color: $grey-color;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 64px;

      @include onTab {
        margin-bottom: 0;

      }
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 45px;
  }

  &__item-link {
    color: $color-white;
  }
}
