.backershops {
  background-color: $secondary-color;
  outline: none;
  padding: 40px 0;

  &__search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
  }

  &__select {
    width: 173px;
    padding-bottom: 0;
    margin-right: 30px;

    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $border-bottom;
    outline: none;

    cursor: pointer;
  }

  &__select--adress {
    width: 323px;
  }

  &__map {
    display: flex;
    justify-content: center;
  }

  &__map-ukraine {
    max-width: 100%;
    height: auto;
  }

}

@media (max-width: $medium-screen) {
  .backershops {

    &__search-form {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 15px;
      justify-items: center;
    }

    &__select {
      width: 288px;
      margin-right: 0;
    }
  }
}
