.bakery {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 135px;

  width: 100%;
  padding: 40px 40px 0;

  &__title {
    margin-bottom: -110px;
  }

  &__btn {
    margin: 30px auto 80px;
  }
}

@media screen and (max-width: 1150px) {
  .bakery {

    gap: 40px;

    &__title {
      line-height: 70px;
      margin-bottom: -50px;
    }

    &__btn {
      margin-bottom: 40px;
    }
  }
}
