.bakershops {
  background-color: hsl(34, 75%, 78%);
  height: 1000px;

  @media (max-width: 780px) {
    height: 880px;
  }

  @media (max-width: 616px) {
    height: 840px;
  }

  @media (max-width: 450px) {
    height: 700px;
  }

  @media (max-width: 350px) {
    height: 600px;
  }

  @media (max-width: 350px) {
    height: 550px;
  }

  &__caption {
    @include Font-Family-CookieR;
    text-align: center;
    font-size: 120px;
    line-height: 133px;
    margin-top: 40px;
    color: hsl(34, 75%, 56%);

    @media (max-width: 450px) {
      font-size: 60px;
      line-height: 67px;
    }
  }

  &__inner {
    text-align: center;
    @include Font-Family-RubikR;
    margin-bottom: 70px;

    @media (max-width: 780px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    width: 173px;
    background-color: hsl(34, 75%, 78%);
    margin-right: 42px;
    font-size: 16px;
    line-height: 24px;
    color: hsl(21, 31%, 19%);
    opacity: 0.5;
    border-bottom: 1px solid hsl(21, 31%, 19%);

    @media (max-width: 780px) {
      display: block;
      margin: 0 auto;
      width: 323px;
    }

    @media (max-width: 450px) {
      width: 300px;
    }
  }

  &__adress {
    width: 323px;
    background-color: hsl(34, 75%, 78%);
    margin-right: 42px;
    font-size: 16px;
    line-height: 24px;
    color: hsl(21, 31%, 19%);
    opacity: 0.5;
    border-bottom: 1px solid hsl(21, 31%, 19%);

    @media (max-width: 780px) {
      display: block;
      margin: 0 auto;
      margin-top: 39px;
    }

    @media (max-width: 450px) {
      width: 300px;
    }
  }

  &__btn {
    position: relative;
    width: 160px;
    height: 40px;
    background: hsl(34, 75%, 56%);
    border-radius: 40px;
    overflow: hidden;

    @media (max-width: 780px) {
      display: block;
      margin: 0 auto;
      margin-top: 39px;
    }
  }

  &__city {
    display: grid;
    grid-template-columns: repeat(17, 1fr);

    @media (max-width: 450px) {
      display: block;
    }

    @media (max-width: 1036px) {
      grid-template-columns: repeat(15, 1fr);
      padding: 0 15px;
    }
  }

  &__wrap {
    background-image: url(../images/bakershops/Ukr.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    height: 688px;
    grid-template-rows: repeat(20, 5%);
    grid-column: 3 / 16;
    @include Font-Family-RubikR;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 1036px) {
      grid-column: 1 / 16;
    }

    @media (max-width: 858px) {
      background-size: contain;
      height: 600px;
    }

    @media (max-width: 780px) {
      height: 500px;
    }

    @media (max-width: 616px) {
      font-size: 12px;
      line-height: 10px;
      grid-template-rows: repeat(15, 5%);
    }

    @media (max-width: 555px) {
      background-size: 100% 100%;
    }

    @media (max-width: 450px) {
      background-size: contain;
      background-image: url(../images/bakershops/small858/map.png);
      grid-template-rows: repeat(20, 5%);
      height: 350px;
    }

    @media (max-width: 350px) {
      height: 240px;
    }
  }

  &__lviv {
    grid-column: 2;
    grid-row: 5;
    padding-top: 15px;
    padding-left: 15px;
    position: relative;

    @include animation-shake;

    &::before {
      content: "6";
      @include circles-on-the-map;
    }

    &::after {
      content: "Lviv";
      position: relative;
      left: 20px;
      color: $brown;
    }

    @media (max-width: 858px) {
      grid-row: 6;
    }

    @media (max-width: 616px) {
      grid-row: 8;
    }

    @media (max-width: 482px) {
      grid-row: 7;
    }

    @media (max-width: 555px) {
      grid-row: 5;
    }

    @media (max-width: 450px) {
      grid-row: 7;
    }

    @media (max-width: 450px) {
      grid-row: 8;
    }

    @media (max-width: 350px) {
      grid-row: 6;
    }
  }

  &__lutsk {
    grid-column: 4;
    grid-row: 2;
    position: relative;

    @include animation-shake;

    &::before {
      content: "4";
      @include circles-on-the-map;
    }

    &::after {
      content: "Lutsk";
      color: $brown;
    }
    @media (max-width: 858px) {
      grid-column: 4;
      grid-row: 4;
    }

    @media (max-width: 615px) {
      grid-column: 4;
      grid-row: 6;
    }

    @media (max-width: 555px) {
      grid-row: 3;
    }

    @media (max-width: 450px) {
      grid-row: 5;
    }

    @media (max-width: 450px) {
      grid-row: 6;
    }

    @media (max-width: 350px) {
      grid-row: 4;
    }
  }

  &__vinnytsya {
    position: relative;
    grid-column: 8;
    grid-row: 9;
    @include animation-shake;

    &::before {
      content: "4";
      @include circles-on-the-map;
      left: -15px;

      @media (max-width: 616px) {
        left: -10px;
      }
    }

    &::after {
      content: "Vinnytsya";
      color: $brown;
      position: relative;
      right: 15px;
    }

    @media (max-width: 858px) {
      grid-column: 8;
      grid-row: 10;
    }

    @media (max-width: 555px) {
      grid-row: 9;
    }

    @media (max-width: 450px) {
      grid-row: 9;
    }

    @media (max-width: 450px) {
      grid-row: 10;
    }

    @media (max-width: 350px) {
      grid-row: 9;
    }
  }

  &__zhytomyr {
    position: relative;
    grid-column: 8;
    grid-row: 4;
    @include animation-shake;

    &::before {
      content: "3";
      @include circles-on-the-map;
      left: -18px;

      @media (max-width: 616px) {
        left: -10px;
      }
    }

    &::after {
      position: relative;
      content: "Zhytomyr";
      color: $brown;
      right: 20px;
    }

    @media (max-width: 858px) {
      grid-column: 8;
      grid-row: 6;
    }

    @media (max-width: 555px) {
      grid-row: 5;
    }

    @media (max-width: 450px) {
      grid-row: 6;
    }

    @media (max-width: 450px) {
      grid-row: 7;
    }

    @media (max-width: 350px) {
      grid-row: 6;
    }
  }

  &__kyiv {
    position: relative;
    grid-column: 9;
    grid-row: 4;
    padding-left: 45px;
    padding-top: 15px;
    @include animation-shake;

    &::before {
      content: "9";
      @include circles-on-the-map;
      left: 40px;
    }

    &::after {
      content: "Kyiv";
      position: relative;
      left: 27px;
      color: $brown;

      @media (max-width: 616px) {
        left: 10px;
      }
    }

    @media (max-width: 858px) {
      grid-column: 9;
      grid-row: 6;
    }

    @media (max-width: 615px) {
      grid-column: 8;
    }

    @media (max-width: 555px) {
      grid-row: 5;
    }

    @media (max-width: 450px) {
      grid-row: 6;
    }

    @media (max-width: 450px) {
      grid-row: 7;
      grid-column: 8;
    }

    @media (max-width: 350px) {
      grid-row: 6;
      grid-column: 7;
    }
  }

  &__chernihiv {
    position: relative;
    grid-column: 11;
    grid-row: 2;
    padding-left: 35px;
    @include animation-shake;

    &::before {
      content: "4";
      @include circles-on-the-map;
      left: 21px;

      @media (max-width: 616px) {
        left: 25px;
      }
    }

    &::after {
      content: "Chernihiv";
      position: relative;
      right: 10px;
      color: $brown;
    }

    @media (max-width: 858px) {
      grid-column: 11;
      grid-row: 4;
    }

    @media (max-width: 615px) {
      grid-row: 5;
      grid-column: 10;
    }

    @media (max-width: 555px) {
      grid-row: 3;
    }

    @media (max-width: 450px) {
      grid-row: 5;
    }

    @media (max-width: 450px) {
      grid-row: 6;
    }

    @media (max-width: 350px) {
      grid-row: 4;
      grid-column: 9;
    }
  }

  &__kherson {
    position: relative;
    grid-column: 14;
    grid-row: 14;
    padding-top: 25px;
    @include animation-shake;

    &::before {
      content: "2";
      @include circles-on-the-map;
      left: -20px;

      @media (max-width: 616px) {
        left: -10px;
      }
    }

    &::after {
      content: "Kherson";
      position: relative;
      right: 15px;
      color: $brown;
    }

    @media (max-width: 858px) {
      grid-column: 14;
      grid-row: 12;
    }

    @media (max-width: 555px) {
      grid-row: 14;
    }

    @media (max-width: 450px) {
      grid-row: 12;
    }

    @media (max-width: 350px) {
      grid-row: 11;
      grid-column: 13;
    }
  }

  &__dnipro {
    position: relative;
    grid-column: 14;
    grid-row: 10;
    padding-left: 35px;
    @include animation-shake;

    &::before {
      content: "4";
      @include circles-on-the-map;
      left: 20px;

      @media (max-width: 616px) {
        left: 25px;
      }
    }

    &::after {
      content: "Dnipro";
      color: $brown;
    }

    @media (max-width: 555px) {
      grid-column: 13;
      grid-row: 11;
    }

    @media (max-width: 350px) {
      grid-row: 10;
      grid-column: 12;
    }
  }

  &__poltava {
    position: relative;
    grid-column: 14;
    grid-row: 6;
    padding-top: 15px;
    @include animation-shake;

    &::before {
      content: "2";
      @include circles-on-the-map;
      left: -21px;

      @media (max-width: 616px) {
        left: -11px;
      }
    }

    &::after {
      position: relative;
      content: "Poltava";
      right: 10px;
      color: $brown;
    }

    @media (max-width: 858px) {
      grid-column: 14;
      grid-row: 7;
    }

    @media (max-width: 555px) {
      grid-row: 6;
    }

    @media (max-width: 450px) {
      grid-row: 7;
    }

    @media (max-width: 450px) {
      grid-row: 8;
    }

    @media (max-width: 350px) {
      grid-row: 6;
      grid-column: 13;
    }
  }

  &__kharkiv {
    position: relative;
    grid-column: 17;
    grid-row: 6;
    @include animation-shake;

    &::before {
      content: "5";
      @include circles-on-the-map;
      left: -10px;
    }

    &::after {
      content: "Kharkiv";
      color: $brown;
    }

    @media (max-width: 858px) {
      grid-column: 17;
      grid-row: 8;
    }

    @media (max-width: 555px) {
      grid-row: 6;
    }

    @media (max-width: 450px) {
      grid-column: 16;
      grid-row: 8;
    }

    @media (max-width: 350px) {
      grid-row: 7;
    }
  }

  &__photo-6 {
    @media (max-width: 858px) {
      display: block;
      width: 54px;
      height: 54px;
    }

    @media (max-width: 616px) {
      width: 32px;
      height: 32px;
    }
  }

  &__photo-4 {
    @media (max-width: 616px) {
      display: block;
      width: 28px;
      height: 28px;
    }
  }

  &__photo-3 {
    @media (max-width: 616px) {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__photo-9 {
    @media (max-width: 858px) {
      display: block;
      width: 64px;
      height: 64px;
    }

    @media (max-width: 616px) {
      width: 34px;
      height: 34px;
    }
  }

  &__photo-2 {
    @media (max-width: 616px) {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &__photo-5 {
    @media (max-width: 616px) {
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  &__minus {
    display: none;

    @media (max-width: 450px) {
      display: grid;
      position: relative;
      width: 40px;
      height: 40px;
      background-color: hsl(0, 0%, 100%);
      border-radius: 50%;
      grid-column: 13;
      grid-row: 20;

      &::after {
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        align-self: center;
        justify-self: center;
        background-color: hsl(21, 31%, 19%);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 15px;
        align-self: center;
        justify-self: center;
        background-color: hsl(21, 31%, 19%);
      }
    }
  }

  &__plus {
    display: none;

    @media (max-width: 450px) {
      display: grid;
      width: 40px;
      height: 40px;
      background-color: hsl(0, 0%, 100%);
      border-radius: 50%;
      grid-column: 8;
      grid-row: 20;

      &::after {
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        align-self: center;
        justify-self: center;
        background-color: hsl(21, 31%, 19%);
      }
    }
  }
}

.pulse {
  background-color: aqua;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;

  @keyframes pulse {
    to {
      transform: scale(2);
      background-color: white ;
      opacity: 0;
    }
  }
}
