.bakershops {
  @include flexColumn;
  justify-content: start;
  margin: 0 0 54px;
  height: 1112px;

  background-color: $bc-cream;

  &__title {
    margin: 40px 0 42px;

    @extend %titleM;
  }
}
