.bakery {

  display: flex;
  flex-direction: column;
  gap: 135px;

  padding: 0 65px;

  &__title {
    text-align: center;

    font-size: 120px;
    line-height: 133px;

    font-family: $title-font;

    color: #e39a3b;
  }

  &__item {
    position: relative;
  }
}
