.bakershops {
  background-color: #f1cc9d;
  padding-bottom: 30px;

  &__img {
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  &__labels {
    display: flex;
    justify-content: center;
  }

  &__label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
  }

  &__input {
    display: none;
  }

  @include onTablet {
    padding-bottom: 57px;
    &__labels {
      display: none;
    }
  }
}
