.blog {
  margin: 0;
  display: flex;
  gap: 32px;

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;

    @include hover(transform, scale(1.5));

    &:hover {
      border: 1px solid white;
      border-radius: 25%;
      padding: 2px;
    }
  }
}
