.btn {
  width: 160px;
  height: $btnHeight;
  background-color: $c-accent;
  border: 2px solid $c-accent ;
  border-radius: 40px;
  transition: 0.3s;

  &:hover {
    background-color: transparent;
  }

  &--secondary {
    width: 100px;
    height: $btnSecondaryHeight;
    background-color: $c-accentLight;
    border-color: $c-accentLight;
  }
}
