.burger {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  z-index: 2;

  // @media (max-width: 767px) {
  //   flex-direction: column;
  // }

  &__select {
    font-size: 16px;
    line-height: 24px;
    color: $info-color;

    width: max-content;

    margin-right: 32px;

    background: transparent;

    border: 1px transparent;
    border-radius: 1px;
  }

  &__button {
    margin: 0 20px;
  }
}

// @media (max-width: 1200px) {
//   .burger {
//     position: absolute;
//     right: 0;
//     top: 25px;
//   }
// }
