.burger {
  width: 40%;
  min-width: 250px;
  margin-left: 50px;
  height: 100vh;
  background-color: $col-main;
  display: none;

  &--active {
    display: block;
  }

  position: absolute;
  top: 0;
  right: 0;

  &__nav {
    padding: 85px 0 20px 30px;
  }

  &__nav-list {
    list-style: none;
    margin-bottom: 117px;
  }

  &__nav-item {
    margin-bottom: 30px;
  }

  &__nav-link {
    color: $col-dark-brown;
    &:hover {
      color: $col-subcol;
    }
  }

  &__nav-call {
    margin-bottom: 30px;
  }

  &__nav-button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;

    width: 100px;
    text-align: center;

    color: $col-dark-brown;
    padding: 5px 0;
    margin-bottom: 30px;
    background-color: $col-subcol;
    border-radius: 40px;
    border: 1px solid transparent;
    outline: 2px transparent;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
      background-color: white;
      border: 1px solid #f1cc9d;
    }
  }

  &__nav-select {
    background-color: transparent;
    border-width: 0;
    outline: transparent;
  }

  &__nav-option {
    background-color: $col-subcol;
    color: $col-dark-brown;
  }
}

@media screen and (min-width: 999px) {
  .burger {
    display: none;
  }
}
