.small-button {
  @include button;

  padding: 1px 22px;
  background: #f1cc9d;
  border: 2px solid #f1cc9d;
  &:hover {
    background: white;
  }
}

.big-button {
  @include button;

  padding: 9px 38px;
  background: #e39a3b;
  border: 2px solid #e39a3b;
  
  &:hover {
    background: white;
  }
}
