.small-btn {
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  color: #412d22;

  background-color: #f1cc9d;
  border-radius: 40px;
}

.big-btn {
  width: 160px;
  height: 40px;

  text-align: center;
  line-height: 40px;

  color: #412d22;

  background-color: #e39a3b;
  border-radius: 40px;

}
