.button {
  width: 160px;
  height: 40px;
  background-color: $croissantColour;
  border-radius: 40px;
  transition: background-color 0.5s;

  &:hover {
    border: 2px solid $croissantColour;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: hsla(0,0%,100%, 0.1);
  }
}
