.call-back {
  @extend %classic-text;

  display: flex;

  column-gap: 20px;

  &__language {
    border: 0;
    background: transparent;
    outline: none;

  }

  &__tel {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #f1cc9d;
      transition-duration: 0.5s;
    }
  }

  &__button {
    @extend %ft-middle;
    @extend %fs-classic;
  
    width: 100px;
  
    color: #412d22;
  
    box-sizing: border-box;
  
    border: 1px solid #f1cc9d;
    background-color: #f1cc9d;
    border-radius: 40px;
  
    cursor: pointer;
    outline: none;
  
    &:hover {
      background-color: transparent;
    }
  
    &:active {
      background-color: #f1cc9d;
    }
  
    &:disabled {
      background: #e0e0e0;
      color: #828282;
    }
  
  }
  
}

@media (max-width: 1024px) {
  .call-back {
    display: none;
  }
}
