.caption {
  @extend %ft-middle;

  font-family: $h-font-famiy;
  font-size: 120px;
  text-align: center;
  color: $h-color;
}

@media (max-width: 1024px) {
  .caption {
    font-size: 60px;
    padding-top: 40px;

  }
}
