.card {
  margin-bottom: 60px;

  @media (min-width:600px) {
    width: 48%;
  }

  @media (min-width:900px) {
    width: 35%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    margin-bottom: 16px;
  }

  // .card__name

  &__name {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: rgb(127, 128, 150);
  }

  // .card__text

  &__text {
    margin-bottom: 24px;
  }

  // .card__link

  &__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(249, 81, 46);
  }

  &__icon {
    margin-right: 8px;
  }
}
