.card {
  // width: 288px;
  box-sizing: border-box;

  @include onSM {
    width: 328px;
  }

  & :nth-child(odd) {
    padding-bottom: 16px;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
  }

  &__title {
    text-transform: uppercase;
    color: $text-c-gray;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;

    padding-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -1%;
  }

  &__link {
    color: $c-accent-orange-hover;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2%;
    text-transform: uppercase;
  }

  &__link::before {
    content: "";
    background-image: url(../images/icons/arrow-hover.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 26px;
  }
}
