.card {
  &__image {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;

    @include forTablet() {
      flex-shrink: 1;
    }

    @include forDesktop() {
      width: 100%;
      height: auto;
      flex-shrink: 1;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 100%;
    color: #7f8096;
  }

  &__desc {
    margin-bottom: 24px;
  }
}
