.catalog {
  &__product {
    margin-bottom: 135px;
  }

  &__button {
    font-family: inherit;
    color: $col-dark-brown;

    display: block;
    width: max-content;
    margin: 24px auto 0;
    padding: 8px 38px;
    border: 1px transparent;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 1s;

    background-color: $col-main;

    &:hover {
      background-color: white;
      border: 1px solid $col-main;
      outline: transparent;
    }

  }
}
