.catalog {
  &__product {
    margin-bottom: 135px;
  }

  &__button {
    display: block;
    width: max-content;
    margin: 24px auto 0;
    padding: 8px 38px;
  }
}

@media screen and (max-width: 550px) {
  .catalog__product {
    margin-bottom: 40px;
  }
}
