.connection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 33.3%;

  @extend %textS;

  &__text {
    margin-right: 20px;
  }

  &__button {
    margin-right: 20px;

    @include secondaryButtons;
  }
  
  &__switcher {
    @extend %textS;

    border: none;
    background-color: transparent;
    outline: none;

    &:focus {
      background-color: $light-brown;
    }
  }
}
