@import "mixins";

.container {
  box-sizing: border-box;
  margin: 0 auto;
  // width: 100%;
  @include onMob {
    padding: 0 16px ;
  }
  @include onTablet {
    padding: 0 16px ;
  }
  @include onDesktop {
    // width: 1024px;
    width: 100%;
    padding: 0 32px;
  }

  @include onDesign {
    width: 1440px;
  }
}

.container__bottom {
  @include onMob {
    padding-bottom: 104px;
  }
  @include onTablet {
    padding-bottom: 230px;
  }
  @include onDesktop {
    padding-bottom: 313px;
  }
  @include onDesign {
    padding-bottom: 290px;
  }

}

.container__digit {
  padding-bottom: 350px;
  @include onMob {
    padding-bottom: 72px;
  }
  @include onTablet {
    padding-bottom: 152px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: none;
  @include onDesktop {
    display: flex;
  }
}
