.container {
  padding: 0 16px;

  @include onTablet {
    padding: 20px 44px;
  }

  @include onDesktop {
    padding: 10px 124px;

    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
