.contact-us {
  white-space: nowrap;

  @include footer-list-style;

  &__link {
    position: relative;
    display: inline-block;

    @include underline;
    @include hover(transform, scale(1.1));
  }
}
