.contacts {

  &__wrapper {
    display: flex;
  }

  &__heading {
    margin: 140px 0 25px;
  }

  &__info {
    width: 30%;
    
    background-color: $croissant;
  }

  &__info-title {
    margin: 40px 0 24px;

    text-align: center;
    font-size: 26px;
    line-height: 39px;
  }

  &__icons {
    display: inline-flex;
    flex-direction: column;
    gap: 42px;

    margin-left: 15%;
    margin-right: 7%;
  }

  &__links {
    display: inline-flex;
    flex-direction: column;
    gap: 9px;

    line-height: 1.5;
    
  }

  &__link:last-of-type {
    margin-bottom: 128px;
  }

  &__map {
    width: 70%;
  }
}

@media screen and (max-width: 1150px) {
  .contacts {
    &__wrapper {
      flex-direction: column;
    }

    &__info {
      width: 100%;
      text-align: center;
    }

    &__map {
      width: 100%;
    }

    &__icons {
      margin: 0;
    }

    &__link:last-of-type {
      margin-bottom: 40px;
    }
  }
}
