.container {
  
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  @include onLarge {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  &__1 {

    @include onTablet {
      grid-column: 1 / 2;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__2 {

    @include onTablet {
      grid-column: 2 / 3;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }

  }

  &__3 {

    @include onTablet {
      grid-column: 1 / 2;
    }

    @include onDesktop {
      grid-column: 3 / 6;
    }
  }

  &__4 {

    @include onTablet {
      grid-column: 2 / 3;
    }

    @include onDesktop {
      grid-column: 6 / 9;
    }
  }

  &__5 {

    @include onTablet {
      grid-column: 1 / 2;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__6 {

    @include onTablet {
      grid-column: 2 / 3;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }
  }
}
