.contacts {
  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0;
  }

  &__map {
    width: 100%;
    height: 500px;
    border: 0;
  }
}

@media (max-width: 1024px) {
  .contacts {

    background-color: $background-color;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title-text {
      color: $secondary-text-color;
    }

    &__information {
      margin-bottom: 30px;
    }
  }
}
