.contact-us {
  color: $grey-color;
  font-size: 16px;

  &__title {
    color: $color-white;
    margin-bottom: 40px;
  }

  &__subtitle {
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 16px;
  }

  &__link {
    color: $color-white;
    display: block;
    margin-bottom: 20px;
    line-height: 16px;
    transition: color 1s;

    @include onDesk {
      &:hover {
        color: $grey-color;
      }
    }
  }

  &__title-email {
    text-transform: uppercase;
    line-height: 16px;
    margin: 40px 0 16px;

    @include onDesk {
      position: relative;
      bottom: 135%;
    }
  }

  &__email {
    color: $color-white;
    display: inline-block;
    margin-bottom: 40px;

    @include onDesk {
      position: relative;
      bottom: 135%;
    }
  }
}
