.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-right: 90px;

  background-color: $croissant;

  width: 500px;
  height: 800px;

  @media (max-width: 1400px) {
    width: 400px;
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    background: inherit;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  @media (max-width: 550px) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding-right: 0;

    width: 280px;
  }

  &__button {
    background-color: inherit;

    transform: rotate(90deg);

    border: 1px solid $croissant;
    border-radius: 50%;

    cursor: pointer;

    @media (max-width: 1200px) {
      transform: rotate(0);

      border: transparent;
    }
  }

  &__img {
    width: 48px;

    @media (max-width: 1200px) {
      width: 20px;
    }

    @media (max-width: 550px) {
      height: 10px;
      width: 10px;
    }
  }

  &__number {
    font-size: 40px;
    line-height: 47px;
    color: $cream;

    font-family: $secondary-font;

    @media (max-width: 1200px) {
      margin: 0 20px;
    }

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 19px;

      padding: 0 10px;

      margin: 0;
    }

    &--big {
      color: $chocolate;
      font-size: 177px;
      line-height: 209px;

      position: relative;

      right: -20px;

      @media (max-width: 1200px) {
        right: 0;

        line-height: 140px;
      }

      @media (max-width: 550px) {
        font-size: 40px;
        line-height: 35px;
      }
    }
  }
}
