.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-right: 90px;

  background-color: $croissant;

  width: 500px;
  height: 800px;

  &__button {
    background-color: inherit;

    transform: rotate(90deg);

    border: 1px solid $croissant;
    border-radius: 50%;

    cursor: pointer;
  }

  &__img {
    width: 48px;
  }

  &__number {
    font-size: 40px;
    line-height: 47px;
    color: $cream;

    font-family: $secondary-font;

    &--first {
      color: $chocolate;
      font-size: 177px;
      line-height: 209px;

      position: relative;

      right: -20px;
    }
  }
}

@media (max-width: 1400px) {
  .counter {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .counter {
    flex-direction: row;

    height: 100%;

    background: transparent;

    &__button {
      transform: rotate(0);

      border: transparent;
    }

    &__number {
      margin: 0 20px;

      &--first {
        right: 0;

        height: 177px;
      }
    }

    &__img {
      width: 20px;
    }
  }
}

@media (max-width: 767px) {
  .counter {
    align-items: center;
    padding: 100px;

    &__number {
      font-size: 16px;
      line-height: 19px;

      &--first {
        font-size: 40px;
        height: 37px;
      }
    }

    &__img {
      height: 12px;
    }
  }
}
