.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-right: 90px;

  background-color: $croissant;

  width: 500px;
  height: 800px;

  @media (max-width: 1400px) {
    width: 400px;
  }

  @media (max-width: 550px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    width: 280px;
  }

  &__button {
    background-color: inherit;

    transform: rotate(90deg);

    border: 1px solid $croissant;
    border-radius: 50%;

    cursor: pointer;
  }

  &__img {
    width: 48px;

    @media (max-width: 550px) {
      height: 20px;
      width: 20px;
    }
  }

  &__number {
    font-size: 40px;
    line-height: 47px;
    color: $cream;

    font-family: $secondary-font;

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 19px;
      margin: 0;
    }

    &--first {
      color: $chocolate;
      font-size: 177px;
      line-height: 209px;

      position: relative;

      right: -20px;

      @media (max-width: 550px) {
        font-size: 40px;
        line-height: 47px;

        top: -10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .counter {
    flex-direction: row;

    height: 100%;

    background: transparent;

    &__button {
      transform: rotate(0);

      border: transparent;
    }

    &__number {
      margin: 0 20px;

      &--first {
        right: 0;

        line-height: 177px;
      }
    }

    &__img {
      width: 20px;
    }
  }
}
