.creative-bakery {
  display: flex;
  flex-direction: column;

  &-text {
    font-size: 16px;
    color: $main-text-color;
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &-h1 {
    font-weight: normal;
    color: $main-text-color;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &-img {
    background-image: url(../images/cookie.png);
    display: block;
    background-size: cover;
  }

  &-link {
    display: block;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 16px;
    line-height: 30px;
    color: $accent-orange;
    text-decoration: none;
    border: 2px solid $accent-orange;
    border-radius: 26px;
    transition: all 0.3s ease;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 63px;
      top: 18px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-image: url('../images/icon/Icon-cookie.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $accent-orange;
      color: $color-text-focus;

      &::before {
        background-image: url('../images/icon/Icon-cookie-white.svg');
      }
    }

    &:focus {
      background-color: $focus-color-but;
      color: $color-text-focus;

      &::before {
        background-image: url('../images/icon/Icon-cookie-white.svg');
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .creative-bakery {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    &-text {
      padding-block-start: 16px;
    }

    &-h1 {
      padding-block-start: 32px;
      font-size: 64px;
      line-height: 54px;
    }

    &-link {
      max-width: 326px;
    }

    &-img {
      background-image: url(../images/cookie.png);
      width: 290px;
      height: 290px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .creative-bakery {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 44px;

    align-items: left;
    position: relative;

    &-text {
      text-align: left;

      padding-block-start: 20px;
      width: 280px;
      color: $main-text-color;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 150%;

      letter-spacing: -0.01em;
    }

    &-h1 {
      padding-block-start: 32px;
      font-size: 80px;
      line-height: 68px;

      position: absolute;
      top: 230px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &-link {
      max-width: 326px;
      margin: 0 auto;
    }

    &-img {
      margin: 0 auto;
      background-image: url(../images/cookie.png);
      width: 328px;
      height: 328px;
      display: block;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .creative-bakery {
    justify-content: center;
    text-align: center;
    padding: 44px;
    position: relative;

    &-text {
      text-align: left;
      padding-block-start: 90px;
      width: 260px;
    }

    &-h1 {
      padding-block-start: 8px;
      font-size: 144px;
      line-height: 122px;
    }

    &-link {
      max-width: 260px;
      margin: 64 0 0;
    }

    &-img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 546px;
      height: 546px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .creative-bakery {
    justify-content: center;
    text-align: center;
    padding-block: 44px;
    position: relative;
    max-width: 1200px;

    &-text {
      text-align: left;
      padding-block-start: 100px;
      width: 280px;
    }

    &-h1 {
      padding-block-start: 40px;
      font-size: 144px;
      letter-spacing: -0.07em;
    }

    &-link {
      max-width: 280px;
      margin: 64 0 0;
    }

    &-img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/cookie.png);
      width: 586px;
      height: 586px;
      margin: 0 auto;
      background-size: cover;
    }
  }
}

// .creative-bakery {
//   display: flex;
//   flex-direction: column;

//   &-text {
//     font-size: 16px;
//     color: $main-text-color;
//     line-height: 150%;
//     letter-spacing: -0.01em;
//   }

//   &-link {
//     display: block;
//     width: 100%;
//     text-transform: uppercase;
//     align-items: center;
//     justify-content: center;
//     padding: 12px 0;
//     font-size: 16px;
//     line-height: 30px;
//     color: $accent-orange;
//     text-decoration: none;
//     border: 2px solid $accent-orange;
//     border-radius: 26px;
//     transition: all 0.3s ease;
//     position: relative;

//     &::before {
//       content: '';
//       display: inline-block;
//       position: absolute;
//       left: 63px;
//       top: 18px;
//       width: 20px;
//       height: 20px;
//       margin-right: 8px;
//       background-image: url('../images/icon/Icon-cookie.png');
//       background-size: contain;
//       background-repeat: no-repeat;
//     }

//     &:hover {
//       background-color: $accent-orange;
//       color: $color-text-focus;

//       &::before {
//         background-image: url('../images/icon/Icon-cookie-white.svg');
//       }
//     }
//   }
// }
