.desert {

  &__description {
    display: inline-block;

    

    color: #412d22;
  }

  &__heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #e39a3b;
  }

  &__name {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    
  }

  &__text {
    margin-bottom: 32px;

    line-height: 1.5;
  }

  &__price {
    width: 110px;
    height: 110px;

    font-weight: 700;
    text-align: center;
    line-height: 110px;

    border-radius: 50%;
    background-color: #f1cc9d;
  }

  &__slider {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    gap: 85px;
  }

  // &__arrow {

  // }

  // &__img {
    
  // }
}
