.discription {
  // width: 280px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: #1c1a26;
  @include onMob {
    width: 280px;
    // display: flex;
    margin: 0 auto 32px;
    text-align: center;
  }
  @include onTablet {
    text-align: left;
    // left: 0;
    margin-bottom: 146px;
    margin-left: 28px;
  }
  @include onDesktop {
    width: 260px;
    margin-bottom: 8px;
    margin-left: 28px;

  }
  @include onDesign {
    width: 280px;
    margin-bottom: 40px;
    margin-left: 124px;
  }
  &__page {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: -0.16px;
    color: #1c1a26;
    margin: 0 0 80px 56px ;
    width: 1200px;
    @include onMob {
      width: 280px;
      margin: 0 auto 56px;
    }
    @include onTablet {
      width: 680px;
      margin: 0 auto 80px;
    }
    @include onDesktop {
      width: 1112px;
      margin: 0 auto 80px;
    }
  }
  &__block-text {
    width: 584px;
    margin-bottom: 144px;
    @include onMob {
      width: 290px;
      margin-bottom: 64px;
    }
    @include onTablet {
      width: 328px;
      margin-bottom: 72px;
    }
    @include onDesktop {
      width: 544px;
    }
  }
}

.discription-image {
  border-radius: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  @include onMob {
    height: 356px;
    width: 280px;
  }
  @include onTablet {
    width: 328px;
    height: 424px;
  }
  @include onDesktop {
    width: 402px;
    height: 512px;
  }
  @include onDesign {
    width: 432px;
    height: 560px;
  }
  &--title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
    color: #7f8096;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
    transition: 0.5s;
    // cursor: pointer;
    align-items: center;
    &-color {
      cursor: pointer;
      width: min-content;
      color: #f9512e;
      margin-bottom: 0;
      // align-items: center;
      &:hover {
        scale: 120%;
      }
    }
  }
  &--text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #1c1a26;
    margin: 0 auto;
    margin-bottom: 16px;
    // cursor: none;
    @include onMob {
      // margin-bottom: 16px;
      width: 280px;
    }

    @include onTablet {
      // margin-bottom: 72px;
      width: 328px;

    }

    @include onDesktop {
      width: 402px;
    }

    @include onDesign {
      width: 432px;
    }
  }
}
