.menu {

  &__content {
    background-color: $blue;
    height: 100vh;
    box-sizing: border-box;
  }
}

.nav__contact--extra {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  border-width: initial;
}

.nav__menu-extra {
  display: flex;
  flex-direction: column;
}

.nav__list-extra {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}
