.fact {
  width: 200px;

  display: flex;
  flex-direction: column;

  &__photo {
    margin-bottom: 12px;
    
    width: 200px;
    height: 200px;

    border-radius: 50%;
  }

  &__number {
    text-align: center;

    color: $color-dark-brown;
    font-size: 60px;
    line-height: 71px;
  }

  &__text {
    @extend %text;

    text-align: center;

    color: $color-dark-brown;
  }
}

@media (max-width: 700px) {
  .fact {
    width: 150px;

    &__photo {
      margin-bottom: 20px;
      
      width: 150px;
      height: 150px;
  
      border-radius: 50%;
    }
  }
}
