.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: $secondary-font;

  &__image {
    width: 510px;
    height: 410px;
    background-image: url("../images/contacts/pic.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
