.feedback {
  display: flex;
  justify-content: center;

  &__img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .feedback {
    display: flex;
    flex-direction: column;

    &__photo {
      display: flex;
      order: 2;
    }

    /* &__feedback-form {
      order: ;
    } */
  }
}
