.feedback {
  display: flex;

  margin-top: 70px;

  flex-direction: column;
  align-items: center;

  &__title-text {
    @extend %ft-middle;

    margin-bottom: 30px;

    font-size: 26px;
  }

}

@media (max-width: 1024px) {
  .feedback {
    order: -1;
    margin: 50px auto;
    width: auto;

    &__title {
      margin-left: 30px;
    }
  }
}
