.floor {
  min-height: 155px;
  background-color: $border-bottom;
  color: $secondary-text-color;
  display: grid;
  grid-template-rows: 3fr 1fr;

  &__main {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__privacy {
    display: grid;

    justify-items: center;
    align-content: center;

    opacity: 0.7;
  }

  &__privacy-info {
    margin-left: 20px;
  }

  &__soc {
    margin-right: 80px;
  
    &__logo {
      margin-left: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .floor {
    display: flex;
    flex-direction: column;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    
    &__privacy-years {
      margin-bottom: 40px;
    }
  }
}
