.footer-nav {
  display: flex;
  justify-content: center;
  width: 33.3%;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  &__list {
    margin-right: 34px;
    
    list-style: none;
  }

  &__link {
    @extend %textS;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $light-brown;
    }
  }
}
