.footer {
  background-color: #1c1a26;

  &__content {
    margin-top: 72px;
  }

  &__logo {
    margin-top: 56px;
  }

  &__menu {
    margin-top: 40px;
  }

  .subtitle {
    color: $subtitle-color;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }
}
