.form {
  display: flex;
  justify-content: center;

  &__city,
  &__adress {
    width: 173px;
    color: $col-dark-brown;
    opacity: 0.5;
    background-color: transparent;
    border-width: 0;
    outline: transparent;
    border-bottom: 1px solid $col-dark-brown;
  }

  &__adress {
    width: 323px;
    margin: 0 32px;
  }

  &__button {
    display: block;
    width: max-content;
    padding: 8px 54px;
  }
}

@media screen and (max-width: 999px) {
  .form {
    flex-direction: column;
    align-items: center;

    &__adress,
    &__city {
      width: 320px;
    }

    &__adress {
      margin: 32px 0;
    }
  }
}
