.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;

  &__title {
    margin-bottom: 27px;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    margin-bottom: 37px;
    height: 95px;
    resize: none;
  }

  &__btn {
    align-self: center;
  }
}
