.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 275px;

  &__heading {
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 39px;
    font-weight: normal;
  }

  &__button {
    margin-top: 40px;
  }
}
