.grid {

  @include tablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;

    &__item {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  
  @include desktop {

    &__item {
      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
