.section-heading {
  
  text-align: center;

  font-size: 120px;
  line-height: 133px;

  font-family: $title-font;

  color: $croissant;
}

@media screen and (max-width: 760px) {
  .section-heading {
    font-size: 60px;
  }
}
