.header {
  display: flex;
  justify-content: center;

  &__container-first {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    max-height: 840px;
    padding-left: $padding-list;
    max-width: $max-width*0.7;
    background-image: url(/images/header_pic.png);
    background-repeat: no-repeat;
  }

  &__container-first-row {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-top: 54px;
  }

  &__container-second {
    background-color: $title-color;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-height: 840px;
    padding-right: $padding-list;
    max-width: $max-width*0.3;
  }

  &__row-first {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: $padding-list;
    margin-top: 65px;
  }

  &__logo {
    width: 112px;
    height: 57px;
  }

  &__open {
    display: none;
    width: 25px;
    height: 25px;
    background-image: url(/images/burger.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: auto 0;
  }

  &__title {
    @extend %h1;
    margin-top: 54px;
  }

  &__article {
    @extend %p;
    flex-basis: 100%;
    font-size: 26px;
  }

  &__button-learn {
    width: 160px;
    height: 40px;
    margin: 25px 0 370px;
    background: $title-color;
    border-radius: 40px;
    border: none;
    outline: none;
    @extend %p;
    cursor: pointer;
  }

  &__phone {
    @extend %p;
    text-decoration: none;
  }

  &__button-call {
    @extend %p;
    width: 100px;
    height: 30px;
    background: $cream;
    border-radius: 40px;
    cursor: pointer;
  }

  &__select {
    height: 21px;
    background: none;
    cursor: pointer;
  }

  &__row-second {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__up {
    width: 26px;
    height: 15px;
    color: $cream;
    background-image: url("/images/up.svg");
    background-repeat: no-repeat;
    margin: 125px 20px 0 0;
  }

  &__number-big {
    font-size: 176px;
    line-height: 150px;
    color: #412d22;
    text-align: end;
    margin: 30px 0 0;
    min-width: min-content;
  }

  &__number-small {
    font-size: 40px;
    line-height: 55px;
    color: #f1cc9d;
    text-align: end;
  }

  &__down {
    width: 26px;
    height: 15px;
    color: $cream;
    background-image: url("/images/down.svg");
    background-repeat: no-repeat;
    margin: 41px 20px 0 0;
  }

  &__row-mobile {
    display: none;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    margin: 40px auto 28px;
  }

  &__up-mobile {
    width: 20px;
    height: 20px;
    color: $title-color;
    background-image: url("/images/left-mobile.svg");
    background-repeat: no-repeat;
  }

  &__down-mobile {
    width: 20px;
    height: 20px;
    color: $title-color;
    background-image: url("/images/right-mobile.svg");
    background-repeat: no-repeat;
  }

  &__number-big-mobile {
    font-size: 40px;
    color: $text-color;
    line-height: 30px;
  }

  &__number-small-mobile {
    font-size: 16px;
    color: $title-color;
  }
}

@media screen and (max-width: 880px) {
  .header {

    &__container-first {
      flex-basis: 100%;
      max-width: 100%;
      padding-right: $padding-list;
    }

    &__container-second {
      display: none;
    }

    &__open {
      display: inline-block;
    }

    &__title {
      font-size: 100px;
      line-height: 0.8em;
      margin-top: 97px;
    }

    &__article {
      font-size: 16px;
      margin-top: 29px;
    }

    &__button-learn {
      margin: 19px 0 0;
    }

    &__row-mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 1260px) {
  .header {
    &__phone {
      display: none;
    }
  }
}
