.header {
  display: flex;
  flex-direction: column;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    margin: 0 36px;

    @include onMobileMax {
      margin: 0 16px;
    }
  }
}

.nav-bloc {
  display: flex;
  gap: 64px;

  @media (max-width:1200px) {
    display: none;
  }
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;

  color: $color1C1A26;
  text-decoration: none;
  outline: none;
  transition: transform 700ms linear;

  &:hover {
    color: $colorF9512E;
    transform: scale(1.1) rotateX(360deg);
  }
}

.nav-link-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.header-nav-link-img {
  color: $colorF9512E;
}

.menu-opener-bloc {
  @include onDesktop {
    display: none;
  }

  @include onltraDesktop {
    display: none;
  }
}
