.header__body {
  font-family: Inter, sans-serif;
  padding-inline: 16px;
  position: relative;

  &-container {
    background-image: url(../images/Cookie.png);
    background-size: 288px;
    background-position: center 55%;
    background-repeat: no-repeat;
    min-height: 670px;

    @include on-tablet {
      background-size: 326px;
      background-position: center 40%;
    }

    @include on-desktop {
      background-size: 544px;
      background-position: center -48%;
    }

    @include on-desktop-xl {
      background-size: 584px;
      background-position: center -70%;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top: 32px;

    @include on-tablet {
      display: flex;
      padding-left: 44px;
      padding-top: 80px;
    }

    @include on-desktop {
      max-width: 260px;
      text-align: start;
      line-height: 150%;
    }

    @include on-desktop-xl {
      padding-left: 124px;
      max-width: 350px;
    }
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 400;
    font-size: 64px;
    line-height: 54.4px;
    padding-top: 32px;

    @include on-tablet {
      padding-top: 146px;
      font-size: 80px;
    }

    @include on-desktop {
      font-size: 136px;
      padding-top: 8px;
      line-height: 115.6px;
    }

    @include on-desktop-xl {
      font-size: 144px;
      padding-top: 40px;
      line-height: 122.4px;
    }
  }
}

.header__button {
  box-sizing: border-box;
  margin-top: 290px;

  @include on-tablet {
    margin-top: 210px;
  }

  @include on-desktop {
    margin-left: 44px;
    margin-top: 64px;
  }

  @include on-desktop-xl {
    margin-left: 124px;
  }
}
