.hero {
  @include page-grid;

  @include on-tablet {
    margin-bottom: 228px;
    position: relative;
  }

  &__text {
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;

    grid-column: -1 / 1;

    @include on-tablet {
      grid-column: 1 / 5;
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: inherit;
    font-size: 64px;
    line-height: 0.84;
    letter-spacing: -0.05em;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    grid-column: span 2;

    @include on-tablet {
      font-size: 80px;
      grid-column: -1 / 1;
      position: absolute;
      top: 40%;
      transform: translate(-50% 0);
      justify-self: center;
      align-self: center;
    }
  }

  &__image {
    grid-column: span 2;
    margin: 0 auto;

    @include on-tablet {
      width: 100%;
      grid-column: 3 / 7;
      grid-row: 2 / 4;
      margin-bottom: 80px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 288px;
    height: 56px;
    border: 2px solid $accent-orange;
    border-radius: 32px;
    gap: 4px;
    margin-bottom: 40px;

    grid-column: span 2;

    @include on-tablet {
      grid-column: 3 / 7;
      margin-bottom: 80px;
      margin: 0 auto;
    }

    &--link {
      font-weight: 500;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $accent-orange;
      text-decoration: none;
    }
  }
}
