.home {
  height: 546px;
  margin: 0 32px;
  display: flex;
  flex-wrap: wrap;
  &__title {
    width: 100%;
    text-align: center;
    font-size: calc(90vw / 8);
    z-index: 1;
    margin: 0;
    line-height: 110px;
  }
  &__text {
    margin: 0;
    margin-top: 135px;
    width: 260px;
    z-index: 1;
  }
  &__backgroundImg {
    justify-self: center;
    width: 544px;
    height: 546px;
    margin:  0 calc(50vw - 273px);
    left: 0;
    object-fit: cover;
    z-index: 0;
    position: absolute;
  }
  &__button {
    width: 260px;
    height: 56px;
    margin-top: 24px;
    z-index: 1;
    border-radius: 32px;
    color: $c-accentOrange;
    border: $c-accentOrange solid 2px;
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
    img {
      margin-right: 8px;
    }
  }

}

@media screen and (max-width: 930px) {
  .home {
    flex-direction: column;
    height: auto;
    &__title {
      width: 100%;
      text-align: center;
      font-size: calc(90vw / 8);
      z-index: 1;
      margin-top: 146px;
      line-height: 68px;
    }
    &__text {
      margin: 0;
      margin-top: 88px;
      width: 280px;
      z-index: 1;
    }
    &__backgroundImg {
      width: 326px;
      height: 328px;
      margin:  170px calc(50vw - 163px);
    }
    &__button {
      margin: 210px auto 0;
    }
  }
}

