.icon {

  &--logo {
    background-image: url(../images/icons/Bakerlab_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 136px;
    height: 32px;

  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 8px;
  }

  &--facebook {
    background-image: url(../images/socials_logo/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &--instagram {
    background-image: url(../images/socials_logo/instagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &--twitter {
    background-image: url(../images/socials_logo/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}
