.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--menu {
    background-image: url(../images/icons/icon-menu.png);
    @include onDesktop {
      display: none;
    }

    &:hover {
      background-image: url(../images/icon-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icon-close-menu.png);
    @include onDesktop {
      display: none;
    }

    &:hover {
      background-image: url(../images/close-hover.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--phone {
    padding-right: 4px;
  }

  &--facebook {
    background-image: url(../images/footer/Icon-facebook.svg);
  }

  &--instagram {
    background-image: url(../images/footer/Icon-instagram.svg);
  }

  &--twitter {
    background-image: url(../images/footer/Icon-twitter.svg);
  }
}
