.icon {
  width: 29px;
  height: 29px;
  display: block;

  background-size: contain;
  background-repeat: no-repeat;

  &--logo {
    width: 136px;
    height: 32px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    width: 20px;
    height: 8px;

    &:hover {
      background-image: url(../images/icons/menu-hover.svg);
      transition: 0.3s;

    }

    @include onMD {
      opacity: 0;
    }
  }

  &--close {
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../images/icons/close-hover.svg);
      transition: 0.3s;
    }
  }

  &--facebook {
    background-image: url(../images/socials_logo/facebook.png);

    &:hover {
      background-image: url(../images/socials_logo/facebook-hover.png);
      transition: 0.3s;
    }
  }

  &--instagram {
    background-image: url(../images/socials_logo/instagram.png);

    &:hover {
      background-image: url(../images/socials_logo/instagram-hover.png);
      transition: 0.3s;
    }
  }

  &--twitter {
    background-image: url(../images/socials_logo/twitter.svg);

    &:hover {
      background-image: url(../images/socials_logo/twitter_hover.svg);
      transition: 0.3s;
    }
  }

  &__logo--light {
    width: 157px;
    height: 30px;
    padding-bottom: 40px;
    grid-area: logo;

    @include onSM {
      padding-bottom: 120px;
    }

    @include onMD {
      padding-bottom: 90px;
    }
  }
}
