.icon {
  width: 29px;
  height: 29px;
  display: block;

  background-size: contain;
  background-repeat: no-repeat;

  &--logo {
    width: 136px;
    height: 32px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    width: 20px;
    height: 8px;

    &:hover {
      background-image: url(../images/icons/menu-hover.svg);
    }

    @include onMD {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../images/icons/close-hover.svg);
    }
  }

  &--facebook {
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/socials_logo/facebook-hover.png);
    }
  }

  &--instagram {
    &:hover {
      background-image: url(../images/socials_logo/instagram-hover.png);
    }
  }

  &--twitter {
    &:hover {
      background-image: url(../images/socials_logo/twitter_hover.svg);
    }
  }

  &__logo--light {
    width: 157px;
    height: 30px;

    @include onSM {
      padding-bottom: 40px;
    }
  }
}
