.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;

  @include icon-size;
  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(/src/images/icon-menu.png);

    @include on-desktop {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &--logo {
    width: 136px;
    height: 32px;
  }

  &--logo-footer {
    width: 168px;
    height: 40px;
  }

  &--close {
    background-image: url(/src/images/Icon-close.svg);
  }

  &--phone {
    background-image: url(/src/images/Icon-phone.png);
  }

  &--cookie {
    background-image: url(/src/images/Icon-cookie.svg);
    width: 40%;
    background-position: right;
    padding-block: 16px;

    @include hover(transform, scale(1));

    .header__button:hover &,
    .header__button:focus & {
      background-image: url(/src/images/Icon-cookie-hover.svg);
    }

    .header__button:disabled & {
      background-image: url(/src/images/Icon-cookie-disabled.svg);
    }
  }

  &--facebook {
    background-image: url(/src/images/Icon-facebook.svg);

    &:hover,
    &:focus {
      background-image: url(/src/images/icon-facebook-hover.svg);
    }
  }

  &--instagram {
    background-image: url(/src/images/Icon-instagram.svg);

    &:hover,
    &:focus {
      background-image: url(/src/images/icon-instagram-hover.svg);
    }
  }

  &--twitter {
    background-image: url(/src/images/Icon-twitter.svg);

    &:hover,
    &:focus {
      background-image: url(/src/images/icon-twitter-hover.svg);
    }
  }
}
