.information {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
