.infographic-card {
  max-width: 240px;
  padding: 20px;

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 12px;

    @media (max-width: $containerWidth) {
      width: 150px;
      height: 150px;
    }
  }

  &__number {
    font-size: 40px;
    text-align: center;
    margin-bottom: 7px;
  }

  &__text {
    text-align: center;
  }
}
