.information {
  position: relative;

  background-color: $background-color;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  &__title {
    @extend %ft-middle;

    display: flex;
    justify-content: flex-end;

    font-size: 26px;
    margin: 15px 0 0 70px;

  }
}
