.item-about {
  display: grid;
  justify-items: center;
  align-items: center;

  &__title {
    margin-top: 12px;
    
    @extend %textL;
  }

  &__text {
    margin-top: 7px;

    @extend %textS;
  }
}

@media (max-width: 1024px) {
  .about__row {
    width: 100%;
    display: flex;
    justify-content: stretch;
    overflow-x: auto;
  }
  .item-about {
    width: 230px;
    flex-shrink: 0;
    height: 100%;
  }
}
