.item-about {
  display: grid;
  justify-items: center;
  align-items: center;

  &__title {
    margin-top: 12px;
    
    @extend %textL;
  }

  &__text {
    margin-top: 7px;

    @extend %textS;
  }
}
