.leading {
  &__content {
    // @include content-padding-inline;
    display: grid;
    row-gap: 72px;

    @include on-tablet {
      row-gap: 152px;
    }

    @include on-desktop-small {
      row-gap: 178px;
    }
  }
}
