.link {
  text-decoration: none;
  color: $c-black;

  padding-bottom: 1px;
  border-bottom: 1px solid transparent;

  transition: border-color 0.3s linear;

  &:hover {
    border-color: $c-black;
  }

  &--orange:hover {
    border-color: $c-orange;
  }

  &--white:hover {
    border-color: #fff;
  }
}
