.link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $chocolate;

  transition: color 1s;

  &:hover {
    cursor: pointer;

    color: $croissant;

    transition: color 1s;
  }

  &:active {
    color: $croissant;

    transition: color 1s;
  }

  &--footer {
    color: #fff;

    margin-bottom: 20px;

    &:hover {
      color: $croissant;
      border-radius: 50%;
    }
  }
}
