.link {
  padding-bottom: 3px;
  text-decoration: none;
  color: $c-black;
  outline: none;
  border-bottom: 1px solid  transparent;
  transition: color 0.3s, border-bottom-color 0.3s;
  &:hover {
    color: $c-orange-accent;
  }

  &:focus {
    color: $c-orange-dark;
    border-bottom: 1px solid $c-orange-dark;
  }
}
