.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  padding-top: 132px;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    background-size: 584px;
    background-position: center 70%;
  }
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  transition: color 0.3s, border-bottom-color 0.3s;
}

.nav__contact {
    padding-top: 32px;

    &--us {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c-orange-accent;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
    }

    &--us::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 4px;
      background-image: url(../images/Icon-phone.png);
      background-repeat: no-repeat;
    }
}
