.list {
  display: none;
  padding-left: 20px;
  cursor: pointer;

  &--open {
    display: block;
  }

  &__select {
    border: 1px solid transparent;

    &:hover {
      background-color: $secondaryColor;
      border: 1px solid transparent;
      border-radius: 5px;
    }
  }
}
