.logo {
  line-height: 57px;
  position: relative;

  font-family: $h-font-famiy;
  font-weight: normal;
  font-size: 30px;
  color: $text-color;

  &__text::before {
    content: url(..\images\capkeyk.svg);

    position: absolute;
    top: -7px;
    left: -20px;
  }

  &__text-bottom {
    color: $secondary-text-color;
    margin-left: 89px;
  }
}

@media (max-width: $medium-screen) {
  .logo {
    margin-left: 30px;
    
    &__text-bottom {
      margin-top: 70px;
    }
  }
  
}
