.logo {
  line-height: 57.27px;
  position: relative;

  font-family: $h-font-famiy;
  font-weight: normal;
  font-size: 30px;
  color: $text-color;

  &__text::before {
    content: url(..\images\capkeyk.svg);

    position: absolute;
    top: -8px;
    left: -20px;
  }
}
