.logo {
  @include fontText(#fff, 30px, 33px);

  font-family: "Cookie", cursive;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 112px;
    height: 59px;
    top: -34px;
    left: -64px;
  }
}
