@media (max-width: 1024px) {
  .m-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
    margin: 0;
    padding: 0;
    

    &__backdrop {
      z-index: 1;
      position: sticky;
      top: 1.1rem;
      right: 1.1rem;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 500ms ease-out;
      pointer-events: none;
    }

    &__burger {
      z-index: 2;
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 1.1rem;
      right: 1.1rem;
      padding: 0.6rem 0.4rem;
    }

    &__burger .burger__span,
    &__burger .burger__span::before,
    &__burger .burger__span::after {
      content: "";
      display: block;
      width: 3.2rem;
      height: 2px;
      position: absolute;
      margin-top: 1.2rem;
      background: $border-bottom;
      border-radius: 0.3rem;
    }

    &__burger .burger__span::before {
      margin-top: -0.8rem;
    }

    &__burger .burger__span::after {
      margin-top: 0.8rem;
    }

    &__toggle {
      z-index: 6;
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 1.1rem;
      right: 1.1rem;
      cursor: pointer;
      opacity: 0;
      outline: 1px solid $border-bottom;
      pointer-events: all;
    }
  

    &__content {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      overflow: auto;
      width: 18rem;
      height: 100vh;
      margin: 0;
      padding: 0 0 2rem;
      background: $background-color;
      transform-origin: 0 0;
      transform: translateX(31.5rem);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
      pointer-events: all;
      box-shadow: 0 0 1rem #678;
    }

    &__toggle:checked {
      top: 1.1rem;
      right: 1.1rem;
      margin: 0;
    }
    
    &__toggle:checked ~ &__content {
      transform: none;
    }

    &__toggle:checked ~ &__backdrop {
      opacity: 0;
    }
 
  }
}

@media (max-width: $medium-screen) {
  .m-menu__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex-start;
    
  }
}

@media (min-width: $medium-screen) {
  .m-menu__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 130px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    justify-items: end;
  }
}
