/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #1c1a26;
}

h1,
h2 {
  font-style: normal;
  font-weight: normal;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h1 {
  font-size: 144px;
}

h2 {
  font-size: 72px;
}

.page {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #eef7ff;
}
.page__header {
  margin-bottom: 104px;
}
@media (min-width: 768px) {
  .page__header {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page__header {
    margin-bottom: 152px;
  }
}
.page__main {
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .page__main {
    margin-bottom: 152px;
  }
}
@media (min-width: 1200px) {
  .page__main {
    margin-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .page__main {
    margin-bottom: 56px;
  }
}

.dropdown__btn {
  background-color: #eef7ff;
  border: none;
  width: 24px;
  height: 24px;
}

.dropdown__btn:hover {
  transition: scale 0.4s ease-in-out;
}
.dropdown__btn:hover:hover {
  cursor: pointer;
  scale: 1.1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #eef7ff;
  transform: translateX(-100%);
  transition: transform 0.4s;
}

.show {
  z-index: 2;
  pointer-events: all;
  transform: translateX(0);
}

.section {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .section {
    padding: 0 44px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding: 0 124px;
  }
}
.section__products {
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .section__products {
    margin-bottom: 152px;
  }
}
@media (min-width: 1440px) {
  .section__products {
    margin-bottom: 178px;
  }
}
@media (min-width: 1440px) {
  .section__products {
    padding: 0 144px;
  }
}
@media (min-width: 1200px) {
  .section__about {
    padding-bottom: 293px;
  }
}
.section__footer__content {
  padding-top: 56px;
  padding-bottom: 56px;
}
@media (min-width: 768px) {
  .section__footer__content {
    padding-bottom: 88px;
    padding-top: 88px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Cookie.png");
  background-size: 288px 290px;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}
@media (min-width: 768px) {
  .header {
    background-size: 326px 328px;
    background-position: 50% 40%;
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 544px 546px;
    background-position: 50% 55%;
  }
}
@media (min-width: 1440px) {
  .header {
    background-size: 544px 546px;
    background-position: 50% 60%;
  }
}
.header__topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 0 28px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .header__topbar {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .header__topbar {
    margin-bottom: 140px;
  }
}
@media (min-width: 1440px) {
  .header__topbar {
    margin-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .header__topbar__dropdown__btn {
    display: none;
  }
}
.header__logo {
  transition: scale 0.4s ease-in-out;
}
.header__logo:hover {
  cursor: pointer;
  scale: 1.2;
}
.header__nav {
  display: none;
}
@media (min-width: 1200px) {
  .header__nav {
    display: block;
  }
}
.header__nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 64px;
}
.header__nav__list-item {
  height: 100%;
  transition: scale 0.4s ease-in-out;
}
.header__nav__list-item:hover {
  cursor: pointer;
  scale: 1.1;
}
.header__nav__list-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #1c1a26;
  border-bottom: 1px solid transparent;
  transition: color 0.4s ease-in-out;
}
.header__nav__list-item-link:hover {
  cursor: pointer;
  color: #f9512e;
}
.header__nav__list-item-link:focus {
  color: #b3341a;
}
.header__content {
  --columns: 2;
  --gap: 16px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--gap);
}
@media (min-width: 768px) {
  .header__content {
    --columns: 8;
    --gap: 24px;
  }
}
.header__content__slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .header__content__slogan {
    text-align: left;
    margin-bottom: 146px;
    grid-column: 1/5;
  }
}
@media (min-width: 1200px) {
  .header__content__slogan {
    margin-bottom: 40px;
    grid-column: 1/3;
  }
}
.header__content__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #1c1a26;
  grid-column: 1/-1;
  margin-bottom: 290px;
}
@media (min-width: 768px) {
  .header__content__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #1c1a26;
    margin-bottom: 210px;
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .header__content__title {
    font-size: 144px;
    font-weight: 400;
    line-height: 122px;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #1c1a26;
    margin-bottom: 64px;
    grid-column: 1/-1;
  }
}
.header__content__button {
  grid-column: 1/-1;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .header__content__button {
    margin-bottom: 228px;
    grid-column: 3/7;
  }
}
@media (min-width: 1200px) {
  .header__content__button {
    margin-bottom: 161px;
    grid-column: 1/3;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eef7ff;
}
.menu__topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 0 28px;
  margin-bottom: 132px;
}
.menu__topbar__logo {
  transition: scale 0.4s ease-in-out;
}
.menu__topbar__logo:hover {
  cursor: pointer;
  scale: 1.1;
}
.menu__nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 64px;
}
.menu__nav__list-item {
  height: 100%;
  transition: scale 0.4s ease-in-out;
}
.menu__nav__list-item:hover {
  cursor: pointer;
  scale: 1.1;
}
.menu__nav__list-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #1c1a26;
  border-bottom: 1px solid transparent;
  transition: color 0.4s ease-in-out;
}
.menu__nav__list-item-link:hover {
  cursor: pointer;
  color: #f9512e;
}
.menu__nav__list-item-link:focus {
  color: #b3341a;
}
.menu__nav__list-item-link:disabled {
  color: #fba28f;
}

.button {
  display: flex;
  gap: 7px;
  align-items: center;
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9512e;
  text-transform: uppercase;
}
.button__contact {
  transition: border-bottom-color 0.4s ease-in-out;
  gap: 4px;
}
.button__contact:hover {
  cursor: pointer;
  border-bottom-color: #f9512e;
}
.button__contact:focus {
  color: #b3341a;
  border-bottom-color: #b3341a;
}
.button__contact:focus > .icon {
  fill: #b3341a;
}
.button__contact:disabled {
  border-bottom-color: transparent;
  color: #fba28f;
}
.button__contact:disabled > .icon {
  fill: #fba28f;
}
.button--learn {
  display: flex;
  gap: 6px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border: solid 2px #f9512e;
  border-radius: 32px;
  color: #f9512e;
  text-decoration: none;
}
.button--learn--icon-white, .button--learn--icon-dark {
  display: none;
}
.button--learn:hover, .button--learn:focus {
  transition: background-color 0.4s ease-in-out;
  color: #fff;
}
.button--learn:hover:hover, .button--learn:focus:hover {
  cursor: pointer;
  background-color: #f9512e;
}
.button--learn:hover > .button__icon-orange, .button--learn:focus > .button__icon-orange {
  display: none;
}
.button--learn:hover > .button__icon-white, .button--learn:focus > .button__icon-white {
  display: block;
}
.button--learn:focus {
  background-color: #b3341a;
  border-color: #b3341a;
}
.button--learn:focus > .button__icon-orange {
  display: none;
}
.button--learn:focus > .button__icon-white {
  display: block;
}
.button--learn:disabled {
  color: #fba28f;
  border-color: #fba28f;
  background-color: #eef7ff;
}
.button--learn:disabled > .button__icon-dark {
  display: block;
}
.button__order {
  transition: border-bottom-color 0.4s ease-in-out;
  gap: 4px;
}
.button__order:hover {
  cursor: pointer;
  border-bottom-color: #f9512e;
}
.button__order:focus {
  color: #b3341a;
  border-bottom-color: #b3341a;
}
.button__order:focus > .icon {
  fill: #b3341a;
}
.button__order:disabled {
  border-bottom-color: transparent;
  color: #fba28f;
}
.button__order:disabled > .icon {
  fill: #fba28f;
}

.products__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #1c1a26;
  text-align: left;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .products__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;
  }
}
@media (min-width: 1200px) {
  .products__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}
.products__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .products__subtitle {
    margin-bottom: 80px;
  }
}
.products__cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .products__cards {
    --columns: 2;
    --gap: 16px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .products__cards {
    --columns: 8;
    --gap: 24px;
  }
}
.products__cards__card {
  grid-column: span 4;
}
@media (min-width: 1200px) {
  .products__cards__card {
    grid-column: span 3;
  }
  .products__cards__card:nth-child(3) {
    grid-column: 3/6;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .card {
    margin-bottom: 80px;
  }
}
.card__img {
  transition: scale 0.4s ease-in-out;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 100%;
  height: auto;
}
.card__img:hover {
  cursor: pointer;
  scale: 1.01;
}
.card__title {
  color: #7f8096;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}
.card__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  margin-bottom: 16px;
}
.card__order {
  width: max-content;
  border-bottom: solid transparent;
  text-decoration: none;
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-image: url("../images/Crumbs.svg");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 420px, 300px;
}
@media (min-width: 768px) {
  .about {
    --columns: 2;
    --gap: 16px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    background-size: contain;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about {
    --columns: 8;
    --gap: 24px;
  }
}
@media (min-width: 1200px) {
  .about {
    background-size: contain;
    gap: 80px;
  }
}
@media (min-width: 1440px) {
  .about {
    background-size: contain;
  }
}
.about__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #1c1a26;
  text-align: left;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    grid-column: span 4;
  }
}
.about__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-align: justify;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .about__description {
    grid-column: span 4;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 48px;
}
.about__info__num {
  font-weight: 400;
  font-size: 96px;
  line-height: 82px;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
}
.about__info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #7f8096;
  text-align: left;
}
@media (min-width: 768px) {
  .about__info {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .about__info {
    grid-column: span 2;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1c1a26;
  color: #fff;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__content {
    --columns: 2;
    --gap: 16px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__content {
    --columns: 8;
    --gap: 24px;
  }
}
.footer__content__logo {
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__content__logo {
    grid-column: 1/4;
    margin-bottom: 96px;
  }
}
@media (min-width: 1200px) {
  .footer__content__logo {
    margin-bottom: 61px;
  }
}
.footer__content__logo--img {
  transition: scale 0.4s ease-in-out;
  width: 168px;
  height: 40px;
}
.footer__content__logo--img:hover {
  cursor: pointer;
  scale: 1.1;
}
.footer__content__menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  color: #7f8096;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .footer__content__menu {
    grid-row: 2;
    grid-column: 1/4;
  }
}
.footer__content__menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__content__menu__list__item {
  height: 100%;
  width: fit-content;
  transition: scale 0.4s ease-in-out;
}
.footer__content__menu__list__item:hover {
  cursor: pointer;
  scale: 1.1;
}
.footer__content__menu__list__item--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: color 0.4s ease-in-out;
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
.footer__content__menu__list__item--link:hover {
  cursor: pointer;
  color: #f9512e;
}
.footer__content__contactus {
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #1c1a26;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__content__contactus {
    font-size: 56px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;
    color: #fff;
    grid-row: 1;
    grid-column: 5/-1;
  }
}
@media (min-width: 1200px) {
  .footer__content__contactus {
    font-size: 72px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}
.footer__content__contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__content__contact {
    grid-row: 2;
    grid-column: 5/8;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .footer__content__contact {
    grid-row: 2;
    grid-column: 5/7;
  }
}
.footer__content__contact--call {
  color: #7f8096;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__content__contact__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__content__contact__list__item {
  height: 100%;
  width: fit-content;
  transition: scale 0.4s ease-in-out;
}
.footer__content__contact__list__item:hover {
  cursor: pointer;
  scale: 1.1;
}
.footer__content__contact__list__item--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: color 0.4s ease-in-out;
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
.footer__content__contact__list__item--link:hover {
  cursor: pointer;
  color: #f9512e;
}
.footer__content__email {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__content__email {
    grid-column: 5/8;
  }
}
@media (min-width: 1200px) {
  .footer__content__email {
    grid-column: 7/9;
  }
}
.footer__content__email--heading {
  color: #7f8096;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__content__email__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__content__email__list__item {
  height: 100%;
  width: fit-content;
  transition: scale 0.4s ease-in-out;
}
.footer__content__email__list__item:hover {
  cursor: pointer;
  scale: 1.1;
}
.footer__content__email__list__item--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: color 0.4s ease-in-out;
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
.footer__content__email__list__item--link:hover {
  cursor: pointer;
  color: #f9512e;
}
.footer__content__links {
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__content__links {
    grid-column: 1/5;
    margin-bottom: 0;
  }
}
.footer__content__links__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.footer__content__links__list__item {
  width: 24px;
  height: 24px;
}
.footer__content__links__list__item--link--icon:hover {
  transition: fill 0.4s ease-in-out;
}
.footer__content__links__list__item--link--icon:hover:hover {
  cursor: pointer;
  fill: #fff;
}
.footer__content__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7f8096;
  text-align: left;
}
@media (min-width: 768px) {
  .footer__content__copyright {
    grid-column: 5/8;
  }
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=main.css.map */
