@import "utils";
@import "fonts";
@import "typography";

@import "blocks/header.scss";
@import "blocks/page.scss";
@import "blocks/logo.scss";
@import "blocks/menu.scss";
@import "blocks/nav.scss";
@import "blocks/slider.scss";
@import "blocks/bakery.scss";
@import "blocks/bakershops.scss";
@import "blocks/about.scss";
@import "blocks/contacts.scss";
@import "blocks/feedback.scss";
@import "blocks/botton.scss";
@import "blocks/footer.scss";

$lightBrown: #e39a3b;
$darkBrown: #412d22;
$bgc: #e5e5e5;
$colorWhite: #fff;
$colorCream: #f1cc9d;
$colorMilk: #e5e5e5;

*,
*::before,
*::after {
  box-sizing: border-box;
}

%h1 {
  font-family: "Cookie", sans-serif;
  font-size: 100px;
  line-height: 80px;
  font-weight: 400;
  color: $darkBrown;
}

%h2 {
  font-family: "Cookie", sans-serif;
  font-size: 60px;
  line-height: 67px;
  font-weight: 400;
}

%h3 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: normal;
  // color: $lightBrown;
}

%h4 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: $darkBrown;
}

li {
  list-style: none;
}
