.main-content {
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;

    margin-bottom: 24px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1c1a26;

    margin-bottom: 56px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 64px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-image {
    margin-bottom: 16px;

    height: 250px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  &__item-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #7f8096;

    margin-bottom: 8px;
  }

  &__item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    color: #1c1a26;

    margin-bottom: 24px;
  }

  &__button {
    display: flex;
    align-items: center;
    text-decoration: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #f9512e;
  }

  &__button-icon {
    padding-right: 8px;
  }
}
