.main-content {
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;

    margin-bottom: 24px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1c1a26;

    margin-bottom: 56px;
  }

  &__container {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 160px;
    }
  }
}
