.main {
  &__about {

    &--container {
      margin: 100px 0 0;

      @include onTablet {
        margin-top: 250px;
      }
    }
    margin-bottom: 65px;
    @include onTablet {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      margin-bottom: 50px;
    }
    @include onDesktop {
      margin-bottom: 100px;
    }
  }

  &__about-title {
    font-size: 48px;
    font-weight: normal;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $c-orange;
    margin-bottom: 32px;
    flex-basis: 50%;
  }

  &__about-text {
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $c-for-big-words;
    flex-basis: 50%;
  }

  &__info {

    @include onTablet {
      display: flex;
      flex-wrap: wrap;

    }
    &-block {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      &--last {
        margin-bottom: 150px;
      }
      @include onTablet {
        flex-basis: 50%;
        margin-bottom: 80px;

      }

      @include onDesktop {
        margin-bottom: 200px;
        flex-basis: 25%;
      }
    }

    &-number {
      font-weight: normal;
      font-size: 96px;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $c-for-big-words;
      margin-bottom: 8px;

    }
    &-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: $c-for-big-words;

    }
  }
  &__images-crumbs {
    display: flex;
    justify-content: center;
  }
  &__crumbs {
    position: absolute;
    width: 320px;
    z-index: -1;
    transform: translateY(-170%);
    @include onTablet {
      width: 526px;
      transform: translateY(-125%);
    }
    @include onDesktop {
      width: 718px;
      transform: translateY(-75%);
    }

  }
}
