.map {
  display: flex;

  width: 1000px;
  height: 687px;

  margin-top: 100px;

  background: url("../images/bakershops/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
