.map {
  display: flex;
  align-self: center;

  width: 1000px;
  height: 687px;

  background: url("../images/bakershops/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 1100px) {
    width: 750px;
    height: 515px;
  }

  @media (max-width: 767px) {
    width: 500px;
    height: 387px;
  }

  @media (max-width: 550px) {
    width: 250px;
    height: 171px;
  }
}
