.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $col-dark-brown;

  &__contacts {
    display: flex;
  }

  &__button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;

    margin: 0 20px;
    color: $col-dark-brown;
    padding: 5px 16px;
    background-color: $col-subcol;
    border-radius: 40px;
    border: 1px solid transparent;
    outline: 2px transparent;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
      background-color: white;
      border: 1px solid #f1cc9d;
    }
  }

  &__language {
    background-color: transparent;
    border-width: 0;
    color: $col-dark-brown;
    & > option {
      background-color: $col-main;
      &:hover {
        color: $col-main;
      }
    }
  }
}
