.menu-footer {
  @include footer-list-style;

  &__logo {
    height: 40px;
    margin-bottom: 40px;

    @include hover(transform, scale(1.1));
  }

  &__link {
    position: relative;
    display: inline-block;

    @include underline;
    @include hover(transform, scale(1.1));
  }
}
