.menu {
  background-color: $page-background;
  height: 100vh;

  &__bottom {
    @include page-grid;

    margin-top: 132px;

    @include padding-inline;
  }

  &__nav {
    grid-column: 1/-1;
  }
}
