.menu {
  background-color: $light-blue;

  &__content {
    padding: 20px;
    height: 100vh;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &__burger {
    background-image: url(../images/burger-close.svg);
    @extend %background;
    display: block;
    width: 20px;
    height: 20px;
  }

  &__item {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 24px;
    color: $dark-color;
  }
}

::-webkit-scroll {
  behavior: unset;
}
