%classic-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

%secondary-btn {

  @extend %classic-text;
  
  width: 160px;
  text-align: center;

  box-sizing: border-box;
  background-color: #e39a3b;

  border: 2px solid #e39a3b;
  border-radius: 40px;
  outline: none;

  cursor: pointer;
}

%sec-btn-hover {
  background-color: transparent;
  border: 2px solid #e39a3b;
  transition-duration: 0.5s;
}

%link-hover {
  color: #f1cc9d;
  transition-duration: 0.5s;
}

$h-font-famiy: "Cookie", cursive;
$text-color: #412d22;
$h-color: #e39a3b;
