@mixin Font-Family-CookieR {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

@mixin Font-Family-RubikR {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin Font-Family-RubikB {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin Font-Family-RubikL {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin circles-on-the-map {
  position: absolute;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: hsl(356, 79%, 46%);
  color: rgb(255, 255, 255);

  @media (max-width: 616px) {
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 15px;
  }
}

@mixin animation-shake {
  &:hover {
    animation: 1.2s ease-in-out 0s normal
      none infinite running trambling-animation;
  }

  @keyframes trambling-animation {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }

    10%,
    30% {
      transform: rotate(-10deg);
    }

    20%,
    40% {
      transform: rotate(10deg);
    }
  }
}
