.mob-menu {
  height: 100%;
  
  padding-top: 60px;
  background-color: #e39a3b;

  &__contacts {
    display: flex;
    gap: 20px;
    align-items: center;

    margin-bottom: 122px;
    margin-left: 50px;
  }

  &__phone {
    color: #412d22;
  }

  // &__call-btn {

  // }

  &__lang-select {
    border-width: 0;
    background-color: #e39a3b;
  }

  &__numbers {
    position: absolute;
    right: 60px;

    width: 190px;
    
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-end;
  }

  &__arrow {
    width: 15px;
    height: 26px;
    margin-right: 15px;
    transform: rotate(90deg);
    align-self: flex-end;
  }

  &__number {
    font-size: 40px;
    color: #f1cc9d;
    line-height: 47px;

    &--big {
      font-size: 176px;
      color: #412d22;
      line-height: 209px;
    }
  }
}
