.mob-menu {
  height: 100%;
  
  padding-top: 60px;
  background-color: $croissant;

  &__contacts {
    display: flex;
    gap: 20px;
    align-items: center;

    margin-bottom: 122px;
    margin-left: 50px;
  }

  &__phone {
    color: $chocolate;
  }

  &__lang-select {
    border-width: 0;
    background-color: $croissant;
  }

  &__numbers {
    position: absolute;
    right: 60px;

    width: 190px;
    
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-end;
  }

  & p {
    margin-right: 5px;

    font-size: 40px;
    align-self: flex-end;

    &:last-of-type {
      margin-top: 30px;

    }

    &:hover {
      color: $cream;
    }
  }

  &__number {
    font-size: 40px;
    color: $cream;
    line-height: 47px;

    &--big {
      font-size: 176px;
      color: $chocolate;
      line-height: 209px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .mob-menu__phone {
    font-size: 12px;
  }
}
