.nav {

  &__name {
    color: rgba(127, 128, 150, 1);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__list {
    display: flex;
    gap: 64px;
  }

  &__link {
    transition: all 0.5s;
    color: rgb(28, 26, 38);
  }

  &__item {
    transition: all 0.5s;
    width: max-content;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      .nav__link {
        color: rgba(249, 81, 46, 1);
      }
    }
  }
}
