.nav {

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 34px;

    & :last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $col-dark-brown;

    &:hover {
      color: $col-main;
    }
  }

}
