.nav {
  display: none;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 64px;
  }

  &__link {
    text-decoration: none;
    color: #1c1a26;
  }
}
