.navTablet {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include fullScreen {
    display: none;
  }

  @include onDesktop {
    display: none;
  }

  @include onTablet {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 32px 36px 20px;
    width: 127px;

    @include onTablet {
      padding: 20px 0;
    }
  }
  
  &__link {
    height: 24px;
    width: 24px;
    background-image: url(../images/Icon-menu.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
