* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
a {
  color: inherit;
  letter-spacing: inherit;
}

h1,
h2 {
  font-weight: inherit;
}

ul {
  list-style-type: none;
}
