* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: $background-pink;
  color: $c-black;
}

a {
  transition: color $transition-duration;
  color: inherit;

  &:hover {
    color: $accent-orange;
  }
}
