@include onMobile {
  h1 {
    font-weight: normal;
    font-size: 64px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

@include onTablet {
  h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
    font-size: 56px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

@include onDesktop {
  h1 {
    font-weight: normal;
    font-size: 144px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
    font-size: 72px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}
