.numbers {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  &__item {
    line-height: 47.4px;
    color: #f1cc9d;
    font-size: 40px;
  }

  &__item--active {
    color: #412d22;
    font-size: 176px;
    line-height: 208.56px;
  }
}
