.container {
  --padding: 20px;
  padding: 0 var(--padding);

  @include onTab {
    --padding: 44px;
  }

  @include onDeskBig {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.title {
  font-weight: 400;
  font-size: 46px;
  line-height: 41px;
  letter-spacing: -5%;
  color: $dark-color;
  text-transform: uppercase;

  @include onTab {
    font-size: 52px;
    line-height: 48px;
  }

  @include onDesk {
    font-size: 60px;
    line-height: 62px;
  }
}
