.page {
  margin: 0;
  padding: 0;
  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    height: 100%;
    background-color: $c-gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden !important;
    z-index: 1;
    transition: all 0.3s;
    transform: translateX(-100%);

    pointer-events: none;
    opacity: 0;

    &:target {
      overflow: hidden !important;
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
