.picture {
  position: absolute;
  background-size: cover;
  z-index: -1;
  margin: 0 auto;
  @include onMob {
    height: 280px;
    width: 280px;
  }
  @include onTablet {
    top: -170px;
    width: 300px;
    height: 300px;
  }
  @include onDesktop {
    top: -350px;
    width: 550px;
  }
  @include onDesign {
    top: -350px;
    width: 580px;
  }
}

.background__picture {
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin: 0 auto;
  @include onTablet {
    background-image: url(../images/Crumbs__Tablet.png);
    padding-top: 90px;
  }
  @include onDesktop {
    background-image: url(../images/Crumbs__Desktop.png);
  }
  @include onDesign {
    background-image: url(../images/Crumbs__718.png);
  }
}
