.preview {
  display: flex;
  justify-content: space-between;

  &__title-text {
    margin-bottom: 20px;

    font-family: $h-font-famiy;
    font-weight: 400;
    font-style: normal;
    font-size: 160px;

  }

  &__description {
    max-width: 420px;
    margin-bottom: 25px;

    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .preview {
    &__title-text {
      font-size: 100px;
      font-weight: 400;
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
    }

    &__bth {
      margin-bottom: 50px;
    }
  }
}
