.preview {
  display: flex;
  justify-content: space-between;

  &__title-text {
    line-height: 177.44px;
    margin-bottom: 20px;
  
    font-family: $h-font-famiy;
    font-weight: 400;
    font-style: normal;
    font-size: 160px;

  }

  &__description {
    line-height: 39px;
    max-width: 420px;
    margin-bottom: 25px;

    font-size: 26px;
  }
}
