.product {
  display: flex;
  justify-content: space-between;
  color: $col-dark-brown;

  &__title {
    font-size: 50px;
    line-height: 59px;
    color: $col-main;
    font-weight: inherit;
    margin-bottom: 43px;
  }

  &__name {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 12px;

  }

  &__description {
    line-height: 1.5rem;
    margin-bottom: 32px;
  }

  &__price {
    font-weight: 700;
    line-height: 24px;
    text-align: center;

    width: 110px;
    height: 110px;
    padding: 43px 12px;
    background: $col-subcol;
    border-radius: 50%;

  }

  &__photo {
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__picture {
    max-width: 700px;
  }

  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  &__switch {
    width: 25px;
    height: 26px;
    border-width: 0;
    cursor: pointer;
  }

  &__switch--left {
    background: url(../images/product-switch-left.svg) no-repeat;
  }

  &__switch--rigth {
    background: url(../images/switch-bottom.svg) no-repeat;
    transform: rotate(-90deg);

  }

}

@media screen and (max-width: 999px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
}
