.promo {
  position: relative;

  display: flex;

  padding: 0 0 0 50px;

  &__heading {
    font-family: $main-font;
    font-size: 160px;
    line-height: 177px;
    color: $chocolate;

    margin-bottom: 20px;
  }

  &__text {
    position: relative;

    width: 420px;

    font-family: $secondary-font;
    font-size: 26px;
    line-height: 150%;
    color: $chocolate;

    margin-bottom: 25px;
  }

  &__counter {
    position: absolute;
    right: 0;
    top: -165px;
  }
}

// @media (max-width: 1350px) {
//   .promo {
//     justify-content: space-between;
//   }
// }

// @media (max-width: 1200px) {
//   .promo {
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-end;

//     &__counter {
//       position: relative;
//       margin: 0 auto;
//       top: 0;
//     }
//   }
// }

// @media (max-width: 850px) {
//   .promo {

//     &__heading {
//       font-size: 100px;
//       line-height: 80px;
//     }

//     &__text {
//       font-size: 16px;
//     }
//   }
// }
