.promo {
  position: relative;

  display: flex;
  padding: 0 0 50px 50px;

  &__heading {
    font-family: $main-font;
    font-size: 160px;
    line-height: 177px;
    color: $chocolate;

    margin-bottom: 20px;
  }

  &__text {
    position: relative;

    width: 420px;

    font-family: $secondary-font;
    font-size: 26px;
    line-height: 39px;
    color: $chocolate;

    margin-bottom: 25px;
  }

  &__counter {
    position: absolute;
    right: 0;
    top: -165px;
  }
}
