@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/extends";

body {
  font-family: $fontFamily;
  background-color: $lightBlue;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
