h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  display: block;

  text-decoration: none;
  color: $mainFontColor;

  cursor: pointer;
}
