.search-form {
  @include flexRow;
  justify-content: space-between;
  width: 750px;
  margin-bottom: 55px;

  &__city {
    display: flex;
    align-self: flex-end;
    width: 173px;

    @extend %formBorder;
  }
  &__address {
    display: flex;
    align-self: flex-end;
    width: 323px;
    
    @extend %formBorder;
  }

  &__button {
    @include primaryButtons;
  }
}

@media (max-width: 1024px) {
  .search-form {
    display: flex;
    flex-direction: column;

    &__city {
      align-self: center;
      width: 288px;
      margin-bottom: 25px;
    }

    &__address {
      align-self: center;
      width: 288px;
      margin-bottom: 35px;
    
    }

    &__button {
      align-self: center;
    }
  }
}
