.search {
  display: flex;

  padding-bottom: 100px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
  }

  &__select {
    font-size: 16px;
    line-height: 24px;
    color: $chocolate;

    margin-right: 32px;

    background-color: inherit;

    border: 1px transparent;
    border-bottom: 1px solid $chocolate;
    border-radius: 1px;

    opacity: 0.5;

    &--adress {
      width: 323px;
    }

    &--city {
      width: 173px;
    }

    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 25px;

      width: 280px;
    }

    @media (max-width: 400px) {
      width: 220px;
    }
  }
}
