.search-form {
  @include flexRow;
  justify-content: space-between;
  width: 750px;
  margin-bottom: 55px;

  &__city {
    display: flex;
    align-self: flex-end;
    width: 173px;

    @extend %formBorder;
  }
  &__address {
    display: flex;
    align-self: flex-end;
    width: 323px;
    
    @extend %formBorder;
  }

  &__button {
    @include primaryButtons;
  }
}
