.section-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -5%;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-desktop-small {
    font-size: 72px;
  }

  &--top {
    padding-bottom: 24px;
  }

  &--middle {
    padding-bottom: 32px;
    max-width: 350px;
  }

  &--footer-first {
    padding-bottom: 40px;
  }

  &--footer-second {
    padding-bottom: 40px;
    color: #fff;
  }

  &__extra-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}
