.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  color: $c-black;
  padding-inline: 16px;
  text-transform: uppercase;

  @media (min-width: 640px) {
    font-size: 56px;
    padding-inline: 44px;
  }

  @media (min-width: 1280px) {
    font-size: 72px;
  }

  @media (min-width: 1440px) {
    padding-inline: 124px;
  }
}

.section-title--contact {
  color: $c-white;
  padding-top: 64px;
  line-height: 40.8px;
}
