.section {
  @include contest-pading-inline;

  &__title {
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-align: left;
    margin: 0;

    @include on-tablet {
      font-size: 56px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 72px;
      line-height: 61px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}
