.section-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 85%; /* 40.8px */
  letter-spacing: -2.4px;
  text-transform: uppercase;

  @include onTablet {
    font-size: 56px;
    letter-spacing: -2.8px;
  }

  @include onDesktop {
    font-size: 72px;
    letter-spacing: -3.6px;
  }

  &--margin1 {
    margin-bottom: 32px;
  }

  &--margin2 {
    margin-bottom: 40px;
  }
}
