section {
  &__title {
    color: $Accent-Orange;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    @include onTablet {
      font-size: 56px;
    }

    @include onDesktop {
      font-size: 72px;
    }
  }

  &__description {
    color: $black-text-color;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
}
