.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-color;

  &__title {
    margin: 40px 0 80px;
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__input {
    margin: 0 20px;
    background-color: $second-color;
  }

  &__input:first-of-type {
    width: 173px;
  }

  &__input:last-of-type {
    width: 325px;
  }

  &__photo {
    margin-bottom: 40px;
  }
  
  &__img {
    width: 100%;
  }

  &__mobile-buttons {
    display: flex;
    font-size: 3.75em;
    
  }

  &__mobile-button {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $white-color;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px 20px;
  }
}

@media screen and (max-width: $tablet-bp) {
  .shops {
    &__title {
      margin: 40px 0 30px;
    }

    &__search {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__input {
      margin: 0 0 20px;
    }

    &__input:first-of-type {
      width: 300px;
    }
  
    &__input:last-of-type {
      width: 300px;
    }

    &__mobile-button {
      display: block;
    }
  }
}

@media screen and (max-width: $phone-bp) {
  .shops {
    &__input:first-of-type {
      width: calc( 100% - 10px );
    }
  
    &__input:last-of-type {
      width: calc( 100% - 10px );
    }
  }
}
