.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: $cream;

  &__heading {
    margin: 40px 0 85px;
  }

  &__search {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
  }

  &__city-srch {
    width: 175px;

    background-color: $cream;
    border-bottom: 1px solid $chocolate;
  }

  &__adress-srch {
    width: 325px;

    background-color: $cream;
    border-bottom: 1px solid $chocolate;
  }

  &__img {
    width: 100%;
  }

  &__mobile-buttons {
    display: flex;
    font-size: 30px;
    gap: 40px;
    margin-bottom: 30px;
    
  }

  &__mobile-button {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1150px) {
  .shops {
    
    &__search {
      flex-direction: column;
      align-items: center;
    }

    &__city-srch {
      width: 100%;
    }

    &search-btn {
      text-align: center;
    }

    &__mobile-button {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .shops {
    &__heading {
      font-size: 60px;
    }
  }
}
