@media (max-width: 1024px) {
  .soc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    &__link {
      display: inline-block;
    }
  }
}
