.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  &__link {
    margin: 0 auto;

    width: 31px;
    height: 31px;
    border-radius: 50%;

  }

  &__icon {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.5s;
    }
  }
}
