.socials {
  display: flex;

  &__icon {
    width: 31px;
    height: 31px;
  }

  &__facebook {
    width: 31px;
    height: 31px;

    background-color: #fff;

    border-radius: 50%;

    object-fit: contain;
    object-position: center;
  }
}
