.footer__social {
  @include on-tablet {
    display: flex;
    flex-direction: row;
  }
}

.social__sites {
  display: flex;
  width: 50%;
  gap: 32px;

  padding-top: 40px;

  transition: transform 0.3s ease;

  &--facebook {
    background-image: url(../images/Icon-facebook.png);
  }

  &--instagram {
    background-image: url(../images/Icon-instagram.png);
  }

  &--twitter {
    background-image: url(../images/Icon-twitter.png);
  }

  &--twitter:hover {
    background-image: url(../images/Icon-twitter2.png);
    transform: scale(0.9);
  }

  &--instagram:hover {
    background-image: url(../images/Icon-instagram2.png);
    transform: scale(0.9);
  }

  &--facebook:hover {
    background-image: url(../images/Icon-facebook2.png);
    transform: scale(0.9);
  }
}

.social-img {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
