.socials__img {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .socials {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 66px;
    width: 100%;
  }
}
