.statistic {
  &__number {
    margin: 0;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -5%;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1%;
    color: #7f8096;
  }

  &:not(:last-child) {
    margin-bottom: 48px;
  }
}
