.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
  color: $main-red;
  text-transform: uppercase;
  letter-spacing: -5%;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-desktop {
    font-size: 72px;
  }

  &--footer {
    color: $main-white;
    text-align: left;
  }
}
