.title {
  @include fontText($accentColor, 60px, 67px);

  font-family: "Cookie", cursive;
  font-weight: normal;
  text-align: center;
  padding: 40px 0 20px;

  @include onNotebook {
    @include fontText($accentColor, 120px, 133px);

    padding-bottom: 27px;
  }
}
