@import "./utils/mixins";
@import "./utils/vars";
@import "./utils/reset";
@import "./icon";
@import "./header";

.top-bar {
  display: flex;
  padding-block: 16px;

  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
  }

  &__image {
    max-width: 136px;
    max-height: 32px;
  }
}
