.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    transition: transform $transition-time;

  &:hover {
    transform: scale(1.2);
  }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 64px;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }
}
