.top {
  height: 64px;
  width: 100%;
  max-width: 1192px;
  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.5s;
  &__menu {
    display: block;
    margin-right: 1px;
    transition: 0.3s;
    &-link {
      display: flex;
      justify-content: center;
      &:hover {
        transform: scale(1.1);
      }
    }
    @include onDesktop {
      display: none;
    }
    @include onLargeDesktop {
      display: none;
    }
  }

  @include onTablet {
    margin-bottom: 80px;
  }

  @include onDesktop {
    height: 88px;
    margin-bottom: 135px;
  }

  @include onLargeDesktop {
    height: 88px;
    margin-bottom: 144px;
  }
  &--margin-bottom-24px {
    margin-bottom: 24px;
  }
}
