.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0;

  @include onDesktop {
    padding: 36px 36px 0;
  }

  &__logo {
    transition-duration: $transition-time;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    width: 128px;
    height: 25px;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__icon {
    display: block;

    @include onDesktop {
      display: none;
    }
  }
}
