$font-inter: 'Inter', sans-serif;
$color-text: #1c1a26;
$color-text-gray: #7f8096;
$color-link: #f9512e;
$color-white: #fff;
$color-gray: #7f8096;
$background-gray: #eef7ff;
$background-black: #1c1a26;
$font-weight-normal: 400;
$font-weight-medium: 500;
$transition-duration: 0.3s;
$link-focused: #b2341a;
$link-disabled: #fba28f;
