$icomoon-font-family: "puriicons" !default;
$icomoon-font-path: "../fonts" !default;

$tel: "\e900";
$cookie: "\e901";
$arrow-right: "\e902";
$facebook: "\e903";
$instagram: "\e904";
$twitter: "\e905";
