.what-we-bake {
  margin: 0 auto 72px;
  max-width: 288px;

  @include tablet {
    margin-bottom: 152px;
    max-width: 680px;
  }

  @include desktop {
    margin-bottom: 178px;
    max-width: 1112px;
  }

  @include bigDesktop {
    max-width: 1192px;
  }

  &__title {
    margin: 0 0 24px;

    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include tablet {
      font-size: 56px;
    }

    @include desktop {
      font-size: 72px;
    }
  }

  &__description {
    margin: 0 0 56px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    @include tablet {
      margin-bottom: 80px;
    }
  }

  &__product {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 80px;
    }

    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }
}
