.what {

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width:900px) {
      justify-content: start;
      gap: 24px;

      &:nth-child(even) {
        justify-content: end;
      }
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: rgb(249, 81, 46);
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__sub-title {
    margin-bottom: 50px;
  }
}
