@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter/Inter18pt-Regular/Inter18pt-Regular.eot');
  src:
    url('Inter/Inter18pt-Regular/Inter18pt-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('Inter/Inter18pt-Regular/Inter18pt-Regular.woff2') format('woff2'),
    url('Inter/Inter18pt-Regular/Inter18pt-Regular.woff') format('woff'),
    url('Inter/Inter18pt-Regular/Inter18pt-Regular.ttf') format('truetype'),
    url('Inter/Inter18pt-Regular/Inter18pt-Regular.svg#Inter18pt-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter/Inter18pt-Medium/Inter18pt-Medium.eot');
  src:
    url('Inter/Inter18pt-Medium/Inter18pt-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('Inter/Inter18pt-Medium/Inter18pt-Medium.woff2') format('woff2'),
    url('Inter/Inter18pt-Medium/Inter18pt-Medium.woff') format('woff'),
    url('Inter/Inter18pt-Medium/Inter18pt-Medium.ttf') format('truetype'),
    url('Inter/Inter18pt-Medium/Inter18pt-Medium.svg#Inter18pt-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
