.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    height: 970px;
    justify-content: flex-start;
    background-color: $orange-color;
  }

  &__title {
    margin-bottom: 26px;
    @include h2-title;

    @media (max-width: 1000px) {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 60px;
      line-height: 67px;
      color: $white-color;
    }
  }
}
