.head-office,
.support-phone,
.support-email,
.cooperation-email,
.pr-manager-email {
  margin-bottom: 9px;
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $brown-color;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $brown-color;
    transition: transform $transition-time;

    &:hover {
      transform: translateX(3px);
    }
  }
}

@media (max-width: $max-width-for-mobile) {
  .pr-manager-email {
    margin-bottom: 40px;
  }
}

.head-office::before {
  content: "";
  width: 15px;
  height: 20px;
  background: url(../images/symbols/symbol_map.svg) no-repeat;
  position: absolute;
  left: -50px;
  top: 10px;

  @media (max-width: $max-width-for-mobile) {
    left: -35px;
  }
}

.support-phone::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/symbols/symbol_phone.svg) no-repeat;
  position: absolute;
  left: -52px;
  top: 7px;

  @media (max-width: $max-width-for-mobile) {
    left: -35px;
  }
}

.support-email::before {
  content: "";
  width: 31px;
  height: 31px;
  background: url(../images/symbols/symbol_mail.svg) no-repeat;
  position: absolute;
  left: -58px;
  
  @media (max-width: $max-width-for-mobile) {
    left: -41px;
  }
}
