.bakershops {
  background-color: $color-cream;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0 0 20px;

    @include mediaOnDesktop {
      margin: 0 0 87px;
    }
  }

  &__img-wrap {
    max-width: 300px;
    max-height: 202px;
    margin-bottom: 20px;

    @include mediaOnDesktop {
      max-width: 1020px;
      max-height: 688px;
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
  }

  &__minus-plus-wrap {
    display: flex;

    @include mediaOnDesktop {
      display: none;
    }
  }
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    font-size: 30px;
    line-height: 45px;

    background-color: $color-milk;
    border-radius: 26px;

    &:first-child {
      margin-right: 40px;
    }
  }
}
