.contacts {
  @include mediaOnTablet {
    padding: 40px 0;
    background-color: $color-milk;
  }

  &__title {
    display: none;
    @include mediaOnTablet {
      display: block;
      margin: 0 0 26px;
    }
  }

  &__title-mobile {
    color: $color-milk;
    margin: 0 0 20px (-46px - $padding-container-mobile);

    @include mediaOnTablet {
      display: none;
    }
  }

  &__top-wrapper {
    margin-bottom: 40px;

    @include mediaOnTablet {
      display: flex;
    }
  }

  &__contacts {
    display: block;
    padding: 40px 0 40px (46px + $padding-container-mobile);

    background-color: $color-croissant;
    
    @include mediaOnTablet {
      width: 430px;
      padding: 40px 0 40px (46px + $padding-container);
    }
  }

  &__subtitle {
    margin: 0 0 24px (-46px - $padding-container-mobile);

    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;

    @include mediaOnTablet {
      margin: 0 0 24px (-46px - $padding-container);

      font-size: 26px;
      line-height: 39px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 9px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -46px;

      @include squre(31px);

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--addres {
      &::before {
        background-image: url(../images/contacts/pin.svg);
      }
    }
  
    &--phone {
      &::before {
        background-image: url(../images/contacts/ph.svg);
      }
    }
  
    &---email {
      &::before {
        background-image: url(../images/contacts/mail.svg);
      }
    }
  }

  &__minititle {
    margin: 0;
    font-weight: bold;
  }

  &__map {
    width: 100%;
    min-height: 504px;
    border: none;
  }

  &__form {
    background-color: $color-milk;
  }
}
