.main-btn {
  background-color: transparent;
  color: $accent-orange;
  border-radius: 32px;
  border: 2px solid $accent-orange;
  padding-block: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;

  @include hover(color, $white);
  @include hover(background-color, $accent-orange);
}
