.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-inline: 16px;

  @include onLaptop {
    height: 88px;
    padding-inline: 32px;
  }

  &__nav {
    display: none;

    @include onLaptop {
      display: block;
    }
  }
}
