.mobile-menu {
  height: 100vh;
  overflow: auto;
  padding-left: 100%;

  background-color: $light-pink;
  position: fixed;
  top: 64px;
  width: 200%;
  right: 0;
  left: -100%;
  z-index: 100;

  opacity: 0;
  transition: all cubic-bezier(.43,-0.92,.51,1.93) 0.5s;
  transform: translateX(-50%);
  pointer-events: none;

  &.active{
    opacity: 1;
    transform: translateX(25%);
    pointer-events: all;
  }
}
