.nav {

  &--mobile-menu {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--footer {
    @include onTable {
      grid-column: 1 / 4;
    }
  }

  &__list {
     display: flex;
     gap: 64px;
   }

  &__list--mobile-menu {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
  }

  &__list--footer {
   display: flex;
   flex-direction: column;
   gap: 16px;
  }

  &__items:last-child {
     color: $accent-orange;
     display: flex;
     align-items: center;
     gap: 4px;
     text-transform: uppercase;
  }

  &__items--footer {
     color: $white;
  }
}
