.about-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 118px;

  @media (min-width: 950px) and (max-width: 1024px) {
    margin-bottom: 50px;
  }

  @media (max-width: 949px) {
    margin-bottom: 40px;
  }

  &__title {
    margin-top: 54px;
    margin-bottom: 22px;
    @include h2-title;

    @media (max-width: $width-for-tablet) {
      font-size: 60px;
      line-height: 67px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  &__description {
    width: 33vw;
    line-height: 150%;
    text-align: center;
    margin-bottom: 60px;

    &::after {
      content: $large-content;
    }

    @media (max-width: $width-for-mobile) {
      width: 90vw;
      margin-bottom: 20px;

      &::after {
        content: $short-content;
      }
    }
  }
}
