.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform $transition-time;

  @media (min-width: 950px) {
    &:hover {
      transform: scale(1.2);
    }

  }

  &__photo {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;

    @media (max-width: $width-for-tablet) {
      width: 150px;
      height: 150px;
    }
  }

  &__number {
    font-weight: 300;
    font-size: 60px;
    line-height: 71px;
    color: $brown-color;
    margin-bottom: 7px;
  }

  &__text {
    line-height: 150%;
    color: $brown-color;
  }
}
