.numbers {
  width: 90vw;
  display: flex;
  justify-content: space-between;

  @media (max-width: 850px) {
    overflow: hidden;
    column-gap: 27px;
    padding: 0 calc(50vw - 75px);
    margin-bottom: 40px;
  }
}
