.numbers {
  max-width: 1440px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  opacity: 0.99;

  @media
    (min-width: $min-width-for-four-card)
    and (max-width: $max-width-for-mobile) {
    overflow: hidden;
    column-gap: 30px;
  }
  
  @media (max-width: $max-width-for-one-card) {
    overflow: hidden;
    column-gap: 27px;
    padding: 0 calc(50vw - 75px);
  }
}
