.numbers {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  opacity: 0.99;
  margin-bottom: 118px;

  @media (min-width: 950px) and (max-width: 1024px) {
    margin-bottom: 50px;
  }

  @media (max-width: 949px) {
    margin-bottom: 40px;
  }

  @media (min-width: 751px) and (max-width: 949px) {
    overflow: hidden;
    column-gap: 30px;
  }
  
  @media (max-width: 750px) {
    overflow: hidden;
    column-gap: 27px;
    padding: 0 calc(50vw - 75px);
  }
}
