:root {
  --tablet: #{$tablet};
  --desktop: #{$desktop};
  --design: #{$design};
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  @include flex(column, 100px);
  @extend %inter;

  margin: 0 $m-retreat;
  color: $black;
  background: $light-pink;

  &__lock {
    overflow: hidden;
  }

  @include breakpoint($tablet) {
    margin: 0 $t-retreat;
  }

  @include breakpoint($design) {
    margin: 0 $d-retreat;
  }
}

img {
  width: 100%;
  height: auto;
}
