@keyframes uprising {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.2);
  }

  95% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
  }

  90% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}
