@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes phoneCall {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateZ(-5deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotateZ(5deg);
  }
}

@keyframes menu {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    transform: translateY(-3%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes startSiteBakery {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
