@keyframes move {
  0% {
    transform: translateY(-200%);
  }
  
  100% {
    transform: translateY(-40%);
  }
}

@keyframes move-mobile {
  0% {
    transform: translateY(-200%);
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top-bar-move {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    color: #fff;
  }

  25% {
    color: $color-main;
  }

  50% {
    color: #fff;
  }

  75% {
    color: $color-main;
  }

  100% {
    color: #fff;
  }
}
