@mixin h1-desktop {
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin h1-tablet {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin h1-mobile {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin h2-desktop {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin h2-tablet {
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin h2-mobile {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin big-text {
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin body-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: -0.01em;
}

@mixin uppercase {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}
