%h1 {
  font-family: "Cookie-Regular", sans-serif;
  font-weight: $fw-400;
  font-style: normal;
  font-size: $fsz-160;
  line-height: $lh-177;
  color: $d-brown;
}

%h2 {
  font-family: "Cookie-Regular", sans-serif;
  font-weight: $fw-400;
  font-style: normal;
  font-size: $fsz-120;
  line-height: $lh-133;
  color: $l-brown;
}

%h3 {
  font-family: "Rubik", sans-serif;
  font-weight: $fw-400;
  font-style: normal;
  font-size: $fsz-50;
  line-height: $lh-59;
  color: $d-brown;
}

%h4 {
  font-family: "Rubik", sans-serif;
  font-weight: $fw-400;
  font-style: normal;
  font-size: $fsz-26;
  line-height: $lh-39;
  color: $d-brown;
}

%p {
  font-family: "Rubik", sans-serif;
  font-weight: $fw-400;
  font-style: normal;
  font-size: $fsz-16;
  line-height: $lh-24;
  color: $d-brown;
}

%label {
  font-family: "Rubik", sans-serif;
  font-weight: $fw-700;
  font-style: normal;
  font-size: $fsz-16;
  line-height: $lh-24;
  color: $d-brown;
}

%about-title {
  font-family: "Rubik", sans-serif;
  font-weight: $fw-300;
  font-style: normal;
  font-size: $fsz-60;
  line-height: $lh-71;
  color: $d-brown;
}
