@font-face {
  font-family: "Cookie", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
  font-weight: normal;
  font-style: normal;
}
