@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/static/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/static/Inter-Bold.ttf);
  font-weight: 700;
}
