@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
