//Percent
@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}

//REM
@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

//EM
@function em($px, $current: 16) {
  $result: math.div($px, $current)+em;
  @return $result;
}
