.grid {

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
  }
  @include onDesktop {
    display: grid;
    gap: 24px;
  }
  @include onBigScreen {
    display: grid;
    gap: 24px;
  }

  &__item {
    @for $start from 1 through 8 {
      @for $end from $start through 8 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

}
