
@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-8px) rotate(-6deg);
  }
  30% {
    transform: translateX(5px) rotate(6deg);
  }
  45% {
    transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(6px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes show-stats {
  0% {
  opacity: 0;
  visibility: hidden;
  }
  100% {
  opacity: 1;
  visibility: visible;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0);
  }
}
