@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat($md-col-count, $md-col-size);
    column-gap: $md-gap;
  }
  
  .container {
    padding: 0 $md-margin;

    &--no-paddings {
      padding: 0;
    }
  }

  .header {

    &__container {
      padding: 0 16px;
    }
  }

  .hero {
    
    &__container {
      padding-top: 80px;
      padding-bottom: 228px;
      background-image: url(../images/Cookie.png);
      background-repeat: no-repeat;
      background-size: 326px;
      background-position: center 144px;
    }

    &__text {
      grid-column: 1 / 5;
      text-align: left;
      margin-bottom: 146px;
    }

    &__title {
      grid-column: 1 / 9;
      font-size: 80px;
      line-height: 85%;
      margin-bottom: 210px;

    }

    &__img {
      display: none;
    }

    &__button {
      grid-column: 3 / 7;
    }
  }

  .products {
    
    &__container {
      padding-bottom: 152px;
    }

    &__title {
      grid-column: 1 / 7;
      font-size: 56px;
      line-height: 85%;
    }

    &__text {
      grid-column: 1 / 9;
      margin-bottom: 80px;
    }

    &__card {
      margin-bottom: 80px;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

      &--1, &--3, &--5 {
        grid-column: 1 / 5;
      }

      &--2, &--4, &--6 {
        grid-column: 5 / 9;
      }
    }
  }

  .about {

    &__container {
      padding-bottom: 152px;
      background-size: 526px;
      background-position: center 51px;
    }

    &__title {
      grid-column: 1 / 5;
      font-size: 56px;
      line-height: 85%;
      margin-bottom: 0;
    }

    &__descr {
      grid-column: 5 / 9;
      margin-bottom: 72px;
    }
    
    &__achievment {

      &:nth-child(-n+2) {
        margin-bottom: 80px;
      }
      
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

      &--1 {
        grid-column: 1 / 5;
      }

      &--2 {
        grid-column: 5 / 9;
      }

      &--3 {
        grid-column: 1 / 5;
      }

      &--4 {
        grid-column: 5 / 9;
      }
    }
  }

  .footer {

    &__container {
      padding-top: 88px;
      padding-bottom: 88px;
    }
  
    &__nav-bar {
      grid-column: 1 / 5;
      margin-bottom: 0;
    }
  
    &__logo-link {
      margin-bottom: 96px;
    }
  
    &__contact-us {
      grid-column: 5 / 9;
      margin-bottom: 48px;
    }
  
    &__social-n-copyright {
      grid-column: 1 / 9;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
  
    &__social {
      grid-column: 1 / 3;
    }
  
    &__copyright {
      display: block;
      grid-column: 5 / 7;
    }
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat($lg-col-count, $lg-col-size);
    column-gap: $lg-gap;
  }

  .container {
    max-width: 1199px;
    padding: 0 $lg-margin;

    &--no-paddings {
      padding: 0;
    }
  }

  .page {

    &__menu {
      display: none;
    }
  }

  .header {

    &__container {
      height: 88px;
      padding: 0 32px;
    }

    &__menu-opener {
      display: none;
    }
    
  }

  .nav {
    display: block;

    &__block {
      &--horizontal {
        display: flex;
        align-items: center;
      }
    }

    &__item {
      margin: 0 64px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  .hero {

    &__container {
      padding-top: 135px;
      padding-bottom: 161px;
      background-size: 544px;
      background-position: center 0;
    }

    &__text {
      grid-column: 1 / 3;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 136px;
      line-height: 85%;
      margin-bottom: 64px;
    }

    &__button {
      grid-column: 1 / 3;
    }
  }

  .products {

    &__container {
      padding-top: 152px;
      padding-bottom: 178px;
    }

    &__title {
      grid-column: 1 / 5;
      font-size: 72px;
      line-height: 85%;
    }

    &__card{

      &--1 {
        grid-column: 1 / 4;
      }

      &--2 {
        grid-column: 4 / 7;
      }

      &--3 {
        grid-column: 3 / 6;
      }

      &--4 {
        grid-column: 6 / 9;
      }

      &--5 {
        grid-column: 1 / 4;
      }

      &--6 {
        grid-column: 4 / 7;
      }
    }
  }

  .about {

    &__container {
      padding-bottom: 349px;
      background-size: 718px;
      background-position: 352px 0;
    }

    &__title {
      font-size: 72px;
      line-height: 85%;
    }

    &__descr {
      margin-bottom: 146px;
    }

    &__achievment {
      margin-bottom: 0;

      &--1 {
        grid-column: 1 / 3;
      }

      &--2 {
        grid-column: 3 / 5;
      }

      &--3 {
        grid-column: 5 / 7;
      }

      &--4 {
        grid-column: 7 / 9;
      }
    }
  }

  .footer {

    &__container {
      padding-top: 88px;
      padding-bottom: 88px;
    }

    &__nav-bar {
      margin-bottom: 48px;
    }

    &__logo-link {
      margin-bottom: 61px;
    }

    &__contact-us {
      margin-bottom: 0;
    }

    &__text {
      font-size: 72px;
      line-height: 85%;
    }

    &__br {
      display: none;
    }

    &__contacts-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: $lg-gap;
    }

    &__contacts {
      margin-bottom: 0;
      &--1 {
        grid-column: 1 / 3;
      }

      &--2 {
        grid-column: 3 / 5;
      }
    }

    &__social {
      justify-self: start;
    }

    &__social-link {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat($xl-col-count, $xl-col-size);
    column-gap: $xl-gap;
  }

  .container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}


