@mixin hoverBtn($bgColor, $borderColor) {
  &:hover {
    background-color: $bgColor;
    border-color: $borderColor;
  }
}

@mixin activeBtn($bgColor, $borderColor) {
  &:active {
    background-color: $bgColor;
    border-color: $borderColor;
    opacity: 0.5;
  }
}

@mixin button($padd, $fontColor, $bgColor) {
  padding: $padd;
  font-size: 16px;
  color: $fontColor;
  text-align: center;
  background-color: $bgColor;
  border: 2px solid transparent;
  border-radius: 40px;
  @extend %transition;
  @include hoverBtn($milkColor, $bgColor);
  @include activeBtn($bgColor, transparent);
}

@mixin secondaryBtn {
  @include button(5px 23px, $chocolateColor, $creamColor);
}

@mixin primaryBtn {
  @include button(10px 40px, $chocolateColor, $croissantColor);
}

@mixin container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
