%font {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #412d22;
  line-height: 24px;
}

%font-rubik {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%font-cookie {
  font-family: "Cookie", sans-serif;
  font-weight: 400;
}

@mixin to1024 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin from1024 {
  @media (min-width: 1024px) {
    @content;
  }
}
