* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
section,
ul,
p,
li {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $black;
}

h1,
h2 {
  font-weight: normal;

  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $accent-orange;
}

h1 {
  font-size: 144px;
  padding: 40px 0 64px;
  text-align: center;

  @media (max-width: 1399px) {
    font-size: 136px;
    padding: 8px 0 64px;
  }
  @media (max-width: 1199px) {
    font-size: 100px;
    padding: 8px 0 64px;
  }
  @media (max-width: 1023px) {
    font-size: 80px;
    padding: 146px 0 210px;
  }
  @media (max-width: 639px) {
    font-size: 64px;
    padding: 32px 0 290px;
  }
}

h2 {
  font-size: 72px;

  @media (max-width: 1023px) {
    font-size: 56px;
  }
  @media (max-width: 639px) {
    font-size: 48px;
  }
}
