* {
  box-sizing: border-box;
}

html {
  font-family: $font-rubik;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
