h1 {
  font-family: "Cookie", cursive;
  font-size: 6rem;
  line-height: 80%;
  margin: 0;
}

h2 {
  font-family: "Cookie", cursive;
  font-weight: normal;
}

h4 {
  line-height: 150%;
  font-weight: normal;
}

@media (min-width:768px) {
  h1 {
    font-family: "Cookie", cursive;
    font-size: 120px;
    line-height: 70%;
  }

  h2 {
    font-family: "Cookie", cursive;
    font-size: 50px;
    line-height: 80%;
  }

  h4 {
    font-size: 26px;
    line-height: 150%;
  }
}
