%style-link {
  color: $main-text-color;
  text-decoration: none;
  @include hover(color, $second-main-color);
}

%style-link-primary {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $second-main-color;
}

%style-link-primary-before {
  &::before {
    content: "\2063";
    display: inline-block;
    @include squareIcon(18px);
    background: url(../images/icons/phone.svg);
    margin-right: 7px;
  }
}
