%font400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: #1c1a26;
}

%font500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
