%flex-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

%hover-white {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s linear;

  &:hover {
    border-color: $c-white;
  }
}

%hover-black {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s linear;

  &:hover {
    border-color: $c-black;
  }
}

%hover-accent-orange {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s linear;

  &:hover {
    border-color: $c-accent-orange;
  }
}
