%style-link {
  color: $main-text-color;
  text-decoration: none;
  @include hover(color, #f9512e);
}

%style-link-primary {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F9512E;

  @include hover(filter, brightness(0%));

  &::before {
    content: '\2063';
    display: inline-block;
    @include squareIcon(18px);
    background: url(../images/icons/phone.svg);
    margin-right: 7px;
  }
}
