body,
p,
h1,
h2,
h3,
h4,
input,
textarea,
form,
ol,
ul,
li,
button,
select {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $text-color;
}
