* {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #412d22;

  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $c-gray inset;
}
