* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
}

button,
select,
textarea,
input {
  border: none;
  outline: none;
}
