h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $c-black;

  @include onTablet {
    font-size: 80px;
  }

  @include onDesktop {
    font-size: 144px;
  }
}

h2 {
  /* Mobile headings/H2 */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $c-black;

  @include onTablet {
    /* Tablet headings/H2 */

    font-size: 56px;
  }

  @include onDesktop {
    /* Desktop headings/H2 */

    font-size: 72px;
  }
}
