%h1_mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h1_tablet {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h1_desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h2_mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h2_tablet {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h2_desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%body_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: -0.01em;
}

%large_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%uppercase {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}
