$c-gray: #eee;
$dark-orange: #b2341a;
$accent-orange: #f9512e;
$light-orange: #fba28f;
$light-pink: #ffeefc;
$light-blue: #eef7ff;
$black: #1c1a26;
$gray: #7f8096;
$white: #fff;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$xl-min-width: 1260px;
$transition-duration: 0.3s;
