$c-chocolate: #412d22;
$c-croissant: #e39a3b;
$c-cream: #f1cc9d;
$c-milk: #fff;
$c-disabled: #828282;

$f-rubik: "Rubik", sans-serif;
$f-cookie: "Cookie", cursive;
$fw-middle: 400;
$fw-bold: 700;
$fsz-small: 16px;
$fst-normal: normal;

$breakpoint-xxxxxlarge: 2700px;
$breakpoint-xxxxlarge: 2000px;
$breakpoint-xxxlarge: 1600px;
$breakpoint-xxlarge: 1560px;
$breakpoint-xlarge: 1400px;
$breakpoint-large: 1300px;
$breakpoint-medium: 1024px;
$breakpoint-small: 900px;
