$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

$accent-orange: #f9512f;
$dark-orange: #b3341a;
$light-pink: #ffeefc;
$light-blue: #eef7ff;
$black: #1c1a26;
$grey: #7f8096;
$white: #fff;

$section-title-tablet: 56px;
$section-title-desktop: 72px;

$header-title-tablet: 80px;
$header-title-desktop: 136px;
