// general font size
$html-font-size: 16px;

// transition
$default-timing: 0.2s;

// theme
$primary-dark: #b2341a;
$primary-main: #f9512e;
$primary-light: #fba28f;
$bg-main: #ffeefc;
$white: #fff;
$black: #1c1a26;
$grey: #7f8096;
