/* This variable defined in css format
because it is used for calculations
for nav height */

:root {
  --nav-height: 60px;
}
$nav-height-desktop: 88px;
$lightBlue:#eef7ff;
$colorMain: #f9512e;
$colorActive: #b3341a;
