$tablet-min-width: 768px;
$smallDesktop-min-width: 1200px;
$mediumDesktop-min-width: 1440px;

$main-bg-color: #eef7ff;

$main-text-color: #1c1a26;
$second-text-color: #fff;
$third-text-color: #7f8096;

$main-item-color: #f9512e;
