.about {
  @include on-tablet {
    background-image: url(../images/Crumbs.svg);
    background-size: cover;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 64px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 72px;
    }

    @include on-desktop {
      padding-bottom: 144px;
    }
  }

  &__basic {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 72px;

    @media (max-width: 640px) {
      background-image: url(../images/Crumbs.svg);
      background-size: cover;
      background-position: center;
    }

    @include on-desktop {
      padding-bottom: 349px;
    }
  }

  &__title {
    margin: 0;
    color: $accent-orange;

    @include on-tablet {
      width: 50%;
    }
  }

  &__number {
    color: $accent-orange;
    padding-bottom: 8px;
  }

  &__text {
    @include on-tablet {
      width: 50%;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      flex-direction: row;
    }

    @include on-desktop {
      width: 100%;
    }
  }

  &__card {
    @include on-tablet {
      width: 50%;
    }
  }
}
