@keyframes animationTitle {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes animationLogo {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animationDesc {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationBtn {
  0% {
    opacity: 0;
    transform: translate(-500px, 1500px) scale(3);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes animationImg {
  0% {
    opacity: 0;
    transform: rotate(320deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
