@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}

@keyframes attention {
  0%,
  40%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(5px);
    background-color: $accent-orange;
    color: $white;
  }
}

@keyframes attention-to-the-text {
  0%,
  40%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(5px);
    color: $accent-orange;
  }
}

@keyframes bounceright {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(2px);
  }
}
