.bottom {
  background: url(/images/products/crumbs.png) center / contain;

  &__content {
    margin-bottom: 144px;
    @include onTablet {
      @include pageGrid;
    }
    @include onDesctop {
      @include pageGrid;
    }
  }

  &__stats {
    display: block;
    margin-bottom: 70px;
    &__list:not(:last-child) {
      margin-bottom: 48px;
    }
    @include onTablet {
      @include pageGrid;
    }
    @include onDesctop {
      @include pageGrid;
      padding-bottom: 350px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 32px;
    @include onTablet {
      font-size: 56px;
    }
    @include onDesctop {
      font-size: 72px;
    }

    &-stats {
      margin: 0;
      font-weight: 400;
      font-size: 96px;
      line-height: 85%;
      letter-spacing: -0.05em;
      color: $color-text;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7f8096;
    }
  }
}
