%h1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $c-accent-orange;
  margin: 0;
}

%h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $c-accent-orange;
  margin: 0;
}
