%h1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h2 {
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 61.2px;
  letter-spacing: -0.05em;
  text-align: left;
}

h3 {
  font-family: Inter, sans-serif;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: $grey;
  letter-spacing: 0.02em;
}

li, p, a {
 font-family: Inter, sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: -0.16px;
 text-align: left;
 color: $grey;
 }

