.headings-h1 {
  /* Mobile headings/H1 */

  font-size: 64px;
  line-height: 85%;
  margin: 0;
  /* or 54px */

  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $main-text-color;
  font-weight: normal;
  font-style: normal;

  @include onTablet {
    /* Tablet headings/H1 */

    font-size: 80px;
    /* identical to box height, or 68px */
  }

  @include onDesktop {
    /* Desktop headings/H1 */
    font-size: 122px;

    @media (min-width: 1280px) {
      font-size: 144px;
    }

    /* or 122px */
  }
}

.headings-h2 {
  /* Mobile headings/H2 */

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;
  color: $main-text-color;
  margin: 0;

  /* identical to box height, or 41px */

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include onTablet {
    /* Tablet headings/H1 */

    font-size: 56px;
    /* identical to box height, or 68px */
  }

  @include onDesktop {
    /* Desktop headings/H2 */
    font-size: 72px;

    /* or 122px */
  }
}

.body-font {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $secondary-text-color;
}
