.footer {
  background-color: $color-black;

  &__logobaker {
    display: flex;
    flex-direction: column;
  }

  &__bakerlab {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-gray;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    grid-column: span 2;
    margin-bottom: 56px;

    @include onTablet {
      grid-column: 5/-1;
      margin-bottom: 88px;
    }
  }

  &__icon {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 88px;
    }
  }

  &__telephone {
    grid-column: span 2;
    margin-bottom: 40px;
    gap: 16px;
    display: flex;
    &:last-child {
      margin: 0;

    }
    flex-direction: column;

    @include onTablet {
      grid-column: 5/-1;
      // grid-row: 2;
    }
  }

  &__number {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-gray;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    // padding-block: 0 16px;
    margin: 0;
  }

  &__information {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: $color-white;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
  }

  &__topinfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    grid-column: span 2;

    @include onTablet {
      grid-column: 5/-1;
      grid-row: 3;
    }
  }

  &__email {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-gray;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    margin: 0;
    padding-block: 0 16px;

  }

  &__adress {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-white;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    text-decoration: none;
  }

  &__contacts {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    color: $color-white;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    grid-column: span 2;
    margin-bottom: 40px;

    @include onTablet {
      grid-column: 5/-1;
      grid-row: 1;
      margin-top: 88px;
    }

  }

  &__info {
    @include pageGrid;
  }

  &__logo {
    display: flex;
    padding-block: 56px 40px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 2;
      padding-block: 88px 96px;
    }

    @include onDesktop {
      padding-block: 88px 61px;
    }
  }

  &__image {
    grid-column: span 2;
    width: 168px;
    height: 40px;
  }
}

.content {

  &__bottom {
    padding-block: 0 64px;
    grid-column: span 1;

    @include onTablet {
      grid-column: 1/4;
      padding-block: 0 104px;
    }

    @include onDesktop {
      padding-block: 0 46px;
      grid-column: 1/3;
    }
  }
}

.slide {

  &__list {
    text-align: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;

    // margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    position: relative;
    color: $color-white;

    &--menus {
      color: $color-gray;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.32px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
