.footer {
  background: #1c1a26;
  padding: 56px 16px;

  &__logo {
    height: 30px;
    margin-bottom: 40px;
    @include onTablet {
      margin-bottom: 96px;
    }
  }

  &__contact {
    margin-bottom: 40px;
  }

  &__call {
    margin-bottom: 40px;
  }

  &__email {
    margin-bottom: 40px;
  }

  &__nav {
    margin-bottom: 64px;
    @include onTablet {
      margin-bottom: 40px;
    }
  }

  @include onTablet {
    padding-top: 90px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #7f8096;
  }
}
