.header {
  padding: 20px 20px 0;

  @include onDesctop {
    padding: 32px 32px 0;
  }

  &__logo {
    height: 24px;
  }

  &__open-aside {
    background: no-repeat url(/images/icon/icon-aside.png);
    width: 20px;
    @include onDesctop {
      display: none;
    }
  }

  &__top {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    @include onTablet {
      margin-bottom: 80px;
    }
    @include onDesctop {
      margin-bottom: 135px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    margin-bottom: 100px;
    @include onTablet {
      margin-bottom: 225px;
    }
    @include onDesctop {
      margin-bottom: 290px;
    }
  }

  &__content-paragraf {
    margin-bottom: 32px;
    text-align: center;
    @include onTablet {
      text-align: start;
      align-self: start;
      margin-bottom: 146px;
    }
    @include onDesctop {
      text-align: start;
      align-self: start;
      margin-bottom: 40px;
    }
  }

  &__bakery-images {
    z-index: -1;
    left: 35%;

    @include onTablet {
      top: 25%;
      max-height: 328px;
      position: absolute;
    }
    @include onDesctop {
      min-height: 546px;
      position: absolute;
    }
  }

  &__content-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 64px;
    line-height: 85%;
    text-align: center;
    color: $color-text;
    letter-spacing: -0.05em;
    @include onTablet {
      font-size: 80px;
      margin-bottom: 210px;
    }
    @include onDesctop {
      font-size: 136px;
    }
    @include onDesctop {
      margin-bottom: 64px;
    }
  }
}
