.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;

  &--menu {
    background-image: url(../images/icon-menu.png);
  }

  &--close {
    background-image: url(../images/icon-close.png);
  }

  &--phone {
    background-image: url(../images/icon-phone.png);
    padding: 4px 0;
  }

  &--arrow {
    background-image: url(../images/icon-arrow.png);
  }

  &--facebook {
    background-image: url(../images/icon-facebook.png);
  }

  &--instagram {
    background-image: url(../images/icon-instagram.png);
  }

  &--twitter {
    background-image: url(../images/icon-twitter.png);
  }
}
