.icon__footer {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
  height: 24px;

  &__facebook {
    background: url(../images/icon/icon-facebook.png) center / contain;
    &:hover {
      background: url(/images/icon/icon-facebook-white.svg);
    }
    width: 24px;
  }
  &__instagram {
    background: url(/images/icon/icon-instagram.png) center / contain;
    &:hover {
      background: url(/images/icon/icon-instagram-white.svg);
    }
    width: 24px;
  }
  &__twitter {
    background: url(/images/icon/icon-twitter.png) center / contain;
    &:hover {
      background: url(/images/icon/icon-twitter-white.svg);
    }
    width: 24px;
  }
}
