.main {

  &__content {
    display: grid;
    padding-block: 64px;
    row-gap: 72px;

    @include onTablet {
      row-gap: 88px;
      padding-block: 0;
    }

    @include onDesktop {

      padding-block: 152px;
    }

    @include onDesktop1200 {
      padding-block: 178px;
    }
  }
}
