@mixin simple-black-text {
  color: $black-color;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@mixin grey-upper-text {
  font-size: 16px;
  line-height: 16px;
  color: $grey-color;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@mixin orange-top-text {
  font-size: 48px;
  line-height: 41px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $orange-color;
}

@mixin orange-top-text-for-numbers {
  color: $orange-color;
  font-size: 96px;
  line-height: 81px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
