@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 44px;
  }

  @include onDesktop {
    padding-inline: 124px;
    // margin-inline: auto;
    max-width: 1440px;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover ($property, $toValue) {
  transition: #{$property} $effectDuration ease-in-out;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 8;
    column-gap: 24px;
  }
}
