@mixin on-tablet {
  @media (min-width: $tablets-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 44px;
  }
}

.container {
  @include content-padding-inline;
}

@mixin page-grid {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }
}

@mixin hover($property, $toValue) {
  opacity: 1;
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}
