.nav {
  &__list--top {
    display: none;

    @include onDesctop {
      display: flex;
    }
  }

  &__link {
    display: flex;
    text-decoration: none;
    color: $color-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    align-items: center;

    &:hover {
      @include hover(all, 0.3);
      color: red;
      text-decoration: red underline;
      text-underline-position: under;
    }

    &--footer {
      color: #fff;
    }
  }

  &__item {
    list-style: none;
    padding-left: 64px;
    &--footer {
      padding: 0;
      padding-bottom: 16px;
    }
  }

  &__icon-phone {
    height: 18px;
  }

  &__title {
    margin-left: 7px;
    color: #f9512e;
    text-transform: uppercase;
    &--footer {
      color: #7f8096;
      list-style: none;
      text-transform: uppercase;
      padding-bottom: 16px;
      margin: 0;
    }
  }
}
