.nav {
  margin-bottom: 196px;

  &__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-black;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    text-align: center;
    position: relative;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    &--send {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color: $color-orange;
      font-weight: 500;
      line-height: 100%; /* 16px */
      letter-spacing: 0.32px;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 4px;
      padding: 4px 0;
    }
  }
}
