div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
  background-color: #6a6582;
  border-radius: 6px;
  transition: background-color 0.5s linear;

  &:hover {
    background-color: #3c3463;
  }
}
