* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.page {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  background-color: #FFEEFC;

  &--with-menu {
    overflow: hidden;
  }
}
