* {
  box-sizing: border-box;
}

html,
p,
h1,
h2,
h3,
div,
main,
section {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffeefc;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
