html {
  box-sizing: border-box;
}

body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: $main-black;
}

img {
  display: block;
}

a {
  color: $accent-orange;
  text-decoration: none;
}

body {
  background-color: $main-light-blue;
}
