.scroll-animated {
  opacity: 0;
  contain: layout paint;
  transition:
    opacity $animation-duration,
    transform $animation-duration;

  &--fade-in {
    transform: translateY(200px);
  }

  &--slide-in-left {
    transform: translateX(-300px);
  }

  &--slide-in-right {
    transform: translateX(300px);
  }

  &--zoom-in {
    transform: scale(0.5);
  }
}

.visible {
  opacity: 1;
  transform: none;
}
