.section-title {

  @include pageGrid;

  &--menu {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    color: $color-orange;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 5;
      font-size: 56px;
      letter-spacing: -2.8px;
    }
  }

  &--info {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $color-black;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    margin-bottom: 80px;
    margin-top: 0;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
    }
  }
}
