body {
  margin: 0;
}

p {
  color: $color-black;
  margin: 0;
}

h1,
h2 {
  color: $accent-orange;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
