.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;

  &__logo {
    width: 127.8px;
    height: 24.16px;
    display: block;
    background-position: center;
    background-size: cover;
    background-image: url(../images/Bakerlab.svg);
  }

  &__menu {
    background-image: url(../images/Icon-menu.svg);
    display: block;
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;

    @media  (min-width: 1199px) {
      display: none;
    }
  }

  &__close {
    background-image: url(../images/Icon-close.svg);
    display: block;
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
  }

  &__nav {
    display: flex;
    gap: 64px;

    @media  (max-width: 1199px) {
      display: none;
    }
  }
}
