.top-bar {
  display: flex;
  padding-block: 16px;
  align-items: center;
  padding-inline: 16px;
  justify-content: space-between;

  @include onDesktop {
    padding-inline: 32px;
  }

  &__icons {
    display: flex;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 32px;
    width: 136px;
    transition: transform $time-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
