.top-bar {
  display: flex;
  padding-block: 16px;
  align-items: center;
  padding-inline: 16px;
  justify-content: space-between;

  &__icons {
    display: flex;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 32px;
    width: 136px;
    cursor: pointer;
  }
}
