$colorChocolate: #421d22;
$colorCroissant: #e39a3b;
$colorCream: #f1cc9d;
$Cookie: "Cookie", sans-serif;

@mixin styleCookie {
  font-family: $Cookie;
  font-style: normal;
  font-weight: normal;
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}
