$bg-color-page: #ffeefc;
$titles-text-color: #f9512e;
$button-text-color: #f9512e;
$menu-text-color: #1c1a26;
$article-title-color: #7f8096;
$tablets-min-width: 640px;
$desktop-min-width: 1280px;
$big-screen-min-width: 1440px;
$bg-footer-color: #1c1a26;
$footer-color-text: #fff;
