$page-background-color: #EEF7FF;
$grid-columns-mobile: 2;
$grid-columns-tablet: 8;
$scale-phone: 1.1;
$scale-tablet: 1.3;
$contact-us-text-color: #F9512E;
$header-button-border-color: #F9512E;
$header-button-text-color: #F9512E;
$header-button-shadow-color: #f5b4a7;
$header-button-shadow-color-hover: #f5b4a7;
$header-button-active-backgroud-color: #B2341A;
$header-button-active-border-color: #B2341A;
$header-button-active-shadow-color: #B2341A;
