$transitionDuration: 0.3s;
$min-tablet-width: 640px;
$min-desktop-width: 1024px;
$large-desktop-width: 1200px;
$main-text-color: #1c1a26;
$accent-color: #f9512e;
$focused-active: #b2341a;
$disabled: #fba28f;
$main-bg-color: #eef7ff;
$footer-secondary-color: #7f8096;
$footer-text-color: #fff;
$top-bar-height-mobile: 64px;
$top-bar-height-tablet: 88px;
