/* Global */
$tablet-width: 640px;
$desktop-width: 1280px;
$desktop-wide-width: 1440px;
$transition-time: 300ms;
$bg-color: #eef7ff;
$text-color: #1c1a26;
$red-text-color: #f9512e;
$links-hover-bg-color: #ffeefc;

/* Buttons */
$button-color: inherit;
$button-border-color: #f9512e;
$button-hover-color: #f9512e;
$button-focused-color: #b2341a;
$button-disabled-color: #fba28f;
$button-text-color: #f9512e;
$button-hover-text-color: #fff;
$button-focused-text-color: #fff;
$button-disabled-text-color: #fba28f;;

/* Product card */
$card-title-color: #7f8096;
$order-color: #f9512e;

/* About us */
$about-us-mini-title-color: #7f8096;

/* Footer */
$footer-text-color: #fff;
$footer-mini-title-color: #7f8096;
$footer-bg-color: #1c1a26;
