$mainFontColor: #1c1a26;
$mainBackgroundColor: #ffeefc;
$titleTextColor: #f9512e;
$focusColor: #b3341a;
$learnMoreHoverColor: #fff;
$productCategoryColor: #7f8096;
$footerTextColor: #fff;
$transitionTime: 0.3s;
$bakeryHeight: calc(100vh - 30vh - 25px - 40px);
