$c-gray: #eee;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$design-min-width: 1200px;
$main-color: #1c1a26;
$second-color: #f9512e;
$background-color: #ffeefc;
$subtitle-color: #7f8096;
$white-color: #fff;
