$bg: #FFEEFC;

// width
$on-tablet-min-width: 640px;
$on-desktop-min-width: 1280px;
$on-design-min-width: 1440px;

// color for font
$text-color: #1C1A26;
$title-color: #F9512E;
$card-text-color: #7F8096;
