@use '../utils/mixins' as *;

.header {
  min-width: 320px;
  width: 100%;
  height: 670px;
  margin-bottom: 64px;

  @include grid-center;

  @include respond(tablet) {
    height: 750px;
    margin-bottom: 0;
  }

  @include respond(desktop) {
    height: 700px;
    margin-bottom: 152px;
  }
}
