.values {
  padding-top: 64px;

  @include onMobile {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @include onTablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 80px;
    padding-top: 72px;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 146px;
  }
}

.value {
  width: 100%;
  max-width: 280px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
