.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 16px;

  @include on-desktop{
    height: 88px;
    padding: 28px 32px;
  }

  &__logo {
    display: block;
    width: 136px;
    height: 32px;
  }
}

.menu-icon {
  background-image: url(/src/images/icons/icon-menu.svg);

  @include on-desktop {
    display: none;
  }
}

.close-icon {
  background-image: url(/src/images/icons/icon-close.svg);
}
