.date {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 8px;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-desktop {
    grid-column: span 2;
  }

  &__number {
    display: block;
    margin: 0;
    padding: 0;

    @include big-text;

    color: #f9512e;
  }

  &__info {
    display: block;
    margin: 0;
    padding: 0;

    @include body-text;
  }
}
