.section-about-us {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url(../images/pictures/about-us.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  gap: 64px;

  @include on-tablet {
    gap: 72px;
  }

  @include on-desktop {
    gap: 144px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 32px;
    width: 100%;

    @include on-tablet {
      @include page-grid;
    }
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    color: #f9512e;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__description {
    display: block;
    margin: 0;
    padding: 0;

    @include body-text;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__dates {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 48px;
    width: 100%;

    @include on-tablet {
      @include page-grid;

      row-gap: 80px;
    }

    @include on-desktop {
      margin-bottom: 298px;
    }
  }
}
