.section {

  &__text-h2 {
    height: 82px;
    font-size: 48px;
    margin: 0 0 24px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    line-height: 41px;
    color: $c-for-big-words;

    @include onTablet {
      height: 48px;
      font-size: 56px;
      line-height: 48px;
    }

    @include onDesktop {
      height: 61px;
      font-size: 72px;
      line-height: 61px;
    }
  }
}
