.section__product {
  @include onTablet {
    display: flex;
  }

  &--start {
    align-items: flex-start;
  }

  &--end {
    align-items: flex-end;
  }

  &__card {
    margin: 0;
    width: 288px;

    @include onTablet {
      width: 328px;
    }

    @include onDesktop {
      width: 402px;
    }

    @include onDesktopLarge {
      width: 432px;
    }

    &__name {
      margin: 16px 0 0;
      color: $c-gray;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &__info {
      margin: 8px 0 0;
    }

    &__button {
      text-decoration: none;
    }

    &__photo {
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 5px;
      width: 288px;
      height: 356px;
      background-image: url(../images/Photo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 64px;

      &--1 {
        background-image: url(../images/Photo1.png);
      }

      &--2 {
        background-image: url(../images/Photo2.png);
      }

      &--3 {
        background-image: url(../images/Photo3.png);
      }

      &--4 {
        background-image: url(../images/Photo4.png);
      }

      &--5 {
        background-image: url(../images/Photo5.png);
      }
    }

  }

}
