@import 'utils';
@import 'fonts';
@import 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $light-pink;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 16px;

  @include desktop {
    padding-inline: 44px;
  }
}

.bakery {
  .header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    background-color: $light-pink;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      height: 88px;
      padding-block: 28px;
    }

    &--canTransform {
      height: 100vh;
    }

    &__mobile-top-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 16px;

      @include desktop {
        width: fit-content;
        padding: 0;
      }

      .logo {
        width: auto;
        height: 32px;
        cursor: pointer;

        @include hover(scale, 1.1);
      }

      .burger {
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/icon-menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        @include hover(scale, 1.1);

        &--canTransform {
          background-image: url(../images/icons/icon-close.svg);
        }

        @include desktop {
          display: none;
        }
      }
    }

    .nav {
      width: 100%;
      height: calc(100vh - 64px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 64px;
      left: 0;
      z-index: 5;
      transform: translateX(100vw);
      transition: transform 0.3s ease-in-out;
      background-color: $light-pink;

      &--canTransform {
        transform: translateX(0);
      }

      @include desktop {
        transform: translateX(0);
        width: fit-content;
        height: auto;
        position: static;
      }

      &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        align-items: center;
        list-style: none;

        @include desktop {
          flex-direction: row;
          justify-content: flex-end;
          gap: 64px;
        }
      }

      &__link {
        @include body-text;
        color: $black;
        text-decoration: none;

        &:visited {
          color: $black;
        }

        @include hover(color, $accent-orange);

        &--tel {
          @include uppercase;
          color: $accent-orange;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          @include hover(color, $dark-orange);

          &::before {
            content: url(../images//icons/icon-phone.svg);
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .sections {
    .section {
      &--greeting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 40px;

        @include tablet {
          padding-top: 80px;
          padding-bottom: 228px;
          align-items: flex-start;
          position: relative;
        }

        @include desktop {
          padding-top: 135px;
          padding-bottom: 161px;
        }

        .text {
          @include body-text;
          text-align: center;
          color: $black;
          padding-bottom: 32px;

          @include tablet {
            text-align: left;
            padding-bottom: 16px;
          }

          @include tablet {
            padding-bottom: 8px;
          }
        }

        &__title {
          @include h1;
          color: $accent-orange;
          text-align: center;

          @include tablet {
            margin: 0 auto;
            margin-top: 146px;
          }

          @include desktop {
            margin-top: 8px;
          }
        }

        &__background {
          width: 100%;
          height: 290;
          background-image: url(../images/Cookie.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;

          @include tablet {
            height: 328px;
            position: absolute;
            top: 144px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }

          @include desktop {
            top: 0;
            height: 546px;
          }
        }

        .button {
          width: 288px;
          height: 56px;
          border: 2px solid $accent-orange;
          border-radius: 32px;
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          cursor: pointer;

          @include hover(background-color, $accent-orange);

          @include tablet {
            width: 326px;
            margin-top: 210px;
          }

          @include desktop {
            width: 260px;
            margin: 0;
            margin-top: 64px;
          }

          &__content {
            @include uppercase;
            color: $accent-orange;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 4px;

            &::before {
              content: url(../images//icons/icon-cookie.svg);
              display: block;
              width: 24px;
              height: 24px;
            }
          }

          &:hover {
            .button__content {
              color: $white;

              &::before {
                content: url(../images/icons/icon-cookie-white.svg);
              }
            }
          }

          &:active {
            background-color: $dark-orange;
          }

          &:disabled {
            border-color: $dark-orange;

            .button__content {
              color: $dark-orange;

              &::before {
                content: url(../images/icons/icon-cookie-disabled.svg);
              }
            }
          }
        }
      }

      &--products {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 56px;
        padding-bottom: 72px;

        @include tablet {
          gap: 80px;
          padding-bottom: 152px;
        }

        @include desktop {
          padding-bottom: 178px;
        }

        &__header {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 24px;

          .title {
            @include h2;

            color: $accent-orange;
            text-align: left;
          }

          .text {
            @include body-text;

            color: $black;
            text-align: left;
          }
        }

        &__product-group {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 56px;
          align-items: center;

          @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            gap: 24px;
          }

          &--even {
            @include tablet {
              justify-content: flex-end;
            }
          }

          .card {
            width: 288px;
            height: auto;
            @include tablet {
              width: 328px;
            }

            @include desktop {
              width: 402px;
            }

            &__img {
              &-wrap {
                width: 100%;
                height: 356px;
                margin-bottom: 16px;

                @include tablet {
                  height: 424px;
                }

                @include desktop {
                  height: 512px;
                }
              }

              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &__title {
              @include uppercase;
              color: $black;
              margin-bottom: 8px;
            }

            &__text {
              @include body-text;
              color: $black;
              margin-bottom: 16px;
            }

            &__order-button {
              @include uppercase;
              color: $accent-orange;
              text-decoration: none;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 4px;
              transition: color 0.3s ease-in-out;

              &::before {
                content: url(../images/icons/icon-arrow.svg);
                display: block;
                width: 24px;
                height: 24px;
              }

              @include hover(color, $dark-orange);
            }
          }
        }
      }

      &--about {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 64px;
        padding-bottom: 72px;

        @include tablet {
          gap: 72px;
          padding-bottom: 152px;
        }

        @include desktop {
          gap: 144px;
          padding-bottom: 56px;
          height: 673px;
        }

        &__background {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%);
          z-index: -1;

          @include tablet {
            width: 526px;
            height: 493px;
            object-fit: contain;
            top: 51px;
            right: 50%;
            transform: translateX(50%);
          }

          @include desktop {
            width: 718px;
            height: 673px;
            top: 0;
            right: 157px;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          gap: 32px;

          @include tablet {
            flex-direction: row;
            gap: 24px;
          }

          &__title {
            @include h2;
            color: $accent-orange;

            @include tablet {
              min-width: 328px;
            }

            @include desktop {
              min-width: 544px;
            }
          }

          &__text {
            @include body-text;
            color: $black;
          }
        }

        &__statistics {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 41px;

          @include tablet {
            gap: 80px;
          }

          @include desktop {
            flex-direction: row;
            gap: 24px;
          }

          &__blocks-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 41px;

            @include tablet {
              flex-direction: row;
              gap: 24px;
            }
          }

          &__block {
            min-width: 288px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;

            @include tablet {
              min-width: 328px;
            }

            @include desktop {
              min-width: 280px;
            }

            &__figures {
              @include big-text;
              color: $accent-orange;
            }

            &__text {
              @include body-text;
              color: $black;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $black;
  padding: 56px 16px;

  @include tablet {
    padding-block: 88px 44px;
  }

  &__info-sections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;

    @include tablet {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__section {
    width: 288px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--page-sections {
      gap: 40px;
      @include tablet {
        gap: 96px;
      }

      @include desktop {
        gap: 61px;
      }
    }

    &--contacts {
      gap: 40px;

      @include tablet {
        width: 328px;
      }

      @include desktop {
        width: 544px;
      }
    }
  }

  &__logo {
    width: 168px;
    height: 40px;
  }

  &__title {
    @include h2;
    color: $white;
  }

  &__subsections {
    &__wrap {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;

      @include desktop {
        flex-direction: row;
        gap: 24px;
      }
    }
  }

  &__subsection {
    width: 100%;
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    &__title {
      @include uppercase;
      color: $gray;
    }

    &__list {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 16px;
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        &__link {
          @include body-text;
          color: $white;
          text-decoration: none;

          &:visited {
            color: $white;
          }

          @include hover(color, $accent-orange);
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    @include tablet {
      gap: 24px;
    }

    &__socials {
      width: 288px;
      display: flex;
      justify-content: flex-start;
      gap: 32px;
      list-style: none;
      padding: 0;
      margin: 0;

      @include tablet {
        width: 328px;
      }

      @include desktop {
        width: 544px;
      }

      &__icon-facebook {
        background-image: url(../images/icons/icon-facebook.svg);

        &:hover {
          background-image: ;
        }
      }

      &__icon-instagram {
        background-image: url(../images/icons/icon-instagram.svg);
      }

      &__icon-twitter {
        background-image: url(../images/icons/icon-twitter.svg);
      }
    }

    &__year {
      @include body-text;
      color: $gray;
      width: 288px;

      @include tablet {
        width: 328px;
      }

      @include desktop {
        width: 588px;
      }
    }
  }
}
