.feedback {

  &__contain {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      justify-content: center;
    }
  }

  &__image-block {
    display: flex;
    flex: 0 0 50%;

    @include tablet {
      order: 2;
    }
  }

  &__image {
    margin-top: 48px;
    width: 100%;

    @include mobile {
      width: 250px;
      height: 200px;
    }
  }

  &__name {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 26px;
  }

  &__form-block {
    display: grid;
  }

  &__form {
    display: grid;
    justify-items: center;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 380px;
    margin-bottom: 24px;

    @include tablet {
      width: 280px;
    }
  }

  &__input--message {
    margin: 96px 0 40px;

    @include tablet {
      width: 280px;
    }
  }
}
