.feedback {
  max-width: 1440px;
  width: 75%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $width-for-ipad) {
    width: 80%;
  }

  @media (max-width: $smaller-width-for-mobile) {
    width: 94%;
    flex-direction: column-reverse;
    gap: 57px;
  }

  &__picture {
    width: 500px;
    height: 417px;

    @media (max-width: $width-for-tablet) {
      width: 250px;
      height: 205px;
      align-self: center;
    }
  }
}
