.feedback-form {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 25px;
    color: #412d22;
    border: none;

    @media (max-width: 1150px) {
      font-size: 20px;
    }
  }

  &__name-label,
  &__email-label,
  &__phone-label,
  &__message-label {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #412d22;
    opacity: 0.5;
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      opacity: 0.5;
      border-bottom: 1px solid #412d22;
      position: absolute;
      top: 20px;
      left: 0;
    }
  }

  &__message-label::after {
    top: 60px;
  }

  &__name-input,
  &__email-input,
  &__phone-input,
  &__message-input {
    width: 100%;
    border: none;
    outline: none;
  }

  &__message-input {
    height: 100px;
  }

  &__search-button {
    width: 160px;
    height: 40px;
    border-radius: 40px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: $brown-color;
    background: $orange-color;
    align-self: center;
    transition: transform 350ms;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}
