.feedback {
  width: 75%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
    width: 80%;
  }

  @media (max-width: 700px) {
    width: 94%;
    flex-direction: column-reverse;
    gap: 57px;
  }

  &__picture {
    width: 500px;
    height: 417px;

    @media (max-width: 1150px) {
      width: 250px;
      height: 205px;
      align-self: center;
    }
  }
}
