@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat($md-col-count, $md-col-size);
    column-gap: $md-gap;
  }

  .container {
    max-width: 1023px;
    margin: 0 $sm-margin;
  }
}
