@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat($lg-col-count, $lg-col-size);
    column-gap: $lg-gap;
  }

  .container {
    max-width: 1199px;
    margin: 0 $md-margin;
  }
}
