$colorWhite: #fff;
$colorGrey: #7f8096;
$colorBlack: #1c1a26;
$colorLightBlue: #eef7ff;
$colorLightPink: #ffeefc;
$colorLightOrange: #fba28f;
$colorAccentOrange: #f9512e;
$colorDarkOrange: #b2341a;

$fontWeightMedium: 500;
$additionalLineHeight: 1;

$transitionDuration: 0.3s;
$transformScale: scale(1.1);
