.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding-inline: 71px;
  border: 2px solid $accent;
  border-radius: 32px;
  height: 56px;
  max-width: max-content;

  color: $accent;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;

  transition:
    background-color 0.3s,
    color 0.3s;

  &__icon {
    background-image: url(../images/icon/icon-cookie.svg);
  }

  &:hover {
    background-color: $accent;
    color: $white;

    .button__icon {
      background-image: url(../images/icon/icon-cookie-white.svg);
    }
  }

  &:focus {
    background: $dark-orange;
    border-color: $dark-orange;
  }
}
