.container {
  
  padding: 0 16px;
  margin: 0 auto;
  transition: 0.5s;

  &-bg-image {
    background-image: url(../images/cookie.png);
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: 289px;
    height: 606px;
  
    @include onTablet {
      height: 900px;
      background-position: center 35%;
    }
  
    @include onDesktop {
      height: 700px;
      background-position: center;
    }
  
    @include onBigScreen {
      height: 674px;
      background-position: center;
    }

  }

  @include onTablet {
    min-width: 640px;
    max-width: 1023px;
    padding: 0 44px;
    background-size: 327px;
  }

  @include onDesktop {
    min-width: 1024px;
    max-width: 1200px;
    padding: 0 44px;
    background-size: 545px;
  }

  @include onBigScreen {
    max-width: 1440px;
    padding: 0 124px;
    background-size: 585px;
  }
}
