.footer {
  padding-block: 61px 56px;

  background-color: $black;

  @include on-tablet {
    padding-block: 88px;
  }

  &__content {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__logo {
    max-width: 158px;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 4;
      order: 1;
    }
  }

  &__title {
    @include on-tablet {
      grid-column: span 4;
      order: 2;
    }
  }

  &__navigation {
    margin-bottom: 64px;
    @include on-tablet {
      grid-column: span 4;
      order: 3;
    }
  }

  &__navigation-title {
    margin-bottom: 16px;

    color: $grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
  }

  &__menu {
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
  }

  &__link {
    color: $white;
    transition: color 0.3s;

    &:hover {
      color: $grey;
    }
  }

  &__contacts {
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 4;
      order: 4;
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__numbers {
    margin-bottom: 40px;

    @include on-desktop {
      grid-column: span 2;
    }
  }

  &__contacts-title {
    color: $grey;
    margin-bottom: 16px;
  }

  &__email {
    color: $white;
  }

  &__email-title {
    color: $grey;
    margin-bottom: 16px;
  }

  &__socials {
    display: flex;
    gap: 32px;

    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 4;
      order: 5;
    }
  }

  &__social-link {
  }

  &__copyright {
    color: $grey;

    @include on-tablet {
      grid-column: span 4;
      order: 6;
    }
  }
}
