.header {
  &__content {
    padding-block: 32px 40px;

    text-align: center;

    @include on-tablet {
      position: relative;

      padding-block: 80px 228px;
    }

    @include on-desktop {
      padding-block: 144px 178px;
    }
  }

  &__slogan {
    margin-bottom: 32px;

    @include on-tablet {
      max-width: 280px;
      margin-bottom: 146px;

      text-align: left;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__title {
    @include on-tablet {
      margin-bottom: 210px;
    }

    @include on-desktop {
      margin-bottom: 63px;
    }
  }

  &__img {
    @include on-tablet {
      position: absolute;
      top: 144px;
      left: 50%;
      z-index: -1;

      width: 326px;
      aspect-ratio: 1 / 1;

      transform: translateX(-50%);
    }
  }

  &__btn {
    margin: 0 auto;
    max-width: 288px;

    @include on-desktop {
      margin-left: 0;
    }
  }
}
