.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 36px;
  background-image: url(../images/cookie.png);
  height: 100vh;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 67px;
    }
  }

  &__link {
    text-decoration: none;
    list-style: none;

    color: $main-black;
  }

  &__contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }

  &__call {
    display: flex;
    justify-content: center;
  }

  &__contacts {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 16px;

    color: $c-orange;
  }
}
