.header {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;

    @include onTablet {
      margin: 0 -24px 80px ;
    }

    @include onDesktop {
      margin: 0 -8px 135px;
    }

    @include onBigScreen {
      margin: 0 -70px 144px;
    }
  }

  &__logo {
    @include size(128px, 25px);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 67px;
    }
  }

  &__link {
    text-decoration: none;
    list-style: none;
    letter-spacing: -0.01em;

    color: $main-black;

    transition: 0.1s;

    &:hover {
      border-bottom: 2px solid $c-orange ;
      border-radius: 1px;
    }
  }

  &__contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    letter-spacing: -0.02em;
    font-weight: 500;
    line-height: 100%;
    
  }

  &__call {
    display: flex;
    justify-content: center;
  }

  &__contacts {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 16px;

    color: $c-orange;
  }

  &__description {
    width: 280px;
    height: 48px;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: -0.01em;
    color: $main-black;

    @include onTablet {
      text-align: start;
      margin-bottom: 146px;
    }
    
    @include onDesktop {
      @include size (260px, 72px);
      text-align: start;
      margin-bottom: 8px;
    }

    @include onBigScreen {
      @include size (280px, 48px);
      text-align: start;
      margin-bottom: 40px;
    }
  }

  &__center-text {
    font-size: 65px;
    line-height: 85%;
    font-weight: 400;

    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-black;

    @include onTablet {
      font-size: 80px;
    }

    @include onDesktop {
      font-size: 136px;
    }

    @include onBigScreen {
      font-size: 144px;
      margin-bottom: 64px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 56px;
    border: 2px solid $c-orange;
    border-radius: 32px;
    background-color: #fff;
    transition: 0.3s;

    font-weight: bold;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-orange;

    &::before {
      content: "";
      transition: 0.3s;
      @include size (20px, 20px);
      background-image: url(../images/cookie-part.svg);
    }

    &:hover {
      color: #fff;
      background-color: $c-orange;
      
      &::before {
        background-image: url(../images/cookie-part-white.png);
      }
    }

    &:focus {
      color: #fff;
      border-color: $c-orange-dark;
      background-color: $c-orange-dark;

      &::before {
        background-image: url(../images/cookie-part-white.png);
      }
    }

    &:disabled {
      color: $c-orange-light;
      background-color: #fff;
      border-color: $c-orange-light;

      &::before {
        background-image: url(../images/cookie-part-light-orange.svg);
      }
    }
  }
}
