.icon {
  --size: 24px;
  display: block;
  height: var(--size);
  width: var(--size);

  background-repeat: no-repeat;
  background-size: cover;

  @include hover(transform, scale($scale-factor));

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &--menu-close {
    background-image: url(../images/icons/menu-close.svg);
  }
}
