.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-size: cover;
  background-position: center;

  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
  }

  &__menu {
    background-image: url(../images/icon/icon-menu.svg);
  }

  &__close {
    background-image: url(../images/icon/icon-close.svg);
  }

  &__arrow {
    background-image: url(../images/icon/icon-arrow.svg);
  }

  &__facebook {
    background-image: url(../images/icon/icon-facebook.svg);
  }

  &__instagram {
    background-image: url(../images/icon/icon-instagram.svg);
  }

  &__twitter {
    background-image: url(../images/icon/icon-twitter.svg);
  }
}
