.logo {
  display: block;
  height: 32px;
  width: 136px;

  @include hover(transform, scale($scale-factor));

  &--contact-us {
    margin-block-end: 40px;

    height: 40px;
    width: 168px;

    @include onTablet {
      margin-block-end: 96px;
    }

    @include onDesktop {
      margin-block-end: 61px;
    }
  }
}
