.title {
  font-size: 64px;
  line-height: 85%;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: $accent;
  font-weight: normal;

  @include on-tablet {
    font-size: 80px;
  }

  @include on-desktop {
    font-size: 136px;
  }
}

.sub-title {
  font-size: 48px;
  line-height: 85%;
  color: $accent;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.05em;

  @include on-tablet {
    font-size: 56px;
  }

  @include on-desktop {
    font-size: 72px;
  }

  &--white {
    color: $white;
  }
}
