.title {
  font-size: 48px;
  font-weight: normal;
  line-height: 0.85;
  letter-spacing: -2.4px;
  text-transform: uppercase;

  color: var(--page-color);

  @include onTablet {
    font-size: 56px;
    letter-spacing: -2.8px;
  }

  @include onDesktop {
    font-size: 72px;
    letter-spacing: -3.6px;
  }

  &--contact-us {
    color: var(--white);
  }
}
