.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__nav {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__menu-icon {
    @include on-desktop {
      display: none;
    }
  }
}

.logo {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
