.about-us {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  &__title {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: -2.8px;
    color: $accent-orange;
    text-transform: uppercase;
    // margin-bottom: 32px;
  }

  &__description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    // margin-bottom: 64px;
  }
}
