.aboutus {
  margin-bottom: 72px;
  margin-left: 16px;
  margin-right: 16px;

  background-image: url(../images/Crumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @include onTablet {
    padding-bottom: 152px;
    margin-left: 44px;
    margin-right: 44px;
  }

  @include onLaptop {
    padding-bottom: 349px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @include onDesktop {
    padding-bottom: 349px;
  }
  
  @include onBigDesktop {
    padding-bottom: 349px;
  }

  &__title {
    width: 288px;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $AccentOrange;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 56px;
      width: 328px;
    }

    @include onLaptop {
      font-size: 72px;
      width: 544px;
    }

    @include onDesktop {
      font-size: 72px;
      width: 584px;
    }

    @include onBigDesktop {
      font-size: 72px;
      width: 584px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $Black;
    margin-bottom: 64px;

    @include onDesktop {
      width: 432px;
    }
  }

  &__year {
    
    &--numb {
      font-weight: 400;
      font-size: 96px;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $AccentOrange;
      margin-bottom: 8px;
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: $Black;
      margin-bottom: 48px;
    }
  }
}
