.aboutus {
  background-image: url("../images/crumbs.png");
  background-repeat: no-repeat;
  background-position: 50% 70%;

  &__title {
    margin-bottom: 32px;
  }

  &__paragraph {
    margin-bottom: 64px;

    @include tableSize {
      margin-bottom: 72px;
    }

    @include pcSize {
      margin-bottom: 144px;
    }
  }

  &__numbers {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  

  &__subtitle {
    display: block;
  }
}
