.about-us {
  margin-bottom: 72px;

  @include on-tablet {
    background-image: url(../images/media/Crumbs.png);
    background-repeat: no-repeat;
    background-position: center;

    margin-block: 152px;
  }

  @include on-desktop {
    margin-top: 178px;
    margin-bottom: 56px;
  }

  &__wrapper {
    @include page-grid;
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
    }
  }

  &__description {
    grid-column: 1 / -1;


    @include on-tablet {
      grid-column:  5 /  9;
    }
  }

  &__content {
    @include page-grid;

      background-image: url(../images/media/Crumbs.png);
      background-repeat: no-repeat;
      background-position: center;

      margin-top: 64px;
      margin-bottom: 72px;

    @include on-tablet {
      grid-column: span 4;

      margin-top: 72px;
      margin-bottom: 152px;
    }

    @include on-desktop {
      margin-top: 144px;
      margin-bottom: 349px;
    }
  }

  &__counts {
    grid-column: 1 / -1;



    @include on-tablet {
      grid-column: span 4;

    }

    @include on-desktop {
      grid-column: span 2;
       }
    }

    &__number {
      margin-top: 80px;
      margin-bottom: 8px;
      font-size: 96px;
      line-height: 81.6px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $accent-orange;
    }
}
