.bake {
  &__subtitle {
    font-size: 14px;
    margin-top: 20px;
  }
  
  &__cards {
    margin-top: 30px;
    @include tablet() {
      display: flex;
      gap: 25px;
    }
  
    @include desktop() {
      gap: 75px;
    }
  
    &--1 {
      @include desktop() {
        justify-content: flex-start;
      }
    }
  
    &--2 {
      justify-content: flex-end;
    }
  }

  &__wrapper {
    // width: max-content;
    @media (min-width:640px) and (max-width:810px) {
      width: min-content;
    }
  }
}
