.blog {
  background-color: #1c1a26;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 64px;

  &__item {
    padding: 0;
    margin-bottom: 16px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: white;

    &-1 {
      text-decoration: none;
      color: $grayColor;
      cursor: default;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
}
