.button {
  width: 100%;
  height: 56px;
  border-radius: 32px;
  border: 2px solid $c-accent-orange;
  background-color: $c-light-blue;
  color: $c-accent-orange;
  outline: none;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;

  @include on-tablet {
    width: 326px;
  }

  @include on-desktop {
    width: 260px;
  }

  &:hover {
    background-color: $c-accent-orange;
    color: $c-white;

    img {
      content: url('../images/icons/icon_cookie_hover.svg');
    }
  }
  &:focus {
    background-color: $c-dark-orange;
    border: 2px solid $c-dark-orange;
    color: $c-white;

    img {
      content: url('../images/icons/icon_cookie_hover.svg');
    }
  }
}
