.contact-us {
  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $grayColor;

  }

  &__phone-list {
    margin-bottom: 40px;
    list-style: none;
  }

  &__phone-link {
    padding-bottom: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
    text-decoration: none;
  }

  &__email-folder {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $grayColor;
  }

  &__email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
  }
}
