.contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    grid-column: span 4/-1;
  }

  @include on-desktop {
    display: grid;
  }

  &__number {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 288px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #7f8096;
    margin: 0;
  }

  &__numbers {
    text-decoration: none;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid black;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  &__emails {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: fit-content;
    border-bottom: 1px solid black;

    &:hover {
      border-bottom: 1px solid #fff;
    }

    @include on-tablet {
      padding-block: 40px;
    }

    @include on-desktop {
      padding-block: 0;
    }
  }

  &__email {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
    color: #fff;
  }
}
