.container {
  // margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  @include tableSize {
    padding: 0 36px;
  }
}
