.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-self: flex-start;

    @include underline-hover(-8px);
  }
}
