.cookie {
  &__image {
    width: 288px;
    height: 290px;

    @include onTablet {
      width: 326px;
      height: 328px;
    }

    @include onDasktop {
      width: 544px;
      height: 546px;
    }

    @include onDesign {
      width: 584px;
      height: 586px;
    }
  }
}
