.footer {
  background-color: #1c1a26;
  margin-top: 100px;
  
  &__list {
    list-style: none;
  
    &-title {
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $color--grey;
      margin-bottom: 20px;
    }
  
    &--menu {
      margin-top: 70px;
    }
  }
  
  &__item {
    margin-top: 15px;
  }
  
  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
  
    &:hover {
      color: $color--orange;
    }
  }
  
  &__title {
    font-size: 56px;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
  }
  
  &__content {
    @include tablet() {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__container {
    display: flex;
    gap: 40px;
  }
  
  &__bottom {
    margin-top: 50px;

    @include tablet() {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &__copyright {
    color: $color--grey;
    margin-top: 30px;
  
    @include tablet() {
      margin-top: 0;
    }
  }
}
