.header {
  height: max-content;
  
  &__nav {
    padding: 20px 0 50px;
  }

  &__description {
    text-align: center;

    margin-bottom: 32px;
  }

  &__title {
    text-align: center;
  }

  &__img {
    background-image: url("../images/swit.png");
    @include square(290px);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    margin: 0 auto;

    @include tableSize {
      @include square(330px);
    }

    @include pcSize {
      @include square(550px);
    }

    @include tvSize {
      @include square(590px);
    }
  }
}
