.icon {
  height: 24px;
  width: 24px;

  &--menu {
    background-image: url(../images/icon/icon-burger-menu.png);

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icon/Icon-close.png);
  }

  &--cookie {
    mask-image: url(../images/icon/Icon-cookie.png);
    background-color: $color-accent-orange;
  }

  &--tel {
    background-image: url(../images/icon/Icon-phone.png);
  }

  &--arrow {
    mask-image: url(../images/icon/Icon-arrow.png);
    background-color: $color-accent-orange;

    &:hover {
      background-color: $color-white;
    }
  }

  &--facebook {
    mask-image: url(../images/icon/Icon-facebook.png);
    background-color: $color-accent-orange;

    &:hover {
      background-color: $color-white;
    }
  }

  &--instagram {
    mask-image: url(../images/icon/Icon-instagram.png);
    background-color: $color-accent-orange;

    &:hover {
      background-color: $color-white;
    }
  }

  &--twitter {
    mask-image: url(../images/icon/Icon-twitter.png);
    background-color: $color-accent-orange;

    &:hover {
      background-color: $color-white;
    }
  }
}
