.icon {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    width: 20px;
    height: 8px;

    background-image: url(../images/Vector.png);

    @include onDasktop {
      display: none;
    }
  }

  &--cross {
    width: 12px;
    height: 12px;
    background-image: url(../images/Vector-9.png);
  }
}
