.important {
  position: relative;

  &__photo {
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/Crumbs.png);
      top: 50%;
      height: 300px;
      width: 100%;
      object-fit: cover;
      object-position: center;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $colorBlue;
    
      @include onTablet {
        top: 50px;
        height: 493px;
      }
    
      @include onDasktop {
        top: 0;
        height: 673px;
      }
    }
  }
}
