.main {
  padding-inline: 44px;
  padding-top: 64px;

  @include on-tablet {
    padding-top: 0;
  }

  @include on-desktop {
    max-width: 1100px;
    margin-inline: auto;
    padding-top: 152px;
  }

  @include on-desing {
    max-width: 1200px;
    padding-inline: 92px;
  }
}
