.menu {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &-header {
      display: none;

      @include on-desktop {
        display: flex;
      }
    }
  }

  &__top {
    @include content-padding-inline;
  }
}
