.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #1c1a26;
  background-color: $mainColor;

  &__body {
    margin: 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
