.products {
  box-sizing: border-box;
  margin: 0 16px 80px;
  min-height: 100vh;

  @include onTablet {
    margin: 0 44px 160px;
  }

  @include onLaptop {
    margin: 0 44px 186px;
  }

  @include onDesktop {
    margin: 0 0 186px 30px;
  }

  &__text {
    width: 270px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $Black;
    margin-bottom: 56px;

  }

  &__title {
    width: 288px;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $AccentOrange;
    margin-bottom: 24px;

  }

  &__card {
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: start;
      

    &--img {
      width: 100%;
      object-fit: cover;
      height: 356px;
      border-radius: 8px;
      margin-bottom: 16px;
      transition: all 0.3s;

      &:hover {
        scale: (0.9);
      }

      @include onTablet {
        height: 424px;
      }

      @include onLaptop {
        height: 512px;
      }

      @include onDesktop {
        height: 560px;
      }
    }

    &--title {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $Grey;
      margin-bottom: 8px;
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: $Black;
      margin-bottom: 24px;
    }

    &--button {
      display: flex;
      gap: 8px;
      text-align: center;

      transition: all 0.3s;
      
      &:hover {
        scale: (1.1);
      }
    }

    &--order {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $AccentOrange;
    }
  }
}
