.products {
  @include content-padding-inline;
  @include page-grid;

  &__title-h2 {
    grid-column: 1 / -1;
    margin-top: 64px;

    @include on-tablet {
      margin-top: 228px;
    }
  }

  &-text-after-h2 {
    grid-column: 1 / -1;

    margin: 24px 0 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 8px;

    &:hover {
      box-shadow: 10px 10px 10px $c-grey;
    }

    @include hover(transform, scale(1.02));
  }

  &-text-after-photo {
    color: $c-grey;
    margin-top: 16px;
  }

  &__text {
    text-align: left;
    padding: 8px 0 16px;

    @include on-tablet {
      height: 48px;
    }
  }

  &__order {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: $c-accent-orange;

    @include hover(transform, scale(1.03));
  }
}

.block-1 {
  grid-column: 1 / -1;

  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 1 / 5;

    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 1 / 4;
  }
}

.block-2 {
  grid-column: 1 / -1;

  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 5 / -1;

    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 4 / 7;
  }
}

.block-3 {
  grid-column: 1 / -1;

  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 1 / 5;

    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 3 / 6;
  }
}

.block-4 {
  grid-column: 1 / -1;

  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 5 / -1;

    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 6 / 9;
  }
}

.block-5 {
  grid-column: 1 / -1;

  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 1 / 5;

    margin-bottom: 152px;
  }

  @include on-desktop {
    grid-column: 1 / 4;

    margin-bottom: 178px;
  }
}

.block-6 {
  grid-column: 1 / -1;

  margin-bottom: 72px;

  @include on-tablet {
    grid-column: 5 / -1;

    margin-bottom: 152px;
  }

  @include on-desktop {
    grid-column: 4 / 7;

    margin-bottom: 178px;
  }
}
