.prodyct {
  @include on-tablet {
    @include page-grid;
  }

  &__inventory {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;

    @include on-tablet {
      grid-column: 1/-1;
    }
  }

  &__button {
    padding: 0;
    text-transform: Uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $color-text;
    background-color: $color-page;
    pointer-events: auto;

    display: flex;
    align-items: center;
    gap: 4px;
    border: none;

    &::before {
      content: '';
      background-image: url(../brouse-nortring/prodyct__button-icon.png);
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }

    width: fit-content;
    border-bottom: 1px solid $color-page;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $color-text;
    }
  }
}
