.section__title {
  font-size: 48px;
  line-height: 85%;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;

  letter-spacing: -0.05em;
  text-align: left;
  margin: 0;
  color: $color-text;
  margin-bottom: 24px;

  @include on-desktop {
    font-size: 72px;
    line-height: 61.2px;
  }

  &--contact-us {
    color: #fff;
    max-width: 300px;
    letter-spacing: 1;

    @include on-desktop {
      max-width: 584px;
    }
  }

  &--grid {
    @include on-tablet {
      grid-column: 1/-1;
    }
  }

  &--about-us {
    @include on-tablet {
      grid-column: span 4;
      max-width: 328px;
    }

    @include on-desktop {
      max-width: 584px;
    }
  }
}
