.section-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 41px;
  text-align: left;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  grid-column: 1/-1;

  @include on-tablet {
    font-size: 56px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 72px;
    line-height: 61px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}
