.about-us {
  margin-block: 72px;

  @include on-tablet {
    @include page-grid;

    margin-block: 152px;
    background-image: url(../brouse-nortring/crumbs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include on-desktop {
      margin-block: 178px;
    }
  }
}
