.section {
  @include  page-grid;

&-title {
  grid-column: 1 / -1;
  margin-bottom: 24px;

  font-size: 48px;
  line-height: 40.8px;
  color: $accent-orange;
  text-transform: uppercase;

  @include on-tablet {
  font-size: 56px;
  line-height: 47.6px;
  }

  @include on-desktop {
  font-size: 72px;
  line-height: 61.2px;
  }

  &__text {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}
}
