.social {
  display: flex;
  gap: 32px;

  @include on-desktop {
    grid-column: span 4;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--facebook {
      background-image: url(../images/facebook.png);
    }
    &--instagram {
      background-image: url(../images/instagram.png);
    }
    &--twitter {
      background-image: url(../images/twitter.png);

      &:hover {
        background-image: url(../images/twitter2.png);
      }
    }
  }
}
