.stat {
  background-image: url(../brouse-nortring/crumbs.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include on-tablet {
    @include page-grid;

    grid-column: 1/-1;
    background-image: none;
  }
}

.stats {
  padding-block: 48px;

  @include on-tablet {
    grid-column: span 4;
    padding-block: 72px;
  }

  @include on-desktop {
    grid-column: span 2;
    padding-block: 144 px;
  }

  &__title {
    font-size: 96px;
    font-weight: 400;
    line-height: 81.6px;
    letter-spacing: -0.05em;
    text-align: left;
    color: $color-text;
    margin: 0;
  }
}
