.title {
  &--def {
    font-weight: 400;
    font-size: 48px;
    line-height: 41px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1c1a26;
  
    @include tablet() {
      font-size: 56px;
      line-height: 48px;
    }
  }
}
