.top-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  @include on-tablet {
    margin-inline: -28px;
  }

  @include on-desktop {
    height: 88px;
    margin-inline: -12px;
  }

  @include on-big-screen {
    height: 88px;
    margin-inline: -92px;
  }
}
