.top-actions {
  display: flex;
  height: 64px;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 20px 0;

  @include onTablet {
    margin-bottom: 80px;
  }

  @include onDasktop {
    padding: 0 33px 0;
    margin-bottom: 0;
  }
}
