.top-bar {
  padding-block: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;

  @include onTablet {
    margin-bottom: 80px;
  }

  &__icons {
    display: flex;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 32px;
    @include hover(transform, scale(1.2));
  }
}
