.about-us {
  font-family: "Inter", sans-serif;
  background-image: url(images/Crumbs.svg);
  background-position: center;
  background-size: cover;
  margin-bottom: 72px;

  &__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $color-orange;

    @include onDesktop {
      font-size: 72px;
    }
  }

  &__description {
    letter-spacing: -0.01em;
    color: #1c1a26;
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 144px;
    }
  }

  &__number {
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $color-orange;
    margin-bottom: 48px;

    &-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;

      margin-top: 8px;

      color: #1c1a26;
    }
  }
}
