.about {
  &__content {
    display: flex;
    flex-direction: column;

    background-image: url(../images/Crumbs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    display: flex;

    @include onMobile {
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    width: 50%;

    @include onMobile {
      width: 100%;
    }

    font-size: 72px;
    line-height: 61px;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $colorBlack;

    padding-right: 24px;

    @include onTablet {
      font-size: 56px;
      line-height: 48px;
      padding-right: 0;
    }

    @include onMobile {
      font-size: 48px;
      line-height: 41px;
      padding-right: 0;
    }
  }

  &__description {
    width: 50%;

    @include onMobile {
      width: 100%;
    }

    letter-spacing: -0.01em;

    color: $colorBlack;
  }

  &__achievments {
    display: flex;
    
    gap: 100px;
    padding: 150px 0;

    @include onTablet {
      flex-direction: column;
      padding: 100px 0;
    }

    @include onMobile {
      flex-direction: column;
      gap: 60px;
      padding: 60px 0;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      width: 100%;

      gap: 60px;

      @include onMobile {
        flex-direction: column;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;

      gap: 60px;

      @include onMobile {
        flex-direction: column;
      }
    }

    &__number {
      font-size: 96px;
      line-height: 82px;

      letter-spacing: -0.05em;
      text-transform: uppercase;

      width: 100%;
      color: $colorBlack;
    }

    &__title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      letter-spacing: -0.01em;
      width: 100%;
      color: $colorGray;
    }
  }
}
