.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 16px;

  @include onLargDesktop {
    padding: 55px 60px 135px;
  }

  &__text {
    display: none;
    text-align: center;
    max-width: 480px;

    color: #000;

    @include onTablet {
      display: flex;
    }

    &--mob {
      display: block;

      @include onTablet {
        display: none;
      }
    }
  }

  &__reality {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      width: 100%;

      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  &__fact {
    @include dispFlxCentr;
    flex-direction: column;

    &:first-child {
      margin-left: 69px;

      @include onTablet {
        margin-left: 0;
      }
    }
  }

  &__img {
    @include square(150px);

    margin-bottom: 20px;

    @include onDesktop {
      @include square(200px);
    }
  }

  &__number {
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
  }
}
