.blog {
  font-family: "Inter", sans-serif;
  margin-bottom: 56px;

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $color-orange;

    margin-bottom: 24px;
  }

  &__description {
    letter-spacing: -0.01em;
    color: #1c1a26;
  }
}
