.box-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 174px;
  height: 100%;

  
  @include onDesktop {
    flex-direction: row;
    gap: 34px;
  }

  &__link {
    color: $darkBrawn;

    @include onDesktop {
      @include hover(color, $lightBrown);
    }
  }
}
