.call-back {
  @include dispFlxCentr;
  @extend %fontText;

  width: 100px;
  height: 30px;

  background: $colorCream;
  border-radius: 40px;
  border: 2px solid $colorCream;

  @include hover(background, #fff);
}
