.card {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-desktop {
    &--1,
    &--2,
    &--5,
    &--6 {
      grid-column: span 3;
    }

    &--3 {
      grid-column: 3 / 6;
    }

    &--4 {
      grid-column: 6 / -1;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 8px;
    transition:
      transform $effectDuration ease,
      box-shadow $effectDuration ease;

    @include hover(transform, translateY(-10px));
    @include hover(box-shadow, 0 5px 30px $accent-color);
  }

  &__category {
    @extend %uppercase;

    color: $grey;
    margin-bottom: 8px;
  }

  &__description {
    @extend %body-text;

    margin-bottom: 16px;
  }

  &__button {
    display: flex;
    text-decoration: none;
    width: 84px;
    height: 32px;
    align-items: center;
    gap: 4px;
  }
}
