.contact {
  background-color: #1c1a26;

  &__bakerlab {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    margin-top: 90px;

    @include iPhone {
      margin-top: 63px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    &--item {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      line-height: 16px;
      color: #7f8096;
      margin-top: 66px;

      @include iPhone {
        margin-top: 44px;
      }

      &-call {
        margin-top: 40px;
      }
    }

    &--link {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: #fff;
      margin-top: 16px;
      text-decoration: none;
      display: block;
    }
  }

  &__title {
    font-size: 72px;
    text-transform: uppercase;
    line-height: 85%;
    letter-spacing: -0.05em;
    color: #fff;
    grid-column: 1 / 3;

    @include iPad {
      font-size: 56px;
    }

    @include iPhone {
      font-size: 48px;
    }
  }

  &__us {
    grid-column: 5 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    margin-top: 90px;
    height: min-content;

    @include iPhone {
      grid-column: 1 / 3;
      margin-top: 64px;
    }
  }

  &__call {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;

    @include iPad {
      grid-column: 1 / 3;
    }

    @include iPhone {
      grid-column: 1 / 3;
    }
  }

  &__email {
    grid-column: 2 / 3;

    @include iPad {
      grid-column: 1 / 3;
    }

    @include iPhone {
      grid-column: 1 / 3;
    }
  }

  &__network {
    grid-column: 1 / 3;
    display: flex;
    margin-top: 50px;
    column-gap: 40px;

    &--facebook {

      &:hover {
        filter: sepia(100%);
      }
    }

    &--instagram {

      &:hover {
        filter: sepia(100%);
      }
    }

    &--twitter {

      &:hover {
        filter: sepia(100%);
      }
    }
  }

  &__copy {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #7f8096;
    grid-column: 5 / 9;
    display: flex;
    align-items: flex-end;

    @include iPhone {
      grid-column: 1 / 3;
      margin-top: 40px;
    }
  }
}
