.contacts {
  background-color: $colorBlack;

  &__content {
    display: flex;
    justify-content: space-between;

    background-color: $colorBlack;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__sectionLeft {
    display: flex;
    flex-direction: column;

    padding-top: 90px;

    .logo {
      filter: invert(1);
    }

    .menu__list {
      align-items: flex-start;
    }

    .menu__link {
      color: #fff;
    }
  }

  &__sectionRight {
    display: flex;
    flex-direction: column;

    width: 50%;

    padding-top: 90px;

    @include onMobile {
      width: 100%;
    }

    .contactUs__title {
      font-size: 72px;
      line-height: 61px;
  
      letter-spacing: -0.05em;
      text-transform: uppercase;

      color: #fff;

      @include onTablet {
        font-size: 56px;
        line-height: 48px;
      }
    }

    .contactUs {
      display: flex;

      @include onTablet {
        flex-direction: column;
      }

      &__title__us {
        @include onTablet {
          display: block;
          width: 100%;
        }
      }

      &__call,
      &__email {
        display: flex;
        flex-direction: column;

        width: 50%;
        box-sizing: border-box;

        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        letter-spacing: 0.02em;
        text-transform: uppercase;

        color: $colorGray;
        padding-top: 40px;
        padding-bottom: 10px;

        &__item {
          line-height: 24px;

          letter-spacing: -0.01em;
          text-decoration: none;
          text-transform: none;
          transition: all 0.5s;

          color: #fff;
          padding-top: 16px;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
      }
    }
  }
}
