.container {
  max-width: 1200px;
  min-width: 320px;
  padding: 0 40px;
  margin: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;

  @include onTablet {
    padding: 0 20px;
  }

  @include onMobile {
    padding: 0 16px;
  }
}
