.footer {
  background-color: $colorBlack;

  padding-top: 50px;
  padding-bottom: 100px;

  &__content {
    display: flex;
    justify-content: space-between;

    @include onMobile {
      flex-direction: column;
    }

    &__copyright {
      letter-spacing: -0.01em;
      
      color: $colorGray;

      @include onMobile {
        margin-top: 40px;
      }
    }
  }

  &__social {
    &__item {
      text-decoration: none;
      color: $colorRed;

      margin-right: 40px;

      :hover {
        color: white;
      }
    }
  }
}
