.footer {
  background-color: $darkBrawn;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 66px 46px 40px;

    color: #fff;
  
    @include onDesktop {
      padding: 50px 60px 18px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 47px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-bottom: 0;
    }
  }
  
  &__logo {
    display: block;
    position: relative;
    right: 30px;

    @include onTablet {
      bottom: 10px;
      right: 0;
    }
  }

  &__list {
    gap: 40px;

    @include onTablet {
      flex-direction: row;
      align-self: center;
    }
  }

  &__link {
    color: #fff;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include onDesktop {
      gap: 20px;
    }
  }

  &__link-socials {
    width: 31px;
    height: 31px;
    @include dispFlxCentr;
    align-self: center;

    background-color: #fff;
    border-radius: 50%;

    @include onDesktop {
      @include hover(background-color, $lightBrown);
    }
  }

  &__terms {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 141%;
    text-align: center;
    color: #fff;
    opacity: 0.7;

    & :first-child {
      margin-right: 29px;
    }
  }
}
