.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
  &__left {
    background-image: url(../images/arrow_left.svg);
  }

  &__right {
    background-image: url(../images/arrow_right.svg);
  }

  &__up {
    background-image: url(../images/arrow_up.svg);
  }

  &__down {
    background-image: url(../images/arrow_down.svg);
  }

  &__bakershops {
    background-image: url(../images/cookie.svg);

    @include hover(transform, scale(2));
  }
}
