.menu {
  padding: 20px 0;

   &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;

    .icon__menu__cros {
      text-decoration: none;
      color: $colorBlack;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__title {
    line-height: 16px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $colorGray;

    margin-top: 60px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    letter-spacing: -0.01em;
    text-decoration: none;
    color: $colorBlack;
  }

  .icon__phone {
    margin-right: 7px;
    color: $colorRed;
  }

  .menu__contact__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.02em;

    text-transform: uppercase;
    color: $colorRed;
  }
}
