.menu {
  @include onDesktop {
    display: none;
  }

  background-color: #ffeefc;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px 0 0;
    margin-bottom: 132px;
  }

  &__content {
    box-sizing: border-box;
    padding: 0 0 114px;
  }

  &__list {
    padding: 0 0 32px;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;
    text-align: center;
  }

  &__link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: -0.01em;

    color: #1c1a26;

    text-decoration: none;

    text-transform: uppercase;
    transition-duration: 0.5s;

    &:hover {
      color: #f9512e;
    }

    &-contact {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      color: #f9512e;
      letter-spacing: 0.02em;

      &:hover {
        transform: scale(1.1);
      }

      &::before {
        content: url(images/call-in-menu.svg);
        padding-right: 7px;
      }
    }
  }
}
