.page {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  color: $main-col;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  &__body {
    margin: 0;
    background-color: $background;
    overflow-x: hidden;
  }

  &__header {
    margin-bottom: 50px;

    @include On768 {
      margin-bottom: 100px;
    }

    @include On1200 {
      margin-bottom: 166px;
    }
    @include On1440 {
      margin-bottom: 175px;
    }
  }

  &__intro {
    margin-bottom: 100px;

    @include On768 {
      margin-bottom: 150px;
    }
    @include On1200 {
      margin-bottom: 200px;
    }
  }

  &__bake {
    margin-bottom: 12px;

    @include On768 {
      margin-bottom: 96px;
    }
    @include On1200 {
      margin-bottom: 122px;
    }
  }

  &__about {
    margin-bottom: 32px;

    @include On768 {
      margin-bottom: 70px;
    }
    @include On1200 {
      margin-bottom: 350px;
    }
  }
}
