.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;

  @extend %fontText;

  border: 2px solid $lightBrown;
  border-radius: 40px;
  background-color: $lightBrown;

  @include hover(background-color, #fff);
}
