.products {
  @include content-padding-inline;

  &__cards {
    @include page-grid;

    row-gap: 56px;

    @include on-tablet {
      row-gap: 80px;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: $accent-color;

    @extend %h2;
  }

  &__description {
    margin-bottom: 56px;

    @extend %body-text;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}
