.product {
  margin-bottom: 80px;

  font-family: "Inter", sans-serif;

  &__item {
    margin-bottom: 64px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      width: 100%;
      margin-bottom: 16px;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-title {
      font-weight: 500;

      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #7f8096;
      margin-bottom: 8px;
    }

    &-description {
      line-height: 24px;
      letter-spacing: -0.01em;
      color: #1c1a26;
      margin-bottom: 24px;
    }
  }

  &__order {
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $color-orange;
      width: max-content;
      transition-duration: 0.3s;
      text-decoration: none;

      &:hover {
        color: #691f0f;
      }

      &:before {
        content: url(images/arrow.svg);
        margin-right: 8px;
      }
    }
  }


