.slider {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: baseline;

  color: $lightBrown;

  @include onDesktop {
    font-size: 40px;
    line-height: 47px;
    color: $colorCream;

    grid-template-columns: repeat(1, 47px);
    align-content: center;
    justify-items: end;

    & :nth-child(2) {
      font-size: 176px;
      line-height: 170px;
      color: $darkBrawn;
    }
  }
}
