.social {
  display: flex;
  align-items: center;

  &__link {
    height: 20px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &-img {
      transition: filter 0.2s linear, transform 0.2s linear;

      &:hover,
      &:focus {
        filter: invert(100%) sepia(0%) saturate(7435%)
          hue-rotate(40deg) brightness(1918%) contrast(113%);
        transform: scale(1.1);
      }
    }
  }
}
