.desktop-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    position: absolute;
    top: 0;
    left: $mobPadding;
    right: $mobPadding;
    height: 87px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 992px) {
      left: $paddingX;
      right: $paddingX;
    }
  }

  &__contacts {
    display: flex;

    @media (min-width: 768px) {
      padding-top: 21px;
    }
  }

  &__lang {
    margin-left: 20px;
  }
}
