.header-text {
  padding: 0;
  margin: 0;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 56px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $accent-orange;

  @include on-tablet {
    font-size: 80px;
    line-height: 68px;
  }

  @include on-desktop {
    font-size: 130px;
    line-height: 130px;
  }

  @include on-large-screen {
    font-size: 134px;
    line-height: 130px;
  }
}
