@import '/src/styles/utils';

.header {
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  @include on-desktop {
    display: none;
  }

  &__logo {
    height: 25px;
    width: 128px;

    @include hover(
      (
        transform: scale(1.1),
      )
    );
  }

  &__button {
    display: flex;
    align-items: center;

    @include hover(
      (
        transform: scale(1.2),
      )
    );
  }
}
