.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(../images/icon/Icon-phone.svg);
  }

  &--menu {
    background-image: url(../images/icon/Icon-menu.svg);

    &:hover {
      background-image: url(../images/icon/Icon-menu-hov.svg);
    }

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icon/Icon-close.svg);

    &:hover {
      background-image: url(../images/icon/Icon-close-hov.svg);
      transform: rotate(-90deg);
    }
  }

  &--arrow {
    background-image: url(../images/icon/Icon-arrow.svg);
  }

  &--facebook {
    background-image: url(../images/icon/social/Icon-facebook.svg);

    &:hover {
      background-image: url(../images/icon/social/Icon-facebook-hov.svg);
    }
  }

  &--instagram {
    background-image: url(../images/icon/social/Icon-instagram.svg);

    &:hover {
      background-image: url(../images/icon/social/Icon-instagram-hov.svg);
    }
  }

  &--twitter {
    background-image: url(../images/icon/social/Icon-twitter.svg);

    &:hover {
      background-image: url(../images/icon/social/Icon-twitter-hov.svg);
    }
  }
}

