.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;

  &-menu {
    background-image: url(../images/icons/Icon-menu.svg);

    @include onDesktop {
      opacity: 0;
      width: 0;
    }
  }
}
