.logo {
  cursor: pointer;
  padding-block: 28px;

  @include onTablet {
    padding-block: 16px;
  }

  &:hover {
    .logo__path {
      fill: $color-font-secondary;
    }
  }

  &__path {
    transition: fill ease-in $transition-duration;
    fill: $color-font-primary;
  }
}
