.logo {
  display: block;
  width: 136px;
  height: 32px;
  background-image: url(../images/Bakerlab.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include hover(transform, scale(1.1));
}
