.menu {
  height: 100vh;
  background-color: $pink;

  @media (min-width: 1024px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding-top: 130px;
    list-style: none;
    text-align: center;

    @media (min-width: 1024px) {
      gap: 64px;
      padding: 0;
    }
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: #1c1a26;
    
    &-contact {
      font-weight: 500;
      line-height: 100%;
      color: $orange;
      text-transform: uppercase;

      &::before {
        content: url(../images/phone-icon.svg);
        padding-right: 7px;
      }
    }
  }
}
