.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    & li:last-child {
      display: flex;
      gap: 7px;
      text-transform: uppercase;
      font-weight: 500;
      color: $accent-color;
      letter-spacing: 2%;
    }
  }

  &__link {
    @include hoverLink;
    text-decoration: none;
    color: inherit;
  }
}
