.top-bar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  @include onDesktop {
    padding-block: 28px;
    padding-inline: 32px;
  }

  &__icon {
    display: flex;
  }

  &__logo-link {
    display: flex;
    @include hover(scale, 1.07);
  }

  &__logo {
    height: 32px;
  }

  &__list {
    display: none;
    flex-direction: row;
    gap: 64px;

    @include onDesktop {
      display: flex;
    }
  }
}
