.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1cc9d;

  &__title {
    margin: 40px 0 80px;
  }

  &__search {
    margin-bottom: 70px;
  }

  &__input {
    margin: 0 20px;
    background-color: #f1cc9d;
  }

  &__input:first-of-type {
    width: 173px;
  }

  &__input:last-of-type {
    width: 325px;
  }

  &__photo {
    margin-bottom: 40px;
  }
  
  &__img {
    width: 100%;
    margin: 0 5px;
  }
}
