.feedback {
  @include flexRow;
  padding-bottom: 175px;

  &__picture {
    width: 50vw;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .feedback {
    flex-direction: column;
    padding: 0 15px;

    &__picture {
      width: auto;
      order: 1;
      padding-bottom: 50px;

      &--img {
        width: calc(100vw - 70px);
      }
    }
  }
}
