.socials {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 32px;

  &__link {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.4));

    &--facebook {
      background-image: url(../images/icons/facebook.svg);

      &:hover {
        background-image: url(../images/icons/facebook-hover.svg);
      }
    }

    &--instagram {
      background-image: url(../images/icons/instagram.svg);

      &:hover {
        background-image: url(../images/icons/instagram-hover.svg);
      }
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);

      &:hover {
        background-image: url(../images/icons/twitter-hover.svg);
      }
    }
  }
}
