.footer {
  position: sticky;
  bottom: 0;
  display: grid;
  max-width: 1440px;
  margin: auto;
  height: 157px;
  background-color: $chocolate;
  z-index: -1;

  &__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: end;
    padding: 0 58px;
  }

  &__list {
    display: grid;
    grid-template-columns: 52px 88px 46px 78px;
    justify-content: center;
    list-style: none;
    gap: 34px;
  }

  &__link {
    color: $milk;
    cursor: pointer;
    transition: color 1s;

  }

  &__link:hover {
    color: $croissant;
  }

  &__icons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3,31px);
    gap: 20px;
  }

  &__down-container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 75px 88px;
    gap: 30px;
    justify-content: center;
    white-space: nowrap;
  }

  &__text {
    font-size: 12px;
    line-height: 140.62%;
    opacity: 0.7;
    color: $milk;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: 570px;
    display: flex;
    flex-direction: column;
    
    &__logo {
      padding-top: 66px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__list {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    &__item {
      padding-top: 34px;
    }

    &__icons {
      padding-top: 32px;
    }

    &__down-container {
      padding-top: 47px;
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    &__container {
      display: flex;
      align-items: flex-start;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__icons {
      display: grid;
      align-self: center;
      gap: 40px;
    }
  }
}
