.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  background-color: $dark-brown;

  &__top {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    max-width: 1400px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__logo {
    margin-left: 58px;
    width: 33.3%;
    margin-right: 300px;
  }

  &__footer-nav {
    margin-right: 300px;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 59px;
    width: 33.3%;
  }

  &__copyright {
    margin-bottom: 18px;

    @extend %textCopyright;
  }
}

@media (max-width: $desktop-width) {
  .footer {

    &__footer-nav {
      margin-right: 100px;
    }

    &__logo {
      margin-right: 100px;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer {
    flex-direction: column;
    align-items: stretch;

    &__top {
      display: flex;
      flex-direction: column;
    }

    &__footer-nav {
      margin-right: 0;
    }

    &__logo {
      margin: 0 0 0 16px;
    }

    &__copyright {
      margin: 47px auto;
    }
  }
}
