.footer {
  padding-top: 74px;
  padding-bottom: 18px;
  background-color: #412d22;
  color: white;

  &__navigation {
    margin-bottom: 15px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
    }
  }

  &__copyright {
    text-align: center;
  }

  &__copyright span {
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
}

.nav__list--footer {

  @media (max-width: 800px) {
    flex-direction: column;
    padding-left: 25px;
  }
}
