.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;

  background-color: $dark-brown;

  &__top {
    display: flex;
    margin-top: 50px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__logo {
    align-self: flex-start;
    margin-left: 58px;
    width: 33.3%;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 59px;
    width: 33.3%;
  }

  &__copyright {
    margin-bottom: 18px;

    @extend %textCopyright;
  }
}

@media (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;

    &__top {
      display: flex;
      flex-direction: column;
    }

    &__logo {
      align-self: flex-start;
      margin-left: 16px;
    }

    &__copyright {
      margin: 47px auto;
    }
  }
}
