.socials {
  &__img {
    margin-right: 10px;
  }
}

@media (max-width: $tablet-width) {
  .socials {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }
}
