.soc {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 800px) {
    width: 100%;
    padding: 0 25px;
    margin-bottom: 47px;
  }

  &__med {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background-color: white;
    border-radius: 50%;
    transition: opacity 0.2s linear;
  }

  &__med:hover {
    opacity: 0.7;
  }
}
