.contacts {
  &__title {
    margin-bottom: 40px;
    color: $c-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__phones-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__phones-link {
    text-decoration: none;
    color: inherit;

    @include onDesktop {
      @include hover-line;
    }
  }

  &__email-link {
    text-decoration: none;
    color: inherit;

    @include onDesktop {
      @include hover-line;
    }
  }
}
