.nav {
  max-width: 1440px;

  &__list {
    display: grid;
    grid-template-columns: 52px 88px 46px 78px;
    justify-content: center;
    gap: 34px;

    list-style: none;
  }

  &__link {
    color: $chocolate;

    cursor: pointer;

    transition: color 1s;
  }

  &__link:hover {
    color: $croissant;
  }

}

@media screen and (max-width: 1200px) {
  .nav {
    position: absolute;
    visibility: hidden;

    width: 200px;
    height: 840px;
    right: 0;
    top: 0;

    &__item {
      padding: 15px;
      white-space: nowrap;
    }

    &__list {
      display: flex;
      align-items: start;
      flex-direction: column;
      padding: 0 21px;
    }

    &__link {
      padding: 0;

      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
    }

  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 568px;
  }
}
