.side {
  background-color: $croissant;
  height: 840px;

  &__container {
    display: grid;
    height: 87px;
    grid-template-columns: 160px 110px 50px;
    grid-template-areas: "tel button change" " number number number";
    justify-content: end;
    align-items: baseline;
    padding: 60px 59px 0 0;
    gap: 20px;
    
    text-align: end;
  }

  &__number-tel {
    grid-area: tel;
    text-decoration: none;
    color: $chocolate;

    transition: color 1s;

    &:hover {
      color: $cream;
    }
  }

  &__number-button {
    grid-area: button;
    padding: 5px 15px 4px 18px;
    width: 110px;
    height: 30px;
    
    border: 2px solid $cream;
    border-radius: 40px;
    
    background-color: $cream;
    color: $chocolate;
    
    text-align: center;
    
    transition: background-color 1s;

    cursor: pointer;

    &:hover {
      border: 2px solid $cream;
      background-color: $milk;
    }
  }

  &__change {
    grid-area: change;
  }

  &__change-language-name {
    border: none;
    color: $chocolate;
    background-color: $croissant;
    
    cursor: pointer;
  }

  &__number-container {
    grid-area: number;
  }

  &__number {
    position: relative;
    padding-top: 130px;

    &::before {
      content: "";
      
      position: absolute;
      right: 10px;
      
      background: url(..\images\header\icon_up.svg) no-repeat;
      
      width: 26px;
      height: 15px;
      
      z-index: 1;
      
      cursor: pointer;
    }

    &::after {
      content: "";
      
      position: absolute;
      right: 10px;
      
      bottom: -125px;
      background: url(..\images\header\icon_down.svg) no-repeat;
      
      width: 26px;
      height: 15px;
      
      z-index: 1;
      
      cursor: pointer;
    }
  }

  &__number-big {
    font-size: 176px;
    line-height: 209px;
    
    color: $chocolate;
  }

  &__num {
    font-size: 40px;
    line-height: 47px;
    
    color: $cream;
  }
}

@media screen and (max-width: $small-tablet-width) {
  .side {
    height: 568px;
  }
}
