.burger__nav {
  @include tablet {
    display: none;
  }
}

.burger__toggler:checked ~ .burger__nav {
  @include tablet {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;

    padding-left: 24px;
    width: 50vw;
    height: 90vh;
    background-color: $croissantColour;
  }
}
