.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;

  & span {
    position: absolute;
    background-color: $font-color;
    left: -10px;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s linear;
  }
  &::before,
  &::after {
    content: "";
    background-color: $font-color;
    position: absolute;
    width: 100%;
    height: 2px;
    left: -10px;
    transition: all 0.3s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active span {
    transform: scale(0);
  }

  &.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  &.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  @media screen and (min-width: 1230px) {
    display: none;
  }
}
