.call-back {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 125px;

  @media (max-width: 1024px) {
    display: none;
  }

  &__number {
    color: inherit;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
  }

  &__link {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: $light-color-button;
    border-radius: 40px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s ease-in-out;
  }

  &__number:hover,
  &__link:hover {
    transform: scale(1.1);
  }
}

.change-language__select {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #e39a3b;
  font-size: inherit;
}
