.contact {
  display: flex;
  align-items: center;
  height: 100%;
  @include tablet {
    display: none;
  }

  &__item {
    display: flex;
    margin: 0 10px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 100px;
    border-radius: 40px;
    background-color: $creamColor;
  }

  &__link {
    padding: 15px 2px;
  }

  &__select {
    background-color: transparent;
    border: none;
  }
}
