.header {
  height: 800px;
  background: no-repeat url("../images/header-background.png"), $c-croissant;
  background-size: 70%, 30%;

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0 59px;
  }

  &__information {
    margin-top: 20px;
  }

  &__menu {
    margin-top: 34px;
  }
}

@media (max-width: 2000px) {
  .header {
    background-size: 75%, 25%;
  }
}

@media (max-width: 1600px) {
  .header {
    background-size: 75%, 25%;
    height: 780px;
  }
}

@media (max-width: 1560px) {
  .header {
    background-size: 70vw 100vh;
    height: 600px;
  }
}

@media (max-width: 1300px) {
  .header {
    background-size: 63vw 100vh;
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .header {
    background: no-repeat url("../images/header-background.png");
  }

  .header__box {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }
}
