.icon {
  display: block;
  cursor: pointer;

  &-menu,
  &-close,
  &-facebook,
  &-instagram,
  &-twitter {
    @include hover(transform, scale(1.2));
  }

  &-twitter:hover {
    content: url(../images/footer/icon-twitter-hover.svg);
  }

  &-facebook:hover {
    content: url(../images/footer/icon-facebook-hover.svg);
  }

  &-instagram:hover {
    content: url(../images/footer/icon-instagram-hover.svg);
  }
}
