.information {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $breakpoint-medium) {
  .information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
