.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #e39a3b;
  position: absolute;
  width: 200px;
  height: 100vh;
  padding-top: 85px;
  padding-left: 19px;
  z-index: 1;
  font-family: "Rubik", sans-serif;

  @media (min-width: 1000px) {
    & {
      transform: translateY(0);
      position: static;
      height: 87px;
      padding: 0;
      background: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }

  &__white {
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 4;
    height: 100vh;
    width: 4px;
    background-color: #fff;

    @media (min-width: 1000px) {
      & {
        display: none;
      }
    }
  }

  &__link {
    line-height: 150%;
    color: #412d22;
  }

  &__item {
    &--margin-b {
      margin-bottom: 117px;

      @media (min-width: 1000px) {
        & {
          margin: 0;
          margin-right: 5%;
        }
      }

      @media (min-width: 1100px) {
        & {
          margin: 0;
          margin-right: 16%;
        }
      }
    }
  }

  &__button {
    width: 100px;
    height: 30px;
    border: 0;
    background: #f1cc9d;
    border-radius: 40px;

    color: #412d22;
    line-height: 150%;

    &:focus {
      outline: none;
    }
  }

  &__lang {
    position: relative;
    appearance: none;
    width: 33px;
    font-size: 16px;
    line-height: 130%;
    border: 0;
    outline: none;
    background: url(../images/arrow.svg) no-repeat right;
    color: #412d22;
  }

  &__choose-lang {
    border: 0;
    outline: none;
    color: #412d22;
    background: #f1cc9d;
  }
}
