.main-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-left: 60px;
  
  &__second-title {
    margin-top: 40px;
    max-width: 420px;
    line-height: 40px;
  }
  
  &__button {
    display: inline-block;
    width: 160px;
    margin-top: 35px;
    
  }
  
}

@media screen and (max-width: 425px) {
  .main-info {
    padding-left: 10px;

    &__second-title {
      margin-top: 10px;
      font-size: 16px;
      line-height: 24px;
    }

  }
}
