.menu {
  background-color: $menu-background;
  height: 100vh;

  &__nav {
    margin-top: 132px;

    &__item {
      justify-content: center;
    }

    &__list {
      flex-direction: column;
      gap: 24px;
    }
  }
}

.close--icon {
  background-image: url(../icon/icon-close.svg);

  @include icon-size;
  @include hover(background-image, url(../icon/icon-close-hover.svg));
}
