.menu {
  &__content {
    position: relative;
  }

  height: 100vh;
  background-color: $background-color;
  z-index: 11;

  @include on-desktop {
    display: none;
  }

  &__nav {
    height: calc(100vh - 136px);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
