.nav--mobile {
  @include tablet {
    .nav {
      &__list {
        display: block;
        height: 100%;
      }

      &__item {
        position: relative;
        top: 15vh;

        &:nth-child(5) {
          margin-top: 25vh;
        }
      }

      &__item--hidden {
        display: block;
        margin: 30px 0;
      }

      &__link {
        display: inline-block;
        margin: 0;
        width: 100%;
      }
    }

    @include mobile {
      width: 65vw;
      height: 100vh;
    }

    @include mobile {
      .nav__item {
        top: 10vh;

        &:nth-child(5) {
          margin-top: 15vh;
        }
      }
    }
  }
}
