
.nav {

  &__list {
    display: flex;
    list-style-type: none;
    gap: 34px;
  }

  &__list--header {

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__list--mobile {
    padding: 0;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

.nav--header {
  @media (max-width: 1100px) {
    display: none;
  }
}
