.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__toggler {
    display: none;
  }

  &__toggler-label {
    position: relative;
    background: url(../images/burger.svg) no-repeat center;
    width: 25px;
    height: 25px;
    z-index: 2;

    @media (min-width: 1000px) {
      & {
        display: none;
      }
    }
  }

  &__toggler--menu:checked + &__toggler-label {
    background-image: url(../images/exit.svg);
    width: 22px;
    height: 22px;
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    // right: -300px;
    transform: translateY(-120%);
    // display: none;
    // opacity: 0;
    transition: 0.5s;

    @media (min-width: 1000px) {
      & {
        opacity: 1;
      }
    }
  }

  &__toggler--menu:checked ~ &__list {
    // display: flex;
    
    transform: translateY(0);
    // opacity: 1;
  }
}
