.side-info.active,
.header__menu .menu__list.active {
  transform: translate(-200px);
  height: 90%;
  display: block;
}

.side-info {
  position: relative;
  grid-area: side-info;
  top: 0;
  height: 100%;
  background-color: $main-color;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  
  &__list {
    margin: 68px 10%;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    margin-left: 10px;
  }

  &__link {
    font-size: 1em;
    text-decoration: none;
    color: $font-color;
    &:hover {
      color: $main-color;
    }
  }

  &__select {
    background-color: $main-color;
    border: none;
  }
}

@media screen and (max-width: 1230px) {
  .side-info {
    display: none;
    position: absolute;
    flex-direction: column-reverse;
    width: 200px;

    &__list {
      position: relative;
      top: 300px;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      width: 160px;
    }
  }
}
