.side-info {
  position: relative;
  grid-area: side-info;
  height: 100%;
  background-color: #e39a3b ;

  &__list {
    margin: 68px 10%;
    display: flex;
    justify-content: flex-end;

  }

  &__item {
    margin-left: 10px;
  }

  &__link {
    font-size: 16px;
    text-decoration: none;
    color: #412d22;
    &:hover {
      color: #e39a3b;
    }
  }

  &__select {
    background-color: #e39a3b;
    border: none;
  }
  
}
