.side-info.active,
.header__menu .menu__list.active {
  transform: translate(-200px);
  display: block;
}

.side-info {
  
  position: relative;
  grid-area: side-info;
  top: 0;
  height: 90%;
  background-color: #e39a3b;

  &__list {
    margin: 68px 10%;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1230px) {
      position: relative;
      top: 300px;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      width: 160px;
    }
  }

  &__item {
    margin-left: 10px;
  }

  &__link {
    font-size: 16px;
    text-decoration: none;
    color: #412d22;
    &:hover {
      color: #e39a3b;
    }
  }

  &__select {
    background-color: #e39a3b;
    border: none;
  }
  @media screen and (max-width: 1230px) {
    display: none;
    position: absolute;
    flex-direction: column-reverse;
    width: 200px;
  }
}
