
.slides {
  position: relative;
  grid-area: side-info;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  &__arrow-top::after {
    @include arrow;

    top: -60px;
    left: 330px;

    background-color: #f1cc9d;
    transform: rotate(45deg);
  }

  &__arrow-top::before {
    @include arrow;

    top: -60px;
    left: 319px;

    background-color: #f1cc9d;
    transform: rotate(-45deg);
  }

  &__arrow-down::after {
    @include arrow;
    top: 330px;
    left: 319px;
    transform: rotate(45deg);
    background-color: #412d22;
  }

  &__arrow-down::before {
    @include arrow;
    top: 330px;
    left: 330px;
    transform: rotate(-45deg);
    background-color: #412d22;
  }

  &__number {
    font-size: 40px;
    color: #f1cc9d;
    line-height: 48px;
    margin: 5px 12%;
  }

  &__number--active {
    font-size: 176px;
    color: #412d22;
    line-height: 160px;
    margin: 0 10%;
  }

  @media screen and (max-width: 1230px) {
    grid-area: slides;
    flex-direction: row;
    justify-content: center;
    &__number {
      margin: 8px 20px;
    }
    &__number--active {
      margin: 0;
    }
  }
}
