.top-bar {
  padding-block: 16px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    display: none;
  }

  &__logo-link {
    display: flex;

  }

  &__logo {
    @include hover(transform, scale(1.2));
  }

  &__forDesktop {
    display: none;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      display: flex;
      padding-block: 28px;
      padding-inline: 32px;
    }
  }
}
