.about {
  @include flexColumn;
  justify-content: center;

  &__title {
    @extend %titleM;
  }

  &__text {
    width: 480px;
    margin-bottom: 59px;

    @extend %textS;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: center;
  }
}
 
@media (max-width: 1400px) {
  .about {
    margin: 0 auto;
    &__row {
      justify-content: space-around;
      margin: 0;
    }
    
  }
}

@media (max-width: 1024px) {
  .about {

    &__title {
      font-size: 60px;
    }

    &__text {
      width: 288px;
    }
  }
}
