.about {
  @include flexCol;
  justify-content: center;

  &__heading {
    @extend %titleMiddle;
    margin-bottom: 22px;
  }

  &__text {
    font-family: $f-rubik;
    margin-bottom: 59px;
  }
}

@media screen and (max-width: $tablet-width) {
  .about {
    &__text {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__heading {
      font-size: 60px;
    }
  }
}
