.home-page {
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-template-rows: 840px;
  grid-template-areas: "left right";
  
  @media (max-width: $max-width-for-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 449px 119px;
    grid-template-areas: "left" "right";
    background: url(../images/bake-cream-puff-cup-1775045.png) 35% no-repeat;
    background-size: cover;
  }

  &__left-section {
    grid-area: left;
    padding-top: 140px;
    padding-left: 59px;
    background: url(../images/bake-cream-puff-cup-1775045.png) 50% no-repeat;
    background-size: cover;
    
    @media (max-width: $max-width-for-mobile) {
      background: none;
    }
    
    @media (max-width: 850px) {
      padding-left: 16px;
    }
  }

  &__right-section {
    grid-area: right;
    background-color: $orange-color;
    padding-right: 59px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: $max-width-for-mobile) {
      flex-direction: row;
      align-items: center;
      background: none;
      padding: 0;
    }
  }
}
