.home-page {
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-template-rows: 840px;
  grid-template-areas: "left right";
  
  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
    grid-template-rows: 449px 119px;
    grid-template-areas: "left" "right";
    background: url(../images/bake-cream-puff-cup-1775045.png) 35% no-repeat;
    background-size: cover;
  }

  &__left-section {
    grid-area: left;
    padding-top: 140px;
    padding-left: 59px;
    background: url(../images/bake-cream-puff-cup-1775045.png) 50% no-repeat;
    background-size: cover;
    
    @media (max-width: 1150px) {
      background: none;
    }
    
    @media (max-width: 850px) {
      padding-left: 16px;
    }
  }

  &__right-section {
    grid-area: right;
    background-color: $orange-color;
    padding-right: 59px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: 1150px) {
      flex-direction: row;
      align-items: center;
      background: none;
      padding: 0;
    }
  }

}

.title {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-size: 160px;
  line-height: 178px;
  color: $brown-color;

  @media (max-width: 1150px) {
    font-size: 100px;
    line-height: 80px;
  }
}

.slogan {
  font-size: 26px;
  line-height: 39px;
  font-weight: normal;
  color: $brown-color;

  @media (max-width: 1150px) {
    font-size: 16px;
    line-height: 24px;

    margin-top: 29px;
  }
}

.learn-more-button {
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color: $orange-color;
  cursor: pointer;
  line-height: 24px;
  color: $brown-color;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 25px;
  transition: transform 350ms;
  
  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 1150px) {
    margin-top: 19px;
  }
}
