.learn-more-button {
  width: 160px;
  height: 40px;
  border-radius: 40px;
  @include input-text;
  font-weight: 400;
  background-color: $orange-color;
  cursor: pointer;
  margin-top: 25px;
  transition: transform $transition-time;
  
  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: $max-width-for-mobile) {
    margin-top: 19px;
  }
}
