.slogan {
  font-size: 26px;
  line-height: 39px;
  font-weight: normal;
  color: $brown-color;

  @media (max-width: $width-for-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 29px;
  }
}
