.slogan {
  font-size: 26px;
  line-height: 39px;
  font-weight: normal;
  color: $brown-color;
  padding-top: 17px;
  padding-bottom: 25px;

  @media (max-width: $width-for-tablet) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 49px;
  }
}
