.title {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-size: 160px;
  line-height: 178px;
  color: $brown-color;

  @media (max-width: $max-width-for-mobile) {
    font-size: 100px;
    line-height: 80px;
  }
}
