html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  padding-top: 64px;
  scroll-behavior: smooth;
}

.text__header {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: center;
  padding-top: 32px;
}

@media (min-width: 1200px) {
  .text__header {
    text-align: start;
    padding-top: 200px;
  }
}

.text__main {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: start;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.text__product {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
}

.text__about-us {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
}

.text__about-us--numbers {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #7f8096;
}

.title__header {
  font-weight: 400;
  font-size: 60px;
  line-height: 85%;
  letter-spacing: -5%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
}

@media (min-width: 1200px) {
  .title__header {
    font-size: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title__main {
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.title__product {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
}

.title__about-us {
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .title__about-us {
    font-size: 72px;
  }
}

.title__about-us--numbers {
  font-weight: 400;
  font-size: 96px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.title__contact-us {
  width: 280px;
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: -5%;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .title__contact-us {
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .title__contact-us {
    font-size: 72px;
    width: 540px;
    white-space: nowrap;
  }
}

.title:not(.title__product):hover {
  color: #f9512e;
}

.image__header {
  justify-self: center;
}

@media (min-width: 1200px) {
  .image__header {
    width: 544px;
    height: 546px;
  }
}

.image__main {
  width: 288px;
  height: 356px;
  border-radius: 8px;
  background-size: contain;
}

@media (min-width: 768px) {
  .image__main {
    width: 328px;
    height: 424px;
  }
}

@media (min-width: 1200px) {
  .image__main {
    width: 402px;
    height: 512px;
    border-radius: 8px;
  }
}

.image__main:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.button__header {
  border-radius: 32px;
  padding: 20px 71px;
  border: 2px solid #f9512e;
  margin-bottom: 46px;
  gap: 4px;
  display: flex;
  justify-self: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .button__header {
    justify-self: start;
  }
}

.button__header--icon {
  width: 24px;
  height: 24px;
}

.button__header--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #f9512e;
}

.button__product {
  display: flex;
  width: 84;
  height: 32;
  gap: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
}

.button__product--icon {
  width: 16px;
}

.button__product--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #f9512e;
}

.media {
  display: flex;
  gap: 32px;
}

@media (min-width: 768px) {
  .media {
    margin-top: 40px;
  }
}

.media__social-icon {
  height: 20px;
}

.media__social-icon:hover,
.media__social-icon:focus {
  transform: scale(1.25);
  transition: transform 0.4s ease;
  filter: brightness(0) invert(1);
}

.logo__footer {
  width: 160px;
  margin-left: 5px;
  top: 5px;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .navigation {
    height: 64px;
    padding: 0 28px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    height: 88px;
    padding: 0 28px;
  }
}

.navigation-logo {
  background-repeat: no-repeat;
}

.navigation-burger {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-burger__icon {
  width: 20px;
  height: 8px;
  background-image: url(/src/images/logos/Menu-icon.svg);
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .navigation-burger {
    display: none;
  }
}

.navigation-close {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-close__icon {
  width: 12.73;
  height: 12.73;
  top: 5.64px;
  left: 5.64px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 0 16px;
  padding: 0 16px;
  min-width: 280px;
  justify-content: center;
  padding-bottom: 160px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: repeat(8, 64px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .header {
    grid-template-columns: repeat(8, 118px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-bottom: 360px;
  }
}

.header__text {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .header__text {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .header__text {
    grid-column: 1/3;
  }
}

.header__title {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .header__title {
    grid-column: 1/9;
    padding-top: 130px;
  }
}

@media (min-width: 1200px) {
  .header__title {
    grid-column: 1/9;
    padding-top: 10px;
  }
}

.header__image {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .header__image {
    position: absolute;
    z-index: -1;
    top: 150px;
  }
}

.header__button {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .header__button {
    grid-column: 1/9;
    margin-top: 160px;
  }
}

@media (min-width: 1200px) {
  .header__button {
    grid-column: 1/4;
    margin-top: 70px;
  }
}

.navigation-menu {
  display: none;
  height: 32px;
  top: 28px;
  gap: 64px;
}

.navigation-menu .navigation-menu__contact {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #f9512e;
}

@media (min-width: 1200px) {
  .navigation-menu {
    display: flex;
    align-items: center;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
  min-height: 105vh;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.menu:target {
  transform: translateY(0);
}

.links__menu--ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.links__menu--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: center;
  color: #1c1a26;
}

.links__menu--link:hover {
  text-decoration: underline;
}

.links__menu--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9512e;
}

.links__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links__footer--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #7f8096;
  white-space: nowrap;
}

.links__footer--ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.links__footer--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1%;
  color: #fff;
  text-align: left;
}

.links__footer--link:hover {
  text-decoration: underline;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 0 16px;
  padding: 0 16px;
  padding-bottom: 80px;
  justify-content: center;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(8, 64px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .main {
    grid-template-columns: repeat(8, 118px);
    gap: 0 24px;
  }
}

.main__title {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .main__title {
    grid-column: 1/-1;
  }
}

.main__text {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .main__text {
    grid-column: 1/-1;
  }
}

.main__product {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .main__product--1 {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .main__product--1 {
    grid-column: 1/4;
  }
}

@media (min-width: 768px) {
  .main__product--2 {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .main__product--2 {
    grid-column: 4/7;
  }
}

@media (min-width: 768px) {
  .main__product--3 {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .main__product--3 {
    grid-column: 3/6;
  }
}

@media (min-width: 768px) {
  .main__product--4 {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .main__product--4 {
    grid-column: 6/-1;
  }
}

@media (min-width: 768px) {
  .main__product--5 {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .main__product--5 {
    grid-column: 1/4;
  }
}

@media (min-width: 768px) {
  .main__product--6 {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .main__product--6 {
    grid-column: 4/7;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .product {
    padding-top: 60px;
  }
}

.product__title {
  text-align: start;
}

.product__text {
  text-align: start;
}

.section-about-us {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  padding: 0 16px;
  gap: 20px;
  justify-content: center;
  padding-bottom: 80px;
  position: relative;
}

@media (min-width: 768px) {
  .section-about-us {
    grid-template-columns: repeat(8, 64px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .section-about-us {
    grid-template-columns: repeat(8, 118px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .section-about-us {
    padding-bottom: 280px;
  }
}

.section-about-us__title {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .section-about-us__title {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .section-about-us__title {
    grid-column: 1/5;
  }
}

.section-about-us__text {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .section-about-us__text {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .section-about-us__text {
    grid-column: 5/-1;
  }
}

.section-about-us__numbers {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .section-about-us__numbers {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  .section-about-us__numbers--year {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .section-about-us__numbers--year {
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .section-about-us__numbers--stories {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .section-about-us__numbers--stories {
    grid-column: 3/5;
  }
}

@media (min-width: 768px) {
  .section-about-us__numbers--companies {
    grid-column: 1/5;
  }
}

@media (min-width: 1200px) {
  .section-about-us__numbers--companies {
    grid-column: 5/7;
  }
}

@media (min-width: 768px) {
  .section-about-us__numbers--clients {
    grid-column: 5/-1;
  }
}

@media (min-width: 1200px) {
  .section-about-us__numbers--clients {
    grid-column: 7/-1;
  }
}

.section-about-us__image {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 300px;
  z-index: -1;
}

@media (min-width: 768px) {
  .section-about-us__image {
    width: 526px;
    height: 493px;
    top: 40px;
  }
}

.footer {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 100px 44px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 100px 44px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 136px);
    padding: 0 16px;
    box-sizing: border-box;
    gap: 40px;
    justify-content: center;
    margin-left: 16px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(8, 64px);
    gap: 0 24px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .footer__container {
    grid-template-columns: repeat(8, 118px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 136px);
    padding: 0 16px;
    box-sizing: border-box;
    gap: 40px;
    justify-content: center;
    margin-left: 16px;
  }
}

@media (min-width: 1200px) and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(8, 64px);
    gap: 0 24px;
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .footer__container {
    grid-template-columns: repeat(8, 118px);
    gap: 0 24px;
  }
}

@media (min-width: 768px) {
  .footer__container--element {
    margin-bottom: 10px;
  }
}

.footer__container--logo {
  grid-column: 1/2;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .footer__container--logo {
    grid-column: 1/5;
    grid-row: 1;
  }
}

@media (min-width: 1200px) {
  .footer__container--logo {
    grid-column: 1/2;
    grid-row: 1;
  }
}

.footer__container--title {
  grid-column: 1/3;
  white-space: normal;
}

@media (min-width: 768px) {
  .footer__container--title {
    grid-column: 5/-1;
    grid-row: 1;
  }
}

@media (min-width: 1200px) {
  .footer__container--title {
    grid-column: 5/9;
    grid-row: 1;
    white-space: nowrap;
  }
}

.footer__container--links {
  grid-column: 1/3;
}

@media (min-width: 768px) {
  .footer__container--links1 {
    grid-column: 1/5;
    grid-row: 2;
  }
}

@media (min-width: 1200px) {
  .footer__container--links1 {
    grid-column: 1/2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .footer__container--links2 {
    grid-column: 5/-1;
    grid-row: 2;
  }
}

@media (min-width: 1200px) {
  .footer__container--links2 {
    grid-column: 5/6;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .footer__container--links3 {
    grid-column: 5/-1;
    grid-row: 3;
  }
}

@media (min-width: 1200px) {
  .footer__container--links3 {
    grid-column: 7/-1;
    grid-row: 2;
  }
}

.footer__container--media {
  grid-column: 1/3;
}

@media (min-width: 768px) {
  .footer__container--media {
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    align-items: end;
  }
}

@media (min-width: 1200px) {
  .footer__container--media {
    grid-column: 1/2;
    grid-row: 3;
  }
}

.footer__container--signature {
  grid-column: 5/-1;
  grid-row: 5;
  display: flex;
  align-items: end;
}

@media (min-width: 1200px) {
  .footer__container--signature {
    grid-column: 5/6;
    grid-row: 3;
  }
}
