@mixin onMobileLess320 {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin theDesign {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin gridOnMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}

@mixin gridOnTabletAndDesktop {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 24px;
}

@mixin theTop {
  display: grid;
  grid-template-columns: 1fr 20px;
}

@mixin theLinksWithIcons {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $titles-links-color;
}

@mixin linksIcons {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
