.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 33px 10px;

  &__phone {
    color: inherit;

    &:hover {
      color: $color-cream;
      transition: $transition-duration;
    }
  }

  &__lang {
    font-size: inherit;

    background-color: $color-croissant;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
