.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 33px 10px;

  @include mediaOnTablet {
    flex-direction: row;
    align-items: center;
  }

  &__phone {
    color: inherit;

    &:hover {
      color: $color-cream;
      transition: $transition-duration;
    }
  }

  &__lang {
    width: max-content;
    font-size: inherit;

    background-color: $color-croissant;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
