.burger {
  width: 22px;
  height: 22px;

  background-image: url(../images/burger.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;

  @include mediaOnTablet {
    display: none;
  }

  &--close {
    background-image: url(../images/close.svg);
  }
}
