.button {
  width: 160px;
  padding: 6px;
  
  text-align: center;
  color: inherit;
  
  background-color: $color-croissant;
  border: 2px solid transparent;
  border-radius: 40px;

  transition: $transition-duration;
  cursor: pointer;

  &:hover {
    background-color: $color-milk;
    border-color: $color-croissant;
  }

  &:active {
    background-color: $color-croissant;
    border-color: $color-croissant;
  }

  &:disabled {
    background-color: $color-btn-disabled;
    border-color: $color-btn-disabled;
  }
}
