.footer {
  padding: 40px 0 25px;
  color: $color-milk;
  background-color: $color-chocolate;

  @include mediaOnTablet {
    padding: 50px 0 3px;
  }

  &__top-wrap {

    @include mediaOnTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 60px;

    @include mediaOnTablet {
      margin-bottom: 0;
    }
  }

  &__menu {
    margin: 0 0 60px;

    @include mediaOnTablet {
      margin: 0;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: $color-milk;
    opacity: 0.7;
  }

  &__socials-links {
    margin-bottom: 47px;

    @include mediaOnTablet {
      margin-bottom: 0;
    }
  }

  &__copyright-item {
    display: inline-block;
    padding: 15px;

    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba($color: $color-milk, $alpha: 0.7);

    &--terms {
      &:hover {
        color: rgba($color: $color-milk, $alpha: 1);
      }
    }
  }
}
