.header {
  position: relative;

  min-height: 100vh;

  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__inner {
    display: flex;
  }
  
  &__left {
    flex-basis: 66.66%;
  }

  &__title {
    margin: 0;
  }

  &__right {
    flex-basis: 33.33%;
    background-color: $color-croissant;
  }
}
