.header {
  min-height: 100vh;

  &__inner {
    display: flex;
  }

  &__main {
    flex-grow: 1;
    height: 100vh;
    padding: 34px 59px;

    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 20px 0;

    font-family: Cookie, Arial, Helvetica, sans-serif;
    font-size: 160px;
    line-height: 177px;
    font-weight: normal;
  }

  &__descr {
    margin: 0 0 25px;

    font-size: 26px;
    line-height: 39px;
  }

  &__left {
    flex-grow: 1;
    height: 100vh;
    padding: 34px 47px;

    background-color: $color-croissant;
  }
}
