.menu {
  display: none;
  
  @include mediaOnTablet {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    @include mediaOnTablet {
      flex-direction: row;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 15px 31px;
    color: inherit;

    transition: $transition-duration;

    &:hover {
      color: $color-croissant;
    }

    @include mediaOnTablet {
      padding: 33px 17px;
    }
  }
}
