.second-button {
  width: 100px;
  padding: 1px 0;

  text-align: center;

  background-color: $color-cream;
  border: 2px solid $color-cream;
  border-radius: 40px;

  &:hover {
    background-color: $color-milk;
  }

  &:active {
    background-color: $color-cream;
  }

  &:disabled {
    background-color: $color-btn-disabled;
    border: 2px solid $color-btn-disabled;
  }
}
