.side-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66%;
  height: 100vh;
  padding: 85px 16px 0;
  
  background-color: $color-croissant;
  border-left: 3px solid $color-milk;

  transition: $transition-duration;

  @include mediaOnTablet {
    display: none;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 16px;
  }
}
