.socials-links {
  display: flex;
  justify-content: space-around;
  
  &__link {
    @extend %flexCenter;
    @include circle(31px);

    background-color: $color-milk;
    background-position: center;
    background-repeat: no-repeat;

    transition: $transition-duration;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--twitter {
      background-image: url(../images/socials/twitter.svg);
    }

    &--linkedin {
      background-image: url(../images/socials/linkedin.svg);
    }

    &--facebook {
      background-image: url(../images/socials/facebook.svg);
    }

    &:hover {
      background-color: $color-croissant;
    }
  }
}
