.footer {
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $brown-color;
  row-gap: 15px;

  @media (max-width: $width-for-tablet) {
    height: 100%;
    justify-content: space-between;
    padding: 40px 0;
  }
}
