.footer {
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $brown-color;
  row-gap: 15px;
  position: sticky;

  @media (max-width: 1150px) {
    height: 100%;
    justify-content: space-between;
    padding: 40px 0;
  }
}

.section-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 82%;
  margin: 0 auto;

  @media (max-width: 1150px) {
    width: 75%;
    flex-direction: column;
    height: 100%;
    margin-bottom: 47px;
    row-gap: 60px;
  }

  
  &__logo {
    transition: transform 150ms;
  }

  &__logo:hover {
    transform: scale(1.1);
  }
}
