.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 1150px) {
      flex-direction: column;
      height: 216px;
    }
  }

  &__item {
    list-style: none;
    transition: transform 350ms;

    &:hover {
      transform: scale(1.2);
    }

    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    color: #fff;
    line-height: 24px;
  }
}
