.networks {
  display: flex;
  column-gap: 26px;

  &__twitter,
  &__facebook,
  &__linkedin {
    transition: transform $transition-time;
  }

  &__twitter:hover,
  &__facebook:hover,
  &__linkedin:hover {
    transform: scale(1.2);
  }
}
