.networks {
  display: flex;
  column-gap: 26px;
  justify-content: space-between;

  @media (max-width: $smaller-width-for-mobile) {
    width: 100%;
  }

  &__twitter,
  &__facebook,
  &__linkedin {
    transition: transform $transition-time;
  }

  &__twitter:hover,
  &__facebook:hover,
  &__linkedin:hover {
    transform: scale(1.2);
  }
}
