.section-menu {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 82%;
  margin: 0 auto;

  @media (max-width: $max-width-for-mobile) {
    width: 75%;
    flex-direction: column;
    height: 100%;
    margin-bottom: 47px;
    row-gap: 60px;
  }

  
  &__logo {
    transition: transform $transition-time;
  }

  &__logo:hover {
    transform: scale(1.1);
  }
}
