.section-menu {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 0 58px;

  @media (max-width: $width-for-tablet) {
    flex-direction: column;
    height: 100%;
    padding: 0 47px;
    padding-bottom: 47px;
    row-gap: 60px;
  }

  
  &__logo {
    transition: transform $transition-time;
  }

  &__logo:hover {
    transform: scale(1.1);
  }
}
