.copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  column-gap: 20px;

  font-weight: normal;
  font-size: 12px;
  line-height: 140.62%;
  text-align: center;
  color: #fff;
  opacity: 0.7;

}

.terms {
  cursor: pointer;
  transition: transform 350ms;

  &:hover {
    transform: translateY(-5px);
  }
}
