.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;

  background: url(../images/header-bg.jpg) no-repeat left / contain;

  &__info {
    padding-left: 59px;
  }

  &__title {
    cursor: default;
  }

  &__text {
    font-weight: 400;
    cursor: default;
  }

  &__btn {
    @include btn($btn-width, $btn-height, $primary-color);
  }

  &__slider {
    display: flex;
    justify-content: flex-end;
    width: 33vw;
    padding-right: 46px;

    background: $primary-color;
  }
}

@media (max-width: 1200px) {
  .header-content {
    &__title {
      margin-bottom: 70px;
      line-height: 160px;
    }

    &__slider {
      width: 35vw;
    }
  }
}

@media (max-width: 1150px) {
  .header-content {
    &__slider {
      width: 40vw;
    }
  }
}

@media (max-width: 1100px) {
  .header-content {
    &__slider {
      width: 45vw;
    }
  }
}

@media (max-width: 1050px) {
  .header-content {
    &__slider {
      width: 48vw;
    }
  }
}

@media (max-width: 1030px) {
  .header-content {
    flex-direction: column;
    padding-bottom: 28px;
    background: url(../images/header-bg.jpg) no-repeat center / cover;

    &__title {
      padding-right: 59px;
    }

    &__slider {
      justify-content: center;
      align-items: flex-end;
      width: 100vw;
      padding-right: 0;
      background: transparent;
    }
  }
}

@media (max-width: 850px) {
  .header-content {
    &__title {
      font-size: 140px;
      line-height: 120px;
    }
  }
}

@media (max-width: 550px) {
  .header-content {
    padding-top: 97px;

    &__info {
      padding-left: 16px;
    }

    &__title {
      padding-right: 16px;
      font-size: 100px;
      line-height: 80px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-height: 600px) {
  .header-content {
    padding-top: 37px;
  }
}
