.container {
  padding: 0 20px;
  margin: 0 auto;

  &--main {
    padding: 0 16px;

    @include onTablet {
      padding: 0 44px;
    }
  
    @include onDesktop {
      padding: 0 44px;
    }

    @include onTV {
      padding: 0 124px;
    }
  }
}
