.counter {
  padding-bottom: 48px;

  &__number {
    margin-bottom: 8px;

    @include redText;
    font-size: 96px;
  }

  @include onTablet {
    padding-bottom: 80px;
    width: 50%;
  }

  @include onDesktop {
    padding-bottom: 80px;
    width: 50%;
  }
}
