.details {
  &__header {
    display: block;

    @include onTablet {
      display: flex;
      gap: $gap;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include redText;
    font-size: 48px;

    @include onTablet {
      width: 50%;
      margin-bottom: 72px;
      font-size: 56px;
    }

    @include onDesktop {
      width: 37.5%;
      font-size: 72px;
      margin-bottom: 146px;
    }
  }

  &__text {
    margin-bottom: 64px;

    @include onTablet {
      width: 50%;
      margin-bottom: 72px;
    }

    @include onDesktop {
      margin-bottom: 146px;
    }
  }

  &__counter {
    margin-bottom: 24px;

    @include onTablet {
      display: flex;
      flex-wrap: wrap;

      margin-bottom: 72px;
    }

    @include onDesktop {
      flex-wrap: nowrap;

      margin-bottom: 200px;

    }
  }
}
