.footer {
  height: max-content;
  padding: 61px 0 56px;
  background-color: #1c1a26;

  &__main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 16px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #7f8096;
  }

  &__menu {
    margin-bottom: 64px;
    // order: 3;

    &-item {
      margin-bottom: 16px;
    }
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;

    letter-spacing: -0.01em;

    color: #fff;
  }

  &__contact-us {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    margin-bottom: 40px;
    // order: 2;
    

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #fff;
  }

  &__call {
    margin-bottom: 40px;
    // order: 4;

    &-item {
      margin-bottom: 16px;
    }
  }

  &__call-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    
    letter-spacing: -0.01em;
        
    color: #fff;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__email {
    margin-bottom: 42px;
    // order: 5;
  }

  &__email-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    
    letter-spacing: -0.01em;
    color: #fff;
  }

  &__social {
    display: flex;
    height: 24px;
    margin-bottom: 40px;
    flex-direction: row;
    gap: 35px;
    // order: 6;

    &-link {
      gap: 40px;
    }
  }

  &__logo {
    margin-bottom: 46px;
    // order: 1;
  }

  &__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    // order: 7;
    
    letter-spacing: -0.01em;
        
    color: #7f8096;
  }
}
