.footer {
  padding: 61px 0 56px;

  background-color: $c-black;
  color: #fff;

  &__main {
    @include onTablet {
      display: flex;
      align-items: stretch;

      margin-bottom: 50px;
    }
  }

  &__menu {
    @include onTablet {
      width: 50%;
    }
  }

  &__container-box {
    @include onDesktop {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__contacts {
    @include onTablet {
      width: 50%;
    }

  }

  &__logo-link {
    display: block;
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $c-grey;
  }

  &__menu-item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-list {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__contacts-title {
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include onTablet {
      font-size: 56px;
    }
  }

  &__call-us {
    margin-bottom: 40px;

    @include onDesktop {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__phones {
    display: block;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__email-us {
    margin-bottom: 42px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      width: 50%;
    }
  }

  &__bottom {
    @include onTablet {
      display: flex;
      align-items: center;
    }
  }

  &__icons {
    display: flex;
    margin: -10px;
    padding-bottom: 42px;

    @include onTablet {
      width: 50%;
      padding-bottom: 0;
    }
  }

  &__icon-link {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    display: block;
    padding: 10px;
  }

  &__copyright {
    color: $c-grey;

    @include onTablet {
      width: 50%;
      margin-left: 20px;
    }
  }

  @include onTablet {
    padding: 88px 0;
  }
}
