.footer {
  height: max-content;
  padding: 61px 0 56px;
  background-color: #1C1A26;

  &__main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 16px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #7F8096;
  }

  &__menu {
    margin-bottom: 64px;

    &-item {
      margin-bottom: 16px;
    }
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;

    letter-spacing: -0.01em;

    color: #FFFFFF;
  }

  &__contact-us {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    margin-bottom: 40px;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__call {
    margin-bottom: 40px;

    &-item {
      margin-bottom: 16px;
    }
  }

  &__call-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    
    letter-spacing: -0.01em;
        
    color: #FFFFFF;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__email {
    margin-bottom: 42px;
  }

  &__email-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  &__social {
    display: flex;
    height: 24px;
    margin-bottom: 40px;
    flex-direction: row;
    gap: 35px;

    &-link {
      gap: 40px;
    }
  }

  &__logo {
    margin-bottom: 46px;
  }

  &__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    letter-spacing: -0.01em;
        
    color: #7F8096;   
  }
}