.header {
  box-sizing: border-box;
  background-image: url(../images/cookie-png.png);
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center ;

  @include onTablet {
    background-size: 326px;
    background-position: center;

    background-image: url(../images/cookie-tablet.png);
  }

  @include onDesktop {
    background-size: 544px;
    background-position: center;

    background-image: url(../images/cookie-desk.png);
  }

  @include onTV {
    background-size: 584px;
    background-position: center;

    background-image: url(../images/cookie-desk-big.png);
  }

  &__content {
    box-sizing: border-box;
    height: 800px;
    padding: 16px 0;

    @include onTablet {
      height: 700px;
    }
  }

  &__slogan {
    margin-bottom: 32px;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.01em;

    color: #1c1a26;

    @include onTablet {
      text-align: left;
      padding-left: 44px;
      width: 280px;
      margin-bottom: 148px;
    }

    @include onDesktop {
      width: 260px;
      margin-bottom: 60px;
    }

    @include onTV {
      padding-left: 124px;
      width: 280px;
      margin-bottom: 90px;
    }
  }

  &__title {
    margin-bottom: 300px;
    text-align: center;

    font-weight: 400;
    font-size: 64px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #1c1a26;

    @include onTablet {
      font-size: 60px;
      margin-bottom: 180px;
    }

    @include onDesktop {
      margin-bottom: 84px;
      font-size: 116px;
    }

    @include onTV {
      font-size: 124px;
    }
  }
}
