.icon {
  display: block;
  width: 20px;
  height: 8px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    @include onDesktop {
      display: none;
    }

  &--menu {
    background-image: url(../images/menu.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }
}
