.page {
  font-family: "Inter", sans-serif;
  background-color: $main-color;
  scroll-behavior: smooth;

  &__body {
    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__header {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 108px;
    }

    @include onDesktop {
      margin-bottom: 100px;
    }

    @include onTV {
      margin-bottom: 150px;
    }
  }

  &__baking {
    margin-bottom: 72px;
  }

  &__baking-title {
    margin-bottom: 24px;
    width: 288px;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #1C1A26;

    @include onTablet {
      width: 680px;
      font-weight: 400;
      font-size: 56px;
      line-height: 85%;

      letter-spacing: -0.05em;
      text-transform: uppercase;
    }

    @include onDesktop {
      width: 584px;
      font-weight: 400;
      font-size: 72px;
      line-height: 85%;

      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
  }

  &__baking-subtitle {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.01em;

    color: #1C1A26;

    @include onTablet {
     margin-bottom: 80px;
    }
  }

  &__about {
    margin-bottom: 72px;
    background-image: url(../images/crumbs.png);
    
    background-size: contain;

  }

  &__about-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 85%;
    margin-bottom: 32px;

    letter-spacing: -0.05em;
    text-transform: uppercase;
        
    color: #1C1A26;
  }

  &__about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 64px;
    
    letter-spacing: -0.01em;
        
    color: #1C1A26;

    @include onTablet {
      margin-bottom: 72px;
    }

    @include onDesktop {
      margin-bottom: 142px;
    }
  }

  &__about-statistics {
    font-weight: 400;
    font-size: 96px;
    line-height: 85%;
    margin-bottom: 8px;
    
    letter-spacing: -0.05em;
    text-transform: uppercase;
        
    color: #1C1A26;  
  }

  &__about-tipe {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
    
    letter-spacing: -0.01em;
    
    color: #7F8096; 
    
    &--last {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}