.product {
  &__img {
    margin-bottom: 16px;
    border-radius: 8px;
    width: 100%;

    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02) translateY(-18px);
      box-shadow: 2px 2px 10px $c-grey;
    }

    @include onMobile {
      width: 100%;
      max-height: 356px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $c-grey;
  }

  &__text {
    display: inline-block;
    margin-bottom: 17px;
  }

  &__order-arrow {
    fill: $c-red;
  }

  &__order-button {
    display: inline-flex;
    padding: 7px 0;
    margin-bottom: 57px;
    border-bottom: 1px solid transparent;

    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $c-red;
    transition: all 0.3s ease;

    & svg {
      box-sizing: content-box;
      padding-right: 8px;
    }

    &:hover {
      border-color: $c-red;
    }

    &:active {
      color: $c-darkRed;
      border-color: $c-darkRed;

      & .product__order-arrow {
        fill: $c-darkRed;
      }
    }

    @include onTablet {
      margin-bottom: 88px;
    }
  }

  @include onTablet {
    grid-column: span 4;
    max-width: 402px;
  }

  @include onDesktop {
    grid-column: span 3;
    max-width: 432px;
  }
}
