.we-bake {
  &__title {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $c-red;
  }

  &__subtitle {
    margin-bottom: 54px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: block;

    @include onTablet {
      display: flex;
      gap: $gap;

      &--right {
        justify-content: end;
      }
    }
  }
}
