.aboute {
  padding-top: 54px;
  background-color: #fff;

  &__p {
    max-width: 480px;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #412d22;
  }
}
