.achievements {
  padding: 138px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 59px;
  color: #412d22;
  font-family: "Rubik", sans-serif;

  &__curd {
    text-align: center;

    &__count {
      padding-top: 12px;
      font-weight: 300;
      font-size: 60px;
      line-height: 71px;
    }

    &__p {
      margin: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}

@media (max-width: 1024px) {
  .achievements {
    display: none;
  }
}
