.block-and-map {
  display: flex;
  flex-direction: row;
  font-family: "Rubik", sans-serif;

  &__block {
    width: 400px;
    height: 507px;
    padding-left: 30px;
    background-color: #e39a3b;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__padding {
      padding: 40px 40px 40px 0;
    }

    &__text1,
    &__text2,
    &__text3 {
      position: relative;

      &__container1 {
        position: absolute;
        width: 15px;
        height: 20px;
        background-image: url("../images/Vector3.png");
        background-repeat: no-repeat;
        top: 5px;
        left: -45px;
      }

      &__container2 {
        position: absolute;
        width: 18.3px;
        height: 18px;
        background-image: url("../images/Vector4.png");
        background-repeat: no-repeat;
        top: 5px;
        left: -45px;
      }

      &__container3 {
        position: absolute;
        width: 21px;
        height: 15px;
        background-image: url("../images/Vector5.jpg");
        background-repeat: no-repeat;
        top: 5px;
        left: -45px;
        background-size: cover;
      }
    }

    &__text {
      padding: 0 auto;
      width: 240px;

      &__p {
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        color: #412d22;
        margin: 0;
        padding-bottom: 9px;

        &__a {
          color: #412d22;
          transition: 0.3s;
        }

        &__a:hover {
          color: #fff;
        }
      }
    }
  }
}
