.main-button {
  color: #412d22;
  height: 40px;
  width: 160px;
  font-size: 16px;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
  background-color: #e39a3b;
  border-radius: 40px;
  border: 1px solid #e4a047;
  transition: 0.2s;

  &:hover {
    background-color: #fff;
    border-color: #e4a047;
  }

  &:active {
    background-color: #e4a047;
    opacity: 40%;
  }
}
