.contacts {
  background-color: #fff;

  &__feet-back {
    padding-top: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Rubik", sans-serif;

    &__img {
      height: auto;
      width: 480px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      &__button {
        margin-top: 17px;
      }

      &__input {
        display: flex;
        flex-direction: column;
        width: 378px;

        &__el {
          font-size: 16px;
          line-height: 150%;
          border: 0;
          border-bottom: 2px solid #412d22;
          opacity: 0.5;
          padding-top: 20px;
          outline: 0;
        }

        &__el:focus {
          border-bottom: 1px solid #412d22;
          opacity: 0.5;
        }

        &__el-last {
          padding-top: 90px;
          font-size: 16px;
          line-height: 150%;
          border: 0;
          border-bottom: 2px solid #412d22;
          opacity: 0.5;
          outline: 0;
        }
      }

      #input-button {
        margin: 30px auto;
        color: #412d22;
        height: 40px;
        width: 160px;
        font-size: 16px;
        line-height: 150%;
        font-family: "Rubik", sans-serif;
        background-color: #e39a3b;
        border-radius: 40px;
        border: 1px solid #e4a047;
        transition: 0.2s;
      
        &:hover {
          background-color: #fff;
          border-color: #e4a047;
        }
      
        &:active {
          background-color: #e4a047;
          opacity: 40%;
        }
      
        a {
          display: block;
          padding-top: 3%;
          color: #412d22;
        }
      }

    }
  }
}

@media (max-width: 624px) {
  .contacts__media {
    display: none;
  }

  .contacts {
    background-color: #fff;
  
    &__feet-back {
      padding-top: 46px;
      display: flex;
      flex-direction: column-reverse;
  
      &__img {
        // height: 200px;
        width: auto;
        padding-bottom: 50px;
        padding-top: 50px;
      }
  
      &__form {
        display: flex;
  
        &__button {
          margin-top: 17px;
        }
  
        &__input {

          &__el {
            max-width: 280px;
            font-size: 16px;
            line-height: 150%;
            border: 0;
            border-bottom: 2px solid #412d22;
            opacity: 0.5;
            padding-top: 20px;
            outline: 0;
          }
  
          &__el:focus {
            border-bottom: 1px solid #412d22;
            opacity: 0.5;
          }
  
          &__el-last {
            max-width: 280px;
            padding-top: 90px;
          }
        }

        #input-button {
          color: #412d22;
          height: 40px;
          width: 160px;
          font-size: 16px;
          line-height: 150%;
          font-family: "Rubik", sans-serif;
          background-color: #e39a3b;
          border-radius: 40px;
          border: 1px solid #e4a047;
          transition: 0.2s;
        
          &:hover {
            background-color: #fff;
            border-color: #e4a047;
          }
        
          &:active {
            background-color: #e4a047;
            opacity: 40%;
          }
        }
      }
    }
  }

}

@media (min-width: 624px)  and  (max-width: 1024px) {
  .contacts {
    background-color: #fff;

    .contacts__media {
      display: none;
    }
  
    &__feet-back {
      padding-top: 46px;
      display: flex;
      flex-direction: column-reverse;
  
      &__img {
        margin: 0 auto;
        width: 80%;
      }
  
      &__form {
        display: flex;
  
        &__button {
          margin-top: 17px;
        }
  
        &__input {
          width: 378px;

          &__el {
            max-width: 378px;
            font-size: 16px;
            line-height: 150%;
            border: 0;
            border-bottom: 2px solid #412d22;
            opacity: 0.5;
            padding-top: 20px;
            outline: 0;
          }
  
          &__el:focus {
            border-bottom: 1px solid #412d22;
            opacity: 0.5;
          }
  
          &__el-last {
            padding-top: 90px;
          }
        }
      }
    }
  }
}
