.contacts {
  background-color: #fff;

  &__feet-back {
    padding-top: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__img img {
      height: 375px;
      width: auto;
    }

    &__form {
      display: flex;
      flex-direction: column;
      text-align: center;

      &__input {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
