.contacts {
  background-color: #fff;

  &__feet-back {
    padding-top: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Rubik", sans-serif;

    &__img {
      height: auto;
      width: 480px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      &__button {
        margin-top: 17px;
      }

      &__input {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;

        & input {
          width: 378px;
          font-size: 16px;
          line-height: 150%;
          border: 0;
          border-bottom: 2px solid #412d22;
          opacity: 0.5;
          padding-top: 20px;
          outline: 0;
        }

        & input:focus {
          border-bottom: 1px solid #412d22;
          opacity: 0.5;
        }

        & input:last-child {
          padding-top: 90px;
        }
      }
    }
  }
}
