.descriptioin {
  color: #412d22;
  
  &__h1 {
    margin: 0;
    padding-bottom: 10px;
    font-family: "Cookie", cursive;
    font-size: 160px;
    line-height: 177px;
  }

  &__p {
    font-size: 26px;
    line-height: 150%;
    font-family: "Rubik", sans-serif;
  }

  &__button {
    height: 40px;
    width: 160px;
    font-size: 16px;
    line-height: 150%;
    font-family: "Rubik", sans-serif;
    background-color: #e39a3b;
    border-radius: 40px;
    border: 0;
    transition: 0.2s;

    &:hover {
      background-color: #fff;
      border-color: #fff;
    }

    &:active {
      background-color: #e4a047;
    }
  }

}
