.feet-back {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 150%;
  color: #412d22;
  
  &__number {
    margin-right: 20px;

    &__phone {
      color: #412d22;
      transition: 0.3s;

    }
    &__phone:hover {
      color: #f1cc9d;
    }
  }
  
  &__call {
    width: 100px;
    border-radius: 40px;
    border: 1px solid #f1cc9d;
    background-color: #f1cc9d;
  
    margin-right: 20px;
  }

  &__call:hover {
    background-color: #fff;
  }

  &__call-elem {
    text-align: center;

    &__call {
      color: #412d22;
    }

  }
}

@media (max-width: 1024px) {

  .feet-back {

    padding: 70% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    line-height: 150%;
    color: #412d22;
    
    &__number {
      margin-right: 20px;
  
      &__phone {
        color: #412d22;
        transition: 0.3s;
      }

      &__phone:hover {
        color: #f1cc9d;
      }
    }

    &__call {
      width: 100px;
      margin-top: 30px;
      border-radius: 40px;
      border: 1px solid #f1cc9d;
      background-color: #f1cc9d;
    
      margin-right: 20px;
    }
  
    &__call:hover {
      background-color: #fff;
    }
  
    &__call-elem {
      text-align: center;
  
      &__call {
        color: #412d22;
      }
    }

    &__language {
      padding-top: 30px;
    }
  }
}
