.footer {
  background-color: #412d22;
  padding: 50px;

  &__form {
    display: flex;
    flex-direction: row;

    &__cosial-media {
      display: flex;
      padding-top: 25px;
    }

    &__cosial-media__a {
      margin: 0 10px;
      display: block;
      width: 31px;
      height: 31px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
    }

    &__cosial-media__a__img1 {
      padding-top: 25%;
    }

    &__cosial-media__a__img2 {
      padding-top: 15%;
    }

    &__cosial-media__a__img3 {
      padding-top: 17%;
    }
  }
}
