.header {
  position: relative;
}

.header__block1 {
  padding: 50px 0 50px 59px;

  &__form {
    display: flex;
    flex-direction: row;
  }
}

.header__block2 {
  background-color: #e39a3b;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 648px;
  }

  .header__block1 {
    padding: 15px 0 15px 15px;
  }

  .header__block2 {
    background-color: inherit;
    height: 100%;
  
    &__form {
      display: flex;
      flex-direction: row;
    }
  }
}
