.header__block1 {
  padding: 50px 0 50px 59px;

  &__form {
    display: flex;
    flex-direction: row;
  }
}

.header {
  height: 840px;
  width: auto;
  background: url(../images/cup-bolls.png);
  background-repeat: no-repeat;
}

.header1 {
  height: 840px;
  width: auto;
  background: url(../images/bread-croissant-cup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header2 {
  height: 840px;
  width: auto;
  background: url(../images/pink-cake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
