.logo {
  position: relative;
  
  &__img {
    position: absolute;
    width: 41px;
    height: auto;
  }
  
  &__text {
    display: block;
    padding: 25px 10px 0 30px;
    font-size: 30px;
    line-height: 33px;
    color: #412d22;
  }

}
