.map {
  margin-top: 65px;

  &__adress {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__city {
      width: 173px;
      padding-bottom: 2px;
      margin-right: 2px;
      background-color: #f1cc9d;
      border: 0;
      border-bottom: 1px solid #412d22;
      outline: none;
      opacity: 50%;
    }

    &__adress {
      width: 323px;
      padding-bottom: 2px;
      margin-right: 2px;
      background-color: #f1cc9d;
      border: 0;
      border-bottom: 1px solid #412d22;
      outline: none;
      opacity: 50%;
    }
  }

  &__img {
    margin: 0 auto;
    padding-bottom: 57.5px;
    padding-top: 67px;
    max-width: 1020px;
  }
}

@media (max-width: 1024px) {
  .map {
    margin-top: 39px;
  
    &__adress {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;
      align-items: center;
  
      &__city,
      &__adress {
        width: 288px;
        margin-bottom: 25px;
      }
    }
  
    &__img {
      padding-bottom: 57.5px;
      padding-top: 25px;
    }
  }
}
