.menu2 {
  margin: 0 auto;
  max-width: 100%;
  
  .menu2-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
      
    &__item {
      padding: 15px 17px 0;
    }
     
    &__link {
      color: #fff;
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      line-height: 150%;
      transition: 0.2s;
      
      &:hover {
        color: #e39a3b;
      }
      
    }
  }
}

@media (max-width: 1024px) {

  .menu2 {
    margin: 0;
    max-width: 100%;
    
    .menu2-list {
      flex-direction: column;
      padding: 0;
        
      &__item {
        padding: 40px 17px 0;
      }
       
      &__link {
        
        &:hover {
          color: #e39a3b;
        }
        
      }
    }
  }
}
