.menu4 {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;

  &__select {
    background-color: inherit;
    border: none;
    outline: none;
  }

  .main-button2 {
    margin: 0 10px;
  }

  &__item {
    margin: 0;
    color: #412d22;
    transition: 0.3s;
  }

  &__item:hover {
    margin: 0;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .menu4 {
    display: none;
  }
}
