.menu3 {
  display: none;
}

.menu {
  margin: 0 auto;
  max-width: 100%;

  .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
    &__item {
      padding: 15px 17px 0;
    }
    
    &__link {
      color: #412d22;
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      line-height: 150%;
      transition: 0.2s;
    
      &:hover {
        color: #e39a3b;
      }
    }
  }

  &__select {
    background-color: inherit;
    border: none;
    outline: none;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1024px) {
  .menu {
    display: none;

    &__select {
      background-color: inherit;
      border: none;
      outline: none;
      padding-left: 30px;
      margin-top: 20px;
    }
  }
}
