.menu {
  background-color: $light-blue;
  box-sizing: border-box;

  &__bottom {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $light-blue;
  }

  &__button {
@include button-order;

&--header-menu {
  margin: 0;
  transform: scale(1);

  &:hover {
    border-top: 1px solid $accent-orange;
    border-bottom: 1px solid $accent-orange;
    border-radius: 25%;
    transform: scale(1.1);
  }
}

    &__icon {
      width: 24px;
      height: 24px;
    }
  }

  &__nav {
    flex-direction: column;
  }
}
