.nav {
  display: flex;
  justify-content: center;
  align-items: center;

&__link {
  color: inherit;
  text-decoration: none;
}

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);


    &:hover {
      border-top: 1px solid $accent-orange;
      border-bottom: 1px solid $accent-orange;
      border-radius: 25%;
      transform: scale(1.1);
    }
  }
}
