.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 135px;

  .product__description {
    display: flex;
    font-family: "Rubik", sans-serif;
    flex-direction: column;

    &__h3 {
      margin: 0;
      padding: 0 0 43px;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 59px;
      letter-spacing: 0;
      text-align: left;
      color: #e39a3b;

    }

    &__p {
      font-size: 16px;
      padding-bottom: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      color: #412d22;
    }

    &__circle {
      height: 110px;
      width: 110px;
      border-radius: 50%;
      background-color: #f1cc9d;
      text-align: center;
      justify-content: center;

      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        padding-top: 40%;
      }
    }

  }
}

@media (max-width: 624px) {
  .product {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 40px;
  
    .product__description {
      display: flex;
      font-family: "Rubik", sans-serif;
      flex-direction: column;
  
      &__h3 {
        margin: 0;
        padding: 0 0 15px;
        font-size: 35px;
        line-height: 41px;
      }

      &__p {
        font-size: 16px;
        padding-bottom: 9px;
      }
  
      &__circle {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background-color: #f1cc9d;
        text-align: center;
        justify-content: center;
  
        &__text {
          font-size: 16px;
          padding-top: 10%;
        }
      }
    }
  }
  .product:nth-child(2n) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;
  }

  .text-for-media {
    width: 40px;
    padding-left: 10px;
  }

}

@media (min-width: 624px)  and  (max-width: 1024px) {
  .product__photo {
    width: 560px;
  }
}
