.slider {
  height: 365px;
  max-width: 186px;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  &__arrow {
    padding-left: 110px;
  }

  &__arrow-button {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: #f1cc9d;
    background-color: #e39a3b;
    border: 0;

    &:hover {
      color: #412d22;
    }
  }

  &__num {
    font-size: 40px;
    line-height: 47px;
    color: #f1cc9d;
    padding-left: 110px;
  }

  &__num--big::after {
    content: "01";
    font-size: 176px;
    line-height: 209px;
    color: #412d22;
  }
}
