.special-h2 {
  margin: 0 auto;
  padding-bottom: 22px;
  font-family: "Cookie", cursive;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 133px;
  letter-spacing: 0;
  text-align: center;
  color: #e39a3b;
}
