.swiper {
  width: 150px;
  height: 255px;
  padding-top: 59px;
  padding-bottom: 40px;
  margin: 0 auto;
  color: #412d22;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  position: relative;
  
  &__curd {
    text-align: center;
    position: absolute;
    animation: round 20s infinite;
    opacity: 0;
    width: 100%;
        
    &__count {
      padding-top: 12px;
      font-weight: 300;
      font-size: 60px;
      line-height: 71px;
    }
    
    &__p {
      margin: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
    }
        
    &__photo {
      width: 100%;
      height: 150px;
    }
  }

  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }

  &__curd:nth-child(1) {
    animation-delay: 16s;
  }

  &__curd:nth-child(2) {
    animation-delay: 12s;
  }

  &__curd:nth-child(3) {
    animation-delay: 8s;
  }

  &__curd:nth-child(4) {
    animation-delay: 4s;
  }

  &__curd:nth-child(5) {
    animation-delay: 0;
  }

}

@media (min-width: 1024px) {
  .swiper {
    display: none;
  }
}
