.button {
  width: 165px;
  height: 40px;
  padding: 9px 37px 7px 38px;
  border: 1px solid $croissant;
  border-radius: 40px;
  
  background-color: $croissant;
  color: $chocolate;
  
  text-align: center;
  
  transition: background-color 1s;

  &:hover {
    background-color: $milk;
  }
}
