.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 100%;
  padding: 20px 71px;
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid $color-second-text;

  color: $color-second-text;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  text-decoration: none;
}
