.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 100%;
  padding: 20px 71px;
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid $color-second-text;

  color: $color-second-text;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all $time-animation;

  &__icon {
    display: block;
    background-image: url('./../images/icons/icon-cookie.svg');
  }

  &-disabled {
    background-color: transparent;
    border-color: $color-btn-disabled;
    color: $color-btn-disabled;
  }

  &-disabled &__icon {
    background-image: url('./../images/icons/icon-cookie-disabled.svg');
  }

  &:hover, &:focus {
    color: $color-btn-text-hover;
  }

  &:hover {
    background-color: $color-btn-bg-hover;
  }

  &:focus {
    background-color: $color-btn-bg-focus;
    border-color: $color-btn-bg-focus;
  }

  &:hover &__icon, &:focus &__icon {
    background-image: url('./../images/icons/icon-cookie-hover.svg');
  }
}
