.icon {
  display: block;
  width: $size-icon;
  height: $size-icon;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background $time-animation;

  &-menu {
    background-image: url('./../images/icons/icon-menu.svg');

    &:hover {
      background-image: url('./../images/icons/icon-menu-hover.svg');
    }
  }

  &-close {
    background-image: url('./../images/icons/icon-close.svg');

    &:hover {
      background-image: url('./../images/icons/icon-close-hover.svg');
    }
  }

  &-facebook {
    background-image: url('./../images/icons/icon-facebook.svg');

    &:hover {
      background-image: url('./../images/icons/icon-facebook-hover.svg');
    }
  }

  &-instagram {
    background-image: url('./../images/icons/icon-instagram.svg');

    &:hover {
      background-image: url('./../images/icons/icon-instagram-hover.svg');
    }
  }

  &-twitter {
    background-image: url('./../images/icons/icon-twitter.svg');

    &:hover {
      background-image: url('./../images/icons/icon-twitter-hover.svg');
    }
  }

}
