.icon {
  display: block;
  width: $size-icon;
  height: $size-icon;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-menu {
    background-image: url('./../images/icons/icon-menu.svg');
  }

  &-close {
    background-image: url('./../images/icons/icon-close.svg');
  }

}
