.title {
  color: $color-second-text;
  text-align: left;
  font-size: 64px;
  line-height: 85%;
  letter-spacing: -3.2px;
  text-transform: uppercase;

  &-big {
    text-align: center;
  }

  &-small {
    font-size: 48px;

    @include on-tablet {
      font-size: 56px;
    }

    @include on-desktop {
      font-size: 72px;
    }
  }
}
