.bakershops-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;

  background-color: $sand-color;

  @media (max-width: $max-width-for-mobile) {
    row-gap: 25px;
  }

  &__title {
    padding-top: 40px;
    @include h2-title;

    @media (max-width: $max-width-for-mobile) {
      font-size: 60px;
      line-height: 67px;
    }
  }
}
