.bakershops-map {
  width: 70vw;
  height: 55vw;
  background: url(../images/map.svg) no-repeat;
  background-size: contain;

  &__counts {
    background: url(../images/numbers.svg) no-repeat;
    background-size: contain;
    width: 72%;
    height: 62%;
    margin-top: 5.6%;
    margin-left: 6.9%;
  }

  @media (max-width: $max-width-for-mobile) {
    width: 93vw;
    height: 63vw;
  }
}

.zoom-buttons {
  display: none;

  @media (max-width: $max-width-for-mobile) {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__zoom-out,
  &__zoom-in {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
    line-height: 150%;
    color: $brown-color;
    background-color: $white-color;
    cursor: pointer;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }
  }
}
