.bakershops-map {
  width: 70vw;
  height: 55vw;
  background: url(../images/map.svg) no-repeat;
  background-size: contain;

  @media (max-width: $width-for-tablet) {
    width: 93vw;
    height: 63vw;
  }
}
