.bakershops-map {
  width: 70vw;
  height: 45vw;
  background: url(../images/map.svg) no-repeat;
  background-size: contain;
  margin-bottom: 57px;

  &__counts {
    background: url(../images/numbers.svg) no-repeat;
    background-size: contain;
    width: 72%;
    height: 62%;
    margin-top: 5.6%;
    margin-left: 6.9%;
  }

  @media (max-width: 1150px) {
    width: 93vw;
    height: 63vw;
    margin-bottom: 20px;
  }
}

.zoom-buttons {
  display: none;

  @media (max-width: 1150px) {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__zoom-out,
  &__zoom-in {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
    line-height: 150%;
    color: $brown-color;
    background-color: #fff;
    cursor: pointer;
    transition: transform 350ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}
