.zoom-buttons {
  display: none;

  @media (max-width: $width-for-tablet) {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__zoom-out,
  &__zoom-in {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
    line-height: 150%;
    color: $brown-color;
    background-color: $white-color;
    cursor: pointer;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }
  }
}
